<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_buff_gyjc_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,101},{48,21}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{48,21}}</string>
                <key>sourceSize</key>
                <string>{70,51}</string>
            </dict>
            <key>sp_buff_gyjc_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,31},{34,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{34,35}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>sp_buff_gyjc_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{39,27}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{39,27}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>sp_buff_gyjc_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{38,59}}</string>
                <key>offset</key>
                <string>{22,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,1},{38,59}}</string>
                <key>sourceSize</key>
                <string>{86,89}</string>
            </dict>
            <key>sp_buff_gyjc_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{70,87}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,87}}</string>
                <key>sourceSize</key>
                <string>{74,91}</string>
            </dict>
            <key>sp_buff_gyjc_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{71,87}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{71,87}}</string>
                <key>sourceSize</key>
                <string>{75,93}</string>
            </dict>
            <key>sp_buff_gyjc_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,87}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{71,87}}</string>
                <key>sourceSize</key>
                <string>{75,93}</string>
            </dict>
            <key>sp_buff_gyjc_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,92},{50,52}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,19},{50,52}}</string>
                <key>sourceSize</key>
                <string>{62,80}</string>
            </dict>
            <key>sp_buff_gyjc_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,40},{32,59}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,27},{32,59}}</string>
                <key>sourceSize</key>
                <string>{52,89}</string>
            </dict>
            <key>sp_buff_gyjc_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,122},{22,49}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{22,49}}</string>
                <key>sourceSize</key>
                <string>{38,61}</string>
            </dict>
            <key>sp_buff_gyjc_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,67},{33,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{33,32}}</string>
                <key>sourceSize</key>
                <string>{41,54}</string>
            </dict>
            <key>sp_buff_gyjc_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,74},{53,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{53,25}}</string>
                <key>sourceSize</key>
                <string>{63,35}</string>
            </dict>
            <key>sp_buff_gyjc_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,42},{55,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{55,48}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>sp_buff_gyjc_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{36,61}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{36,61}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>sp_buff_gyjc_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,101},{19,50}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{19,50}}</string>
                <key>sourceSize</key>
                <string>{29,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_buff_gyjc_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:489346dea11583ed9351a05faeb26c9e$</string>
            <key>textureFileName</key>
            <string>sp_buff_gyjc_1.png</string>
        </dict>
    </dict>
</plist>
