<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zjkq_new_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{108,168}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{108,168}}</string>
                <key>sourceSize</key>
                <string>{114,170}</string>
            </dict>
            <key>effect_zjkq_new_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{117,177}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,177}}</string>
                <key>sourceSize</key>
                <string>{121,179}</string>
            </dict>
            <key>effect_zjkq_new_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,387},{122,183}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,183}}</string>
                <key>sourceSize</key>
                <string>{124,187}</string>
            </dict>
            <key>effect_zjkq_new_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,197},{124,188}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,188}}</string>
                <key>sourceSize</key>
                <string>{126,188}</string>
            </dict>
            <key>effect_zjkq_new_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{130,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{130,191}}</string>
                <key>sourceSize</key>
                <string>{130,197}</string>
            </dict>
            <key>effect_zjkq_new_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,193}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,193}}</string>
                <key>sourceSize</key>
                <string>{133,197}</string>
            </dict>
            <key>effect_zjkq_new_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{101,125}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{101,125}}</string>
                <key>sourceSize</key>
                <string>{109,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zjkq_new_2.png</string>
            <key>size</key>
            <string>{493,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d44318ef470af3f7f6bca244171bc53a$</string>
            <key>textureFileName</key>
            <string>effect_zjkq_new_2.png</string>
        </dict>
    </dict>
</plist>
