<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_lpf_start_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{25,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{25,122}}</string>
                <key>sourceSize</key>
                <string>{31,128}</string>
            </dict>
            <key>sp_lpf_start_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,257}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{102,257}}</string>
                <key>sourceSize</key>
                <string>{106,271}</string>
            </dict>
            <key>sp_lpf_start_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,195},{177,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,60}}</string>
                <key>sourceSize</key>
                <string>{177,60}</string>
            </dict>
            <key>sp_lpf_start_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{191,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,61}}</string>
                <key>sourceSize</key>
                <string>{191,61}</string>
            </dict>
            <key>sp_lpf_start_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{204,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,61}}</string>
                <key>sourceSize</key>
                <string>{204,61}</string>
            </dict>
            <key>sp_lpf_start_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{205,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,61}}</string>
                <key>sourceSize</key>
                <string>{205,61}</string>
            </dict>
            <key>sp_lpf_start_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,208},{201,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,61}}</string>
                <key>sourceSize</key>
                <string>{201,61}</string>
            </dict>
            <key>sp_lpf_start_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,261},{204,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,61}}</string>
                <key>sourceSize</key>
                <string>{204,61}</string>
            </dict>
            <key>sp_lpf_start_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,374},{108,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,133}}</string>
                <key>sourceSize</key>
                <string>{108,133}</string>
            </dict>
            <key>sp_lpf_start_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{109,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,132}}</string>
                <key>sourceSize</key>
                <string>{109,132}</string>
            </dict>
            <key>sp_lpf_start_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,195},{107,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,112}}</string>
                <key>sourceSize</key>
                <string>{107,112}</string>
            </dict>
            <key>sp_lpf_start_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,411},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>sp_lpf_start_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,113},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>sp_lpf_start_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>sp_lpf_start_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,309},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>sp_lpf_start_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{7,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,9}}</string>
                <key>sourceSize</key>
                <string>{7,9}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_lpf_start_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76fd268ba6a16473e4bcd9fac378c527$</string>
            <key>textureFileName</key>
            <string>sp_lpf_start_2.png</string>
        </dict>
    </dict>
</plist>
