<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_cont_xfz_start_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{145,83}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,18},{145,83}}</string>
                <key>sourceSize</key>
                <string>{219,119}</string>
            </dict>
            <key>sp_cont_xfz_start_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{146,82}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,19},{146,82}}</string>
                <key>sourceSize</key>
                <string>{210,124}</string>
            </dict>
            <key>sp_cont_xfz_start_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{143,83}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,18},{143,83}}</string>
                <key>sourceSize</key>
                <string>{219,119}</string>
            </dict>
            <key>sp_cont_xfz_start_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{146,82}}</string>
                <key>sourceSize</key>
                <string>{210,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_cont_xfz_start_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac89cd7aa250463634202283b888b532$</string>
            <key>textureFileName</key>
            <string>sp_cont_xfz_start_1.png</string>
        </dict>
    </dict>
</plist>
