<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_xzjkq_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,132}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{161,132}}</string>
                <key>sourceSize</key>
                <string>{165,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_xzjkq_1.png</string>
            <key>size</key>
            <string>{165,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c85da04c1a1f9cbfa72553de3a358a4$</string>
            <key>textureFileName</key>
            <string>effect_xzjkq_1.png</string>
        </dict>
    </dict>
</plist>
