<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_chong_xmao_hit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,147}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{56,147}}</string>
                <key>sourceSize</key>
                <string>{62,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_chong_xmao_hit.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5168dc7bba84555fdc1a0328c2de77b3$</string>
            <key>textureFileName</key>
            <string>sp_chong_xmao_hit.png</string>
        </dict>
    </dict>
</plist>
