<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_246_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,231}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{432,231}}</string>
                <key>sourceSize</key>
                <string>{448,237}</string>
            </dict>
            <key>sp_base_246_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{380,220}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{380,220}}</string>
                <key>sourceSize</key>
                <string>{404,236}</string>
            </dict>
            <key>sp_base_246_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{413,176}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{413,176}}</string>
                <key>sourceSize</key>
                <string>{429,246}</string>
            </dict>
            <key>sp_base_246_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{335,145}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{335,145}}</string>
                <key>sourceSize</key>
                <string>{357,173}</string>
            </dict>
            <key>sp_base_246_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,413},{184,114}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{184,114}}</string>
                <key>sourceSize</key>
                <string>{208,174}</string>
            </dict>
            <key>sp_base_246_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,235},{101,84}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,28},{101,84}}</string>
                <key>sourceSize</key>
                <string>{191,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_246.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:123ee9a8da9933afa6ed1480c8bd2ba3$</string>
            <key>textureFileName</key>
            <string>sp_base_246.png</string>
        </dict>
    </dict>
</plist>
