<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_2021_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1017},{201,325}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{201,325}}</string>
                <key>sourceSize</key>
                <string>{203,343}</string>
            </dict>
            <key>effect_2021_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{201,341}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,341}}</string>
                <key>sourceSize</key>
                <string>{203,343}</string>
            </dict>
            <key>effect_2021_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,611},{201,341}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,341}}</string>
                <key>sourceSize</key>
                <string>{203,343}</string>
            </dict>
            <key>effect_2021_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{201,341}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,341}}</string>
                <key>sourceSize</key>
                <string>{203,343}</string>
            </dict>
            <key>effect_2021_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,408},{201,341}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,341}}</string>
                <key>sourceSize</key>
                <string>{203,343}</string>
            </dict>
            <key>effect_2021_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{201,341}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,341}}</string>
                <key>sourceSize</key>
                <string>{203,343}</string>
            </dict>
            <key>effect_2021_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,205},{201,341}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,341}}</string>
                <key>sourceSize</key>
                <string>{203,343}</string>
            </dict>
            <key>effect_2021_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,814},{201,335}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{201,335}}</string>
                <key>sourceSize</key>
                <string>{203,343}</string>
            </dict>
            <key>effect_2021_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,611},{201,329}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{201,329}}</string>
                <key>sourceSize</key>
                <string>{203,343}</string>
            </dict>
            <key>effect_2021_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1017},{201,315}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{201,315}}</string>
                <key>sourceSize</key>
                <string>{203,343}</string>
            </dict>
            <key>effect_2021_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,408},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{203,343}</string>
            </dict>
            <key>effect_2021_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{201,341}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,341}}</string>
                <key>sourceSize</key>
                <string>{203,343}</string>
            </dict>
            <key>effect_2021_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,814},{201,325}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{201,325}}</string>
                <key>sourceSize</key>
                <string>{203,343}</string>
            </dict>
            <key>effect_2021_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1017},{201,319}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{201,319}}</string>
                <key>sourceSize</key>
                <string>{203,343}</string>
            </dict>
            <key>effect_2021_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,205},{201,333}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{201,333}}</string>
                <key>sourceSize</key>
                <string>{203,343}</string>
            </dict>
            <key>effect_2021_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{201,341}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,341}}</string>
                <key>sourceSize</key>
                <string>{203,343}</string>
            </dict>
            <key>effect_2021_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,408},{201,329}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{201,329}}</string>
                <key>sourceSize</key>
                <string>{203,343}</string>
            </dict>
            <key>effect_2021_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{201,333}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{201,333}}</string>
                <key>sourceSize</key>
                <string>{203,343}</string>
            </dict>
            <key>effect_2021_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,341}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,341}}</string>
                <key>sourceSize</key>
                <string>{203,343}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_2021.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0b315bacc0740529105e7ff5a698a8a$</string>
            <key>textureFileName</key>
            <string>effect_2021.png</string>
        </dict>
    </dict>
</plist>
