<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_350_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{127,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,63}}</string>
                <key>sourceSize</key>
                <string>{127,63}</string>
            </dict>
            <key>sp_base_350_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,735},{339,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,236}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>sp_base_350_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,735},{299,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,269}}</string>
                <key>sourceSize</key>
                <string>{299,269}</string>
            </dict>
            <key>sp_base_350_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{421,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,327}}</string>
                <key>sourceSize</key>
                <string>{421,327}</string>
            </dict>
            <key>sp_base_350_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{418,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,369}}</string>
                <key>sourceSize</key>
                <string>{418,369}</string>
            </dict>
            <key>sp_base_350_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{417,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,402}}</string>
                <key>sourceSize</key>
                <string>{417,402}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_350.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2cec3ff1b917199ca4258faefa1215c$</string>
            <key>textureFileName</key>
            <string>sp_base_350.png</string>
        </dict>
    </dict>
</plist>
