<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_311_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,236}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,41},{283,236}}</string>
                <key>sourceSize</key>
                <string>{385,324}</string>
            </dict>
            <key>sp_base_311_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{271,240}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,43},{271,240}}</string>
                <key>sourceSize</key>
                <string>{365,324}</string>
            </dict>
            <key>sp_base_311_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,409},{246,226}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,41},{246,226}}</string>
                <key>sourceSize</key>
                <string>{328,306}</string>
            </dict>
            <key>sp_base_311_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,172},{235,182}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,43},{235,182}}</string>
                <key>sourceSize</key>
                <string>{323,276}</string>
            </dict>
            <key>sp_base_311_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{221,168}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,47},{221,168}}</string>
                <key>sourceSize</key>
                <string>{313,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_311.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4840dd680b17128f6a6f7619b783ce92$</string>
            <key>textureFileName</key>
            <string>sp_base_311.png</string>
        </dict>
    </dict>
</plist>
