<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_4001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1402,1104}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,49},{1402,1104}}</string>
                <key>sourceSize</key>
                <string>{1492,1234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_4001.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc7e3776452a7b43944926f31997ce7e$</string>
            <key>textureFileName</key>
            <string>effect_4001.png</string>
        </dict>
    </dict>
</plist>
