<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_choujiang_star_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,330}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,40},{402,330}}</string>
                <key>sourceSize</key>
                <string>{448,398}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_choujiang_star_4.png</string>
            <key>size</key>
            <string>{406,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6767bc784e94c5124ea50b5f26df4d2$</string>
            <key>textureFileName</key>
            <string>effect_choujiang_star_4.png</string>
        </dict>
    </dict>
</plist>
