<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_120_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{776,616}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,44},{776,616}}</string>
                <key>sourceSize</key>
                <string>{916,754}</string>
            </dict>
            <key>effect_120_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1170},{498,566}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,63},{498,566}}</string>
                <key>sourceSize</key>
                <string>{538,648}</string>
            </dict>
            <key>effect_120_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{672,548}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,84},{672,548}}</string>
                <key>sourceSize</key>
                <string>{728,686}</string>
            </dict>
            <key>effect_120_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,620},{318,316}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,32},{318,316}}</string>
                <key>sourceSize</key>
                <string>{390,392}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_120.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2b10be2147218cd7c51ba0f7e197714$</string>
            <key>textureFileName</key>
            <string>effect_120.png</string>
        </dict>
    </dict>
</plist>
