<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_slbx_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,116}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{109,116}}</string>
                <key>sourceSize</key>
                <string>{123,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_slbx_green.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92d7f049c576abda4876c0bcdd418ac6$</string>
            <key>textureFileName</key>
            <string>effect_slbx_green.png</string>
        </dict>
    </dict>
</plist>
