<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_369_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,372},{158,116}}</string>
                <key>offset</key>
                <string>{-30,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,33},{158,116}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>sp_base_369_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{239,192}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,192}}</string>
                <key>sourceSize</key>
                <string>{239,196}</string>
            </dict>
            <key>sp_base_369_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,195}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,195}}</string>
                <key>sourceSize</key>
                <string>{239,199}</string>
            </dict>
            <key>sp_base_369_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,196},{218,174}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{218,174}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>sp_base_369_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{195,173}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{195,173}}</string>
                <key>sourceSize</key>
                <string>{237,197}</string>
            </dict>
            <key>sp_base_369_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,372},{187,148}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{187,148}}</string>
                <key>sourceSize</key>
                <string>{239,196}</string>
            </dict>
            <key>sp_base_369_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{139,131}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{139,131}}</string>
                <key>sourceSize</key>
                <string>{233,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_369.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2e2c8cba8dede9a92a92d54344da83f$</string>
            <key>textureFileName</key>
            <string>sp_base_369.png</string>
        </dict>
    </dict>
</plist>
