<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_sd_huodongbiaoti_sub1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,503},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,52},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,503},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,52},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,503},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,52},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,503},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,52},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,991},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,966},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,991},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,27},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,19},{15,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,61}}</string>
                <key>sourceSize</key>
                <string>{15,61}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{15,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,61}}</string>
                <key>sourceSize</key>
                <string>{15,61}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,36},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,2},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{449,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,23}}</string>
                <key>sourceSize</key>
                <string>{451,23}</string>
            </dict>
            <key>effect_sd_huodongbiaoti_sub1_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{14,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,60}}</string>
                <key>sourceSize</key>
                <string>{14,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_sd_huodongbiaoti_sub1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c25dacddea09991487ea27b1b164103e$</string>
            <key>textureFileName</key>
            <string>effect_sd_huodongbiaoti_sub1.png</string>
        </dict>
    </dict>
</plist>
