<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_306_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,258},{254,76}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{254,76}}</string>
                <key>sourceSize</key>
                <string>{268,92}</string>
            </dict>
            <key>sp_base_306_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{307,58}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{307,58}}</string>
                <key>sourceSize</key>
                <string>{321,86}</string>
            </dict>
            <key>sp_base_306_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{305,58}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{305,58}}</string>
                <key>sourceSize</key>
                <string>{325,72}</string>
            </dict>
            <key>sp_base_306_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{305,57}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{305,57}}</string>
                <key>sourceSize</key>
                <string>{325,73}</string>
            </dict>
            <key>sp_base_306_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{309,55}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{309,55}}</string>
                <key>sourceSize</key>
                <string>{319,63}</string>
            </dict>
            <key>sp_base_306_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{309,57}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{309,57}}</string>
                <key>sourceSize</key>
                <string>{319,63}</string>
            </dict>
            <key>sp_base_306_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,167},{312,48}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{312,48}}</string>
                <key>sourceSize</key>
                <string>{320,54}</string>
            </dict>
            <key>sp_base_306_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,117},{312,48}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{312,48}}</string>
                <key>sourceSize</key>
                <string>{320,54}</string>
            </dict>
            <key>sp_base_306_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,2},{316,50}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{316,50}}</string>
                <key>sourceSize</key>
                <string>{326,56}</string>
            </dict>
            <key>sp_base_306_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,2},{316,53}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{316,53}}</string>
                <key>sourceSize</key>
                <string>{326,59}</string>
            </dict>
            <key>sp_base_306_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,62},{313,53}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{313,53}}</string>
                <key>sourceSize</key>
                <string>{335,61}</string>
            </dict>
            <key>sp_base_306_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,186},{266,70}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{266,70}}</string>
                <key>sourceSize</key>
                <string>{278,92}</string>
            </dict>
            <key>sp_base_306_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{315,58}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{315,58}}</string>
                <key>sourceSize</key>
                <string>{335,64}</string>
            </dict>
            <key>sp_base_306_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,410},{287,56}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{287,56}}</string>
                <key>sourceSize</key>
                <string>{309,64}</string>
            </dict>
            <key>sp_base_306_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,57},{287,58}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{287,58}}</string>
                <key>sourceSize</key>
                <string>{309,64}</string>
            </dict>
            <key>sp_base_306_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,394},{195,56}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{195,56}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>sp_base_306_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,336},{195,56}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{195,56}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>sp_base_306_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,336},{180,56}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{180,56}}</string>
                <key>sourceSize</key>
                <string>{198,60}</string>
            </dict>
            <key>sp_base_306_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,452},{180,56}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{180,56}}</string>
                <key>sourceSize</key>
                <string>{198,60}</string>
            </dict>
            <key>sp_base_306_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,439},{171,43}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{171,43}}</string>
                <key>sourceSize</key>
                <string>{183,47}</string>
            </dict>
            <key>sp_base_306_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,394},{171,43}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{171,43}}</string>
                <key>sourceSize</key>
                <string>{183,47}</string>
            </dict>
            <key>sp_base_306_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,338},{285,70}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{285,70}}</string>
                <key>sourceSize</key>
                <string>{297,80}</string>
            </dict>
            <key>sp_base_306_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,117},{285,67}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,42},{285,67}}</string>
                <key>sourceSize</key>
                <string>{297,113}</string>
            </dict>
            <key>sp_base_306_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,217},{291,67}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{291,67}}</string>
                <key>sourceSize</key>
                <string>{301,77}</string>
            </dict>
            <key>sp_base_306_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,70}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{306,70}}</string>
                <key>sourceSize</key>
                <string>{318,94}</string>
            </dict>
            <key>sp_base_306_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,286},{307,50}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{307,50}}</string>
                <key>sourceSize</key>
                <string>{331,66}</string>
            </dict>
            <key>sp_base_306_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{304,57}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{304,57}}</string>
                <key>sourceSize</key>
                <string>{314,73}</string>
            </dict>
            <key>sp_base_306_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{307,59}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{307,59}}</string>
                <key>sourceSize</key>
                <string>{321,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_306.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c508b476f946c2cf60a7b9f3b17dfcb8$</string>
            <key>textureFileName</key>
            <string>sp_base_306.png</string>
        </dict>
    </dict>
</plist>
