<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_cao_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,636},{134,72}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,101},{134,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{232,110}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,82},{232,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,396},{202,108}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,83},{202,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{160,102}}</string>
                <key>offset</key>
                <string>{-24,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,83},{160,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,396},{134,98}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,86},{134,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{122,80}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,104},{122,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,640},{104,58}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,117},{104,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,254},{102,54}}</string>
                <key>offset</key>
                <string>{-15,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,120},{102,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,532},{136,106}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,84},{136,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,506},{160,128}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,63},{160,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{188,152}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,38},{188,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{202,160}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,33},{202,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,254},{222,140}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,59},{222,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,114},{228,138}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,64},{228,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{228,116}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,79},{228,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,138}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,59},{232,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_cao_01.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f094ac9d4c486f39f5b508a0bc3400b1$</string>
            <key>textureFileName</key>
            <string>sp_cao_01.png</string>
        </dict>
    </dict>
</plist>
