<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_huxuying_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{33,64}}</string>
                <key>sourceSize</key>
                <string>{39,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_huxuying.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c96bb5fb17d0fc7e5a23f126dee4d6ee$</string>
            <key>textureFileName</key>
            <string>sp_huxuying.png</string>
        </dict>
    </dict>
</plist>
