<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{817,831}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,9},{817,831}}</string>
                <key>sourceSize</key>
                <string>{949,879}</string>
            </dict>
            <key>effect_16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{787,831}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,9},{787,831}}</string>
                <key>sourceSize</key>
                <string>{917,879}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_16.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc3ed936af1443542df8a91ff8b8e8ad$</string>
            <key>textureFileName</key>
            <string>effect_16.png</string>
        </dict>
    </dict>
</plist>
