<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_hltb_door_xuanwo_di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,257},{127,126}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{127,126}}</string>
                <key>sourceSize</key>
                <string>{137,134}</string>
            </dict>
            <key>effect_hltb_door_xuanwo_di_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{131,130}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{131,130}}</string>
                <key>sourceSize</key>
                <string>{137,134}</string>
            </dict>
            <key>effect_hltb_door_xuanwo_di_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{127,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{127,128}}</string>
                <key>sourceSize</key>
                <string>{137,134}</string>
            </dict>
            <key>effect_hltb_door_xuanwo_di_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{133,130}}</string>
                <key>sourceSize</key>
                <string>{137,134}</string>
            </dict>
            <key>effect_hltb_door_xuanwo_di_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,126},{129,130}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{129,130}}</string>
                <key>sourceSize</key>
                <string>{137,134}</string>
            </dict>
            <key>effect_hltb_door_xuanwo_di_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,134},{125,128}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{125,128}}</string>
                <key>sourceSize</key>
                <string>{137,134}</string>
            </dict>
            <key>effect_hltb_door_xuanwo_di_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{131,122}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{131,122}}</string>
                <key>sourceSize</key>
                <string>{137,134}</string>
            </dict>
            <key>effect_hltb_door_xuanwo_di_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,385},{125,124}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{125,124}}</string>
                <key>sourceSize</key>
                <string>{137,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_hltb_door_xuanwo_di.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5d0b2f4977a631d608e2b9a27dd4c9f$</string>
            <key>textureFileName</key>
            <string>effect_hltb_door_xuanwo_di.png</string>
        </dict>
    </dict>
</plist>
