<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_353_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,451},{50,78}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{50,78}}</string>
                <key>sourceSize</key>
                <string>{62,86}</string>
            </dict>
            <key>sp_base_353_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,194}}</string>
                <key>offset</key>
                <string>{14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,62},{247,194}}</string>
                <key>sourceSize</key>
                <string>{359,352}</string>
            </dict>
            <key>sp_base_353_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{223,195}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{223,195}}</string>
                <key>sourceSize</key>
                <string>{223,205}</string>
            </dict>
            <key>sp_base_353_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{129,204}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{129,204}}</string>
                <key>sourceSize</key>
                <string>{137,218}</string>
            </dict>
            <key>sp_base_353_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{98,164}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,164}}</string>
                <key>sourceSize</key>
                <string>{102,172}</string>
            </dict>
            <key>sp_base_353_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,329},{84,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,120}}</string>
                <key>sourceSize</key>
                <string>{84,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_353.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56f970a1562e3f011dc68b7c67562db9$</string>
            <key>textureFileName</key>
            <string>sp_base_353.png</string>
        </dict>
    </dict>
</plist>
