<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_148_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,308},{100,162}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,162}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>sp_base_148_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{100,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,170}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>sp_base_148_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,308},{100,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,170}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>sp_base_148_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{100,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,170}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>sp_base_148_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,206},{100,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,170}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>sp_base_148_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{100,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,170}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>sp_base_148_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,104},{100,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,170}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>sp_base_148_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,410},{100,168}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,168}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>sp_base_148_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,104},{100,164}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{100,164}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>sp_base_148_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,512},{100,158}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{100,158}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>sp_base_148_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,206},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>sp_base_148_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{100,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,170}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>sp_base_148_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,206},{100,162}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,162}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>sp_base_148_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,512},{100,160}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{100,160}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>sp_base_148_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{100,166}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,166}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>sp_base_148_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{100,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,170}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>sp_base_148_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{100,164}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{100,164}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>sp_base_148_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,410},{100,166}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,166}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
            <key>sp_base_148_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,170}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_148.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b9aeaa613e2cda6f9b1e9bb7282e39e$</string>
            <key>textureFileName</key>
            <string>sp_base_148.png</string>
        </dict>
    </dict>
</plist>
