<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_skill_ranshao_gongji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1508},{58,500}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{58,500}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1952},{86,270}}</string>
                <key>offset</key>
                <string>{7,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,221},{86,270}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2010},{16,14}}</string>
                <key>offset</key>
                <string>{33,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,378},{16,14}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,504},{162,474}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{162,474}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1192},{162,220}}</string>
                <key>offset</key>
                <string>{7,-138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,278},{162,220}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1799},{136,98}}</string>
                <key>offset</key>
                <string>{-7,-192}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,393},{136,98}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{134,474}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,11},{134,474}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{134,474}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,11},{134,474}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1492},{132,474}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{132,474}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1006},{162,484}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{162,484}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1492},{130,458}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,41},{130,458}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1508},{60,500}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{60,500}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,938},{134,436}}</string>
                <key>offset</key>
                <string>{-9,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,62},{134,436}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,452},{174,428}}</string>
                <key>offset</key>
                <string>{9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,72},{174,428}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1376},{124,424}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,59},{124,424}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{102,426}}</string>
                <key>offset</key>
                <string>{-15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,56},{102,426}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1941},{104,414}}</string>
                <key>offset</key>
                <string>{-18,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,67},{104,414}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1936},{104,268}}</string>
                <key>offset</key>
                <string>{-2,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,59},{104,268}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1153},{188,85}}</string>
                <key>offset</key>
                <string>{-7,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,117},{188,85}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,1343},{270,113}}</string>
                <key>offset</key>
                <string>{6,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,100},{270,113}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1356},{270,119}}</string>
                <key>offset</key>
                <string>{6,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,94},{270,119}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,730},{270,133}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,92},{270,133}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{116,500}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{116,500}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1628},{262,133}}</string>
                <key>offset</key>
                <string>{10,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,92},{262,133}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1155},{262,199}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,14},{262,199}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,268},{252,219}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{252,219}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{264,219}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{264,219}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,865},{286,225}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{286,225}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,865},{288,153}}</string>
                <key>offset</key>
                <string>{1,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,70},{288,153}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1356},{274,127}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,94},{274,127}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1799},{286,135}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,90},{286,135}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1660},{294,137}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,88},{294,137}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,430},{298,129}}</string>
                <key>offset</key>
                <string>{5,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,96},{298,129}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{130,500}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{130,500}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1356},{302,133}}</string>
                <key>offset</key>
                <string>{10,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,92},{302,133}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,882},{308,135}}</string>
                <key>offset</key>
                <string>{10,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,89},{308,135}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1802},{310,137}}</string>
                <key>offset</key>
                <string>{10,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,88},{310,137}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1936},{99,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,117}}</string>
                <key>sourceSize</key>
                <string>{99,117}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{132,500}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1440},{134,438}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{134,438}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,980},{128,458}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,35},{128,458}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,478},{120,458}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,36},{120,458}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_skill_ranshao_gongji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{120,448}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,35},{120,448}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_skill_ranshao_gongji.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd9aed150ecd284560a6b71823627393$</string>
            <key>textureFileName</key>
            <string>sp_skill_ranshao_gongji.png</string>
        </dict>
    </dict>
</plist>
