<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhanchong_hu_ready_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{146,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,138}}</string>
                <key>sourceSize</key>
                <string>{146,138}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{147,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,244}}</string>
                <key>sourceSize</key>
                <string>{147,244}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,373},{32,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,71}}</string>
                <key>sourceSize</key>
                <string>{32,71}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,366},{48,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,138}}</string>
                <key>sourceSize</key>
                <string>{48,138}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,595},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,133},{52,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,45}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,512},{104,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,81}}</string>
                <key>sourceSize</key>
                <string>{104,81}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,256},{50,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,108}}</string>
                <key>sourceSize</key>
                <string>{50,108}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,187},{40,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,67}}</string>
                <key>sourceSize</key>
                <string>{40,67}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,483},{27,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,54}}</string>
                <key>sourceSize</key>
                <string>{27,54}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,457},{24,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,68}}</string>
                <key>sourceSize</key>
                <string>{24,68}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,407},{120,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,91}}</string>
                <key>sourceSize</key>
                <string>{120,91}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,133},{215,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,112}}</string>
                <key>sourceSize</key>
                <string>{215,112}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,457},{139,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,117}}</string>
                <key>sourceSize</key>
                <string>{139,117}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{163,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,109}}</string>
                <key>sourceSize</key>
                <string>{163,109}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,118}}</string>
                <key>sourceSize</key>
                <string>{266,118}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,247},{209,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,208}}</string>
                <key>sourceSize</key>
                <string>{209,208}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{129,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,217}}</string>
                <key>sourceSize</key>
                <string>{129,217}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{134,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,108}}</string>
                <key>sourceSize</key>
                <string>{134,108}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{145,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,120}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,529},{88,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,134}}</string>
                <key>sourceSize</key>
                <string>{88,134}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,45},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,70},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,27},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,576},{85,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,98}}</string>
                <key>sourceSize</key>
                <string>{85,98}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,271},{100,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,78}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>effect_zhanchong_hu_ready_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,576},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhanchong_hu_ready.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58bd4a4f6a5f93393747a54bd3bc27ac$</string>
            <key>textureFileName</key>
            <string>effect_zhanchong_hu_ready.png</string>
        </dict>
    </dict>
</plist>
