<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_niuxuying_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,105}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{108,105}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_niuxuying.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a3ccb4dfad98504a38ad44533a1e6f3$</string>
            <key>textureFileName</key>
            <string>sp_niuxuying.png</string>
        </dict>
    </dict>
</plist>
