<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_006_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{259,233}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{259,233}}</string>
                <key>sourceSize</key>
                <string>{281,257}</string>
            </dict>
            <key>sp_base_006_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{245,219}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{245,219}}</string>
                <key>sourceSize</key>
                <string>{281,257}</string>
            </dict>
            <key>sp_base_006_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,223},{227,203}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{227,203}}</string>
                <key>sourceSize</key>
                <string>{281,257}</string>
            </dict>
            <key>sp_base_006_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{209,187}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,33},{209,187}}</string>
                <key>sourceSize</key>
                <string>{281,257}</string>
            </dict>
            <key>sp_base_006_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{183,169}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,42},{183,169}}</string>
                <key>sourceSize</key>
                <string>{281,257}</string>
            </dict>
            <key>sp_base_006_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,428},{159,147}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,54},{159,147}}</string>
                <key>sourceSize</key>
                <string>{281,257}</string>
            </dict>
            <key>sp_base_006_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,428},{135,125}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,65},{135,125}}</string>
                <key>sourceSize</key>
                <string>{281,257}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_006.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0252b8cfc7e1a3925b24ee7c9f66b63$</string>
            <key>textureFileName</key>
            <string>sp_base_006.png</string>
        </dict>
    </dict>
</plist>
