<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhucheng_cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,105}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{201,105}}</string>
                <key>sourceSize</key>
                <string>{209,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhucheng_cloud.png</string>
            <key>size</key>
            <string>{109,205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd7e7639d1443b3b16fd5d30e5a046f8$</string>
            <key>textureFileName</key>
            <string>effect_zhucheng_cloud.png</string>
        </dict>
    </dict>
</plist>
