<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_buff_qiankunding_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,66}}</string>
                <key>sourceSize</key>
                <string>{84,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_buff_qiankunding_up.png</string>
            <key>size</key>
            <string>{82,70}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13916581f255dc11a3c8cd3458491e23$</string>
            <key>textureFileName</key>
            <string>sp_buff_qiankunding_up.png</string>
        </dict>
    </dict>
</plist>
