<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_shoulan_shengji_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{371,564}}</string>
                <key>offset</key>
                <string>{-16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{371,564}}</string>
                <key>sourceSize</key>
                <string>{407,580}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_shoulan_shengji_star.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81b5c6c260a791c555b273379c999d07$</string>
            <key>textureFileName</key>
            <string>effect_shoulan_shengji_star.png</string>
        </dict>
    </dict>
</plist>
