<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_newyear_fwcolor2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,184}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,184}}</string>
                <key>sourceSize</key>
                <string>{164,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_newyear_fwcolor2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8690d4cff08964410af61392830c9d83$</string>
            <key>textureFileName</key>
            <string>effect_newyear_fwcolor2.png</string>
        </dict>
    </dict>
</plist>
