<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_city_riot_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,81}}</string>
                <key>sourceSize</key>
                <string>{116,81}</string>
            </dict>
            <key>effect_city_riot_fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,79}}</string>
                <key>sourceSize</key>
                <string>{116,79}</string>
            </dict>
            <key>effect_city_riot_fire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{113,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,76}}</string>
                <key>sourceSize</key>
                <string>{113,76}</string>
            </dict>
            <key>effect_city_riot_fire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,83},{116,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,73}}</string>
                <key>sourceSize</key>
                <string>{116,73}</string>
            </dict>
            <key>effect_city_riot_fire_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,237},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>effect_city_riot_fire_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{109,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,81}}</string>
                <key>sourceSize</key>
                <string>{109,81}</string>
            </dict>
            <key>effect_city_riot_fire_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,158},{110,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,77}}</string>
                <key>sourceSize</key>
                <string>{110,77}</string>
            </dict>
            <key>effect_city_riot_fire_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,279},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>effect_city_riot_fire_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,237},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_city_riot_fire.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22f4c466c7434d3238e57754c3074cca$</string>
            <key>textureFileName</key>
            <string>effect_city_riot_fire.png</string>
        </dict>
    </dict>
</plist>
