<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_165_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,332},{169,162}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{169,162}}</string>
                <key>sourceSize</key>
                <string>{211,202}</string>
            </dict>
            <key>sp_base_165_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,172},{169,162}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{169,162}}</string>
                <key>sourceSize</key>
                <string>{211,202}</string>
            </dict>
            <key>sp_base_165_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{167,162}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{167,162}}</string>
                <key>sourceSize</key>
                <string>{211,202}</string>
            </dict>
            <key>sp_base_165_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{165,158}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{165,158}}</string>
                <key>sourceSize</key>
                <string>{211,202}</string>
            </dict>
            <key>sp_base_165_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,167},{163,156}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{163,156}}</string>
                <key>sourceSize</key>
                <string>{211,202}</string>
            </dict>
            <key>sp_base_165_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{173,168}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{173,168}}</string>
                <key>sourceSize</key>
                <string>{211,202}</string>
            </dict>
            <key>sp_base_165_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,166}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{175,166}}</string>
                <key>sourceSize</key>
                <string>{211,202}</string>
            </dict>
            <key>sp_base_165_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{173,160}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{173,160}}</string>
                <key>sourceSize</key>
                <string>{211,202}</string>
            </dict>
            <key>sp_base_165_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,336},{165,162}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{165,162}}</string>
                <key>sourceSize</key>
                <string>{211,202}</string>
            </dict>
            <key>sp_base_165_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{163,156}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{163,156}}</string>
                <key>sourceSize</key>
                <string>{211,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_165.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a18460f1c7bc6a6dbe7901ed942068ee$</string>
            <key>textureFileName</key>
            <string>sp_base_165.png</string>
        </dict>
    </dict>
</plist>
