<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_344_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,155},{69,89}}</string>
                <key>offset</key>
                <string>{57,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,69},{69,89}}</string>
                <key>sourceSize</key>
                <string>{201,215}</string>
            </dict>
            <key>sp_base_344_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,338},{127,137}}</string>
                <key>offset</key>
                <string>{-20,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,58},{127,137}}</string>
                <key>sourceSize</key>
                <string>{201,215}</string>
            </dict>
            <key>sp_base_344_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{99,151}}</string>
                <key>offset</key>
                <string>{40,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,53},{99,151}}</string>
                <key>sourceSize</key>
                <string>{201,215}</string>
            </dict>
            <key>sp_base_344_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,477},{123,163}}</string>
                <key>offset</key>
                <string>{28,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,44},{123,163}}</string>
                <key>sourceSize</key>
                <string>{201,215}</string>
            </dict>
            <key>sp_base_344_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,338},{139,185}}</string>
                <key>offset</key>
                <string>{24,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,21},{139,185}}</string>
                <key>sourceSize</key>
                <string>{201,215}</string>
            </dict>
            <key>sp_base_344_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{175,185}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,25},{175,185}}</string>
                <key>sourceSize</key>
                <string>{201,215}</string>
            </dict>
            <key>sp_base_344_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,149},{187,189}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{187,189}}</string>
                <key>sourceSize</key>
                <string>{201,215}</string>
            </dict>
            <key>sp_base_344_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,203}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{169,203}}</string>
                <key>sourceSize</key>
                <string>{201,215}</string>
            </dict>
            <key>sp_base_344_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{145,195}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{145,195}}</string>
                <key>sourceSize</key>
                <string>{201,215}</string>
            </dict>
            <key>sp_base_344_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{151,165}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,39},{151,165}}</string>
                <key>sourceSize</key>
                <string>{201,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_344.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22ef68c7391a996f43bf3590e43dd5b2$</string>
            <key>textureFileName</key>
            <string>sp_base_344.png</string>
        </dict>
    </dict>
</plist>
