<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_lmbd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{151,151}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>sp_lmbd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,433},{73,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{73,76}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>sp_lmbd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,433},{73,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{73,76}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>sp_lmbd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{73,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{73,75}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>sp_lmbd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,358},{73,79}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{73,79}}</string>
                <key>sourceSize</key>
                <string>{81,87}</string>
            </dict>
            <key>sp_lmbd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,432},{70,78}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,78}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>sp_lmbd_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,114},{80,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>sp_lmbd_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,196},{80,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,83}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>sp_lmbd_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,278},{78,79}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,79}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>sp_lmbd_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,203},{78,83}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,83}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>sp_lmbd_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,435},{74,79}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{74,79}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>sp_lmbd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,78},{68,62}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{68,62}}</string>
                <key>sourceSize</key>
                <string>{78,74}</string>
            </dict>
            <key>sp_lmbd_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,433},{74,77}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{74,77}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>sp_lmbd_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,358},{72,69}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{72,69}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>sp_lmbd_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,136},{68,61}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{68,61}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>sp_lmbd_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,148},{60,53}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{60,53}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>sp_lmbd_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,114},{50,45}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,21},{50,45}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>sp_lmbd_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{40,39}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,25},{40,39}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>sp_lmbd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{74,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{74,64}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>sp_lmbd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{138,122}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{138,122}}</string>
                <key>sourceSize</key>
                <string>{154,146}</string>
            </dict>
            <key>sp_lmbd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{132,110}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{132,110}}</string>
                <key>sourceSize</key>
                <string>{154,150}</string>
            </dict>
            <key>sp_lmbd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,295},{136,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{136,116}}</string>
                <key>sourceSize</key>
                <string>{154,146}</string>
            </dict>
            <key>sp_lmbd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,155},{138,116}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{138,116}}</string>
                <key>sourceSize</key>
                <string>{154,150}</string>
            </dict>
            <key>sp_lmbd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{138,122}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{138,122}}</string>
                <key>sourceSize</key>
                <string>{154,146}</string>
            </dict>
            <key>sp_lmbd_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{132,110}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,31},{132,110}}</string>
                <key>sourceSize</key>
                <string>{154,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_lmbd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c89bed340a9643d4f861cb2ff851fbb8$</string>
            <key>textureFileName</key>
            <string>sp_lmbd.png</string>
        </dict>
    </dict>
</plist>
