<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_051_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{215,327}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{215,327}}</string>
                <key>sourceSize</key>
                <string>{221,335}</string>
            </dict>
            <key>sp_base_051_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{218,231}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,231}}</string>
                <key>sourceSize</key>
                <string>{218,235}</string>
            </dict>
            <key>sp_base_051_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,222},{230,307}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{230,307}}</string>
                <key>sourceSize</key>
                <string>{240,315}</string>
            </dict>
            <key>sp_base_051_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,632},{245,302}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{245,302}}</string>
                <key>sourceSize</key>
                <string>{249,310}</string>
            </dict>
            <key>sp_base_051_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,323},{262,307}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{262,307}}</string>
                <key>sourceSize</key>
                <string>{262,319}</string>
            </dict>
            <key>sp_base_051_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{274,319}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{274,319}}</string>
                <key>sourceSize</key>
                <string>{276,325}</string>
            </dict>
            <key>sp_base_051_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,665},{283,326}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{283,326}}</string>
                <key>sourceSize</key>
                <string>{291,340}</string>
            </dict>
            <key>sp_base_051_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{289,332}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{289,332}}</string>
                <key>sourceSize</key>
                <string>{295,342}</string>
            </dict>
            <key>sp_base_051_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,336},{300,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,319}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
            <key>sp_base_051_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,657},{305,315}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,315}}</string>
                <key>sourceSize</key>
                <string>{309,325}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_051.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc2da443d237c5f163194c26b4fa618a$</string>
            <key>textureFileName</key>
            <string>sp_base_051.png</string>
        </dict>
    </dict>
</plist>
