<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_xuanfengdaoguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,256},{82,84}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{82,84}}</string>
                <key>sourceSize</key>
                <string>{86,90}</string>
            </dict>
            <key>sp_xuanfengdaoguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{88,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{88,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>sp_xuanfengdaoguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>sp_xuanfengdaoguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{88,84}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{88,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>sp_xuanfengdaoguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{82,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{82,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>sp_xuanfengdaoguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,88},{88,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{88,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>sp_xuanfengdaoguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,168},{86,86}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>sp_xuanfengdaoguang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{7,8}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{7,8}}</string>
                <key>sourceSize</key>
                <string>{39,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_xuanfengdaoguang.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2ea524728d43688473f3da2fab90177$</string>
            <key>textureFileName</key>
            <string>sp_xuanfengdaoguang.png</string>
        </dict>
    </dict>
</plist>
