<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_shoulan_shengji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,264}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,21},{230,264}}</string>
                <key>sourceSize</key>
                <string>{294,300}</string>
            </dict>
            <key>effect_shoulan_shengji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{182,88}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{182,88}}</string>
                <key>sourceSize</key>
                <string>{188,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_shoulan_shengji.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e7276708d32ac993e93520938f51574$</string>
            <key>textureFileName</key>
            <string>effect_shoulan_shengji.png</string>
        </dict>
    </dict>
</plist>
