<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_main3_guan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,413},{119,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,117}}</string>
                <key>sourceSize</key>
                <string>{119,117}</string>
            </dict>
            <key>effect_main3_guan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,235},{176,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,120}}</string>
                <key>sourceSize</key>
                <string>{176,120}</string>
            </dict>
            <key>effect_main3_guan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{231,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,375}}</string>
                <key>sourceSize</key>
                <string>{231,375}</string>
            </dict>
            <key>effect_main3_guan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{145,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,280}}</string>
                <key>sourceSize</key>
                <string>{145,280}</string>
            </dict>
            <key>effect_main3_guan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,532},{142,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,155}}</string>
                <key>sourceSize</key>
                <string>{142,155}</string>
            </dict>
            <key>effect_main3_guan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,143},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>effect_main3_guan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,2},{114,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,139}}</string>
                <key>sourceSize</key>
                <string>{114,139}</string>
            </dict>
            <key>effect_main3_guan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,451},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>effect_main3_guan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,515},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>effect_main3_guan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,391}}</string>
                <key>sourceSize</key>
                <string>{214,391}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_main3_guan.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:555ac773038628cfacaf56a8785936a8$</string>
            <key>textureFileName</key>
            <string>effect_main3_guan.png</string>
        </dict>
    </dict>
</plist>
