<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_base_baozha3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,156},{58,70}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,23},{58,70}}</string>
                <key>sourceSize</key>
                <string>{92,102}</string>
            </dict>
            <key>effect_base_baozha3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,283},{122,99}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{122,99}}</string>
                <key>sourceSize</key>
                <string>{146,125}</string>
            </dict>
            <key>effect_base_baozha3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{164,125}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{164,125}}</string>
                <key>sourceSize</key>
                <string>{188,155}</string>
            </dict>
            <key>effect_base_baozha3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,292},{174,136}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,56},{174,136}}</string>
                <key>sourceSize</key>
                <string>{300,230}</string>
            </dict>
            <key>effect_base_baozha3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{200,136}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,43},{200,136}}</string>
                <key>sourceSize</key>
                <string>{300,230}</string>
            </dict>
            <key>effect_base_baozha3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,146},{210,144}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,34},{210,144}}</string>
                <key>sourceSize</key>
                <string>{300,230}</string>
            </dict>
            <key>effect_base_baozha3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{234,142}}</string>
                <key>offset</key>
                <string>{9,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,22},{234,142}}</string>
                <key>sourceSize</key>
                <string>{300,230}</string>
            </dict>
            <key>effect_base_baozha3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,152}}</string>
                <key>offset</key>
                <string>{10,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{246,152}}</string>
                <key>sourceSize</key>
                <string>{300,230}</string>
            </dict>
            <key>effect_base_baozha3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{26,24}}</string>
                <key>offset</key>
                <string>{-104,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,25},{26,24}}</string>
                <key>sourceSize</key>
                <string>{300,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_base_baozha3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57ba5c28fc5718654b62f3464579065f$</string>
            <key>textureFileName</key>
            <string>effect_base_baozha3.png</string>
        </dict>
    </dict>
</plist>
