<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_yanshi_shoot_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,154}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,22},{24,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_yanshi_shoot_1.png</string>
            <key>size</key>
            <string>{32,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22e27acd6df8164dab0591100f6a7ad1$</string>
            <key>textureFileName</key>
            <string>sp_yanshi_shoot_1.png</string>
        </dict>
    </dict>
</plist>
