<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_345_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{152,189}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{152,189}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>sp_base_345_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,211},{162,189}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{162,189}}</string>
                <key>sourceSize</key>
                <string>{164,195}</string>
            </dict>
            <key>sp_base_345_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{181,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,207}}</string>
                <key>sourceSize</key>
                <string>{181,207}</string>
            </dict>
            <key>sp_base_345_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,207}}</string>
                <key>sourceSize</key>
                <string>{188,207}</string>
            </dict>
            <key>sp_base_345_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{148,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,12}}</string>
                <key>sourceSize</key>
                <string>{150,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_345.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2b85e083ad292722665891b0212db8e$</string>
            <key>textureFileName</key>
            <string>sp_base_345.png</string>
        </dict>
    </dict>
</plist>
