<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_range_ice_hit_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,187},{142,146}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{142,146}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>sp_range_ice_hit_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{189,180}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{189,180}}</string>
                <key>sourceSize</key>
                <string>{197,190}</string>
            </dict>
            <key>sp_range_ice_hit_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,335},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,29},{39,40}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>sp_range_ice_hit_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,149},{67,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{67,66}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>sp_range_ice_hit_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,270},{83,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{83,82}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>sp_range_ice_hit_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,182},{87,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{87,86}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>sp_range_ice_hit_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,94},{91,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{91,86}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>sp_range_ice_hit_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{95,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{95,90}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>sp_range_ice_hit_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,278},{83,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{83,82}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>sp_range_ice_hit_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,335},{38,41}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,81},{38,41}}</string>
                <key>sourceSize</key>
                <string>{172,215}</string>
            </dict>
            <key>sp_range_ice_hit_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,217},{66,59}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,71},{66,59}}</string>
                <key>sourceSize</key>
                <string>{172,215}</string>
            </dict>
            <key>sp_range_ice_hit_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,388},{98,115}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{98,115}}</string>
                <key>sourceSize</key>
                <string>{172,215}</string>
            </dict>
            <key>sp_range_ice_hit_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{122,155}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,35},{122,155}}</string>
                <key>sourceSize</key>
                <string>{172,215}</string>
            </dict>
            <key>sp_range_ice_hit_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{140,183}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{140,183}}</string>
                <key>sourceSize</key>
                <string>{172,215}</string>
            </dict>
            <key>sp_range_ice_hit_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,193}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{148,193}}</string>
                <key>sourceSize</key>
                <string>{172,215}</string>
            </dict>
            <key>sp_range_ice_hit_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,377},{126,145}}</string>
                <key>offset</key>
                <string>{11,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,7},{126,145}}</string>
                <key>sourceSize</key>
                <string>{172,215}</string>
            </dict>
            <key>sp_range_ice_hit_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{110,145}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,8},{110,145}}</string>
                <key>sourceSize</key>
                <string>{172,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_range_ice_hit_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a1c7b470f5c750123bf62e365fdf850$</string>
            <key>textureFileName</key>
            <string>sp_range_ice_hit_1.png</string>
        </dict>
    </dict>
</plist>
