<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_dituB_fire_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,72},{48,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,67}}</string>
                <key>sourceSize</key>
                <string>{48,67}</string>
            </dict>
            <key>effect_dituB_fire_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,96},{41,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,61}}</string>
                <key>sourceSize</key>
                <string>{41,61}</string>
            </dict>
            <key>effect_dituB_fire_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,50},{44,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,64}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>effect_dituB_fire_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,149},{42,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,69}}</string>
                <key>sourceSize</key>
                <string>{42,69}</string>
            </dict>
            <key>effect_dituB_fire_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{46,64}</string>
            </dict>
            <key>effect_dituB_fire_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{31,9}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{31,9}}</string>
                <key>sourceSize</key>
                <string>{35,9}</string>
            </dict>
            <key>effect_dituB_fire_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{43,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,67}}</string>
                <key>sourceSize</key>
                <string>{43,67}</string>
            </dict>
            <key>effect_dituB_fire_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{41,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,68}}</string>
                <key>sourceSize</key>
                <string>{41,68}</string>
            </dict>
            <key>effect_dituB_fire_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,75},{45,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,68}}</string>
                <key>sourceSize</key>
                <string>{45,68}</string>
            </dict>
            <key>effect_dituB_fire_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{46,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,71}}</string>
                <key>sourceSize</key>
                <string>{46,71}</string>
            </dict>
            <key>effect_dituB_fire_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,145},{40,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,68}}</string>
                <key>sourceSize</key>
                <string>{40,68}</string>
            </dict>
            <key>effect_dituB_fire_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{38,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,70}}</string>
                <key>sourceSize</key>
                <string>{38,70}</string>
            </dict>
            <key>effect_dituB_fire_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,72}}</string>
                <key>sourceSize</key>
                <string>{45,72}</string>
            </dict>
            <key>effect_dituB_fire_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{41,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,71}}</string>
                <key>sourceSize</key>
                <string>{41,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_dituB_fire_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be4e09dfa5d858bd8e009070d15db9ff$</string>
            <key>textureFileName</key>
            <string>effect_dituB_fire_1.png</string>
        </dict>
    </dict>
</plist>
