<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_4002_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1402,1118}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,38},{1402,1118}}</string>
                <key>sourceSize</key>
                <string>{1492,1234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_4002.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fe1105b9fa901098863f0910f8166b4$</string>
            <key>textureFileName</key>
            <string>effect_4002.png</string>
        </dict>
    </dict>
</plist>
