<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_chenhao_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,115},{112,90}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{112,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>effect_chenhao_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,102}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{118,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>effect_chenhao_star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{116,108}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{116,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>effect_chenhao_star_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,207},{104,76}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,41},{104,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>effect_chenhao_star_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{52,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>effect_chenhao_star_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{116,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,111}}</string>
                <key>sourceSize</key>
                <string>{116,111}</string>
            </dict>
            <key>effect_chenhao_star_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_chenhao_star.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1125b1c6aff5ed43b3f3d42c408059a$</string>
            <key>textureFileName</key>
            <string>effect_chenhao_star.png</string>
        </dict>
    </dict>
</plist>
