<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_202_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,420},{178,150}}</string>
                <key>offset</key>
                <string>{5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,112},{178,150}}</string>
                <key>sourceSize</key>
                <string>{300,270}</string>
            </dict>
            <key>sp_base_202_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{192,194}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,59},{192,194}}</string>
                <key>sourceSize</key>
                <string>{300,270}</string>
            </dict>
            <key>sp_base_202_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,196},{222,188}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,58},{222,188}}</string>
                <key>sourceSize</key>
                <string>{300,270}</string>
            </dict>
            <key>sp_base_202_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{284,228}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{284,228}}</string>
                <key>sourceSize</key>
                <string>{300,270}</string>
            </dict>
            <key>sp_base_202_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,236}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{296,236}}</string>
                <key>sourceSize</key>
                <string>{300,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_202.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db49c82725acdf99288a936e40f150f7$</string>
            <key>textureFileName</key>
            <string>sp_base_202.png</string>
        </dict>
    </dict>
</plist>
