<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_shandian_hit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1082},{196,122}}</string>
                <key>offset</key>
                <string>{-8,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,0},{196,122}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>sp_shandian_hit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,536},{248,326}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{248,326}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>sp_shandian_hit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,272},{262,328}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{262,328}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>sp_shandian_hit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{268,330}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{268,330}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>sp_shandian_hit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1036},{196,268}}</string>
                <key>offset</key>
                <string>{-13,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,2},{196,268}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>sp_shandian_hit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,838},{196,286}}</string>
                <key>offset</key>
                <string>{-13,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,4},{196,286}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>sp_shandian_hit_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1238},{84,94}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,17},{84,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sp_shandian_hit_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1196},{84,94}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,17},{84,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sp_shandian_hit_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1110},{84,94}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,17},{84,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sp_shandian_hit_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1110},{84,94}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,17},{84,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sp_shandian_hit_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{140,126}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{140,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sp_shandian_hit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{272,310}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{272,310}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>sp_shandian_hit_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1082},{134,124}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{134,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sp_shandian_hit_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,964},{84,124}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,18},{84,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sp_shandian_hit_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,838},{84,124}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,18},{84,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sp_shandian_hit_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1176},{84,94}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,17},{84,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sp_shandian_hit_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1090},{84,94}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,17},{84,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sp_shandian_hit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,786},{294,318}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{294,318}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>sp_shandian_hit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{296,328}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{296,328}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>sp_shandian_hit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{296,326}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{296,326}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>sp_shandian_hit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,300},{294,326}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{294,326}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>sp_shandian_hit_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,336}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{294,336}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>sp_shandian_hit_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,596},{240,322}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,0},{240,322}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>sp_shandian_hit_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{238,324}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{238,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_shandian_hit.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:232b4b14e636b2b66b3511339931284d$</string>
            <key>textureFileName</key>
            <string>sp_shandian_hit.png</string>
        </dict>
    </dict>
</plist>
