<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_mainctiy_yun2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{836,540}}</string>
                <key>offset</key>
                <string>{-28,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,6},{836,540}}</string>
                <key>sourceSize</key>
                <string>{1014,546}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_mainctiy_yun2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba0730188629da3bea2d62cc50f8414f$</string>
            <key>textureFileName</key>
            <string>effect_mainctiy_yun2.png</string>
        </dict>
    </dict>
</plist>
