<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_appear2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,176}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,27},{185,176}}</string>
                <key>sourceSize</key>
                <string>{385,242}</string>
            </dict>
            <key>effect_appear2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{183,174}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,13},{183,174}}</string>
                <key>sourceSize</key>
                <string>{385,218}</string>
            </dict>
            <key>effect_appear2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,178},{181,168}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,21},{181,168}}</string>
                <key>sourceSize</key>
                <string>{385,222}</string>
            </dict>
            <key>effect_appear2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{165,140}}</string>
                <key>offset</key>
                <string>{17,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,31},{165,140}}</string>
                <key>sourceSize</key>
                <string>{385,214}</string>
            </dict>
            <key>effect_appear2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{151,90}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,28},{151,90}}</string>
                <key>sourceSize</key>
                <string>{385,158}</string>
            </dict>
            <key>effect_appear2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,155},{151,84}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,72},{151,84}}</string>
                <key>sourceSize</key>
                <string>{385,176}</string>
            </dict>
            <key>effect_appear2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,348},{151,80}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,31},{151,80}}</string>
                <key>sourceSize</key>
                <string>{385,130}</string>
            </dict>
            <key>effect_appear2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{151,82}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,48},{151,82}}</string>
                <key>sourceSize</key>
                <string>{385,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_appear2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb0fd243ef11a9c8b66a3b55dfacf2c3$</string>
            <key>textureFileName</key>
            <string>effect_appear2.png</string>
        </dict>
    </dict>
</plist>
