<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_shuilie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,420},{61,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{61,53}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>sp_shuilie_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,167},{123,111}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{123,111}}</string>
                <key>sourceSize</key>
                <string>{129,141}</string>
            </dict>
            <key>sp_shuilie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,292},{126,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{126,90}}</string>
                <key>sourceSize</key>
                <string>{136,90}</string>
            </dict>
            <key>sp_shuilie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{149,120}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{149,120}}</string>
                <key>sourceSize</key>
                <string>{169,132}</string>
            </dict>
            <key>sp_shuilie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,207},{191,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{191,144}}</string>
                <key>sourceSize</key>
                <string>{217,168}</string>
            </dict>
            <key>sp_shuilie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{197,155}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{197,155}}</string>
                <key>sourceSize</key>
                <string>{217,185}</string>
            </dict>
            <key>sp_shuilie_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,157}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{205,157}}</string>
                <key>sourceSize</key>
                <string>{217,167}</string>
            </dict>
            <key>sp_shuilie_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{203,141}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{203,141}}</string>
                <key>sourceSize</key>
                <string>{217,143}</string>
            </dict>
            <key>sp_shuilie_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,353},{193,116}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{193,116}}</string>
                <key>sourceSize</key>
                <string>{217,140}</string>
            </dict>
            <key>sp_shuilie_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{163,114}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{163,114}}</string>
                <key>sourceSize</key>
                <string>{217,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_shuilie.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2501d0b35fda0eca0af85be8307f829$</string>
            <key>textureFileName</key>
            <string>sp_shuilie.png</string>
        </dict>
    </dict>
</plist>
