<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zjmbt_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{117,65}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,65}}</string>
                <key>sourceSize</key>
                <string>{137,65}</string>
            </dict>
            <key>effect_zjmbt_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,101}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,101}}</string>
                <key>sourceSize</key>
                <string>{189,119}</string>
            </dict>
            <key>effect_zjmbt_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,105},{153,104}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{153,104}}</string>
                <key>sourceSize</key>
                <string>{161,108}</string>
            </dict>
            <key>effect_zjmbt_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{82,60}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{82,60}}</string>
                <key>sourceSize</key>
                <string>{108,74}</string>
            </dict>
            <key>effect_zjmbt_a_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,101}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,101}}</string>
                <key>sourceSize</key>
                <string>{189,119}</string>
            </dict>
            <key>effect_zjmbt_a_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{117,65}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,65}}</string>
                <key>sourceSize</key>
                <string>{137,65}</string>
            </dict>
            <key>effect_zjmbt_a_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,105},{153,104}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{153,104}}</string>
                <key>sourceSize</key>
                <string>{161,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zjmbt_a.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d5685917d4e82ec9387457f7b24cc45$</string>
            <key>textureFileName</key>
            <string>effect_zjmbt_a.png</string>
        </dict>
    </dict>
</plist>
