<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_319_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{156,148}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{156,148}}</string>
                <key>sourceSize</key>
                <string>{166,154}</string>
            </dict>
            <key>sp_base_319_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,416},{175,175}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{185,179}</string>
            </dict>
            <key>sp_base_319_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{175,193}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{175,193}}</string>
                <key>sourceSize</key>
                <string>{185,197}</string>
            </dict>
            <key>sp_base_319_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{196,204}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,204}}</string>
                <key>sourceSize</key>
                <string>{200,206}</string>
            </dict>
            <key>sp_base_319_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{205,219}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,219}}</string>
                <key>sourceSize</key>
                <string>{209,223}</string>
            </dict>
            <key>sp_base_319_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,228}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,228}}</string>
                <key>sourceSize</key>
                <string>{212,232}</string>
            </dict>
            <key>sp_base_319_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,209},{208,205}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,205}}</string>
                <key>sourceSize</key>
                <string>{212,209}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_319.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8863dfb1b74ec62c1e7eefc26a6cce8d$</string>
            <key>textureFileName</key>
            <string>sp_base_319.png</string>
        </dict>
    </dict>
</plist>
