<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_dianshanleiming_yun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,195},{118,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,64}}</string>
                <key>sourceSize</key>
                <string>{118,64}</string>
            </dict>
            <key>sp_dianshanleiming_yun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{120,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,65}}</string>
                <key>sourceSize</key>
                <string>{120,65}</string>
            </dict>
            <key>sp_dianshanleiming_yun_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{127,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,66}}</string>
                <key>sourceSize</key>
                <string>{127,66}</string>
            </dict>
            <key>sp_dianshanleiming_yun_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,68}}</string>
                <key>sourceSize</key>
                <string>{130,68}</string>
            </dict>
            <key>sp_dianshanleiming_yun_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,69},{119,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,66}}</string>
                <key>sourceSize</key>
                <string>{119,66}</string>
            </dict>
            <key>sp_dianshanleiming_yun_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,137},{121,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,56}}</string>
                <key>sourceSize</key>
                <string>{121,56}</string>
            </dict>
            <key>sp_dianshanleiming_yun_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{124,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_dianshanleiming_yun.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5662627e46729a6c6835deead2ab16e9$</string>
            <key>textureFileName</key>
            <string>sp_dianshanleiming_yun.png</string>
        </dict>
    </dict>
</plist>
