<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_dengru_qizi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{48,17}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,17}}</string>
                <key>sourceSize</key>
                <string>{48,19}</string>
            </dict>
            <key>effect_dengru_qizi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{48,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,19}}</string>
                <key>sourceSize</key>
                <string>{48,19}</string>
            </dict>
            <key>effect_dengru_qizi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{46,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,19}}</string>
                <key>sourceSize</key>
                <string>{48,19}</string>
            </dict>
            <key>effect_dengru_qizi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,23},{48,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,19}}</string>
                <key>sourceSize</key>
                <string>{48,19}</string>
            </dict>
            <key>effect_dengru_qizi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,19}}</string>
                <key>sourceSize</key>
                <string>{48,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_dengru_qizi.png</string>
            <key>size</key>
            <string>{52,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c434f6f374e798526ade5714937d08bc$</string>
            <key>textureFileName</key>
            <string>effect_dengru_qizi.png</string>
        </dict>
    </dict>
</plist>
