<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_skill_lianda_gongji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,970},{52,196}}</string>
                <key>offset</key>
                <string>{-32,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,120},{52,196}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>sp_skill_lianda_gongji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,812},{54,202}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,101},{54,202}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>sp_skill_lianda_gongji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{74,198}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,76},{74,198}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>sp_skill_lianda_gongji_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{98,222}}</string>
                <key>offset</key>
                <string>{-27,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,86},{98,222}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>sp_skill_lianda_gongji_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,272},{48,258}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,59},{48,258}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>sp_skill_lianda_gongji_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,776},{32,240}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,68},{32,240}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>sp_skill_lianda_gongji_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,518},{68,250}}</string>
                <key>offset</key>
                <string>{-21,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,64},{68,250}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>sp_skill_lianda_gongji_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{205,168}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,20},{205,168}}</string>
                <key>sourceSize</key>
                <string>{225,300}</string>
            </dict>
            <key>sp_skill_lianda_gongji_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,518},{123,256}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,20},{123,256}}</string>
                <key>sourceSize</key>
                <string>{225,300}</string>
            </dict>
            <key>sp_skill_lianda_gongji_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,260},{97,236}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,20},{97,236}}</string>
                <key>sourceSize</key>
                <string>{225,300}</string>
            </dict>
            <key>sp_skill_lianda_gongji_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{91,214}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,25},{91,214}}</string>
                <key>sourceSize</key>
                <string>{225,300}</string>
            </dict>
            <key>sp_skill_lianda_gongji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,275},{72,192}}</string>
                <key>offset</key>
                <string>{-17,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,96},{72,192}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>sp_skill_lianda_gongji_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{135,268}}</string>
                <key>offset</key>
                <string>{-33,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{135,268}}</string>
                <key>sourceSize</key>
                <string>{225,300}</string>
            </dict>
            <key>sp_skill_lianda_gongji_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,260},{115,256}}</string>
                <key>offset</key>
                <string>{-26,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{115,256}}</string>
                <key>sourceSize</key>
                <string>{225,300}</string>
            </dict>
            <key>sp_skill_lianda_gongji_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,78},{195,214}}</string>
                <key>offset</key>
                <string>{-15,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{195,214}}</string>
                <key>sourceSize</key>
                <string>{225,300}</string>
            </dict>
            <key>sp_skill_lianda_gongji_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,518},{139,256}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,21},{139,256}}</string>
                <key>sourceSize</key>
                <string>{225,300}</string>
            </dict>
            <key>sp_skill_lianda_gongji_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,218},{87,214}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,25},{87,214}}</string>
                <key>sourceSize</key>
                <string>{225,300}</string>
            </dict>
            <key>sp_skill_lianda_gongji_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,542},{81,268}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,20},{81,268}}</string>
                <key>sourceSize</key>
                <string>{225,300}</string>
            </dict>
            <key>sp_skill_lianda_gongji_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,260},{195,256}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{195,256}}</string>
                <key>sourceSize</key>
                <string>{225,300}</string>
            </dict>
            <key>sp_skill_lianda_gongji_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,776},{127,246}}</string>
                <key>offset</key>
                <string>{25,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,20},{127,246}}</string>
                <key>sourceSize</key>
                <string>{225,300}</string>
            </dict>
            <key>sp_skill_lianda_gongji_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,260},{97,236}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,20},{97,236}}</string>
                <key>sourceSize</key>
                <string>{225,300}</string>
            </dict>
            <key>sp_skill_lianda_gongji_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,218},{87,214}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,25},{87,214}}</string>
                <key>sourceSize</key>
                <string>{225,300}</string>
            </dict>
            <key>sp_skill_lianda_gongji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,752},{94,216}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,105},{94,216}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>sp_skill_lianda_gongji_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{107,268}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,20},{107,268}}</string>
                <key>sourceSize</key>
                <string>{225,300}</string>
            </dict>
            <key>sp_skill_lianda_gongji_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{225,256}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{225,256}}</string>
                <key>sourceSize</key>
                <string>{225,300}</string>
            </dict>
            <key>sp_skill_lianda_gongji_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,776},{155,238}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,60},{155,238}}</string>
                <key>sourceSize</key>
                <string>{225,300}</string>
            </dict>
            <key>sp_skill_lianda_gongji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,260},{48,250}}</string>
                <key>offset</key>
                <string>{-34,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,79},{48,250}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>sp_skill_lianda_gongji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,2},{32,232}}</string>
                <key>offset</key>
                <string>{-44,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,89},{32,232}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>sp_skill_lianda_gongji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,776},{64,242}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,36},{64,242}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>sp_skill_lianda_gongji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,512},{90,238}}</string>
                <key>offset</key>
                <string>{-33,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,4},{90,238}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>sp_skill_lianda_gongji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,268}}</string>
                <key>offset</key>
                <string>{-23,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{154,268}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>sp_skill_lianda_gongji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{192,256}}</string>
                <key>offset</key>
                <string>{18,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,73},{192,256}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_skill_lianda_gongji.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19485180bd67310dfe80ced6207122d4$</string>
            <key>textureFileName</key>
            <string>sp_skill_lianda_gongji.png</string>
        </dict>
    </dict>
</plist>
