<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_wzhq_chongci_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,278}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,278}}</string>
                <key>sourceSize</key>
                <string>{204,280}</string>
            </dict>
            <key>sp_wzhq_chongci_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{176,278}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{176,278}}</string>
                <key>sourceSize</key>
                <string>{204,300}</string>
            </dict>
            <key>sp_wzhq_chongci_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,180},{132,235}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{132,235}}</string>
                <key>sourceSize</key>
                <string>{142,247}</string>
            </dict>
            <key>sp_wzhq_chongci_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{74,228}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,228}}</string>
                <key>sourceSize</key>
                <string>{82,234}</string>
            </dict>
            <key>sp_wzhq_chongci_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,282},{79,226}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{79,226}}</string>
                <key>sourceSize</key>
                <string>{85,232}</string>
            </dict>
            <key>sp_wzhq_chongci_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,282},{82,187}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{82,187}}</string>
                <key>sourceSize</key>
                <string>{82,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_wzhq_chongci.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e43272d1e9d45e4ba105059a643e4db6$</string>
            <key>textureFileName</key>
            <string>sp_wzhq_chongci.png</string>
        </dict>
    </dict>
</plist>
