<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_liuxingbaofa_guangquan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{26,20}}</string>
                <key>offset</key>
                <string>{-29,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,101},{26,20}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_guangquan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,114},{142,118}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,52},{142,118}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_guangquan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{144,114}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,56},{144,114}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_guangquan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,110}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,61},{146,110}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_guangquan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,112}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,62},{146,112}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_guangquan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{142,114}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,63},{142,114}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_guangquan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{140,116}}</string>
                <key>offset</key>
                <string>{24,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,65},{140,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_guangquan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,350},{136,120}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,64},{136,120}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_guangquan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{68,52}}</string>
                <key>offset</key>
                <string>{-31,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,84},{68,52}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_guangquan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,118},{98,76}}</string>
                <key>offset</key>
                <string>{-28,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,70},{98,76}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_guangquan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,234},{98,78}}</string>
                <key>offset</key>
                <string>{-29,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,69},{98,78}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_guangquan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,234},{130,112}}</string>
                <key>offset</key>
                <string>{-27,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,49},{130,112}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_guangquan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,246},{126,122}}</string>
                <key>offset</key>
                <string>{-25,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,42},{126,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_guangquan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,118},{126,126}}</string>
                <key>offset</key>
                <string>{-25,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,43},{126,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_guangquan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,348},{134,126}}</string>
                <key>offset</key>
                <string>{-17,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,45},{134,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_guangquan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{138,122}}</string>
                <key>offset</key>
                <string>{-12,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,49},{138,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_liuxingbaofa_guangquan.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4062a84bf10ab666a17a420b20ef73a6$</string>
            <key>textureFileName</key>
            <string>sp_liuxingbaofa_guangquan.png</string>
        </dict>
    </dict>
</plist>
