<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_243_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{524,460}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{524,460}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>sp_base_243_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,474},{498,480}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{498,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>sp_base_243_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,2},{512,476}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,4},{512,476}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>sp_base_243_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{514,480}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{514,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>sp_base_243_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,480},{484,466}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,14},{484,466}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>sp_base_243_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{488,464}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,0},{488,464}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>sp_base_243_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,956},{464,480}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,0},{464,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>sp_base_243_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,2},{506,480}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,0},{506,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>sp_base_243_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,984},{478,468}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,12},{478,468}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>sp_base_243_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,510},{472,480}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{472,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>sp_base_243_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1412},{462,480}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{462,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>sp_base_243_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,948},{466,480}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,0},{466,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>sp_base_243_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{520,470}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,0},{520,470}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_243.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87ce3c10107621f3a2612c0de490b3f7$</string>
            <key>textureFileName</key>
            <string>sp_base_243.png</string>
        </dict>
    </dict>
</plist>
