<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_main3_lvbu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,445},{48,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,65}}</string>
                <key>sourceSize</key>
                <string>{48,65}</string>
            </dict>
            <key>effect_main3_lvbu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{201,224}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,224}}</string>
                <key>sourceSize</key>
                <string>{231,224}</string>
            </dict>
            <key>effect_main3_lvbu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,205},{195,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,199}}</string>
                <key>sourceSize</key>
                <string>{195,199}</string>
            </dict>
            <key>effect_main3_lvbu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,402},{86,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,99}}</string>
                <key>sourceSize</key>
                <string>{86,99}</string>
            </dict>
            <key>effect_main3_lvbu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,205},{50,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,22}</string>
            </dict>
            <key>effect_main3_lvbu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{139,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,174}}</string>
                <key>sourceSize</key>
                <string>{141,174}</string>
            </dict>
            <key>effect_main3_lvbu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{175,235}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,235}}</string>
                <key>sourceSize</key>
                <string>{189,235}</string>
            </dict>
            <key>effect_main3_lvbu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,280}}</string>
                <key>sourceSize</key>
                <string>{264,280}</string>
            </dict>
            <key>effect_main3_lvbu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,402},{148,178}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,178}}</string>
                <key>sourceSize</key>
                <string>{150,178}</string>
            </dict>
            <key>effect_main3_lvbu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,552},{72,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,95}}</string>
                <key>sourceSize</key>
                <string>{72,95}</string>
            </dict>
            <key>effect_main3_lvbu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,503},{83,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,108}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>effect_main3_lvbu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,552},{114,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,161}}</string>
                <key>sourceSize</key>
                <string>{114,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_main3_lvbu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16dfd0b178ad2c40b8855d0c98a06c81$</string>
            <key>textureFileName</key>
            <string>effect_main3_lvbu.png</string>
        </dict>
    </dict>
</plist>
