<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_juexing_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,541},{107,97}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,33},{107,97}}</string>
                <key>sourceSize</key>
                <string>{117,163}</string>
            </dict>
            <key>effect_juexing_b_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{115,145}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{115,145}}</string>
                <key>sourceSize</key>
                <string>{117,163}</string>
            </dict>
            <key>effect_juexing_b_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,121},{111,145}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{111,145}}</string>
                <key>sourceSize</key>
                <string>{117,163}</string>
            </dict>
            <key>effect_juexing_b_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{103,143}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{103,143}}</string>
                <key>sourceSize</key>
                <string>{117,163}</string>
            </dict>
            <key>effect_juexing_b_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,234},{103,143}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{103,143}}</string>
                <key>sourceSize</key>
                <string>{117,163}</string>
            </dict>
            <key>effect_juexing_b_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,236},{97,143}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{97,143}}</string>
                <key>sourceSize</key>
                <string>{117,163}</string>
            </dict>
            <key>effect_juexing_b_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,454},{95,141}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{95,141}}</string>
                <key>sourceSize</key>
                <string>{117,163}</string>
            </dict>
            <key>effect_juexing_b_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,458},{81,133}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{81,133}}</string>
                <key>sourceSize</key>
                <string>{117,163}</string>
            </dict>
            <key>effect_juexing_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{111,135}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{111,135}}</string>
                <key>sourceSize</key>
                <string>{117,163}</string>
            </dict>
            <key>effect_juexing_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{113,141}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{113,141}}</string>
                <key>sourceSize</key>
                <string>{117,163}</string>
            </dict>
            <key>effect_juexing_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,339},{117,141}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{117,141}}</string>
                <key>sourceSize</key>
                <string>{117,163}</string>
            </dict>
            <key>effect_juexing_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,335},{117,141}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{117,141}}</string>
                <key>sourceSize</key>
                <string>{117,163}</string>
            </dict>
            <key>effect_juexing_b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,119},{115,145}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{115,145}}</string>
                <key>sourceSize</key>
                <string>{117,163}</string>
            </dict>
            <key>effect_juexing_b_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{115,145}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{115,145}}</string>
                <key>sourceSize</key>
                <string>{117,163}</string>
            </dict>
            <key>effect_juexing_b_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{117,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{117,145}}</string>
                <key>sourceSize</key>
                <string>{117,163}</string>
            </dict>
            <key>effect_juexing_b_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{117,145}}</string>
                <key>sourceSize</key>
                <string>{117,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_juexing_b.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b16094d773578934edef4e55fbc8d7d$</string>
            <key>textureFileName</key>
            <string>effect_juexing_b.png</string>
        </dict>
    </dict>
</plist>
