<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_2group_shencyfb_hit_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,127},{94,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,140}}</string>
                <key>sourceSize</key>
                <string>{94,140}</string>
            </dict>
            <key>sp_2group_shencyfb_hit_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,127},{123,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,143}}</string>
                <key>sourceSize</key>
                <string>{123,143}</string>
            </dict>
            <key>sp_2group_shencyfb_hit_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,318},{123,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,158}}</string>
                <key>sourceSize</key>
                <string>{123,158}</string>
            </dict>
            <key>sp_2group_shencyfb_hit_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{123,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,169}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>sp_2group_shencyfb_hit_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,127},{123,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,189}}</string>
                <key>sourceSize</key>
                <string>{123,189}</string>
            </dict>
            <key>sp_2group_shencyfb_hit_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{123,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,203}}</string>
                <key>sourceSize</key>
                <string>{123,203}</string>
            </dict>
            <key>sp_2group_shencyfb_hit_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{123,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,208}}</string>
                <key>sourceSize</key>
                <string>{123,208}</string>
            </dict>
            <key>sp_2group_shencyfb_hit_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,221}}</string>
                <key>sourceSize</key>
                <string>{123,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_2group_shencyfb_hit_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1babd2537ed3156b7f02a9cee8776689$</string>
            <key>textureFileName</key>
            <string>sp_2group_shencyfb_hit_3.png</string>
        </dict>
    </dict>
</plist>
