<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_bxtd_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,111},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>effect_bxtd_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>effect_bxtd_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,111},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>effect_bxtd_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,59},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>effect_bxtd_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>effect_bxtd_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,55}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{57,55}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>effect_bxtd_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{55,57}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{55,57}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_bxtd_1.png</string>
            <key>size</key>
            <string>{127,159}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:408d8139896559c341c95a5b9e815529$</string>
            <key>textureFileName</key>
            <string>effect_bxtd_1.png</string>
        </dict>
    </dict>
</plist>
