<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_dust_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>effect_dust_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,515},{205,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,166}}</string>
                <key>sourceSize</key>
                <string>{205,166}</string>
            </dict>
            <key>effect_dust_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,342},{211,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,171}}</string>
                <key>sourceSize</key>
                <string>{211,171}</string>
            </dict>
            <key>effect_dust_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{219,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,173}}</string>
                <key>sourceSize</key>
                <string>{219,173}</string>
            </dict>
            <key>effect_dust_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,177},{226,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,163}}</string>
                <key>sourceSize</key>
                <string>{226,163}</string>
            </dict>
            <key>effect_dust_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{229,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,165}}</string>
                <key>sourceSize</key>
                <string>{229,165}</string>
            </dict>
            <key>effect_dust_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,171}}</string>
                <key>sourceSize</key>
                <string>{234,171}</string>
            </dict>
            <key>effect_dust_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{229,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,173}}</string>
                <key>sourceSize</key>
                <string>{229,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_dust.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1ba78ddcefb5760274f5f4c8ba08953$</string>
            <key>textureFileName</key>
            <string>effect_dust.png</string>
        </dict>
    </dict>
</plist>
