<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_moonbox_blueball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{113,115}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{113,115}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>effect_moonbox_blueball_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{99,109}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{99,109}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>effect_moonbox_blueball_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,117},{111,113}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{111,113}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>effect_moonbox_blueball_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,224},{105,111}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{105,111}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>effect_moonbox_blueball_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,119},{109,113}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{109,113}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>effect_moonbox_blueball_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,117},{105,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{105,113}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>effect_moonbox_blueball_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{113,115}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{113,115}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>effect_moonbox_blueball_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{115,115}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{115,115}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>effect_moonbox_blueball_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{113,113}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{113,113}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>effect_moonbox_blueball_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,111}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{117,111}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_moonbox_blueball.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f95ca5546cd5920cdb96e72e298d3de2$</string>
            <key>textureFileName</key>
            <string>effect_moonbox_blueball.png</string>
        </dict>
    </dict>
</plist>
