<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_maincity_wsj_nangua1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,163}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,50},{164,163}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_maincity_wsj_nangua1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8332143eef1a2ef309c689e75c0d629$</string>
            <key>textureFileName</key>
            <string>effect_maincity_wsj_nangua1.png</string>
        </dict>
    </dict>
</plist>
