<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_range_bow_start_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,105}}</string>
                <key>sourceSize</key>
                <string>{28,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_range_bow_start_1.png</string>
            <key>size</key>
            <string>{32,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c208c94c85964f41c505a87ad49d8f99$</string>
            <key>textureFileName</key>
            <string>sp_range_bow_start_1.png</string>
        </dict>
    </dict>
</plist>
