<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jiangling_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,139}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{22,139}}</string>
                <key>sourceSize</key>
                <string>{36,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jiangling_13.png</string>
            <key>size</key>
            <string>{32,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41345ad0ce2bcd16d08524cf345af04f$</string>
            <key>textureFileName</key>
            <string>effect_jiangling_13.png</string>
        </dict>
    </dict>
</plist>
