<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zcf_hit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{406,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,74}}</string>
                <key>sourceSize</key>
                <string>{406,74}</string>
            </dict>
            <key>effect_zcf_hit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,144},{78,127}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,127}}</string>
                <key>sourceSize</key>
                <string>{90,135}</string>
            </dict>
            <key>effect_zcf_hit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{126,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,3}}</string>
                <key>sourceSize</key>
                <string>{126,3}</string>
            </dict>
            <key>effect_zcf_hit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,78},{115,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,162}}</string>
                <key>sourceSize</key>
                <string>{115,162}</string>
            </dict>
            <key>effect_zcf_hit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{81,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,140}}</string>
                <key>sourceSize</key>
                <string>{81,140}</string>
            </dict>
            <key>effect_zcf_hit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{287,352}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,42},{287,352}}</string>
                <key>sourceSize</key>
                <string>{295,428}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zcf_hit.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a0d2c5f99fb87a24af4ad40a2fc6051$</string>
            <key>textureFileName</key>
            <string>effect_zcf_hit.png</string>
        </dict>
    </dict>
</plist>
