<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_023_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,792},{226,223}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,114},{226,223}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
            <key>sp_base_023_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,276},{254,277}}</string>
                <key>offset</key>
                <string>{10,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{254,277}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
            <key>sp_base_023_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{158,267}}</string>
                <key>offset</key>
                <string>{-11,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{158,267}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
            <key>sp_base_023_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,919},{134,63}}</string>
                <key>offset</key>
                <string>{-1,151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{134,63}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
            <key>sp_base_023_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,305},{252,251}}</string>
                <key>offset</key>
                <string>{-2,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,93},{252,251}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
            <key>sp_base_023_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,532},{258,263}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,82},{258,263}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
            <key>sp_base_023_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,558},{266,273}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,71},{266,273}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
            <key>sp_base_023_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{272,283}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,60},{272,283}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
            <key>sp_base_023_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{276,295}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,48},{276,295}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
            <key>sp_base_023_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{276,307}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,35},{276,307}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
            <key>sp_base_023_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{272,301}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{272,301}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
            <key>sp_base_023_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,309}}</string>
                <key>offset</key>
                <string>{9,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,6},{258,309}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_023.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:694917651d033ece8b891ee7e5c84ae2$</string>
            <key>textureFileName</key>
            <string>sp_base_023.png</string>
        </dict>
    </dict>
</plist>
