<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_226_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{105,92}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,38},{105,92}}</string>
                <key>sourceSize</key>
                <string>{201,184}</string>
            </dict>
            <key>sp_base_226_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,147},{123,110}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{123,110}}</string>
                <key>sourceSize</key>
                <string>{201,184}</string>
            </dict>
            <key>sp_base_226_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{143,124}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{143,124}}</string>
                <key>sourceSize</key>
                <string>{201,184}</string>
            </dict>
            <key>sp_base_226_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,259},{161,140}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{161,140}}</string>
                <key>sourceSize</key>
                <string>{201,184}</string>
            </dict>
            <key>sp_base_226_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,170},{173,154}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{173,154}}</string>
                <key>sourceSize</key>
                <string>{201,184}</string>
            </dict>
            <key>sp_base_226_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{187,166}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{187,166}}</string>
                <key>sourceSize</key>
                <string>{201,184}</string>
            </dict>
            <key>sp_base_226_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,168}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{191,168}}</string>
                <key>sourceSize</key>
                <string>{195,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_226.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5930c569b00713ae5248f5503f0852d8$</string>
            <key>textureFileName</key>
            <string>sp_base_226.png</string>
        </dict>
    </dict>
</plist>
