<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_huoyanfei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,173}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{66,173}}</string>
                <key>sourceSize</key>
                <string>{104,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_huoyanfei.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9475e9bd1a0087c51f0d1bee835eb07$</string>
            <key>textureFileName</key>
            <string>sp_huoyanfei.png</string>
        </dict>
    </dict>
</plist>
