<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_juexing_new_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{253,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,223}}</string>
                <key>sourceSize</key>
                <string>{253,223}</string>
            </dict>
            <key>effect_juexing_new_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,227},{220,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,206}}</string>
                <key>sourceSize</key>
                <string>{220,206}</string>
            </dict>
            <key>effect_juexing_new_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{445,713}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,713}}</string>
                <key>sourceSize</key>
                <string>{445,713}</string>
            </dict>
            <key>effect_juexing_new_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{377,581}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{377,581}}</string>
                <key>sourceSize</key>
                <string>{417,581}</string>
            </dict>
            <key>effect_juexing_new_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,449},{377,552}}</string>
                <key>offset</key>
                <string>{9,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{377,552}}</string>
                <key>sourceSize</key>
                <string>{417,594}</string>
            </dict>
            <key>effect_juexing_new_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1145},{315,516}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{315,516}}</string>
                <key>sourceSize</key>
                <string>{315,538}</string>
            </dict>
            <key>effect_juexing_new_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1003},{335,440}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{335,440}}</string>
                <key>sourceSize</key>
                <string>{417,460}</string>
            </dict>
            <key>effect_juexing_new_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{315,516}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{315,516}}</string>
                <key>sourceSize</key>
                <string>{319,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_juexing_new.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c3f2de0c320bafb7ae3549cd64e0731$</string>
            <key>textureFileName</key>
            <string>effect_juexing_new.png</string>
        </dict>
    </dict>
</plist>
