<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_cont_bmfs_start_1_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,267}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{68,267}}</string>
                <key>sourceSize</key>
                <string>{106,271}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_cont_bmfs_start_1_r.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59fa212bf40b53f1223c524591e65317$</string>
            <key>textureFileName</key>
            <string>sp_cont_bmfs_start_1_r.png</string>
        </dict>
    </dict>
</plist>
