<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_379_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,316},{108,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,98}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>sp_base_379_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,216},{108,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,98}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>sp_base_379_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{108,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,101}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>sp_base_379_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{108,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,103}}</string>
                <key>sourceSize</key>
                <string>{108,103}</string>
            </dict>
            <key>sp_base_379_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,109},{108,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,105}}</string>
                <key>sourceSize</key>
                <string>{108,105}</string>
            </dict>
            <key>sp_base_379_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,105}}</string>
                <key>sourceSize</key>
                <string>{108,105}</string>
            </dict>
            <key>sp_base_379_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,106}}</string>
                <key>sourceSize</key>
                <string>{108,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_379.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d549f3fa266fd5e0515d6c0b103d7263$</string>
            <key>textureFileName</key>
            <string>sp_base_379.png</string>
        </dict>
    </dict>
</plist>
