<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_butterflysub2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{67,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{67,34}}</string>
                <key>sourceSize</key>
                <string>{67,38}</string>
            </dict>
            <key>effect_butterflysub2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{69,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,37}}</string>
                <key>sourceSize</key>
                <string>{69,41}</string>
            </dict>
            <key>effect_butterflysub2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,58}</string>
            </dict>
            <key>effect_butterflysub2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{71,71}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,71}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>effect_butterflysub2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,71},{56,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>effect_butterflysub2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,75},{56,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>effect_butterflysub2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,41},{56,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>effect_butterflysub2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{61,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,70}}</string>
                <key>sourceSize</key>
                <string>{61,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_butterflysub2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c7259f3f112c29354290ecdc914cf4b$</string>
            <key>textureFileName</key>
            <string>effect_butterflysub2.png</string>
        </dict>
    </dict>
</plist>
