<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_121_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,822},{190,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,367}}</string>
                <key>sourceSize</key>
                <string>{190,367}</string>
            </dict>
            <key>sp_base_121_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{188,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,358}}</string>
                <key>sourceSize</key>
                <string>{188,358}</string>
            </dict>
            <key>sp_base_121_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,419},{212,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,401}}</string>
                <key>sourceSize</key>
                <string>{212,401}</string>
            </dict>
            <key>sp_base_121_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,174},{187,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,377}}</string>
                <key>sourceSize</key>
                <string>{187,377}</string>
            </dict>
            <key>sp_base_121_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,363},{172,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,370}}</string>
                <key>sourceSize</key>
                <string>{172,370}</string>
            </dict>
            <key>sp_base_121_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{170,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,401}}</string>
                <key>sourceSize</key>
                <string>{170,401}</string>
            </dict>
            <key>sp_base_121_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{189,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,415}}</string>
                <key>sourceSize</key>
                <string>{189,415}</string>
            </dict>
            <key>sp_base_121_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{196,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,427}}</string>
                <key>sourceSize</key>
                <string>{196,427}</string>
            </dict>
            <key>sp_base_121_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,436},{203,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,421}}</string>
                <key>sourceSize</key>
                <string>{203,421}</string>
            </dict>
            <key>sp_base_121_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,432}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{221,432}}</string>
                <key>sourceSize</key>
                <string>{249,432}</string>
            </dict>
            <key>sp_base_121_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,537},{183,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,345}}</string>
                <key>sourceSize</key>
                <string>{183,345}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_121.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b9fb3b2b10bf12f5b40e80ccec8b0f9$</string>
            <key>textureFileName</key>
            <string>sp_base_121.png</string>
        </dict>
    </dict>
</plist>
