<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_guihuo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,302},{91,102}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,102}}</string>
                <key>sourceSize</key>
                <string>{107,102}</string>
            </dict>
            <key>sp_guihuo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,147},{99,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{99,143}}</string>
                <key>sourceSize</key>
                <string>{105,143}</string>
            </dict>
            <key>sp_guihuo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,300},{99,143}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{99,143}}</string>
                <key>sourceSize</key>
                <string>{107,143}</string>
            </dict>
            <key>sp_guihuo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{98,147}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{98,147}}</string>
                <key>sourceSize</key>
                <string>{106,151}</string>
            </dict>
            <key>sp_guihuo_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,149}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{100,149}}</string>
                <key>sourceSize</key>
                <string>{104,151}</string>
            </dict>
            <key>sp_guihuo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{96,148}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{96,148}}</string>
                <key>sourceSize</key>
                <string>{100,148}</string>
            </dict>
            <key>sp_guihuo_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,153},{90,145}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{90,145}}</string>
                <key>sourceSize</key>
                <string>{96,145}</string>
            </dict>
            <key>sp_guihuo_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,204},{85,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,126}}</string>
                <key>sourceSize</key>
                <string>{85,126}</string>
            </dict>
            <key>sp_guihuo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,292},{88,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,115}}</string>
                <key>sourceSize</key>
                <string>{88,115}</string>
            </dict>
            <key>sp_guihuo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,409},{99,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,123}}</string>
                <key>sourceSize</key>
                <string>{99,123}</string>
            </dict>
            <key>sp_guihuo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,204},{96,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,126}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>sp_guihuo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,406},{91,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,126}}</string>
                <key>sourceSize</key>
                <string>{91,126}</string>
            </dict>
            <key>sp_guihuo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{90,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,131}}</string>
                <key>sourceSize</key>
                <string>{90,131}</string>
            </dict>
            <key>sp_guihuo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,103},{99,130}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{99,130}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>sp_guihuo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{99,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{99,130}}</string>
                <key>sourceSize</key>
                <string>{101,130}</string>
            </dict>
            <key>sp_guihuo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,143}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,143}}</string>
                <key>sourceSize</key>
                <string>{102,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_guihuo.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:058ef920e8f13466736ba2f5b19287a0$</string>
            <key>textureFileName</key>
            <string>sp_guihuo.png</string>
        </dict>
    </dict>
</plist>
