<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_mx_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>effect_mx_light_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,234},{101,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,99}}</string>
                <key>sourceSize</key>
                <string>{101,99}</string>
            </dict>
            <key>effect_mx_light_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,337},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>effect_mx_light_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{98,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,94}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>effect_mx_light_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,202},{98,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{98,90}</string>
            </dict>
            <key>effect_mx_light_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{97,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,85}}</string>
                <key>sourceSize</key>
                <string>{97,85}</string>
            </dict>
            <key>effect_mx_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{89,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,97}}</string>
                <key>sourceSize</key>
                <string>{89,97}</string>
            </dict>
            <key>effect_mx_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,99},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{92,94}</string>
            </dict>
            <key>effect_mx_light_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,102},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>effect_mx_light_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>effect_mx_light_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{109,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,113}}</string>
                <key>sourceSize</key>
                <string>{109,113}</string>
            </dict>
            <key>effect_mx_light_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,115}}</string>
                <key>sourceSize</key>
                <string>{109,115}</string>
            </dict>
            <key>effect_mx_light_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{106,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,102}}</string>
                <key>sourceSize</key>
                <string>{106,102}</string>
            </dict>
            <key>effect_mx_light_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,102},{98,93}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{98,93}}</string>
                <key>sourceSize</key>
                <string>{102,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_mx_light.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ba91faabcb529fddba2f5a903bba544$</string>
            <key>textureFileName</key>
            <string>effect_mx_light.png</string>
        </dict>
    </dict>
</plist>
