<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_longxuying_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,211}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{60,211}}</string>
                <key>sourceSize</key>
                <string>{82,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_longxuying.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d5a91be44acbed862002ebadcb32bf3$</string>
            <key>textureFileName</key>
            <string>sp_longxuying.png</string>
        </dict>
    </dict>
</plist>
