<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_3strike_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,89},{12,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,41}}</string>
                <key>sourceSize</key>
                <string>{12,41}</string>
            </dict>
            <key>effect_3strike_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{21,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,87}}</string>
                <key>sourceSize</key>
                <string>{21,87}</string>
            </dict>
            <key>effect_3strike_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,81},{12,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,73}}</string>
                <key>sourceSize</key>
                <string>{12,73}</string>
            </dict>
            <key>effect_3strike_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,89},{20,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,56}}</string>
                <key>sourceSize</key>
                <string>{20,56}</string>
            </dict>
            <key>effect_3strike_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{23,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,66}}</string>
                <key>sourceSize</key>
                <string>{23,66}</string>
            </dict>
            <key>effect_3strike_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{37,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,75}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>effect_3strike_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{15,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,78}}</string>
                <key>sourceSize</key>
                <string>{15,78}</string>
            </dict>
            <key>effect_3strike_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{14,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,73}}</string>
                <key>sourceSize</key>
                <string>{14,73}</string>
            </dict>
            <key>effect_3strike_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,147},{14,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,46}}</string>
                <key>sourceSize</key>
                <string>{14,46}</string>
            </dict>
            <key>effect_3strike_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{10,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,33}}</string>
                <key>sourceSize</key>
                <string>{10,33}</string>
            </dict>
            <key>effect_3strike_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{19,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,64}}</string>
                <key>sourceSize</key>
                <string>{19,64}</string>
            </dict>
            <key>effect_3strike_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,14},{32,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{32,73}}</string>
                <key>sourceSize</key>
                <string>{36,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_3strike.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71a9a18adbc9e77a659ac15fc9c55971$</string>
            <key>textureFileName</key>
            <string>effect_3strike.png</string>
        </dict>
    </dict>
</plist>
