<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zc_hyd_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,268},{130,260}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{130,260}}</string>
                <key>sourceSize</key>
                <string>{144,280}</string>
            </dict>
            <key>effect_zc_hyd_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{129,266}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{129,266}}</string>
                <key>sourceSize</key>
                <string>{143,280}</string>
            </dict>
            <key>effect_zc_hyd_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,252},{126,248}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{126,248}}</string>
                <key>sourceSize</key>
                <string>{144,280}</string>
            </dict>
            <key>effect_zc_hyd_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{130,248}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{130,248}}</string>
                <key>sourceSize</key>
                <string>{144,272}</string>
            </dict>
            <key>effect_zc_hyd_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{126,252}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{126,252}}</string>
                <key>sourceSize</key>
                <string>{144,276}</string>
            </dict>
            <key>effect_zc_hyd_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{132,260}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{132,260}}</string>
                <key>sourceSize</key>
                <string>{144,280}</string>
            </dict>
            <key>effect_zc_hyd_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{126,252}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{126,252}}</string>
                <key>sourceSize</key>
                <string>{144,280}</string>
            </dict>
            <key>effect_zc_hyd_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,792},{132,250}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{132,250}}</string>
                <key>sourceSize</key>
                <string>{144,280}</string>
            </dict>
            <key>effect_zc_hyd_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,530},{128,260}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{128,260}}</string>
                <key>sourceSize</key>
                <string>{144,280}</string>
            </dict>
            <key>effect_zc_hyd_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,538},{128,266}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,266}}</string>
                <key>sourceSize</key>
                <string>{144,280}</string>
            </dict>
            <key>effect_zc_hyd_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{130,264}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,264}}</string>
                <key>sourceSize</key>
                <string>{144,280}</string>
            </dict>
            <key>effect_zc_hyd_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{136,266}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,266}}</string>
                <key>sourceSize</key>
                <string>{144,280}</string>
            </dict>
            <key>effect_zc_hyd_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,266}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{136,266}}</string>
                <key>sourceSize</key>
                <string>{144,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zc_hyd_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b40e14cc7bfaadae05464dea6c552daa$</string>
            <key>textureFileName</key>
            <string>effect_zc_hyd_1.png</string>
        </dict>
    </dict>
</plist>
