<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_370_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{90,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>sp_base_370_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{76,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>sp_base_370_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,371},{63,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{63,76}}</string>
                <key>sourceSize</key>
                <string>{65,78}</string>
            </dict>
            <key>sp_base_370_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,94},{95,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,102}}</string>
                <key>sourceSize</key>
                <string>{97,102}</string>
            </dict>
            <key>sp_base_370_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{94,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,101}}</string>
                <key>sourceSize</key>
                <string>{96,103}</string>
            </dict>
            <key>sp_base_370_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>sp_base_370_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,273},{96,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,99}}</string>
                <key>sourceSize</key>
                <string>{98,101}</string>
            </dict>
            <key>sp_base_370_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,107}}</string>
                <key>sourceSize</key>
                <string>{94,107}</string>
            </dict>
            <key>sp_base_370_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{90,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,102}}</string>
                <key>sourceSize</key>
                <string>{92,102}</string>
            </dict>
            <key>sp_base_370_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,191},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,101}}</string>
                <key>sourceSize</key>
                <string>{84,101}</string>
            </dict>
            <key>sp_base_370_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,382},{73,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{73,88}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_370.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32bc3dc33d538b21d50a42058be7d47f$</string>
            <key>textureFileName</key>
            <string>sp_base_370.png</string>
        </dict>
    </dict>
</plist>
