<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_skill_haifeisi_gongji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{238,94}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,41},{238,94}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{322,96}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,40},{322,96}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1499},{250,98}}</string>
                <key>offset</key>
                <string>{30,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,37},{250,98}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1507},{236,92}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,42},{236,92}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,965},{54,86}}</string>
                <key>offset</key>
                <string>{-2,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,25},{54,86}}</string>
                <key>sourceSize</key>
                <string>{150,350}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,909},{54,86}}</string>
                <key>offset</key>
                <string>{-2,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,25},{54,86}}</string>
                <key>sourceSize</key>
                <string>{150,350}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1021},{78,120}}</string>
                <key>offset</key>
                <string>{-2,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{78,120}}</string>
                <key>sourceSize</key>
                <string>{150,350}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1309},{102,168}}</string>
                <key>offset</key>
                <string>{-3,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{102,168}}</string>
                <key>sourceSize</key>
                <string>{150,350}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1479},{120,222}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{120,222}}</string>
                <key>sourceSize</key>
                <string>{150,350}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,622},{148,280}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{148,280}}</string>
                <key>sourceSize</key>
                <string>{150,350}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,1268},{144,286}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,25},{144,286}}</string>
                <key>sourceSize</key>
                <string>{150,350}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1420},{272,100}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{272,100}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1163},{144,296}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,25},{144,296}}</string>
                <key>sourceSize</key>
                <string>{150,350}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,904},{146,302}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{146,302}}</string>
                <key>sourceSize</key>
                <string>{150,350}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,2},{150,310}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{150,310}}</string>
                <key>sourceSize</key>
                <string>{150,350}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,314},{150,306}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{150,306}}</string>
                <key>sourceSize</key>
                <string>{150,350}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1017},{144,298}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{144,298}}</string>
                <key>sourceSize</key>
                <string>{150,350}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{146,276}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{146,276}}</string>
                <key>sourceSize</key>
                <string>{150,350}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1357},{140,274}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,36},{140,274}}</string>
                <key>sourceSize</key>
                <string>{150,350}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2039,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{150,350}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1182},{173,285}}</string>
                <key>offset</key>
                <string>{-17,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,33},{173,285}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1208},{195,253}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,12},{195,253}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,919},{284,106}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,30},{284,106}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,1013},{307,291}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,11},{307,291}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,871},{359,301}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{359,301}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,883},{337,297}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{337,297}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,907},{357,259}}</string>
                <key>offset</key>
                <string>{8,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{357,259}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{367,249}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{367,249}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,624},{367,293}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{367,293}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,612},{375,293}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,293}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,323},{375,299}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,299}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,311},{375,299}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,299}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{375,289}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,289}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1168},{288,98}}</string>
                <key>offset</key>
                <string>{15,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,37},{288,98}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,329},{375,281}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,281}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,309},{375,299}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,299}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,2},{375,305}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,305}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,2},{375,307}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,307}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{375,319}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{375,319}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{375,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,325}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,610},{375,297}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,297}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{375,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,325}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,612},{375,269}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,269}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,909},{310,102}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,32},{310,102}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1205},{274,106}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,29},{274,106}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1407},{262,98}}</string>
                <key>offset</key>
                <string>{22,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,38},{262,98}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1309},{276,96}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,39},{276,96}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>sp_skill_haifeisi_gongji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,919},{300,96}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,39},{300,96}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_skill_haifeisi_gongji.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:363b3e846da910a9134c7c28f4db5003$</string>
            <key>textureFileName</key>
            <string>sp_skill_haifeisi_gongji.png</string>
        </dict>
    </dict>
</plist>
