<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_298_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,323},{94,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,113}}</string>
                <key>sourceSize</key>
                <string>{94,115}</string>
            </dict>
            <key>sp_base_298_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,228},{93,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,83}}</string>
                <key>sourceSize</key>
                <string>{93,83}</string>
            </dict>
            <key>sp_base_298_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{160,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,149}}</string>
                <key>sourceSize</key>
                <string>{160,149}</string>
            </dict>
            <key>sp_base_298_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,77},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>sp_base_298_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{202,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,68}}</string>
                <key>sourceSize</key>
                <string>{202,68}</string>
            </dict>
            <key>sp_base_298_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,128},{158,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,39}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>sp_base_298_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{274,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,73}}</string>
                <key>sourceSize</key>
                <string>{274,73}</string>
            </dict>
            <key>sp_base_298_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{274,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,9}}</string>
                <key>sourceSize</key>
                <string>{274,9}</string>
            </dict>
            <key>sp_base_298_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,3}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{212,3}}</string>
                <key>sourceSize</key>
                <string>{216,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_298.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fd1f18797aa73a25c265b9f22282592$</string>
            <key>textureFileName</key>
            <string>sp_base_298.png</string>
        </dict>
    </dict>
</plist>
