<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_54_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{533,112}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{533,112}}</string>
                <key>sourceSize</key>
                <string>{575,128}</string>
            </dict>
            <key>effect_54_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{634,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,229}}</string>
                <key>sourceSize</key>
                <string>{634,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_54.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0f6768b98cb7f60e14f952f19ac054c$</string>
            <key>textureFileName</key>
            <string>effect_54.png</string>
        </dict>
    </dict>
</plist>
