<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_2group_shenshy_dashan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,479},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>sp_2group_shenshy_dashan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{92,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,18}}</string>
                <key>sourceSize</key>
                <string>{92,18}</string>
            </dict>
            <key>sp_2group_shenshy_dashan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{114,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,106}</string>
            </dict>
            <key>sp_2group_shenshy_dashan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{133,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,119}}</string>
                <key>sourceSize</key>
                <string>{133,119}</string>
            </dict>
            <key>sp_2group_shenshy_dashan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,354},{154,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,133}}</string>
                <key>sourceSize</key>
                <string>{154,133}</string>
            </dict>
            <key>sp_2group_shenshy_dashan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,354},{173,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,139}}</string>
                <key>sourceSize</key>
                <string>{173,139}</string>
            </dict>
            <key>sp_2group_shenshy_dashan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{192,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,158}}</string>
                <key>sourceSize</key>
                <string>{192,158}</string>
            </dict>
            <key>sp_2group_shenshy_dashan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,185},{206,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,167}}</string>
                <key>sourceSize</key>
                <string>{206,167}</string>
            </dict>
            <key>sp_2group_shenshy_dashan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{219,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,181}}</string>
                <key>sourceSize</key>
                <string>{219,181}</string>
            </dict>
            <key>sp_2group_shenshy_dashan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,194}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_2group_shenshy_dashan.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87cf65516b784529a08b46a0896404f3$</string>
            <key>textureFileName</key>
            <string>sp_2group_shenshy_dashan.png</string>
        </dict>
    </dict>
</plist>
