<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_kaichang_sub3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,273},{86,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{86,134}}</string>
                <key>sourceSize</key>
                <string>{88,138}</string>
            </dict>
            <key>effect_kaichang_sub3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,362},{209,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,269}}</string>
                <key>sourceSize</key>
                <string>{209,269}</string>
            </dict>
            <key>effect_kaichang_sub3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,2},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>effect_kaichang_sub3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,273},{372,255}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{372,255}}</string>
                <key>sourceSize</key>
                <string>{406,255}</string>
            </dict>
            <key>effect_kaichang_sub3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,409},{96,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,46}}</string>
                <key>sourceSize</key>
                <string>{96,46}</string>
            </dict>
            <key>effect_kaichang_sub3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,573},{240,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,312}}</string>
                <key>sourceSize</key>
                <string>{240,312}</string>
            </dict>
            <key>effect_kaichang_sub3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{269,417}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{269,417}}</string>
                <key>sourceSize</key>
                <string>{269,481}</string>
            </dict>
            <key>effect_kaichang_sub3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{554,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,358}}</string>
                <key>sourceSize</key>
                <string>{554,358}</string>
            </dict>
            <key>effect_kaichang_sub3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,2},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>effect_kaichang_sub3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{468,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,262}}</string>
                <key>sourceSize</key>
                <string>{468,262}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_kaichang_sub3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2fdd8ad5c59b096faf8eeff37f6c220$</string>
            <key>textureFileName</key>
            <string>effect_kaichang_sub3.png</string>
        </dict>
    </dict>
</plist>
