<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,750},{440,725}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{440,725}}</string>
                <key>sourceSize</key>
                <string>{446,735}</string>
            </dict>
            <key>effect_14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{607,571}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{607,571}}</string>
                <key>sourceSize</key>
                <string>{611,579}</string>
            </dict>
            <key>effect_14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{531,641}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{531,641}}</string>
                <key>sourceSize</key>
                <string>{537,649}</string>
            </dict>
            <key>effect_14_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{264,746}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{264,746}}</string>
                <key>sourceSize</key>
                <string>{270,754}</string>
            </dict>
            <key>effect_14_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{489,675}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{489,675}}</string>
                <key>sourceSize</key>
                <string>{495,681}</string>
            </dict>
            <key>effect_14_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1477},{512,556}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{512,556}}</string>
                <key>sourceSize</key>
                <string>{520,562}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_14.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7a0bb873cc687ab828b46b630e986c2$</string>
            <key>textureFileName</key>
            <string>effect_14.png</string>
        </dict>
    </dict>
</plist>
