<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_attack_xishi_putong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,287},{50,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,43}}</string>
                <key>sourceSize</key>
                <string>{62,55}</string>
            </dict>
            <key>sp_attack_xishi_putong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{132,140}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{132,140}}</string>
                <key>sourceSize</key>
                <string>{142,150}</string>
            </dict>
            <key>sp_attack_xishi_putong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{233,191}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{233,191}}</string>
                <key>sourceSize</key>
                <string>{243,201}</string>
            </dict>
            <key>sp_attack_xishi_putong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,180}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{268,180}}</string>
                <key>sourceSize</key>
                <string>{278,190}</string>
            </dict>
            <key>sp_attack_xishi_putong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{245,167}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{245,167}}</string>
                <key>sourceSize</key>
                <string>{255,175}</string>
            </dict>
            <key>sp_attack_xishi_putong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,353},{180,118}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{180,118}}</string>
                <key>sourceSize</key>
                <string>{190,130}</string>
            </dict>
            <key>sp_attack_xishi_putong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,195},{73,90}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{73,90}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_attack_xishi_putong.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62fae18521f7f05f75fcc22cd792b111$</string>
            <key>textureFileName</key>
            <string>sp_attack_xishi_putong.png</string>
        </dict>
    </dict>
</plist>
