<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_chongsheng_baozha_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1336},{449,430}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,430}}</string>
                <key>sourceSize</key>
                <string>{451,432}</string>
            </dict>
            <key>effect_chongsheng_baozha_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1334},{470,453}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{470,453}}</string>
                <key>sourceSize</key>
                <string>{472,463}</string>
            </dict>
            <key>effect_chongsheng_baozha_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{499,434}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,434}}</string>
                <key>sourceSize</key>
                <string>{515,436}</string>
            </dict>
            <key>effect_chongsheng_baozha_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{486,457}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{486,457}}</string>
                <key>sourceSize</key>
                <string>{504,459}</string>
            </dict>
            <key>effect_chongsheng_baozha_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{506,459}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{506,459}}</string>
                <key>sourceSize</key>
                <string>{534,473}</string>
            </dict>
            <key>effect_chongsheng_baozha_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,438},{492,443}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,443}}</string>
                <key>sourceSize</key>
                <string>{504,445}</string>
            </dict>
            <key>effect_chongsheng_baozha_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,883},{481,449}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,449}}</string>
                <key>sourceSize</key>
                <string>{483,451}</string>
            </dict>
            <key>effect_chongsheng_baozha_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{481,412}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,412}}</string>
                <key>sourceSize</key>
                <string>{483,430}</string>
            </dict>
            <key>effect_chongsheng_baozha_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1789},{258,247}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{258,247}}</string>
                <key>sourceSize</key>
                <string>{260,261}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_chongsheng_baozha.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43fec3a00f6cc7617d6156cb67f05aaf$</string>
            <key>textureFileName</key>
            <string>effect_chongsheng_baozha.png</string>
        </dict>
    </dict>
</plist>
