<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_choujiang_star_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{206,157}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,157}}</string>
                <key>sourceSize</key>
                <string>{206,163}</string>
            </dict>
            <key>effect_choujiang_star_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{252,163}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{252,163}}</string>
                <key>sourceSize</key>
                <string>{256,165}</string>
            </dict>
            <key>effect_choujiang_star_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,161},{295,176}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{295,176}}</string>
                <key>sourceSize</key>
                <string>{299,180}</string>
            </dict>
            <key>effect_choujiang_star_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{299,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,163}}</string>
                <key>sourceSize</key>
                <string>{299,163}</string>
            </dict>
            <key>effect_choujiang_star_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{227,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,167}}</string>
                <key>sourceSize</key>
                <string>{227,167}</string>
            </dict>
            <key>effect_choujiang_star_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,458},{222,172}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{222,172}}</string>
                <key>sourceSize</key>
                <string>{224,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_choujiang_star_6.png</string>
            <key>size</key>
            <string>{511,632}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27cad1875c186154de3694f1e663a680$</string>
            <key>textureFileName</key>
            <string>effect_choujiang_star_6.png</string>
        </dict>
    </dict>
</plist>
