<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_appear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,813},{257,127}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,27},{257,127}}</string>
                <key>sourceSize</key>
                <string>{385,179}</string>
            </dict>
            <key>effect_appear_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{263,809}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,15},{263,809}}</string>
                <key>sourceSize</key>
                <string>{385,847}</string>
            </dict>
            <key>effect_appear_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,957},{251,817}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,10},{251,817}}</string>
                <key>sourceSize</key>
                <string>{385,857}</string>
            </dict>
            <key>effect_appear_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,953}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{233,953}}</string>
                <key>sourceSize</key>
                <string>{385,983}</string>
            </dict>
            <key>effect_appear_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,2},{229,457}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,45},{229,457}}</string>
                <key>sourceSize</key>
                <string>{385,531}</string>
            </dict>
            <key>effect_appear_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1650},{225,395}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,10},{225,395}}</string>
                <key>sourceSize</key>
                <string>{385,435}</string>
            </dict>
            <key>effect_appear_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1603},{223,429}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,14},{223,429}}</string>
                <key>sourceSize</key>
                <string>{385,477}</string>
            </dict>
            <key>effect_appear_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,547},{235,255}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,24},{235,255}}</string>
                <key>sourceSize</key>
                <string>{385,315}</string>
            </dict>
            <key>effect_appear_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,1357},{231,265}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,14},{231,265}}</string>
                <key>sourceSize</key>
                <string>{385,315}</string>
            </dict>
            <key>effect_appear_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,233},{225,219}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,22},{225,219}}</string>
                <key>sourceSize</key>
                <string>{385,281}</string>
            </dict>
            <key>effect_appear_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1357},{215,233}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,36},{215,233}}</string>
                <key>sourceSize</key>
                <string>{385,307}</string>
            </dict>
            <key>effect_appear_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1776},{269,535}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,60},{269,535}}</string>
                <key>sourceSize</key>
                <string>{385,615}</string>
            </dict>
            <key>effect_appear_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,2},{211,245}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,20},{211,245}}</string>
                <key>sourceSize</key>
                <string>{385,303}</string>
            </dict>
            <key>effect_appear_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,233},{207,255}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,14},{207,255}}</string>
                <key>sourceSize</key>
                <string>{385,309}</string>
            </dict>
            <key>effect_appear_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,1590},{199,265}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,11},{199,265}}</string>
                <key>sourceSize</key>
                <string>{385,317}</string>
            </dict>
            <key>effect_appear_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1592},{199,271}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,15},{199,271}}</string>
                <key>sourceSize</key>
                <string>{385,329}</string>
            </dict>
            <key>effect_appear_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,1865},{185,176}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,27},{185,176}}</string>
                <key>sourceSize</key>
                <string>{385,242}</string>
            </dict>
            <key>effect_appear_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,1857},{183,174}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,13},{183,174}}</string>
                <key>sourceSize</key>
                <string>{385,218}</string>
            </dict>
            <key>effect_appear_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1865},{181,168}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,21},{181,168}}</string>
                <key>sourceSize</key>
                <string>{385,222}</string>
            </dict>
            <key>effect_appear_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,813},{165,140}}</string>
                <key>offset</key>
                <string>{17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,31},{165,140}}</string>
                <key>sourceSize</key>
                <string>{385,214}</string>
            </dict>
            <key>effect_appear_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1650},{151,90}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,28},{151,90}}</string>
                <key>sourceSize</key>
                <string>{385,158}</string>
            </dict>
            <key>effect_appear_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1519},{151,84}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,72},{151,84}}</string>
                <key>sourceSize</key>
                <string>{385,176}</string>
            </dict>
            <key>effect_appear_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,2},{267,543}}</string>
                <key>offset</key>
                <string>{-6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,108},{267,543}}</string>
                <key>sourceSize</key>
                <string>{385,667}</string>
            </dict>
            <key>effect_appear_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,812},{151,80}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,31},{151,80}}</string>
                <key>sourceSize</key>
                <string>{385,130}</string>
            </dict>
            <key>effect_appear_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1519},{151,82}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,48},{151,82}}</string>
                <key>sourceSize</key>
                <string>{385,162}</string>
            </dict>
            <key>effect_appear_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,549},{261,543}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,37},{261,543}}</string>
                <key>sourceSize</key>
                <string>{385,595}</string>
            </dict>
            <key>effect_appear_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,812},{251,543}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,41},{251,543}}</string>
                <key>sourceSize</key>
                <string>{385,599}</string>
            </dict>
            <key>effect_appear_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{261,545}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,40},{261,545}}</string>
                <key>sourceSize</key>
                <string>{385,599}</string>
            </dict>
            <key>effect_appear_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,2},{271,543}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,49},{271,543}}</string>
                <key>sourceSize</key>
                <string>{385,607}</string>
            </dict>
            <key>effect_appear_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,942},{281,575}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,37},{281,575}}</string>
                <key>sourceSize</key>
                <string>{385,629}</string>
            </dict>
            <key>effect_appear_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,955},{287,693}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,28},{287,693}}</string>
                <key>sourceSize</key>
                <string>{385,741}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_appear.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9704459d4980e8feb00de325c7ad74f7$</string>
            <key>textureFileName</key>
            <string>effect_appear.png</string>
        </dict>
    </dict>
</plist>
