<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_xueli_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,31}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{27,31}}</string>
                <key>sourceSize</key>
                <string>{39,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_xueli.png</string>
            <key>size</key>
            <string>{32,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f937b20bf6cc36b2df5f0d51b6a30136$</string>
            <key>textureFileName</key>
            <string>sp_xueli.png</string>
        </dict>
    </dict>
</plist>
