<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_bomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{283,209}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,55},{283,209}}</string>
                <key>sourceSize</key>
                <string>{305,273}</string>
            </dict>
            <key>effect_bomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{287,225}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,39},{287,225}}</string>
                <key>sourceSize</key>
                <string>{305,273}</string>
            </dict>
            <key>effect_bomb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{297,237}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{297,237}}</string>
                <key>sourceSize</key>
                <string>{305,273}</string>
            </dict>
            <key>effect_bomb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{205,231}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,16},{205,231}}</string>
                <key>sourceSize</key>
                <string>{305,273}</string>
            </dict>
            <key>effect_bomb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,663},{217,215}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,12},{217,215}}</string>
                <key>sourceSize</key>
                <string>{305,273}</string>
            </dict>
            <key>effect_bomb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,287},{219,221}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{219,221}}</string>
                <key>sourceSize</key>
                <string>{305,273}</string>
            </dict>
            <key>effect_bomb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,510},{151,221}}</string>
                <key>offset</key>
                <string>{-27,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,6},{151,221}}</string>
                <key>sourceSize</key>
                <string>{305,273}</string>
            </dict>
            <key>effect_bomb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,468},{136,42}}</string>
                <key>offset</key>
                <string>{-15,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,70},{136,42}}</string>
                <key>sourceSize</key>
                <string>{310,278}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_bomb.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7d6783e3676151fba9d1b8f8c83754d$</string>
            <key>textureFileName</key>
            <string>effect_bomb.png</string>
        </dict>
    </dict>
</plist>
