<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_main3_zhangliao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,264}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{276,264}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_main3_zhangliao.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c69ff0efe644f16356d73a0b8fbb152a$</string>
            <key>textureFileName</key>
            <string>effect_main3_zhangliao.png</string>
        </dict>
    </dict>
</plist>
