<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhanchong_feng_ready_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,113}}</string>
                <key>sourceSize</key>
                <string>{197,113}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{73,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,108}}</string>
                <key>sourceSize</key>
                <string>{73,108}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,378},{58,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,99}}</string>
                <key>sourceSize</key>
                <string>{58,99}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,243},{55,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,74}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,365},{52,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,90}}</string>
                <key>sourceSize</key>
                <string>{52,90}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,184},{76,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,352},{43,69}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{43,69}}</string>
                <key>sourceSize</key>
                <string>{49,77}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{77,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,109}}</string>
                <key>sourceSize</key>
                <string>{77,109}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{98,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,138}}</string>
                <key>sourceSize</key>
                <string>{98,138}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,117},{57,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,86}}</string>
                <key>sourceSize</key>
                <string>{57,86}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,102},{52,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,97}}</string>
                <key>sourceSize</key>
                <string>{52,97}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,446},{64,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,55}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,479},{28,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,72}}</string>
                <key>sourceSize</key>
                <string>{28,72}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,218},{80,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,298},{70,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,44}}</string>
                <key>sourceSize</key>
                <string>{70,44}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,218},{64,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,47}}</string>
                <key>sourceSize</key>
                <string>{64,47}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,201},{66,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,57}}</string>
                <key>sourceSize</key>
                <string>{66,57}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,267},{83,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,76}}</string>
                <key>sourceSize</key>
                <string>{83,76}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{88,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,116}}</string>
                <key>sourceSize</key>
                <string>{88,116}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,184},{57,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,75}}</string>
                <key>sourceSize</key>
                <string>{57,75}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,457},{57,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,268},{87,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,72}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,271},{105,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,59}}</string>
                <key>sourceSize</key>
                <string>{105,59}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{106,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,94}}</string>
                <key>sourceSize</key>
                <string>{106,94}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,357},{68,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,87}}</string>
                <key>sourceSize</key>
                <string>{68,87}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,176},{40,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,86}}</string>
                <key>sourceSize</key>
                <string>{40,86}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,102},{111,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,80}}</string>
                <key>sourceSize</key>
                <string>{111,80}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,92},{115,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,90}}</string>
                <key>sourceSize</key>
                <string>{115,90}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,271},{62,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{107,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,46}}</string>
                <key>sourceSize</key>
                <string>{107,46}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{98,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,51}}</string>
                <key>sourceSize</key>
                <string>{98,51}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,262},{34,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{34,47}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,201},{64,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,44}}</string>
                <key>sourceSize</key>
                <string>{64,44}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,139},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>effect_zhanchong_feng_ready_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,102},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhanchong_feng_ready.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52cf330b741834e07489f7ddbdd05b9c$</string>
            <key>textureFileName</key>
            <string>effect_zhanchong_feng_ready.png</string>
        </dict>
    </dict>
</plist>
