<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fbqh_sj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{2,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{2,70}}</string>
                <key>sourceSize</key>
                <string>{2,78}</string>
            </dict>
            <key>effect_fbqh_sj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,170}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{209,170}}</string>
                <key>sourceSize</key>
                <string>{227,176}</string>
            </dict>
            <key>effect_fbqh_sj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{138,98}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{138,98}}</string>
                <key>sourceSize</key>
                <string>{176,134}</string>
            </dict>
            <key>effect_fbqh_sj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,174},{89,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,71}}</string>
                <key>sourceSize</key>
                <string>{89,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fbqh_sj.png</string>
            <key>size</key>
            <string>{233,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:047865769d646b16cb9f27e3e57255cf$</string>
            <key>textureFileName</key>
            <string>effect_fbqh_sj.png</string>
        </dict>
    </dict>
</plist>
