<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_099_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,562},{280,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,268}}</string>
                <key>sourceSize</key>
                <string>{280,268}</string>
            </dict>
            <key>sp_base_099_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,539},{293,283}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{293,283}}</string>
                <key>sourceSize</key>
                <string>{293,287}</string>
            </dict>
            <key>sp_base_099_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{312,271}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,271}}</string>
                <key>sourceSize</key>
                <string>{320,271}</string>
            </dict>
            <key>sp_base_099_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,275},{303,285}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{303,285}}</string>
                <key>sourceSize</key>
                <string>{313,285}</string>
            </dict>
            <key>sp_base_099_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,286}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{316,286}}</string>
                <key>sourceSize</key>
                <string>{332,294}</string>
            </dict>
            <key>sp_base_099_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{307,276}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,276}}</string>
                <key>sourceSize</key>
                <string>{313,276}</string>
            </dict>
            <key>sp_base_099_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{300,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>sp_base_099_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,280},{300,257}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,257}}</string>
                <key>sourceSize</key>
                <string>{300,267}</string>
            </dict>
            <key>sp_base_099_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{258,247}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{258,247}}</string>
                <key>sourceSize</key>
                <string>{260,261}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_099.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14153240b5c0f4688153f9a5ad5f1639$</string>
            <key>textureFileName</key>
            <string>sp_base_099.png</string>
        </dict>
    </dict>
</plist>
