<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_db_dx1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,140},{43,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{43,36}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>effect_db_dx1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,85},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,54}}</string>
                <key>sourceSize</key>
                <string>{66,56}</string>
            </dict>
            <key>effect_db_dx1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,141},{63,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,53}}</string>
                <key>sourceSize</key>
                <string>{63,53}</string>
            </dict>
            <key>effect_db_dx1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,196},{63,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,54}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>effect_db_dx1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,82},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>effect_db_dx1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,196},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>effect_db_dx1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>effect_db_dx1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{77,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,78}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>effect_db_dx1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>effect_db_dx1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{85,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{85,86}}</string>
                <key>sourceSize</key>
                <string>{89,90}</string>
            </dict>
            <key>effect_db_dx1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,88}}</string>
                <key>sourceSize</key>
                <string>{89,90}</string>
            </dict>
            <key>effect_db_dx1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,85},{62,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,53}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_db_dx1.png</string>
            <key>size</key>
            <string>{253,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04b0436f35d9f54d2af8b086f7ad6aa2$</string>
            <key>textureFileName</key>
            <string>effect_db_dx1.png</string>
        </dict>
    </dict>
</plist>
