<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_xhcl_xuli_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,173},{47,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,40}}</string>
                <key>sourceSize</key>
                <string>{47,40}</string>
            </dict>
            <key>sp_xhcl_xuli_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,215},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>sp_xhcl_xuli_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,173},{45,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,32}}</string>
                <key>sourceSize</key>
                <string>{45,32}</string>
            </dict>
            <key>sp_xhcl_xuli_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,38},{34,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,91}}</string>
                <key>sourceSize</key>
                <string>{34,91}</string>
            </dict>
            <key>sp_xhcl_xuli_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,108},{34,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,80}}</string>
                <key>sourceSize</key>
                <string>{34,80}</string>
            </dict>
            <key>sp_xhcl_xuli_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,74},{34,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,86}}</string>
                <key>sourceSize</key>
                <string>{34,86}</string>
            </dict>
            <key>sp_xhcl_xuli_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{34,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,80}}</string>
                <key>sourceSize</key>
                <string>{34,80}</string>
            </dict>
            <key>sp_xhcl_xuli_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{34,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,102}}</string>
                <key>sourceSize</key>
                <string>{34,102}</string>
            </dict>
            <key>sp_xhcl_xuli_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{34,121}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{34,121}}</string>
                <key>sourceSize</key>
                <string>{34,129}</string>
            </dict>
            <key>sp_xhcl_xuli_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,147}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{34,147}}</string>
                <key>sourceSize</key>
                <string>{34,151}</string>
            </dict>
            <key>sp_xhcl_xuli_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{32,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,145}}</string>
                <key>sourceSize</key>
                <string>{32,145}</string>
            </dict>
            <key>sp_xhcl_xuli_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,190},{49,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,43}}</string>
                <key>sourceSize</key>
                <string>{49,43}</string>
            </dict>
            <key>sp_xhcl_xuli_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,158},{50,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,43}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>sp_xhcl_xuli_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,126},{52,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,45}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>sp_xhcl_xuli_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,110},{46,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,61}}</string>
                <key>sourceSize</key>
                <string>{46,61}</string>
            </dict>
            <key>sp_xhcl_xuli_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{47,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{47,61}</string>
            </dict>
            <key>sp_xhcl_xuli_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,203},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>sp_xhcl_xuli_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{47,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,40}}</string>
                <key>sourceSize</key>
                <string>{47,40}</string>
            </dict>
            <key>sp_xhcl_xuli_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,74},{50,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,41}}</string>
                <key>sourceSize</key>
                <string>{50,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_xhcl_xuli.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e5bd12ceb08ec2780bc8cdf56571e70$</string>
            <key>textureFileName</key>
            <string>sp_xhcl_xuli.png</string>
        </dict>
    </dict>
</plist>
