<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_mooncity_cg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{337,83}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{337,83}}</string>
                <key>sourceSize</key>
                <string>{345,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_mooncity_cg.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2611b03242b05304ae3797c19910473$</string>
            <key>textureFileName</key>
            <string>effect_mooncity_cg.png</string>
        </dict>
    </dict>
</plist>
