<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_dianshanleiming_yun_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,60}}</string>
                <key>sourceSize</key>
                <string>{127,60}</string>
            </dict>
            <key>sp_dianshanleiming_yun_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{113,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,58}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>sp_dianshanleiming_yun_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,62},{109,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,59}}</string>
                <key>sourceSize</key>
                <string>{109,59}</string>
            </dict>
            <key>sp_dianshanleiming_yun_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{99,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,54}}</string>
                <key>sourceSize</key>
                <string>{99,54}</string>
            </dict>
            <key>sp_dianshanleiming_yun_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{89,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,45}}</string>
                <key>sourceSize</key>
                <string>{89,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_dianshanleiming_yun_end.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:087e2b5609bf723e2c3f7b855a517f87$</string>
            <key>textureFileName</key>
            <string>sp_dianshanleiming_yun_end.png</string>
        </dict>
    </dict>
</plist>
