<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_zc_jiacheng_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,10},{26,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{26,27}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>sp_zc_jiacheng_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{6,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{6,28}}</string>
                <key>sourceSize</key>
                <string>{6,32}</string>
            </dict>
            <key>sp_zc_jiacheng_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,29}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{22,29}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>sp_zc_jiacheng_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{63,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,23}}</string>
                <key>sourceSize</key>
                <string>{65,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_zc_jiacheng_2.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:755402a068f2331e510a6145b6f5d34c$</string>
            <key>textureFileName</key>
            <string>sp_zc_jiacheng_2.png</string>
        </dict>
    </dict>
</plist>
