<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_jinsedaoguang_baoguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,346},{86,90}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,58},{86,90}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>sp_jinsedaoguang_baoguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,268},{82,78}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,61},{82,78}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>sp_jinsedaoguang_baoguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{158,134}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,31},{158,134}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>sp_jinsedaoguang_baoguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{264,178}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{264,178}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>sp_jinsedaoguang_baoguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,184}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{276,184}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>sp_jinsedaoguang_baoguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{266,156}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,35},{266,156}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>sp_jinsedaoguang_baoguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,346},{116,116}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,44},{116,116}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_jinsedaoguang_baoguang.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66e15873bae27726d2ce34d524fd8d89$</string>
            <key>textureFileName</key>
            <string>sp_jinsedaoguang_baoguang.png</string>
        </dict>
    </dict>
</plist>
