<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_cao_pt_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,244},{38,60}}</string>
                <key>offset</key>
                <string>{-35,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,36},{38,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{96,80}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,85},{96,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{50,94}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,86},{50,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,138},{26,62}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,118},{26,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,86},{14,32}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,148},{14,32}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,82},{4,4}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,173},{4,4}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{4,2}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,172},{4,2}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,82},{54,114}}</string>
                <key>offset</key>
                <string>{-20,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,45},{54,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{78,116}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,69},{78,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{78,72}}</string>
                <key>offset</key>
                <string>{-11,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,113},{78,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_02_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,244},{94,70}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,114},{94,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_02_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{78,92}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,90},{78,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_02_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,138},{104,104}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,78},{104,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_02_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,82}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,94},{130,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_02_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{112,80}}</string>
                <key>offset</key>
                <string>{-20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,85},{112,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_cao_pt_02.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b554ac7e36c8c9168eccbafd107c4a0$</string>
            <key>textureFileName</key>
            <string>sp_cao_pt_02.png</string>
        </dict>
    </dict>
</plist>
