<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_kaichang_sub4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{195,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,251}}</string>
                <key>sourceSize</key>
                <string>{195,251}</string>
            </dict>
            <key>effect_kaichang_sub4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{280,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,428}}</string>
                <key>sourceSize</key>
                <string>{280,428}</string>
            </dict>
            <key>effect_kaichang_sub4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{756,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{756,487}}</string>
                <key>sourceSize</key>
                <string>{756,487}</string>
            </dict>
            <key>effect_kaichang_sub4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,199},{308,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,214}}</string>
                <key>sourceSize</key>
                <string>{308,214}</string>
            </dict>
            <key>effect_kaichang_sub4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,509},{548,280}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,280}}</string>
                <key>sourceSize</key>
                <string>{552,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_kaichang_sub4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:894a93c004506a4d2038ea1581f40e67$</string>
            <key>textureFileName</key>
            <string>effect_kaichang_sub4.png</string>
        </dict>
    </dict>
</plist>
