<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_card_show_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,609},{148,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,72}}</string>
                <key>sourceSize</key>
                <string>{150,74}</string>
            </dict>
            <key>effect_card_show_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,786},{484,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,277}}</string>
                <key>sourceSize</key>
                <string>{484,277}</string>
            </dict>
            <key>effect_card_show_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,158},{222,128}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,128}}</string>
                <key>sourceSize</key>
                <string>{226,130}</string>
            </dict>
            <key>effect_card_show_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,751},{292,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,139}}</string>
                <key>sourceSize</key>
                <string>{292,139}</string>
            </dict>
            <key>effect_card_show_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,288},{319,207}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{319,207}}</string>
                <key>sourceSize</key>
                <string>{331,217}</string>
            </dict>
            <key>effect_card_show_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,683},{147,66}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{147,66}}</string>
                <key>sourceSize</key>
                <string>{151,70}</string>
            </dict>
            <key>effect_card_show_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,609},{140,73}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,73}}</string>
                <key>sourceSize</key>
                <string>{144,77}</string>
            </dict>
            <key>effect_card_show_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,751},{121,55}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,55}}</string>
                <key>sourceSize</key>
                <string>{125,59}</string>
            </dict>
            <key>effect_card_show_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,751},{110,37}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,37}}</string>
                <key>sourceSize</key>
                <string>{114,39}</string>
            </dict>
            <key>effect_card_show_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,288},{24,40}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>effect_card_show_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{782,782}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{782,782}}</string>
                <key>sourceSize</key>
                <string>{804,802}</string>
            </dict>
            <key>effect_card_show_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{252,490}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{252,490}}</string>
                <key>sourceSize</key>
                <string>{256,502}</string>
            </dict>
            <key>effect_card_show_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{228,154}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,154}}</string>
                <key>sourceSize</key>
                <string>{232,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_card_show.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0513ca4b5443f72da250af6b265b4094$</string>
            <key>textureFileName</key>
            <string>effect_card_show.png</string>
        </dict>
    </dict>
</plist>
