<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jiangling_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{41,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{41,49}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>effect_jiangling_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,164},{39,43}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{39,43}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>effect_jiangling_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{37,41}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{37,41}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>effect_jiangling_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{37,45}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,45}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>effect_jiangling_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,125},{37,47}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{37,47}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>effect_jiangling_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,45},{37,49}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{37,49}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>effect_jiangling_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{37,49}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{37,49}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>effect_jiangling_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,84},{39,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{39,47}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>effect_jiangling_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{41,49}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>effect_jiangling_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{41,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{41,47}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jiangling_4.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7f66d131df788fb927bec06833723b0$</string>
            <key>textureFileName</key>
            <string>effect_jiangling_4.png</string>
        </dict>
    </dict>
</plist>
