<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_lizhua_hit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,308},{100,74}}</string>
                <key>offset</key>
                <string>{-25,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,73},{100,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sp_lizhua_hit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{148,116}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,56},{148,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sp_lizhua_hit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,116}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,56},{152,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sp_lizhua_hit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{152,112}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,60},{152,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sp_lizhua_hit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,154},{152,96}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,76},{152,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sp_lizhua_hit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{150,94}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,78},{150,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sp_lizhua_hit_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{150,98}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,74},{150,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sp_lizhua_hit_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,384},{114,74}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,74},{114,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sp_lizhua_hit_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{72,38}}</string>
                <key>offset</key>
                <string>{30,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,90},{72,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_lizhua_hit.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7294bb38c082ec132510be1d7e269e37$</string>
            <key>textureFileName</key>
            <string>sp_lizhua_hit.png</string>
        </dict>
    </dict>
</plist>
