<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_button_lingqu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{125,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,52}}</string>
                <key>sourceSize</key>
                <string>{129,56}</string>
            </dict>
            <key>effect_button_lingqu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,88},{159,82}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{159,82}}</string>
                <key>sourceSize</key>
                <string>{177,100}</string>
            </dict>
            <key>effect_button_lingqu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{161,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{161,76}}</string>
                <key>sourceSize</key>
                <string>{177,100}</string>
            </dict>
            <key>effect_button_lingqu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{161,76}}</string>
                <key>sourceSize</key>
                <string>{177,100}</string>
            </dict>
            <key>effect_button_lingqu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,80},{159,82}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{159,82}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>effect_button_lingqu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{159,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{159,84}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>effect_button_lingqu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{157,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{157,84}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>effect_button_lingqu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,250},{153,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{153,84}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>effect_button_lingqu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,172},{153,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{153,84}}</string>
                <key>sourceSize</key>
                <string>{177,100}</string>
            </dict>
            <key>effect_button_lingqu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,164},{157,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{157,84}}</string>
                <key>sourceSize</key>
                <string>{177,100}</string>
            </dict>
            <key>effect_button_lingqu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{159,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{159,84}}</string>
                <key>sourceSize</key>
                <string>{177,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_button_lingqu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b188884cf33787820ed24f79fbbc3672$</string>
            <key>textureFileName</key>
            <string>effect_button_lingqu.png</string>
        </dict>
    </dict>
</plist>
