<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_zdjtzzrtykityhk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,53},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,60}</string>
            </dict>
            <key>sp_zdjtzzrtykityhk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{49,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,60}}</string>
                <key>sourceSize</key>
                <string>{49,60}</string>
            </dict>
            <key>sp_zdjtzzrtykityhk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,60}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>sp_zdjtzzrtykityhk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>sp_zdjtzzrtykityhk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,97},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>sp_zdjtzzrtykityhk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>sp_zdjtzzrtykityhk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>sp_zdjtzzrtykityhk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,150},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_zdjtzzrtykityhk.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19e088eaf31f53b89ea823e4451dd3b4$</string>
            <key>textureFileName</key>
            <string>sp_zdjtzzrtykityhk.png</string>
        </dict>
    </dict>
</plist>
