<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jiangling_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{50,93}}</string>
                <key>sourceSize</key>
                <string>{62,99}</string>
            </dict>
            <key>effect_jiangling_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{46,91}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{46,91}}</string>
                <key>sourceSize</key>
                <string>{62,99}</string>
            </dict>
            <key>effect_jiangling_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,98},{46,85}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,85}}</string>
                <key>sourceSize</key>
                <string>{62,99}</string>
            </dict>
            <key>effect_jiangling_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,185},{46,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{46,83}}</string>
                <key>sourceSize</key>
                <string>{62,99}</string>
            </dict>
            <key>effect_jiangling_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{48,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{48,83}}</string>
                <key>sourceSize</key>
                <string>{62,99}</string>
            </dict>
            <key>effect_jiangling_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,50},{46,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{46,87}}</string>
                <key>sourceSize</key>
                <string>{62,99}</string>
            </dict>
            <key>effect_jiangling_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{48,89}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{48,89}}</string>
                <key>sourceSize</key>
                <string>{62,99}</string>
            </dict>
            <key>effect_jiangling_7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{50,91}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{50,91}}</string>
                <key>sourceSize</key>
                <string>{62,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jiangling_7.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47f8195f6baa31e11a351b7dc7cc4a00$</string>
            <key>textureFileName</key>
            <string>effect_jiangling_7.png</string>
        </dict>
    </dict>
</plist>
