<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_112_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,973},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>effect_112_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,424},{121,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,102}}</string>
                <key>sourceSize</key>
                <string>{121,102}</string>
            </dict>
            <key>effect_112_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,297},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>effect_112_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{155,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,142}}</string>
                <key>sourceSize</key>
                <string>{155,142}</string>
            </dict>
            <key>effect_112_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{156,141}</string>
            </dict>
            <key>effect_112_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{167,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,160}}</string>
                <key>sourceSize</key>
                <string>{167,160}</string>
            </dict>
            <key>effect_112_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,194}}</string>
                <key>sourceSize</key>
                <string>{178,194}</string>
            </dict>
            <key>effect_112_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{155,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,142}}</string>
                <key>sourceSize</key>
                <string>{155,142}</string>
            </dict>
            <key>effect_112_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{156,141}</string>
            </dict>
            <key>effect_112_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{167,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,160}}</string>
                <key>sourceSize</key>
                <string>{167,160}</string>
            </dict>
            <key>effect_112_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,194}}</string>
                <key>sourceSize</key>
                <string>{178,194}</string>
            </dict>
            <key>effect_112_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,973},{81,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,42}}</string>
                <key>sourceSize</key>
                <string>{81,42}</string>
            </dict>
            <key>effect_112_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{155,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,142}}</string>
                <key>sourceSize</key>
                <string>{155,142}</string>
            </dict>
            <key>effect_112_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{156,141}</string>
            </dict>
            <key>effect_112_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{167,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,160}}</string>
                <key>sourceSize</key>
                <string>{167,160}</string>
            </dict>
            <key>effect_112_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,522},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{151,151}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,818},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,157},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,312},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,467},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,93},{89,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,54}}</string>
                <key>sourceSize</key>
                <string>{89,54}</string>
            </dict>
            <key>effect_112_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,663},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,157},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,312},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,834},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,508},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,679},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,157},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{89,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,54}}</string>
                <key>sourceSize</key>
                <string>{89,54}</string>
            </dict>
            <key>effect_112_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,353},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,524},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,198},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,367},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>effect_112_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,184},{74,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,99}}</string>
                <key>sourceSize</key>
                <string>{74,99}</string>
            </dict>
            <key>effect_112_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,405},{103,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,98}}</string>
                <key>sourceSize</key>
                <string>{103,98}</string>
            </dict>
            <key>effect_112_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,155},{140,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,69}}</string>
                <key>sourceSize</key>
                <string>{140,69}</string>
            </dict>
            <key>effect_112_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,226},{139,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,69}}</string>
                <key>sourceSize</key>
                <string>{139,69}</string>
            </dict>
            <key>effect_112_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,285},{118,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,91}}</string>
                <key>sourceSize</key>
                <string>{118,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_112.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5673090e946409844980306e6428383$</string>
            <key>textureFileName</key>
            <string>effect_112.png</string>
        </dict>
    </dict>
</plist>
