<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_bigshow_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{160,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{160,98}}</string>
                <key>sourceSize</key>
                <string>{164,104}</string>
            </dict>
            <key>effect_bigshow_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{162,100}}</string>
                <key>sourceSize</key>
                <string>{164,104}</string>
            </dict>
            <key>effect_bigshow_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{160,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{160,102}}</string>
                <key>sourceSize</key>
                <string>{164,104}</string>
            </dict>
            <key>effect_bigshow_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{158,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{158,100}}</string>
                <key>sourceSize</key>
                <string>{164,104}</string>
            </dict>
            <key>effect_bigshow_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{150,98}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{150,98}}</string>
                <key>sourceSize</key>
                <string>{164,104}</string>
            </dict>
            <key>effect_bigshow_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{150,96}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{150,96}}</string>
                <key>sourceSize</key>
                <string>{164,104}</string>
            </dict>
            <key>effect_bigshow_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,106},{152,96}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{152,96}}</string>
                <key>sourceSize</key>
                <string>{164,104}</string>
            </dict>
            <key>effect_bigshow_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,104},{158,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{158,98}}</string>
                <key>sourceSize</key>
                <string>{164,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_bigshow_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:817a3bddf9bf2380eba853ce7b453002$</string>
            <key>textureFileName</key>
            <string>effect_bigshow_1.png</string>
        </dict>
    </dict>
</plist>
