<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_hbyc_zhua_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,270},{261,238}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,13},{261,238}}</string>
                <key>sourceSize</key>
                <string>{315,308}</string>
            </dict>
            <key>sp_hbyc_zhua_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{266,232}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{266,232}}</string>
                <key>sourceSize</key>
                <string>{314,300}</string>
            </dict>
            <key>sp_hbyc_zhua_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,225}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{278,225}}</string>
                <key>sourceSize</key>
                <string>{316,285}</string>
            </dict>
            <key>sp_hbyc_zhua_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{266,193}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{266,193}}</string>
                <key>sourceSize</key>
                <string>{290,237}</string>
            </dict>
            <key>sp_hbyc_zhua_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{191,126}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{191,126}}</string>
                <key>sourceSize</key>
                <string>{207,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_hbyc_zhua.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9169d24d98abd7f98dda3f8b6657d7aa$</string>
            <key>textureFileName</key>
            <string>sp_hbyc_zhua.png</string>
        </dict>
    </dict>
</plist>
