<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_maincity_santa_mtree1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,324}}</string>
                <key>offset</key>
                <string>{26,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,20},{242,324}}</string>
                <key>sourceSize</key>
                <string>{442,348}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_maincity_santa_mtree1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddb7fc10c76772ea911dc1c7d46e506e$</string>
            <key>textureFileName</key>
            <string>effect_maincity_santa_mtree1.png</string>
        </dict>
    </dict>
</plist>
