<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_skill_chaonengliuxing_hongzha_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,818},{172,156}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,58},{172,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_skill_chaonengliuxing_hongzha_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{188,138}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,61},{188,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_skill_chaonengliuxing_hongzha_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{186,134}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,63},{186,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_skill_chaonengliuxing_hongzha_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{180,130}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,66},{180,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_skill_chaonengliuxing_hongzha_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,484},{150,104}}</string>
                <key>offset</key>
                <string>{-21,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,72},{150,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_skill_chaonengliuxing_hongzha_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,334},{116,94}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,82},{116,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_skill_chaonengliuxing_hongzha_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{56,86}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{56,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sp_skill_chaonengliuxing_hongzha_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,636},{100,162}}</string>
                <key>offset</key>
                <string>{20,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,60},{100,162}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>sp_skill_chaonengliuxing_hongzha_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,658},{180,158}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,59},{180,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_skill_chaonengliuxing_hongzha_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,484},{192,172}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,45},{192,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_skill_chaonengliuxing_hongzha_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{210,178}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,46},{210,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_skill_chaonengliuxing_hongzha_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{220,180}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,47},{220,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_skill_chaonengliuxing_hongzha_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,166}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,53},{224,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_skill_chaonengliuxing_hongzha_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,184},{202,148}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,63},{202,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_skill_chaonengliuxing_hongzha_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,334},{198,148}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,62},{198,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_skill_chaonengliuxing_hongzha_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{194,148}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,60},{194,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_skill_chaonengliuxing_hongzha.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3d05a80954f47e4e4c5def2fbcc3c3e$</string>
            <key>textureFileName</key>
            <string>sp_skill_chaonengliuxing_hongzha.png</string>
        </dict>
    </dict>
</plist>
