<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_4004_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1386,1128}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,38},{1386,1128}}</string>
                <key>sourceSize</key>
                <string>{1492,1234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_4004.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d57f0a8682e4bea1511188fa3c8d8af8$</string>
            <key>textureFileName</key>
            <string>effect_4004.png</string>
        </dict>
    </dict>
</plist>
