<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_lizi_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{776,756}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,84},{776,756}}</string>
                <key>sourceSize</key>
                <string>{848,936}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_lizi_star.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:043a8a2c4a5657e3bd30ae0c3ab204b2$</string>
            <key>textureFileName</key>
            <string>effect_lizi_star.png</string>
        </dict>
    </dict>
</plist>
