<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_175_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{27,112}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{27,112}}</string>
                <key>sourceSize</key>
                <string>{77,150}</string>
            </dict>
            <key>sp_base_175_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,86}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{206,86}}</string>
                <key>sourceSize</key>
                <string>{214,104}</string>
            </dict>
            <key>sp_base_175_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{140,374}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{140,374}}</string>
                <key>sourceSize</key>
                <string>{152,386}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_175.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc959723fa42e82473809f0490975122$</string>
            <key>textureFileName</key>
            <string>sp_base_175.png</string>
        </dict>
    </dict>
</plist>
