<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fbqh_dl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,342},{91,150}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{91,150}}</string>
                <key>sourceSize</key>
                <string>{101,162}</string>
            </dict>
            <key>effect_fbqh_dl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,379},{123,164}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{123,164}}</string>
                <key>sourceSize</key>
                <string>{133,176}</string>
            </dict>
            <key>effect_fbqh_dl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{145,178}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{145,178}}</string>
                <key>sourceSize</key>
                <string>{157,190}</string>
            </dict>
            <key>effect_fbqh_dl_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{150,182}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{150,182}}</string>
                <key>sourceSize</key>
                <string>{164,196}</string>
            </dict>
            <key>effect_fbqh_dl_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,191}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{142,191}}</string>
                <key>sourceSize</key>
                <string>{152,201}</string>
            </dict>
            <key>effect_fbqh_dl_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{147,149}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{147,149}}</string>
                <key>sourceSize</key>
                <string>{157,165}</string>
            </dict>
            <key>effect_fbqh_dl_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{129,134}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{129,134}}</string>
                <key>sourceSize</key>
                <string>{139,154}</string>
            </dict>
            <key>effect_fbqh_dl_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,182},{150,158}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{150,158}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fbqh_dl.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c70e7ff6f025cec58afe666bae2be551$</string>
            <key>textureFileName</key>
            <string>effect_fbqh_dl.png</string>
        </dict>
    </dict>
</plist>
