<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_fazhentexiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{163,87}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{163,87}}</string>
                <key>sourceSize</key>
                <string>{169,107}</string>
            </dict>
            <key>sp_fazhentexiao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,91},{161,91}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{161,91}}</string>
                <key>sourceSize</key>
                <string>{169,107}</string>
            </dict>
            <key>sp_fazhentexiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{161,89}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{161,89}}</string>
                <key>sourceSize</key>
                <string>{169,107}</string>
            </dict>
            <key>sp_fazhentexiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{157,91}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{157,91}}</string>
                <key>sourceSize</key>
                <string>{169,107}</string>
            </dict>
            <key>sp_fazhentexiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,186},{155,93}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{155,93}}</string>
                <key>sourceSize</key>
                <string>{169,107}</string>
            </dict>
            <key>sp_fazhentexiao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,343},{155,91}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{155,91}}</string>
                <key>sourceSize</key>
                <string>{169,107}</string>
            </dict>
            <key>sp_fazhentexiao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{157,91}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{157,91}}</string>
                <key>sourceSize</key>
                <string>{169,107}</string>
            </dict>
            <key>sp_fazhentexiao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,93},{161,89}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{161,89}}</string>
                <key>sourceSize</key>
                <string>{169,107}</string>
            </dict>
            <key>sp_fazhentexiao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{163,89}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{163,89}}</string>
                <key>sourceSize</key>
                <string>{169,107}</string>
            </dict>
            <key>sp_fazhentexiao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,91}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{165,91}}</string>
                <key>sourceSize</key>
                <string>{169,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_fazhentexiao.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aeeb75844e3c041e5c4c0a1b4b9d47b4$</string>
            <key>textureFileName</key>
            <string>sp_fazhentexiao.png</string>
        </dict>
    </dict>
</plist>
