<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_zc_hyd_start_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,236},{110,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{110,76}}</string>
                <key>sourceSize</key>
                <string>{116,78}</string>
            </dict>
            <key>sp_zc_hyd_start_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,158},{112,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,76}}</string>
                <key>sourceSize</key>
                <string>{116,78}</string>
            </dict>
            <key>sp_zc_hyd_start_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{112,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,76}}</string>
                <key>sourceSize</key>
                <string>{116,78}</string>
            </dict>
            <key>sp_zc_hyd_start_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,80},{112,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,76}}</string>
                <key>sourceSize</key>
                <string>{116,78}</string>
            </dict>
            <key>sp_zc_hyd_start_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{110,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{110,76}}</string>
                <key>sourceSize</key>
                <string>{116,78}</string>
            </dict>
            <key>sp_zc_hyd_start_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{112,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,76}}</string>
                <key>sourceSize</key>
                <string>{116,78}</string>
            </dict>
            <key>sp_zc_hyd_start_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,76}}</string>
                <key>sourceSize</key>
                <string>{116,78}</string>
            </dict>
            <key>sp_zc_hyd_start_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,76}}</string>
                <key>sourceSize</key>
                <string>{116,78}</string>
            </dict>
            <key>sp_zc_hyd_start_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{90,76}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{90,76}}</string>
                <key>sourceSize</key>
                <string>{116,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_zc_hyd_start_1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9a752f8af0c9a7ed304a03ae33b6209$</string>
            <key>textureFileName</key>
            <string>sp_zc_hyd_start_1.png</string>
        </dict>
    </dict>
</plist>
