<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_2022_fuben_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,132},{130,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{130,140}}</string>
                <key>sourceSize</key>
                <string>{134,146}</string>
            </dict>
            <key>effect_2022_fuben_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,170},{128,146}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{128,146}}</string>
                <key>sourceSize</key>
                <string>{138,152}</string>
            </dict>
            <key>effect_2022_fuben_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{128,144}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{128,144}}</string>
                <key>sourceSize</key>
                <string>{138,156}</string>
            </dict>
            <key>effect_2022_fuben_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{129,166}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>effect_2022_fuben_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,318},{129,145}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{129,145}}</string>
                <key>sourceSize</key>
                <string>{133,155}</string>
            </dict>
            <key>effect_2022_fuben_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{127,146}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{127,146}}</string>
                <key>sourceSize</key>
                <string>{135,158}</string>
            </dict>
            <key>effect_2022_fuben_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{129,146}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{129,146}}</string>
                <key>sourceSize</key>
                <string>{133,152}</string>
            </dict>
            <key>effect_2022_fuben_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{128,147}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{128,147}}</string>
                <key>sourceSize</key>
                <string>{132,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_2022_fuben.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d28a3aa204a4cb8b4049c72c7e970372$</string>
            <key>textureFileName</key>
            <string>effect_2022_fuben.png</string>
        </dict>
    </dict>
</plist>
