<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_zuantouci_baoguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,672},{81,63}}</string>
                <key>offset</key>
                <string>{32,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,157},{81,63}}</string>
                <key>sourceSize</key>
                <string>{265,265}</string>
            </dict>
            <key>sp_zuantouci_baoguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,581},{217,89}}</string>
                <key>offset</key>
                <string>{24,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,167},{217,89}}</string>
                <key>sourceSize</key>
                <string>{265,265}</string>
            </dict>
            <key>sp_zuantouci_baoguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,398},{241,181}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,39},{241,181}}</string>
                <key>sourceSize</key>
                <string>{265,265}</string>
            </dict>
            <key>sp_zuantouci_baoguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{235,207}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,38},{235,207}}</string>
                <key>sourceSize</key>
                <string>{265,265}</string>
            </dict>
            <key>sp_zuantouci_baoguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,207},{241,189}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,41},{241,189}}</string>
                <key>sourceSize</key>
                <string>{265,265}</string>
            </dict>
            <key>sp_zuantouci_baoguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{243,199}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,41},{243,199}}</string>
                <key>sourceSize</key>
                <string>{265,265}</string>
            </dict>
            <key>sp_zuantouci_baoguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{243,203}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,40},{243,203}}</string>
                <key>sourceSize</key>
                <string>{265,265}</string>
            </dict>
            <key>sp_zuantouci_baoguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{251,197}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,48},{251,197}}</string>
                <key>sourceSize</key>
                <string>{265,265}</string>
            </dict>
            <key>sp_zuantouci_baoguang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,672},{201,79}}</string>
                <key>offset</key>
                <string>{29,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,170},{201,79}}</string>
                <key>sourceSize</key>
                <string>{265,265}</string>
            </dict>
            <key>sp_zuantouci_baoguang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{217,85}}</string>
                <key>offset</key>
                <string>{24,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,168},{217,85}}</string>
                <key>sourceSize</key>
                <string>{265,265}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_zuantouci_baoguang.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2635db09ef20c2d8b0df5d8b6ba1bc42$</string>
            <key>textureFileName</key>
            <string>sp_zuantouci_baoguang.png</string>
        </dict>
    </dict>
</plist>
