<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_eyes_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{14,15}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{14,15}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>effect_eyes_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{83,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{83,26}}</string>
                <key>sourceSize</key>
                <string>{91,32}</string>
            </dict>
            <key>effect_eyes_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,26}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{84,26}}</string>
                <key>sourceSize</key>
                <string>{94,38}</string>
            </dict>
            <key>effect_eyes_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,35},{39,29}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{39,29}}</string>
                <key>sourceSize</key>
                <string>{49,39}</string>
            </dict>
            <key>effect_eyes_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{38,31}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{38,31}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>effect_eyes_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{37,35}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{37,35}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>effect_eyes_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,58},{36,35}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{36,35}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_eyes.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a99d91e30b4dfb490997df65b13527f0$</string>
            <key>textureFileName</key>
            <string>effect_eyes.png</string>
        </dict>
    </dict>
</plist>
