<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_dici_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{177,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,81}}</string>
                <key>sourceSize</key>
                <string>{177,81}</string>
            </dict>
            <key>sp_dici_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{177,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,127}}</string>
                <key>sourceSize</key>
                <string>{177,127}</string>
            </dict>
            <key>sp_dici_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{183,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,139}}</string>
                <key>sourceSize</key>
                <string>{183,139}</string>
            </dict>
            <key>sp_dici_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,137}}</string>
                <key>sourceSize</key>
                <string>{200,137}</string>
            </dict>
            <key>sp_dici_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{177,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,129}}</string>
                <key>sourceSize</key>
                <string>{177,129}</string>
            </dict>
            <key>sp_dici_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,143},{177,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,130}}</string>
                <key>sourceSize</key>
                <string>{177,130}</string>
            </dict>
            <key>sp_dici_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{178,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,93}}</string>
                <key>sourceSize</key>
                <string>{178,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_dici.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcf4c507e8a1ca69913fb1c05b9992fb$</string>
            <key>textureFileName</key>
            <string>sp_dici.png</string>
        </dict>
    </dict>
</plist>
