<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_022_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,498},{166,480}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{166,480}}</string>
                <key>sourceSize</key>
                <string>{170,494}</string>
            </dict>
            <key>sp_base_022_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,176},{178,687}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{178,687}}</string>
                <key>sourceSize</key>
                <string>{182,699}</string>
            </dict>
            <key>sp_base_022_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,933}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{176,933}}</string>
                <key>sourceSize</key>
                <string>{180,949}</string>
            </dict>
            <key>sp_base_022_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{172,733}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{172,733}}</string>
                <key>sourceSize</key>
                <string>{176,739}</string>
            </dict>
            <key>sp_base_022_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,498},{159,510}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,510}}</string>
                <key>sourceSize</key>
                <string>{161,514}</string>
            </dict>
            <key>sp_base_022_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,176},{148,320}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,320}}</string>
                <key>sourceSize</key>
                <string>{150,324}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_022.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:967e54b507bd81d7202ca392f6a2fcea$</string>
            <key>textureFileName</key>
            <string>sp_base_022.png</string>
        </dict>
    </dict>
</plist>
