<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_3003_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{833,861}}</string>
                <key>offset</key>
                <string>{-16,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,103},{833,861}}</string>
                <key>sourceSize</key>
                <string>{1215,1119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_3003.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b1ed1342ed7f2afb26f4c3f91bb1a7c$</string>
            <key>textureFileName</key>
            <string>effect_3003.png</string>
        </dict>
    </dict>
</plist>
