<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_love_kuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,532},{134,135}}</string>
                <key>offset</key>
                <string>{-188,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,135}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,498},{220,135}}</string>
                <key>offset</key>
                <string>{139,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,0},{220,135}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,672},{176,135}}</string>
                <key>offset</key>
                <string>{162,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{329,0},{176,135}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,532},{132,135}}</string>
                <key>offset</key>
                <string>{184,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,0},{132,135}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,274},{130,137}}</string>
                <key>offset</key>
                <string>{185,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{375,1},{130,137}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,274},{122,137}}</string>
                <key>offset</key>
                <string>{189,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,1},{122,137}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,532},{124,137}}</string>
                <key>offset</key>
                <string>{188,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,2},{124,137}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,850},{130,137}}</string>
                <key>offset</key>
                <string>{185,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,2},{130,137}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,669},{132,135}}</string>
                <key>offset</key>
                <string>{184,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,4},{132,135}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,494},{176,135}}</string>
                <key>offset</key>
                <string>{162,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{329,4},{176,135}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,274},{218,135}}</string>
                <key>offset</key>
                <string>{140,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,4},{218,135}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,674},{176,135}}</string>
                <key>offset</key>
                <string>{-166,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,135}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,135}}</string>
                <key>offset</key>
                <string>{108,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,4},{242,135}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{242,133}}</string>
                <key>offset</key>
                <string>{64,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,6},{242,133}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,760},{240,133}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,6},{240,133}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{240,133}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,6},{240,133}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{242,133}}</string>
                <key>offset</key>
                <string>{-67,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,6},{242,133}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{242,133}}</string>
                <key>offset</key>
                <string>{-111,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{242,133}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,720},{220,133}}</string>
                <key>offset</key>
                <string>{-144,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{220,133}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,494},{178,133}}</string>
                <key>offset</key>
                <string>{-166,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{178,133}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,274},{134,133}}</string>
                <key>offset</key>
                <string>{-188,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{134,133}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,852},{132,137}}</string>
                <key>offset</key>
                <string>{-189,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,137}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,276},{220,135}}</string>
                <key>offset</key>
                <string>{-144,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{220,135}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,406},{124,137}}</string>
                <key>offset</key>
                <string>{-192,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{124,137}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,274},{124,137}}</string>
                <key>offset</key>
                <string>{-193,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{124,137}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,852},{130,137}}</string>
                <key>offset</key>
                <string>{-189,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,137}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{240,135}}</string>
                <key>offset</key>
                <string>{-111,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{240,135}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{240,135}}</string>
                <key>offset</key>
                <string>{-67,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{240,135}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,137},{240,135}}</string>
                <key>offset</key>
                <string>{-24,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,0},{240,135}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,137},{240,135}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,0},{240,135}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{240,135}}</string>
                <key>offset</key>
                <string>{63,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,0},{240,135}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
            <key>effect_love_kuang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,137},{240,135}}</string>
                <key>offset</key>
                <string>{107,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,0},{240,135}}</string>
                <key>sourceSize</key>
                <string>{510,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_love_kuang.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d80b1fc087f462a28eb4923a27e4c82a$</string>
            <key>textureFileName</key>
            <string>effect_love_kuang.png</string>
        </dict>
    </dict>
</plist>
