<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,466}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,12},{252,466}}</string>
                <key>sourceSize</key>
                <string>{358,494}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_7.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:add5d8ae3157091b3dbafd4bf6f8fae5$</string>
            <key>textureFileName</key>
            <string>effect_7.png</string>
        </dict>
    </dict>
</plist>
