<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_136_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,454}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,119},{108,454}}</string>
                <key>sourceSize</key>
                <string>{118,590}</string>
            </dict>
            <key>sp_base_136_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{117,423}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{117,423}}</string>
                <key>sourceSize</key>
                <string>{129,441}</string>
            </dict>
            <key>sp_base_136_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,231},{113,376}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{113,376}}</string>
                <key>sourceSize</key>
                <string>{129,376}</string>
            </dict>
            <key>sp_base_136_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{88,378}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,378}}</string>
                <key>sourceSize</key>
                <string>{94,378}</string>
            </dict>
            <key>sp_base_136_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{95,336}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,336}}</string>
                <key>sourceSize</key>
                <string>{103,336}</string>
            </dict>
            <key>sp_base_136_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{129,306}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{129,306}}</string>
                <key>sourceSize</key>
                <string>{147,306}</string>
            </dict>
            <key>sp_base_136_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{32,174}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{32,174}}</string>
                <key>sourceSize</key>
                <string>{44,198}</string>
            </dict>
            <key>sp_base_136_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,178},{31,79}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{31,79}}</string>
                <key>sourceSize</key>
                <string>{39,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_136.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3ec8a17cc59b930bf58a15d9e66fc77$</string>
            <key>textureFileName</key>
            <string>sp_base_136.png</string>
        </dict>
    </dict>
</plist>
