<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_hit_baozheng_xuli_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,234}}</string>
                <key>sourceSize</key>
                <string>{412,234}</string>
            </dict>
            <key>sp_hit_baozheng_xuli_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{293,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,206}}</string>
                <key>sourceSize</key>
                <string>{293,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_hit_baozheng_xuli.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e72a31cf6f7e221fbced6704bac6b28$</string>
            <key>textureFileName</key>
            <string>sp_hit_baozheng_xuli.png</string>
        </dict>
    </dict>
</plist>
