<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_wzhq_chg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{210,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,55}}</string>
                <key>sourceSize</key>
                <string>{210,55}</string>
            </dict>
            <key>sp_wzhq_chg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{185,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,77}}</string>
                <key>sourceSize</key>
                <string>{185,77}</string>
            </dict>
            <key>sp_wzhq_chg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{182,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,131}}</string>
                <key>sourceSize</key>
                <string>{182,131}</string>
            </dict>
            <key>sp_wzhq_chg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{211,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,126}}</string>
                <key>sourceSize</key>
                <string>{211,126}</string>
            </dict>
            <key>sp_wzhq_chg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,138},{214,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,135}}</string>
                <key>sourceSize</key>
                <string>{214,135}</string>
            </dict>
            <key>sp_wzhq_chg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{224,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,134}}</string>
                <key>sourceSize</key>
                <string>{224,134}</string>
            </dict>
            <key>sp_wzhq_chg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,140}}</string>
                <key>sourceSize</key>
                <string>{225,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_wzhq_chg.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18b016f622bba62a06070c0eb545109b$</string>
            <key>textureFileName</key>
            <string>sp_wzhq_chg.png</string>
        </dict>
    </dict>
</plist>
