<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_315_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,572},{122,106}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{122,106}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>sp_base_315_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,445},{54,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{54,76}}</string>
                <key>sourceSize</key>
                <string>{60,86}</string>
            </dict>
            <key>sp_base_315_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{40,37}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{40,37}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>sp_base_315_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,445},{255,145}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{255,145}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>sp_base_315_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{304,147}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{304,147}}</string>
                <key>sourceSize</key>
                <string>{330,189}</string>
            </dict>
            <key>sp_base_315_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,144}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{308,144}}</string>
                <key>sourceSize</key>
                <string>{330,186}</string>
            </dict>
            <key>sp_base_315_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{305,140}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{305,140}}</string>
                <key>sourceSize</key>
                <string>{325,180}</string>
            </dict>
            <key>sp_base_315_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{304,144}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{304,144}}</string>
                <key>sourceSize</key>
                <string>{324,180}</string>
            </dict>
            <key>sp_base_315_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{290,134}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{290,134}}</string>
                <key>sourceSize</key>
                <string>{302,164}</string>
            </dict>
            <key>sp_base_315_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,308},{202,135}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{202,135}}</string>
                <key>sourceSize</key>
                <string>{216,159}</string>
            </dict>
            <key>sp_base_315_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{126,122}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{126,122}}</string>
                <key>sourceSize</key>
                <string>{146,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_315.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1248160023e49d870f203c54bb8392c$</string>
            <key>textureFileName</key>
            <string>sp_base_315.png</string>
        </dict>
    </dict>
</plist>
