<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jiangling_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,48},{24,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{24,99}}</string>
                <key>sourceSize</key>
                <string>{34,101}</string>
            </dict>
            <key>effect_jiangling_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,123},{36,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,117}}</string>
                <key>sourceSize</key>
                <string>{36,117}</string>
            </dict>
            <key>effect_jiangling_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,119}}</string>
                <key>sourceSize</key>
                <string>{48,119}</string>
            </dict>
            <key>effect_jiangling_12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{52,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,119}}</string>
                <key>sourceSize</key>
                <string>{54,119}</string>
            </dict>
            <key>effect_jiangling_12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,120}}</string>
                <key>sourceSize</key>
                <string>{48,120}</string>
            </dict>
            <key>effect_jiangling_12_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,123},{44,115}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,115}}</string>
                <key>sourceSize</key>
                <string>{46,117}</string>
            </dict>
            <key>effect_jiangling_12_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{44,103}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,103}}</string>
                <key>sourceSize</key>
                <string>{48,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jiangling_12.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6760372d22cf34fe41b32a5e50c15ea3$</string>
            <key>textureFileName</key>
            <string>effect_jiangling_12.png</string>
        </dict>
    </dict>
</plist>
