<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_414_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,812},{136,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,182}}</string>
                <key>sourceSize</key>
                <string>{136,182}</string>
            </dict>
            <key>sp_base_414_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,253}}</string>
                <key>sourceSize</key>
                <string>{376,253}</string>
            </dict>
            <key>sp_base_414_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,247},{360,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,244}}</string>
                <key>sourceSize</key>
                <string>{360,244}</string>
            </dict>
            <key>sp_base_414_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{363,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,243}}</string>
                <key>sourceSize</key>
                <string>{363,243}</string>
            </dict>
            <key>sp_base_414_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{150,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,187}}</string>
                <key>sourceSize</key>
                <string>{150,187}</string>
            </dict>
            <key>sp_base_414_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,812},{229,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,236}}</string>
                <key>sourceSize</key>
                <string>{229,236}</string>
            </dict>
            <key>sp_base_414_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,336},{228,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,251}}</string>
                <key>sourceSize</key>
                <string>{228,251}</string>
            </dict>
            <key>sp_base_414_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{245,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,298}}</string>
                <key>sourceSize</key>
                <string>{245,298}</string>
            </dict>
            <key>sp_base_414_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,2},{264,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,332}}</string>
                <key>sourceSize</key>
                <string>{264,332}</string>
            </dict>
            <key>sp_base_414_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,566},{288,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,320}}</string>
                <key>sourceSize</key>
                <string>{288,320}</string>
            </dict>
            <key>sp_base_414_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,493},{317,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,332}}</string>
                <key>sourceSize</key>
                <string>{317,332}</string>
            </dict>
            <key>sp_base_414_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{347,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,345}}</string>
                <key>sourceSize</key>
                <string>{347,345}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_414.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64f29e8b96c339f874963c92613e1417$</string>
            <key>textureFileName</key>
            <string>sp_base_414.png</string>
        </dict>
    </dict>
</plist>
