<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_assist_lmbd_shoot_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,150}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{119,150}}</string>
                <key>sourceSize</key>
                <string>{141,164}</string>
            </dict>
            <key>sp_assist_lmbd_shoot_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{116,212}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{116,212}}</string>
                <key>sourceSize</key>
                <string>{140,232}</string>
            </dict>
            <key>sp_assist_lmbd_shoot_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{118,195}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{118,195}}</string>
                <key>sourceSize</key>
                <string>{128,211}</string>
            </dict>
            <key>sp_assist_lmbd_shoot_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{105,228}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{105,228}}</string>
                <key>sourceSize</key>
                <string>{117,240}</string>
            </dict>
            <key>sp_assist_lmbd_shoot_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{102,170}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{102,170}}</string>
                <key>sourceSize</key>
                <string>{116,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_assist_lmbd_shoot_1.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4de229d402fa7482e71e4033722e806$</string>
            <key>textureFileName</key>
            <string>sp_assist_lmbd_shoot_1.png</string>
        </dict>
    </dict>
</plist>
