<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_hit_daoguang_jinse_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,245},{97,123}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,123}}</string>
                <key>sourceSize</key>
                <string>{105,133}</string>
            </dict>
            <key>sp_hit_daoguang_jinse_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,241}}</string>
                <key>sourceSize</key>
                <string>{221,241}</string>
            </dict>
            <key>sp_hit_daoguang_jinse_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{211,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,236}}</string>
                <key>sourceSize</key>
                <string>{213,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_hit_daoguang_jinse.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86fd999cac65909dba22a2c498ebb456$</string>
            <key>textureFileName</key>
            <string>sp_hit_daoguang_jinse.png</string>
        </dict>
    </dict>
</plist>
