<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_305_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,63},{226,56}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,1},{226,56}}</string>
                <key>sourceSize</key>
                <string>{268,72}</string>
            </dict>
            <key>sp_base_305_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,172},{220,54}}</string>
                <key>offset</key>
                <string>{-34,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{220,54}}</string>
                <key>sourceSize</key>
                <string>{306,56}</string>
            </dict>
            <key>sp_base_305_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{163,30}}</string>
                <key>offset</key>
                <string>{-80,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{163,30}}</string>
                <key>sourceSize</key>
                <string>{325,46}</string>
            </dict>
            <key>sp_base_305_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,326},{163,29}}</string>
                <key>offset</key>
                <string>{-80,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{163,29}}</string>
                <key>sourceSize</key>
                <string>{325,43}</string>
            </dict>
            <key>sp_base_305_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,309},{224,63}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{224,63}}</string>
                <key>sourceSize</key>
                <string>{278,63}</string>
            </dict>
            <key>sp_base_305_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,63},{216,51}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{216,51}}</string>
                <key>sourceSize</key>
                <string>{274,59}</string>
            </dict>
            <key>sp_base_305_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,63},{229,55}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{229,55}}</string>
                <key>sourceSize</key>
                <string>{279,57}</string>
            </dict>
            <key>sp_base_305_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{261,59}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{261,59}}</string>
                <key>sourceSize</key>
                <string>{301,63}</string>
            </dict>
            <key>sp_base_305_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{261,59}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{261,59}}</string>
                <key>sourceSize</key>
                <string>{311,63}</string>
            </dict>
            <key>sp_base_305_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{245,59}}</string>
                <key>offset</key>
                <string>{-26,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{245,59}}</string>
                <key>sourceSize</key>
                <string>{331,67}</string>
            </dict>
            <key>sp_base_305_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,63},{244,59}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{244,59}}</string>
                <key>sourceSize</key>
                <string>{314,65}</string>
            </dict>
            <key>sp_base_305_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,116},{221,54}}</string>
                <key>offset</key>
                <string>{-42,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{221,54}}</string>
                <key>sourceSize</key>
                <string>{321,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_305.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed5e71fd7d9349c75f977a6106555f56$</string>
            <key>textureFileName</key>
            <string>sp_base_305.png</string>
        </dict>
    </dict>
</plist>
