<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_179_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,143},{164,122}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{164,122}}</string>
                <key>sourceSize</key>
                <string>{172,140}</string>
            </dict>
            <key>sp_base_179_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,283},{155,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,119}}</string>
                <key>sourceSize</key>
                <string>{155,119}</string>
            </dict>
            <key>sp_base_179_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,267},{160,128}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{160,128}}</string>
                <key>sourceSize</key>
                <string>{168,136}</string>
            </dict>
            <key>sp_base_179_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,145},{161,136}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{161,136}}</string>
                <key>sourceSize</key>
                <string>{169,146}</string>
            </dict>
            <key>sp_base_179_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,138}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{169,138}}</string>
                <key>sourceSize</key>
                <string>{177,144}</string>
            </dict>
            <key>sp_base_179_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{166,141}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{166,141}}</string>
                <key>sourceSize</key>
                <string>{174,147}</string>
            </dict>
            <key>sp_base_179_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{165,142}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{165,142}}</string>
                <key>sourceSize</key>
                <string>{173,148}</string>
            </dict>
            <key>sp_base_179_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{165,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,139}}</string>
                <key>sourceSize</key>
                <string>{165,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_179.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86fffdd028fbede881675072476f67b5$</string>
            <key>textureFileName</key>
            <string>sp_base_179.png</string>
        </dict>
    </dict>
</plist>
