<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_fengchongjibo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,488},{162,108}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{162,108}}</string>
                <key>sourceSize</key>
                <string>{168,108}</string>
            </dict>
            <key>sp_fengchongjibo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,164},{242,161}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{242,161}}</string>
                <key>sourceSize</key>
                <string>{246,161}</string>
            </dict>
            <key>sp_fengchongjibo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{244,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{244,160}}</string>
                <key>sourceSize</key>
                <string>{246,160}</string>
            </dict>
            <key>sp_fengchongjibo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{244,160}}</string>
                <key>sourceSize</key>
                <string>{246,160}</string>
            </dict>
            <key>sp_fengchongjibo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{244,158}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{244,158}}</string>
                <key>sourceSize</key>
                <string>{246,160}</string>
            </dict>
            <key>sp_fengchongjibo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{233,157}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{233,157}}</string>
                <key>sourceSize</key>
                <string>{235,159}</string>
            </dict>
            <key>sp_fengchongjibo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,327},{229,159}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{229,159}}</string>
                <key>sourceSize</key>
                <string>{233,159}</string>
            </dict>
            <key>sp_fengchongjibo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{216,158}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{216,158}}</string>
                <key>sourceSize</key>
                <string>{230,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_fengchongjibo.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a16140f249fe6f0fe5570f8544a8b954$</string>
            <key>textureFileName</key>
            <string>sp_fengchongjibo.png</string>
        </dict>
    </dict>
</plist>
