<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_1003_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{538,530}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,40},{538,530}}</string>
                <key>sourceSize</key>
                <string>{550,594}</string>
            </dict>
            <key>effect_1003_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{532,514}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,54},{532,514}}</string>
                <key>sourceSize</key>
                <string>{550,594}</string>
            </dict>
            <key>effect_1003_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,522}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,50},{540,522}}</string>
                <key>sourceSize</key>
                <string>{550,594}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_1003.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e2cfbc453bb2041d42fd316c012ff75$</string>
            <key>textureFileName</key>
            <string>effect_1003.png</string>
        </dict>
    </dict>
</plist>
