<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_kaichang_sub1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{503,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,291}}</string>
                <key>sourceSize</key>
                <string>{503,291}</string>
            </dict>
            <key>effect_kaichang_sub1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{238,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,163}}</string>
                <key>sourceSize</key>
                <string>{238,163}</string>
            </dict>
            <key>effect_kaichang_sub1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{487,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,283}}</string>
                <key>sourceSize</key>
                <string>{487,283}</string>
            </dict>
            <key>effect_kaichang_sub1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,295},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>effect_kaichang_sub1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{494,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,248}}</string>
                <key>sourceSize</key>
                <string>{494,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_kaichang_sub1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8160fba28c30a8d3e0db8db2db075574$</string>
            <key>textureFileName</key>
            <string>effect_kaichang_sub1.png</string>
        </dict>
    </dict>
</plist>
