<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_3007_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{852,809}}</string>
                <key>offset</key>
                <string>{14,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,210},{852,809}}</string>
                <key>sourceSize</key>
                <string>{1230,1155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_3007.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3d9014d1f3f674199f3e62059b1da88$</string>
            <key>textureFileName</key>
            <string>effect_3007.png</string>
        </dict>
    </dict>
</plist>
