<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_dianshanleiming_yun_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,157},{61,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,46}}</string>
                <key>sourceSize</key>
                <string>{61,46}</string>
            </dict>
            <key>sp_dianshanleiming_yun_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{71,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,45}}</string>
                <key>sourceSize</key>
                <string>{71,45}</string>
            </dict>
            <key>sp_dianshanleiming_yun_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,55},{75,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,43}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
            <key>sp_dianshanleiming_yun_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{78,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,47}}</string>
                <key>sourceSize</key>
                <string>{78,47}</string>
            </dict>
            <key>sp_dianshanleiming_yun_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{78,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,51}}</string>
                <key>sourceSize</key>
                <string>{78,51}</string>
            </dict>
            <key>sp_dianshanleiming_yun_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,51}}</string>
                <key>sourceSize</key>
                <string>{85,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_dianshanleiming_yun_start.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a61ee517a49270f12b2360d2fa85e913$</string>
            <key>textureFileName</key>
            <string>sp_dianshanleiming_yun_start.png</string>
        </dict>
    </dict>
</plist>
