<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_base_zhakai1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,179},{166,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{166,168}}</string>
                <key>sourceSize</key>
                <string>{216,218}</string>
            </dict>
            <key>effect_base_zhakai1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{176,175}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{176,175}}</string>
                <key>sourceSize</key>
                <string>{226,227}</string>
            </dict>
            <key>effect_base_zhakai1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{182,191}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,28},{182,191}}</string>
                <key>sourceSize</key>
                <string>{256,247}</string>
            </dict>
            <key>effect_base_zhakai1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,203}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,28},{189,203}}</string>
                <key>sourceSize</key>
                <string>{269,261}</string>
            </dict>
            <key>effect_base_zhakai1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,207},{188,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,140}}</string>
                <key>sourceSize</key>
                <string>{188,140}</string>
            </dict>
            <key>effect_base_zhakai1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,347},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_base_zhakai1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e1b31439cd395a4f613d424b7f85410$</string>
            <key>textureFileName</key>
            <string>effect_base_zhakai1.png</string>
        </dict>
    </dict>
</plist>
