<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_explode_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,909},{263,259}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{263,259}}</string>
                <key>sourceSize</key>
                <string>{265,259}</string>
            </dict>
            <key>effect_explode_light_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{452,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,444}}</string>
                <key>sourceSize</key>
                <string>{452,444}</string>
            </dict>
            <key>effect_explode_light_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,28},{116,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,111}}</string>
                <key>sourceSize</key>
                <string>{116,111}</string>
            </dict>
            <key>effect_explode_light_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,2},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>effect_explode_light_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,2},{24,148}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{24,148}}</string>
                <key>sourceSize</key>
                <string>{32,160}</string>
            </dict>
            <key>effect_explode_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{464,447}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{464,447}}</string>
                <key>sourceSize</key>
                <string>{464,449}</string>
            </dict>
            <key>effect_explode_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{463,463}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,463}}</string>
                <key>sourceSize</key>
                <string>{463,463}</string>
            </dict>
            <key>effect_explode_light_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{459,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,461}}</string>
                <key>sourceSize</key>
                <string>{459,461}</string>
            </dict>
            <key>effect_explode_light_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,2},{454,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,460}}</string>
                <key>sourceSize</key>
                <string>{454,460}</string>
            </dict>
            <key>effect_explode_light_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,458},{454,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,454}}</string>
                <key>sourceSize</key>
                <string>{454,454}</string>
            </dict>
            <key>effect_explode_light_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,2},{455,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,453}}</string>
                <key>sourceSize</key>
                <string>{455,453}</string>
            </dict>
            <key>effect_explode_light_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,457},{455,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,450}}</string>
                <key>sourceSize</key>
                <string>{455,450}</string>
            </dict>
            <key>effect_explode_light_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,467},{454,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,448}}</string>
                <key>sourceSize</key>
                <string>{454,448}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_explode_light.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea8629b365ac050b61be512dbbc153eb$</string>
            <key>textureFileName</key>
            <string>effect_explode_light.png</string>
        </dict>
    </dict>
</plist>
