<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_water_sub2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,2},{69,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,3}}</string>
                <key>sourceSize</key>
                <string>{69,3}</string>
            </dict>
            <key>effect_water_sub2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,3}}</string>
                <key>sourceSize</key>
                <string>{72,3}</string>
            </dict>
            <key>effect_water_sub2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{26,3}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,3}}</string>
                <key>sourceSize</key>
                <string>{28,3}</string>
            </dict>
            <key>effect_water_sub2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,73},{37,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,3}}</string>
                <key>sourceSize</key>
                <string>{37,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_water_sub2.png</string>
            <key>size</key>
            <string>{16,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4776e346124c9641120a9abfd6faffc8$</string>
            <key>textureFileName</key>
            <string>effect_water_sub2.png</string>
        </dict>
    </dict>
</plist>
