<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_267_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{140,36}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,36}}</string>
                <key>sourceSize</key>
                <string>{144,40}</string>
            </dict>
            <key>sp_base_267_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{206,48}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,48}}</string>
                <key>sourceSize</key>
                <string>{210,52}</string>
            </dict>
            <key>sp_base_267_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{216,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,66}}</string>
                <key>sourceSize</key>
                <string>{220,68}</string>
            </dict>
            <key>sp_base_267_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,66}}</string>
                <key>sourceSize</key>
                <string>{232,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_267.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0f1b934eeb3d7e36b9110afd9984e6f$</string>
            <key>textureFileName</key>
            <string>sp_base_267.png</string>
        </dict>
    </dict>
</plist>
