<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_4008_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1384,1112}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,39},{1384,1112}}</string>
                <key>sourceSize</key>
                <string>{1492,1234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_4008.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2a26b9a9fd6921cf13f6395fc07ee8d$</string>
            <key>textureFileName</key>
            <string>effect_4008.png</string>
        </dict>
    </dict>
</plist>
