<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jisi_dihalo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{155,156}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,34},{155,156}}</string>
                <key>sourceSize</key>
                <string>{245,232}</string>
            </dict>
            <key>effect_jisi_dihalo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{177,178}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,23},{177,178}}</string>
                <key>sourceSize</key>
                <string>{245,232}</string>
            </dict>
            <key>effect_jisi_dihalo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,429},{201,202}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{201,202}}</string>
                <key>sourceSize</key>
                <string>{245,232}</string>
            </dict>
            <key>effect_jisi_dihalo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,220},{207,208}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{207,208}}</string>
                <key>sourceSize</key>
                <string>{245,232}</string>
            </dict>
            <key>effect_jisi_dihalo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{217,216}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{217,216}}</string>
                <key>sourceSize</key>
                <string>{245,232}</string>
            </dict>
            <key>effect_jisi_dihalo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{217,216}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{217,216}}</string>
                <key>sourceSize</key>
                <string>{245,232}</string>
            </dict>
            <key>effect_jisi_dihalo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{167,166}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,29},{167,166}}</string>
                <key>sourceSize</key>
                <string>{245,232}</string>
            </dict>
            <key>effect_jisi_dihalo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,216}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{217,216}}</string>
                <key>sourceSize</key>
                <string>{245,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jisi_dihalo.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38306967a70d49c483cb09432c8d6552$</string>
            <key>textureFileName</key>
            <string>effect_jisi_dihalo.png</string>
        </dict>
    </dict>
</plist>
