<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_xingqiu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,129},{129,128}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,128}}</string>
                <key>sourceSize</key>
                <string>{137,134}</string>
            </dict>
            <key>effect_xingqiu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,130},{125,129}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{125,129}}</string>
                <key>sourceSize</key>
                <string>{131,133}</string>
            </dict>
            <key>effect_xingqiu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{130,126}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,126}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>effect_xingqiu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{131,125}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{131,125}}</string>
                <key>sourceSize</key>
                <string>{137,131}</string>
            </dict>
            <key>effect_xingqiu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{126,125}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,125}}</string>
                <key>sourceSize</key>
                <string>{132,131}</string>
            </dict>
            <key>effect_xingqiu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,257},{126,128}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,128}}</string>
                <key>sourceSize</key>
                <string>{132,134}</string>
            </dict>
            <key>effect_xingqiu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,130}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,130}}</string>
                <key>sourceSize</key>
                <string>{137,134}</string>
            </dict>
            <key>effect_xingqiu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{129,126}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,126}}</string>
                <key>sourceSize</key>
                <string>{135,132}</string>
            </dict>
            <key>effect_xingqiu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{112,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,110}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_xingqiu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e9376e99b1782237822968a4ba41a9b$</string>
            <key>textureFileName</key>
            <string>effect_xingqiu.png</string>
        </dict>
    </dict>
</plist>
