<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_circle_fenjie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_circle_fenjie.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da2a7e288fdf2d8f98ce058503d26883$</string>
            <key>textureFileName</key>
            <string>effect_circle_fenjie.png</string>
        </dict>
    </dict>
</plist>
