<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_211_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,187},{297,399}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{297,399}}</string>
                <key>sourceSize</key>
                <string>{301,401}</string>
            </dict>
            <key>sp_base_211_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,187},{325,652}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{325,652}}</string>
                <key>sourceSize</key>
                <string>{333,660}</string>
            </dict>
            <key>sp_base_211_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,853}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{368,853}}</string>
                <key>sourceSize</key>
                <string>{388,865}</string>
            </dict>
            <key>sp_base_211_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{183,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,482}}</string>
                <key>sourceSize</key>
                <string>{183,482}</string>
            </dict>
            <key>sp_base_211_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,588},{172,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,421}}</string>
                <key>sourceSize</key>
                <string>{172,421}</string>
            </dict>
            <key>sp_base_211_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,841},{179,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,331}}</string>
                <key>sourceSize</key>
                <string>{179,331}</string>
            </dict>
            <key>sp_base_211_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{129,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,236}}</string>
                <key>sourceSize</key>
                <string>{129,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_211.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce90e962435590dea16cd5322e483920$</string>
            <key>textureFileName</key>
            <string>sp_base_211.png</string>
        </dict>
    </dict>
</plist>
