<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_szkpgy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,298}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{132,298}}</string>
                <key>sourceSize</key>
                <string>{148,314}</string>
            </dict>
            <key>effect_szkpgy_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,302},{57,143}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{57,143}}</string>
                <key>sourceSize</key>
                <string>{61,145}</string>
            </dict>
            <key>effect_szkpgy_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,301},{55,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{55,97}}</string>
                <key>sourceSize</key>
                <string>{61,97}</string>
            </dict>
            <key>effect_szkpgy_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,404},{41,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,70}}</string>
                <key>sourceSize</key>
                <string>{43,70}</string>
            </dict>
            <key>effect_szkpgy_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,440},{27,47}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{27,47}}</string>
                <key>sourceSize</key>
                <string>{31,51}</string>
            </dict>
            <key>effect_szkpgy_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,489},{16,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>effect_szkpgy_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,297}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{132,297}}</string>
                <key>sourceSize</key>
                <string>{144,311}</string>
            </dict>
            <key>effect_szkpgy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,495},{14,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{14,28}}</string>
                <key>sourceSize</key>
                <string>{16,30}</string>
            </dict>
            <key>effect_szkpgy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,440},{26,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,53}}</string>
                <key>sourceSize</key>
                <string>{28,55}</string>
            </dict>
            <key>effect_szkpgy_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,400},{38,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,76}}</string>
                <key>sourceSize</key>
                <string>{40,78}</string>
            </dict>
            <key>effect_szkpgy_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,301},{56,101}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,101}}</string>
                <key>sourceSize</key>
                <string>{56,103}</string>
            </dict>
            <key>effect_szkpgy_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,447},{57,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{57,128}}</string>
                <key>sourceSize</key>
                <string>{61,130}</string>
            </dict>
            <key>effect_szkpgy_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,302},{57,143}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{57,143}}</string>
                <key>sourceSize</key>
                <string>{61,145}</string>
            </dict>
            <key>effect_szkpgy_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{57,143}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{57,143}}</string>
                <key>sourceSize</key>
                <string>{61,145}</string>
            </dict>
            <key>effect_szkpgy_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{57,143}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{57,143}}</string>
                <key>sourceSize</key>
                <string>{61,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_szkpgy.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a30c2d5f94a6723878d035ccf672331$</string>
            <key>textureFileName</key>
            <string>effect_szkpgy.png</string>
        </dict>
    </dict>
</plist>
