<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_choujiang_hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,178}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{178,178}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_choujiang_hurt.png</string>
            <key>size</key>
            <string>{182,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4a81a566348a72c5318e134add0c858$</string>
            <key>textureFileName</key>
            <string>effect_choujiang_hurt.png</string>
        </dict>
    </dict>
</plist>
