<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_141_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,638},{242,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,88}}</string>
                <key>sourceSize</key>
                <string>{242,88}</string>
            </dict>
            <key>sp_base_141_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1019},{150,382}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{150,382}}</string>
                <key>sourceSize</key>
                <string>{156,386}</string>
            </dict>
            <key>sp_base_141_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1036},{148,374}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{148,374}}</string>
                <key>sourceSize</key>
                <string>{162,374}</string>
            </dict>
            <key>sp_base_141_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,882},{88,152}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{88,152}}</string>
                <key>sourceSize</key>
                <string>{132,170}</string>
            </dict>
            <key>sp_base_141_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,740},{88,128}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{88,128}}</string>
                <key>sourceSize</key>
                <string>{124,146}</string>
            </dict>
            <key>sp_base_141_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,342},{46,80}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{46,80}}</string>
                <key>sourceSize</key>
                <string>{94,112}</string>
            </dict>
            <key>sp_base_141_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,424},{44,82}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{44,82}}</string>
                <key>sourceSize</key>
                <string>{92,86}</string>
            </dict>
            <key>sp_base_141_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{400,277}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{400,277}}</string>
                <key>sourceSize</key>
                <string>{410,299}</string>
            </dict>
            <key>sp_base_141_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,638},{400,342}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{400,342}}</string>
                <key>sourceSize</key>
                <string>{410,342}</string>
            </dict>
            <key>sp_base_141_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,513}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{376,513}}</string>
                <key>sourceSize</key>
                <string>{410,525}</string>
            </dict>
            <key>sp_base_141_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{358,511}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{358,511}}</string>
                <key>sourceSize</key>
                <string>{410,525}</string>
            </dict>
            <key>sp_base_141_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{338,499}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,21},{338,499}}</string>
                <key>sourceSize</key>
                <string>{410,525}</string>
            </dict>
            <key>sp_base_141_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,342},{294,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,442}}</string>
                <key>sourceSize</key>
                <string>{294,442}</string>
            </dict>
            <key>sp_base_141_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1128},{148,356}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{148,356}}</string>
                <key>sourceSize</key>
                <string>{154,378}</string>
            </dict>
            <key>sp_base_141_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,982},{144,384}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{144,384}}</string>
                <key>sourceSize</key>
                <string>{158,388}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_141.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a96a366df9effd5c345f916929e0458$</string>
            <key>textureFileName</key>
            <string>sp_base_141.png</string>
        </dict>
    </dict>
</plist>
