<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_021_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{47,60}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{47,60}}</string>
                <key>sourceSize</key>
                <string>{55,104}</string>
            </dict>
            <key>sp_base_021_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,123},{183,110}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{183,110}}</string>
                <key>sourceSize</key>
                <string>{185,154}</string>
            </dict>
            <key>sp_base_021_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{185,117}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{185,117}}</string>
                <key>sourceSize</key>
                <string>{185,155}</string>
            </dict>
            <key>sp_base_021_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{185,119}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{185,119}}</string>
                <key>sourceSize</key>
                <string>{185,155}</string>
            </dict>
            <key>sp_base_021_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,119}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{185,119}}</string>
                <key>sourceSize</key>
                <string>{185,155}</string>
            </dict>
            <key>sp_base_021_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,496},{46,54}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,54}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
            <key>sp_base_021_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,379},{168,123}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,123}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>sp_base_021_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{168,123}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,123}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>sp_base_021_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,352},{168,129}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{168,129}}</string>
                <key>sourceSize</key>
                <string>{174,135}</string>
            </dict>
            <key>sp_base_021_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{170,127}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,127}}</string>
                <key>sourceSize</key>
                <string>{174,135}</string>
            </dict>
            <key>sp_base_021_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{172,133}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,133}}</string>
                <key>sourceSize</key>
                <string>{174,143}</string>
            </dict>
            <key>sp_base_021_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,176},{174,131}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,131}}</string>
                <key>sourceSize</key>
                <string>{174,143}</string>
            </dict>
            <key>sp_base_021_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,235},{181,142}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,142}}</string>
                <key>sourceSize</key>
                <string>{185,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_021.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7c65edb517fbb3a6eedf29496ceb425$</string>
            <key>textureFileName</key>
            <string>sp_base_021.png</string>
        </dict>
    </dict>
</plist>
