<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_448_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,56}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,86},{196,56}}</string>
                <key>sourceSize</key>
                <string>{246,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_448.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96ad26d190cce37a7b05e1d38415cae6$</string>
            <key>textureFileName</key>
            <string>sp_base_448.png</string>
        </dict>
    </dict>
</plist>
