<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_blue_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{320,24}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{320,24}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
            <key>sp_blue_bg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,126},{320,122}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{320,122}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
            <key>sp_blue_bg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,646},{320,122}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{320,122}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
            <key>sp_blue_bg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,324},{320,122}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{320,122}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
            <key>sp_blue_bg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,646},{320,122}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{320,122}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
            <key>sp_blue_bg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,324},{320,122}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{320,122}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
            <key>sp_blue_bg_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,228},{320,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,53},{320,94}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
            <key>sp_blue_bg_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,250},{320,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,55},{320,90}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
            <key>sp_blue_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{320,30}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,79},{320,30}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
            <key>sp_blue_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,126},{320,100}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
            <key>sp_blue_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{320,122}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{320,122}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
            <key>sp_blue_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{320,122}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{320,122}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
            <key>sp_blue_bg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{320,122}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{320,122}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
            <key>sp_blue_bg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{320,122}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{320,122}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
            <key>sp_blue_bg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,122}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{320,122}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
            <key>sp_blue_bg_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,122}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{320,122}}</string>
                <key>sourceSize</key>
                <string>{320,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_blue_bg.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62ed0c83ab21a5637de9227729cbc1fb$</string>
            <key>textureFileName</key>
            <string>sp_blue_bg.png</string>
        </dict>
    </dict>
</plist>
