<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_shui_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,154},{14,8}}</string>
                <key>offset</key>
                <string>{-81,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,152},{14,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{196,152}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,45},{196,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,348},{196,152}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,45},{196,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,154},{208,192}}</string>
                <key>offset</key>
                <string>{4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{208,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{226,190}}</string>
                <key>offset</key>
                <string>{10,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{226,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{206,190}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,7},{206,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,164},{196,170}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,27},{196,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,336},{196,152}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,45},{196,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{240,150}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,47},{240,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,164}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,33},{254,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{198,160}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{198,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,154},{34,14}}</string>
                <key>offset</key>
                <string>{-73,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,150},{34,14}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,194},{196,152}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,45},{196,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,348},{196,132}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,65},{196,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,502},{190,128}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,69},{190,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,168},{156,32}}</string>
                <key>offset</key>
                <string>{-18,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,134},{156,32}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{156,50}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,125},{156,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,164},{154,96}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,82},{154,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,454},{154,98}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,80},{154,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,336},{154,116}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,70},{154,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{172,148}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,44},{172,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_shui_02_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,482},{192,152}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,45},{192,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_shui_02.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66ec994d3f1364d68fca923101d09a7d$</string>
            <key>textureFileName</key>
            <string>sp_shui_02.png</string>
        </dict>
    </dict>
</plist>
