<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_du_pt_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,108},{48,24}}</string>
                <key>offset</key>
                <string>{-5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,154},{48,24}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_du_pt_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,520},{164,174}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,39},{164,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_du_pt_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{162,178}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,35},{162,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_du_pt_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{156,188}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,23},{156,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_du_pt_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,276},{154,188}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,18},{154,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_du_pt_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,108},{166,188}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,16},{166,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_du_pt_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,686},{168,84}}</string>
                <key>offset</key>
                <string>{7,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,120},{168,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_du_pt_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,432},{180,86}}</string>
                <key>offset</key>
                <string>{7,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,118},{180,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_du_pt_01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{188,88}}</string>
                <key>offset</key>
                <string>{8,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,115},{188,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_du_pt_01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{180,78}}</string>
                <key>offset</key>
                <string>{13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,112},{180,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_du_pt_01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,634},{144,82}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,108},{144,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_du_pt_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,492},{94,54}}</string>
                <key>offset</key>
                <string>{-2,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,137},{94,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_du_pt_01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,548},{146,84}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,106},{146,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_du_pt_01_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,412},{128,78}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,108},{128,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_du_pt_01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,132},{102,62}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,137},{102,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_du_pt_01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{128,68}}</string>
                <key>offset</key>
                <string>{3,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,133},{128,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_du_pt_01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{192,76}}</string>
                <key>offset</key>
                <string>{21,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,128},{192,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_du_pt_01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,104}}</string>
                <key>offset</key>
                <string>{-5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,120},{226,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_du_pt_01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{208,104}}</string>
                <key>offset</key>
                <string>{-16,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,120},{208,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_du_pt_01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{174,92}}</string>
                <key>offset</key>
                <string>{-10,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,121},{174,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_du_pt_01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,236},{174,108}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,105},{174,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_du_pt_01.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b3e5562b03f3987d430ee8e0cabf685$</string>
            <key>textureFileName</key>
            <string>sp_du_pt_01.png</string>
        </dict>
    </dict>
</plist>
