<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_bwqh_zhen1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,118}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,27},{316,118}}</string>
                <key>sourceSize</key>
                <string>{330,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_bwqh_zhen1.png</string>
            <key>size</key>
            <string>{122,320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3525441cd77d937d233396ae3c0f6c51$</string>
            <key>textureFileName</key>
            <string>effect_bwqh_zhen1.png</string>
        </dict>
    </dict>
</plist>
