<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,62}}</string>
                <key>sourceSize</key>
                <string>{168,62}</string>
            </dict>
            <key>effect_cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{126,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,50}}</string>
                <key>sourceSize</key>
                <string>{126,50}</string>
            </dict>
            <key>effect_cloud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,130},{90,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,33}}</string>
                <key>sourceSize</key>
                <string>{90,33}</string>
            </dict>
            <key>effect_cloud_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{82,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,61}}</string>
                <key>sourceSize</key>
                <string>{82,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_cloud.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf5b0282a30bb680e8e57af7391f51c3$</string>
            <key>textureFileName</key>
            <string>effect_cloud.png</string>
        </dict>
    </dict>
</plist>
