<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_2group_yinlong_yanwu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,57},{53,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{53,46}</string>
            </dict>
            <key>sp_2group_yinlong_yanwu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{97,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,212}}</string>
                <key>sourceSize</key>
                <string>{97,212}</string>
            </dict>
            <key>sp_2group_yinlong_yanwu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>sp_2group_yinlong_yanwu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>sp_2group_yinlong_yanwu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{67,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,168}}</string>
                <key>sourceSize</key>
                <string>{67,168}</string>
            </dict>
            <key>sp_2group_yinlong_yanwu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{72,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,176}}</string>
                <key>sourceSize</key>
                <string>{72,176}</string>
            </dict>
            <key>sp_2group_yinlong_yanwu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,415},{87,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,191}}</string>
                <key>sourceSize</key>
                <string>{87,191}</string>
            </dict>
            <key>sp_2group_yinlong_yanwu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,213},{93,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,200}}</string>
                <key>sourceSize</key>
                <string>{93,200}</string>
            </dict>
            <key>sp_2group_yinlong_yanwu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{97,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,209}}</string>
                <key>sourceSize</key>
                <string>{97,209}</string>
            </dict>
            <key>sp_2group_yinlong_yanwu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,216}}</string>
                <key>sourceSize</key>
                <string>{92,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_2group_yinlong_yanwu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53fcb4e290b5a3279993e823ad3ef9dd$</string>
            <key>textureFileName</key>
            <string>sp_2group_yinlong_yanwu.png</string>
        </dict>
    </dict>
</plist>
