<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_base_bagua_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{469,593}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{469,593}}</string>
                <key>sourceSize</key>
                <string>{509,607}</string>
            </dict>
            <key>effect_base_bagua_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{465,593}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{465,593}}</string>
                <key>sourceSize</key>
                <string>{509,607}</string>
            </dict>
            <key>effect_base_bagua_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{459,589}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{459,589}}</string>
                <key>sourceSize</key>
                <string>{509,607}</string>
            </dict>
            <key>effect_base_bagua_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,597},{449,587}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{449,587}}</string>
                <key>sourceSize</key>
                <string>{509,607}</string>
            </dict>
            <key>effect_base_bagua_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1192},{457,589}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{457,589}}</string>
                <key>sourceSize</key>
                <string>{509,607}</string>
            </dict>
            <key>effect_base_bagua_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{465,591}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{465,591}}</string>
                <key>sourceSize</key>
                <string>{509,607}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_base_bagua.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:090a85953485cd78190a3db24d755aaf$</string>
            <key>textureFileName</key>
            <string>effect_base_bagua.png</string>
        </dict>
    </dict>
</plist>
