<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_406_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,146},{134,138}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{134,138}}</string>
                <key>sourceSize</key>
                <string>{154,150}</string>
            </dict>
            <key>sp_base_406_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{128,138}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{128,138}}</string>
                <key>sourceSize</key>
                <string>{156,152}</string>
            </dict>
            <key>sp_base_406_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{128,140}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{128,140}}</string>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>sp_base_406_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{128,140}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{128,140}}</string>
                <key>sourceSize</key>
                <string>{152,158}</string>
            </dict>
            <key>sp_base_406_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{129,137}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{129,137}}</string>
                <key>sourceSize</key>
                <string>{145,159}</string>
            </dict>
            <key>sp_base_406_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,142}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{131,142}}</string>
                <key>sourceSize</key>
                <string>{147,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_406.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6abe0330ec0a4c696a0c1aa106bb61e5$</string>
            <key>textureFileName</key>
            <string>sp_base_406.png</string>
        </dict>
    </dict>
</plist>
