<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_356_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{348,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,103}}</string>
                <key>sourceSize</key>
                <string>{348,103}</string>
            </dict>
            <key>sp_base_356_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,119}}</string>
                <key>sourceSize</key>
                <string>{398,119}</string>
            </dict>
            <key>sp_base_356_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{396,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,128}}</string>
                <key>sourceSize</key>
                <string>{396,128}</string>
            </dict>
            <key>sp_base_356_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{337,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,126}}</string>
                <key>sourceSize</key>
                <string>{337,126}</string>
            </dict>
            <key>sp_base_356_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{347,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,136}}</string>
                <key>sourceSize</key>
                <string>{347,136}</string>
            </dict>
            <key>sp_base_356_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,676},{331,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,130}}</string>
                <key>sourceSize</key>
                <string>{331,130}</string>
            </dict>
            <key>sp_base_356_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,352},{322,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,134}}</string>
                <key>sourceSize</key>
                <string>{322,134}</string>
            </dict>
            <key>sp_base_356_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,676},{328,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{328,128}}</string>
                <key>sourceSize</key>
                <string>{328,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_356.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f22ed054ef97fd82083edee88cb5b7ed$</string>
            <key>textureFileName</key>
            <string>sp_base_356.png</string>
        </dict>
    </dict>
</plist>
