<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_2020_fuben_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{289,423}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,25},{289,423}}</string>
                <key>sourceSize</key>
                <string>{403,463}</string>
            </dict>
            <key>effect_2020_fuben_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1094},{393,327}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{393,327}}</string>
                <key>sourceSize</key>
                <string>{447,385}</string>
            </dict>
            <key>effect_2020_fuben_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,683},{409,419}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,12},{409,419}}</string>
                <key>sourceSize</key>
                <string>{447,463}</string>
            </dict>
            <key>effect_2020_fuben_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{351,457}}</string>
                <key>offset</key>
                <string>{111,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,1},{351,457}}</string>
                <key>sourceSize</key>
                <string>{581,485}</string>
            </dict>
            <key>effect_2020_fuben_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{322,441}}</string>
                <key>offset</key>
                <string>{134,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,3},{322,441}}</string>
                <key>sourceSize</key>
                <string>{596,471}</string>
            </dict>
            <key>effect_2020_fuben_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{334,421}}</string>
                <key>offset</key>
                <string>{126,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,0},{334,421}}</string>
                <key>sourceSize</key>
                <string>{592,435}</string>
            </dict>
            <key>effect_2020_fuben_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{314,411}}</string>
                <key>offset</key>
                <string>{139,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,17},{314,411}}</string>
                <key>sourceSize</key>
                <string>{598,437}</string>
            </dict>
            <key>effect_2020_fuben_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,326},{355,433}}</string>
                <key>offset</key>
                <string>{123,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,25},{355,433}}</string>
                <key>sourceSize</key>
                <string>{607,481}</string>
            </dict>
            <key>effect_2020_fuben_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1298},{360,355}}</string>
                <key>offset</key>
                <string>{115,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,25},{360,355}}</string>
                <key>sourceSize</key>
                <string>{596,419}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_2020_fuben.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87a798ba7fa021c6b004818d6f911896$</string>
            <key>textureFileName</key>
            <string>effect_2020_fuben.png</string>
        </dict>
    </dict>
</plist>
