<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_reflection_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_reflection.png</string>
            <key>size</key>
            <string>{32,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53a7d01eb6be907e50ad09b592d534e3$</string>
            <key>textureFileName</key>
            <string>effect_reflection.png</string>
        </dict>
    </dict>
</plist>
