<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_signinew_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{385,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,393}}</string>
                <key>sourceSize</key>
                <string>{385,393}</string>
            </dict>
            <key>effect_signinew_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{218,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,248}}</string>
                <key>sourceSize</key>
                <string>{218,248}</string>
            </dict>
            <key>effect_signinew_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,606}}</string>
                <key>sourceSize</key>
                <string>{332,606}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_signinew.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce9a19df5d5abfc0bb1d78d0ec01c0d6$</string>
            <key>textureFileName</key>
            <string>effect_signinew.png</string>
        </dict>
    </dict>
</plist>
