<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_assist_qljc_start_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{96,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,74}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>sp_assist_qljc_start_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,76},{98,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,74}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>sp_assist_qljc_start_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,72}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>sp_assist_qljc_start_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,78}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_assist_qljc_start_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5987807b2ca5a94e31c61c2b85079a45$</string>
            <key>textureFileName</key>
            <string>sp_assist_qljc_start_1.png</string>
        </dict>
    </dict>
</plist>
