<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_6001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{986,909}}</string>
                <key>offset</key>
                <string>{32,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,33},{986,909}}</string>
                <key>sourceSize</key>
                <string>{1200,997}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_6001.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75ddb7c6a8ba3d1963b570c1456cd4c8$</string>
            <key>textureFileName</key>
            <string>effect_6001.png</string>
        </dict>
    </dict>
</plist>
