<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_water_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,78}}</string>
                <key>sourceSize</key>
                <string>{338,78}</string>
            </dict>
            <key>effect_water_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{321,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,71}}</string>
                <key>sourceSize</key>
                <string>{323,71}</string>
            </dict>
            <key>effect_water_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{333,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,74}}</string>
                <key>sourceSize</key>
                <string>{333,74}</string>
            </dict>
            <key>effect_water_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{335,76}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{335,76}}</string>
                <key>sourceSize</key>
                <string>{339,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_water.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca0f9084ba3e3104c56e8b7f76d26d4b$</string>
            <key>textureFileName</key>
            <string>effect_water.png</string>
        </dict>
    </dict>
</plist>
