<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_choujiang_quan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,280}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{280,280}}</string>
                <key>sourceSize</key>
                <string>{330,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_choujiang_quan.png</string>
            <key>size</key>
            <string>{284,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ced82c9d9b51823e6586bf0b4d3017b3$</string>
            <key>textureFileName</key>
            <string>effect_choujiang_quan.png</string>
        </dict>
    </dict>
</plist>
