<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_xingqiu_j_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{172,127}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,33},{172,127}}</string>
                <key>sourceSize</key>
                <string>{206,195}</string>
            </dict>
            <key>effect_xingqiu_j_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{285,199}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{285,199}}</string>
                <key>sourceSize</key>
                <string>{301,221}</string>
            </dict>
            <key>effect_xingqiu_j_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,240}}</string>
                <key>sourceSize</key>
                <string>{330,240}</string>
            </dict>
            <key>effect_xingqiu_j_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{230,235}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,235}}</string>
                <key>sourceSize</key>
                <string>{236,241}</string>
            </dict>
            <key>effect_xingqiu_j_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,445},{250,239}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,239}}</string>
                <key>sourceSize</key>
                <string>{256,245}</string>
            </dict>
            <key>effect_xingqiu_j_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,248},{255,244}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,244}}</string>
                <key>sourceSize</key>
                <string>{261,250}</string>
            </dict>
            <key>effect_xingqiu_j_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{258,250}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,250}}</string>
                <key>sourceSize</key>
                <string>{266,256}</string>
            </dict>
            <key>effect_xingqiu_j_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,2},{267,244}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,244}}</string>
                <key>sourceSize</key>
                <string>{273,250}</string>
            </dict>
            <key>effect_xingqiu_j_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,203},{267,240}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,240}}</string>
                <key>sourceSize</key>
                <string>{273,246}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_xingqiu_j.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f43e20fe6a6bb5a3b174e98f206f07a7$</string>
            <key>textureFileName</key>
            <string>effect_xingqiu_j.png</string>
        </dict>
    </dict>
</plist>
