<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_tz_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>effect_tz_fire_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,62},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>effect_tz_fire_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>effect_tz_fire_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>effect_tz_fire_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,48},{12,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>effect_tz_fire_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,9}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{31,9}}</string>
                <key>sourceSize</key>
                <string>{35,9}</string>
            </dict>
            <key>effect_tz_fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,19},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>effect_tz_fire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{13,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>effect_tz_fire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,13},{11,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>effect_tz_fire_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,34},{12,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>effect_tz_fire_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,52},{11,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{11,16}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>effect_tz_fire_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,70},{11,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>effect_tz_fire_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,33},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>effect_tz_fire_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,13},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_tz_fire.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e700664fe87b2204b9cd9a72232d2c0$</string>
            <key>textureFileName</key>
            <string>effect_tz_fire.png</string>
        </dict>
    </dict>
</plist>
