<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_jinsedaoguang__daoguang_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{97,123}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,123}}</string>
                <key>sourceSize</key>
                <string>{105,133}</string>
            </dict>
            <key>sp_jinsedaoguang__daoguang_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,597},{221,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,241}}</string>
                <key>sourceSize</key>
                <string>{221,241}</string>
            </dict>
            <key>sp_jinsedaoguang__daoguang_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{211,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,236}}</string>
                <key>sourceSize</key>
                <string>{213,236}</string>
            </dict>
            <key>sp_jinsedaoguang__daoguang_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{296,279}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,279}}</string>
                <key>sourceSize</key>
                <string>{298,279}</string>
            </dict>
            <key>sp_jinsedaoguang__daoguang_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,198}}</string>
                <key>sourceSize</key>
                <string>{298,198}</string>
            </dict>
            <key>sp_jinsedaoguang__daoguang_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{295,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,174}}</string>
                <key>sourceSize</key>
                <string>{297,174}</string>
            </dict>
            <key>sp_jinsedaoguang__daoguang_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,299},{296,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,167}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>sp_jinsedaoguang__daoguang_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{285,166}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{285,166}}</string>
                <key>sourceSize</key>
                <string>{287,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_jinsedaoguang__daoguang_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d43a754ae56d58a6ea78eeaf8f4a55b$</string>
            <key>textureFileName</key>
            <string>sp_jinsedaoguang__daoguang_1.png</string>
        </dict>
    </dict>
</plist>
