<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_huabanwu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{229,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,129}}</string>
                <key>sourceSize</key>
                <string>{229,129}</string>
            </dict>
            <key>sp_huabanwu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{258,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,146}}</string>
                <key>sourceSize</key>
                <string>{258,146}</string>
            </dict>
            <key>sp_huabanwu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{258,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,144}}</string>
                <key>sourceSize</key>
                <string>{258,144}</string>
            </dict>
            <key>sp_huabanwu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,139},{242,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,127}}</string>
                <key>sourceSize</key>
                <string>{242,127}</string>
            </dict>
            <key>sp_huabanwu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,560},{238,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,134}}</string>
                <key>sourceSize</key>
                <string>{238,134}</string>
            </dict>
            <key>sp_huabanwu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{242,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,135}}</string>
                <key>sourceSize</key>
                <string>{242,135}</string>
            </dict>
            <key>sp_huabanwu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,415},{246,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,143}}</string>
                <key>sourceSize</key>
                <string>{246,143}</string>
            </dict>
            <key>sp_huabanwu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,268},{246,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,145}}</string>
                <key>sourceSize</key>
                <string>{246,145}</string>
            </dict>
            <key>sp_huabanwu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,696},{252,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,147}}</string>
                <key>sourceSize</key>
                <string>{252,147}</string>
            </dict>
            <key>sp_huabanwu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{254,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,148}}</string>
                <key>sourceSize</key>
                <string>{254,148}</string>
            </dict>
            <key>sp_huabanwu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{258,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,138}}</string>
                <key>sourceSize</key>
                <string>{258,138}</string>
            </dict>
            <key>sp_huabanwu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,145}}</string>
                <key>sourceSize</key>
                <string>{262,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_huabanwu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd9f3e8eb440b1235a02fa5098e27d32$</string>
            <key>textureFileName</key>
            <string>sp_huabanwu.png</string>
        </dict>
    </dict>
</plist>
