<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_6003_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{804,645}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,16},{804,645}}</string>
                <key>sourceSize</key>
                <string>{912,693}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_6003.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b25c53c63a2789c52fc7bb4db4e0322$</string>
            <key>textureFileName</key>
            <string>effect_6003.png</string>
        </dict>
    </dict>
</plist>
