<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_2group_shenzywsj_hit_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,342},{122,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,51}}</string>
                <key>sourceSize</key>
                <string>{122,51}</string>
            </dict>
            <key>sp_2group_shenzywsj_hit_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{156,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,61}}</string>
                <key>sourceSize</key>
                <string>{156,61}</string>
            </dict>
            <key>sp_2group_shenzywsj_hit_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,65},{154,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,63}}</string>
                <key>sourceSize</key>
                <string>{154,63}</string>
            </dict>
            <key>sp_2group_shenzywsj_hit_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{152,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,64}}</string>
                <key>sourceSize</key>
                <string>{152,64}</string>
            </dict>
            <key>sp_2group_shenzywsj_hit_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,202},{151,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,65}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>sp_2group_shenzywsj_hit_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,158},{151,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,65}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>sp_2group_shenzywsj_hit_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,225},{150,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,64}}</string>
                <key>sourceSize</key>
                <string>{150,64}</string>
            </dict>
            <key>sp_2group_shenzywsj_hit_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,269},{149,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,63}}</string>
                <key>sourceSize</key>
                <string>{149,63}</string>
            </dict>
            <key>sp_2group_shenzywsj_hit_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{122,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,51}}</string>
                <key>sourceSize</key>
                <string>{122,51}</string>
            </dict>
            <key>sp_2group_shenzywsj_hit_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{122,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,52}}</string>
                <key>sourceSize</key>
                <string>{122,52}</string>
            </dict>
            <key>sp_2group_shenzywsj_hit_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{150,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,65}}</string>
                <key>sourceSize</key>
                <string>{150,65}</string>
            </dict>
            <key>sp_2group_shenzywsj_hit_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{151,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,69}}</string>
                <key>sourceSize</key>
                <string>{151,69}</string>
            </dict>
            <key>sp_2group_shenzywsj_hit_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,130},{151,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,70}}</string>
                <key>sourceSize</key>
                <string>{151,70}</string>
            </dict>
            <key>sp_2group_shenzywsj_hit_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,82},{151,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,74}}</string>
                <key>sourceSize</key>
                <string>{151,74}</string>
            </dict>
            <key>sp_2group_shenzywsj_hit_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{154,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,78}}</string>
                <key>sourceSize</key>
                <string>{154,78}</string>
            </dict>
            <key>sp_2group_shenzywsj_hit_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,80}}</string>
                <key>sourceSize</key>
                <string>{158,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_2group_shenzywsj_hit_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c3209435d86c47c61193cc23e33ee92$</string>
            <key>textureFileName</key>
            <string>sp_2group_shenzywsj_hit_2.png</string>
        </dict>
    </dict>
</plist>
