<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_huolu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,80}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{188,80}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>effect_huolu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{99,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,73}}</string>
                <key>sourceSize</key>
                <string>{99,73}</string>
            </dict>
            <key>effect_huolu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,437},{98,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,73}}</string>
                <key>sourceSize</key>
                <string>{98,73}</string>
            </dict>
            <key>effect_huolu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{104,35}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,35}}</string>
                <key>sourceSize</key>
                <string>{108,35}</string>
            </dict>
            <key>effect_huolu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,343},{114,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{114,33}}</string>
                <key>sourceSize</key>
                <string>{116,33}</string>
            </dict>
            <key>effect_huolu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,272},{114,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,69}}</string>
                <key>sourceSize</key>
                <string>{114,69}</string>
            </dict>
            <key>effect_huolu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,108},{114,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,79}}</string>
                <key>sourceSize</key>
                <string>{114,79}</string>
            </dict>
            <key>effect_huolu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{126,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,102}}</string>
                <key>sourceSize</key>
                <string>{126,102}</string>
            </dict>
            <key>effect_huolu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{136,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,83}}</string>
                <key>sourceSize</key>
                <string>{136,83}</string>
            </dict>
            <key>effect_huolu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{130,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,82}}</string>
                <key>sourceSize</key>
                <string>{130,82}</string>
            </dict>
            <key>effect_huolu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,189},{115,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,81}}</string>
                <key>sourceSize</key>
                <string>{115,81}</string>
            </dict>
            <key>effect_huolu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{102,78}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{102,78}}</string>
                <key>sourceSize</key>
                <string>{116,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_huolu.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a92e14e3f9ebf3fbbcc423fd7272cd0$</string>
            <key>textureFileName</key>
            <string>effect_huolu.png</string>
        </dict>
    </dict>
</plist>
