<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_318_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{130,76}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,76}}</string>
                <key>sourceSize</key>
                <string>{144,80}</string>
            </dict>
            <key>sp_base_318_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,124},{316,16}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{316,16}}</string>
                <key>sourceSize</key>
                <string>{328,20}</string>
            </dict>
            <key>sp_base_318_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,442},{269,12}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{269,12}}</string>
                <key>sourceSize</key>
                <string>{283,16}</string>
            </dict>
            <key>sp_base_318_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,80},{112,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,56}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>sp_base_318_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,138},{226,59}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{226,59}}</string>
                <key>sourceSize</key>
                <string>{238,65}</string>
            </dict>
            <key>sp_base_318_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,124},{296,61}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{296,61}}</string>
                <key>sourceSize</key>
                <string>{308,65}</string>
            </dict>
            <key>sp_base_318_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,124},{306,65}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{306,65}}</string>
                <key>sourceSize</key>
                <string>{318,69}</string>
            </dict>
            <key>sp_base_318_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{356,66}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{356,66}}</string>
                <key>sourceSize</key>
                <string>{376,72}</string>
            </dict>
            <key>sp_base_318_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,52}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{366,52}}</string>
                <key>sourceSize</key>
                <string>{380,56}</string>
            </dict>
            <key>sp_base_318_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{350,34}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{350,34}}</string>
                <key>sourceSize</key>
                <string>{362,38}</string>
            </dict>
            <key>sp_base_318_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{350,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{350,22}}</string>
                <key>sourceSize</key>
                <string>{358,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_318.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fbba8946d2bbbcc578182deb9b99b38$</string>
            <key>textureFileName</key>
            <string>sp_base_318.png</string>
        </dict>
    </dict>
</plist>
