<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_moon_cg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,188}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{188,188}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_moon_cg.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ce312b241b85461fb4c7b2296d37bad$</string>
            <key>textureFileName</key>
            <string>effect_moon_cg.png</string>
        </dict>
    </dict>
</plist>
