<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_251_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,845},{329,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,330}}</string>
                <key>sourceSize</key>
                <string>{329,330}</string>
            </dict>
            <key>sp_base_251_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{603,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{603,339}}</string>
                <key>sourceSize</key>
                <string>{603,339}</string>
            </dict>
            <key>sp_base_251_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,2},{605,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,339}}</string>
                <key>sourceSize</key>
                <string>{605,339}</string>
            </dict>
            <key>sp_base_251_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{608,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,165}}</string>
                <key>sourceSize</key>
                <string>{608,165}</string>
            </dict>
            <key>sp_base_251_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{609,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,165}}</string>
                <key>sourceSize</key>
                <string>{609,165}</string>
            </dict>
            <key>sp_base_251_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1597},{396,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,333}}</string>
                <key>sourceSize</key>
                <string>{396,333}</string>
            </dict>
            <key>sp_base_251_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1597},{490,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,333}}</string>
                <key>sourceSize</key>
                <string>{490,333}</string>
            </dict>
            <key>sp_base_251_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1017},{578,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,334}}</string>
                <key>sourceSize</key>
                <string>{578,334}</string>
            </dict>
            <key>sp_base_251_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,681},{585,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,334}}</string>
                <key>sourceSize</key>
                <string>{585,334}</string>
            </dict>
            <key>sp_base_251_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{590,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,333}}</string>
                <key>sourceSize</key>
                <string>{590,333}</string>
            </dict>
            <key>sp_base_251_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,509},{593,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{593,334}}</string>
                <key>sourceSize</key>
                <string>{593,334}</string>
            </dict>
            <key>sp_base_251_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,343},{597,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,336}}</string>
                <key>sourceSize</key>
                <string>{597,336}</string>
            </dict>
            <key>sp_base_251_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,169},{599,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{599,338}}</string>
                <key>sourceSize</key>
                <string>{599,338}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_251.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84a9927c15ce2a4ed697189dde8404e9$</string>
            <key>textureFileName</key>
            <string>sp_base_251.png</string>
        </dict>
    </dict>
</plist>
