<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_shoot_daodan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,169}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{70,169}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_shoot_daodan.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af9143b1da38864e79936839491f938f$</string>
            <key>textureFileName</key>
            <string>sp_shoot_daodan.png</string>
        </dict>
    </dict>
</plist>
