<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_char_show_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,350},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>sp_char_show_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{67,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>sp_char_show_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,350},{82,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>sp_char_show_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{102,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,109}}</string>
                <key>sourceSize</key>
                <string>{102,109}</string>
            </dict>
            <key>sp_char_show_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,242},{106,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{106,118}}</string>
                <key>sourceSize</key>
                <string>{108,120}</string>
            </dict>
            <key>sp_char_show_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{121,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{121,120}}</string>
                <key>sourceSize</key>
                <string>{121,124}</string>
            </dict>
            <key>sp_char_show_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,117},{123,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,124}}</string>
                <key>sourceSize</key>
                <string>{123,124}</string>
            </dict>
            <key>sp_char_show_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,125}}</string>
                <key>sourceSize</key>
                <string>{123,125}</string>
            </dict>
            <key>sp_char_show_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{113,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,125}}</string>
                <key>sourceSize</key>
                <string>{113,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_char_show.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e093dc6fd83457926c034d7ad3c711a$</string>
            <key>textureFileName</key>
            <string>sp_char_show.png</string>
        </dict>
    </dict>
</plist>
