<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_55_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{519,118}}</string>
                <key>offset</key>
                <string>{-22,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{519,118}}</string>
                <key>sourceSize</key>
                <string>{575,128}</string>
            </dict>
            <key>effect_55_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{611,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,235}}</string>
                <key>sourceSize</key>
                <string>{611,235}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_55.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71c7bc31836d551d5883c2ba236e47d2$</string>
            <key>textureFileName</key>
            <string>effect_55.png</string>
        </dict>
    </dict>
</plist>
