<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_firedragon_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,179}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{239,179}}</string>
                <key>sourceSize</key>
                <string>{261,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_firedragon_2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be50973ded58b4cae1eef07f1677f14b$</string>
            <key>textureFileName</key>
            <string>sp_firedragon_2.png</string>
        </dict>
    </dict>
</plist>
