<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zl_huoyan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{132,69}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{132,69}}</string>
                <key>sourceSize</key>
                <string>{154,85}</string>
            </dict>
            <key>effect_zl_huoyan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,205},{126,59}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{126,59}}</string>
                <key>sourceSize</key>
                <string>{154,85}</string>
            </dict>
            <key>effect_zl_huoyan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,207},{124,57}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{124,57}}</string>
                <key>sourceSize</key>
                <string>{154,85}</string>
            </dict>
            <key>effect_zl_huoyan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{124,59}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{124,59}}</string>
                <key>sourceSize</key>
                <string>{154,85}</string>
            </dict>
            <key>effect_zl_huoyan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,236},{120,61}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{120,61}}</string>
                <key>sourceSize</key>
                <string>{154,85}</string>
            </dict>
            <key>effect_zl_huoyan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,118},{116,65}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{116,65}}</string>
                <key>sourceSize</key>
                <string>{154,85}</string>
            </dict>
            <key>effect_zl_huoyan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{114,79}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{114,79}}</string>
                <key>sourceSize</key>
                <string>{154,85}</string>
            </dict>
            <key>effect_zl_huoyan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{102,51}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,21},{102,51}}</string>
                <key>sourceSize</key>
                <string>{154,85}</string>
            </dict>
            <key>effect_zl_huoyan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,148},{130,55}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{130,55}}</string>
                <key>sourceSize</key>
                <string>{154,85}</string>
            </dict>
            <key>effect_zl_huoyan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{126,63}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{126,63}}</string>
                <key>sourceSize</key>
                <string>{154,85}</string>
            </dict>
            <key>effect_zl_huoyan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,73},{132,67}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{132,67}}</string>
                <key>sourceSize</key>
                <string>{154,85}</string>
            </dict>
            <key>effect_zl_huoyan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{134,79}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{134,79}}</string>
                <key>sourceSize</key>
                <string>{154,85}</string>
            </dict>
            <key>effect_zl_huoyan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{134,71}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{134,71}}</string>
                <key>sourceSize</key>
                <string>{154,85}</string>
            </dict>
            <key>effect_zl_huoyan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,77}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{136,77}}</string>
                <key>sourceSize</key>
                <string>{154,85}</string>
            </dict>
            <key>effect_zl_huoyan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,142},{132,63}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{132,63}}</string>
                <key>sourceSize</key>
                <string>{154,85}</string>
            </dict>
            <key>effect_zl_huoyan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,83},{132,63}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{132,63}}</string>
                <key>sourceSize</key>
                <string>{154,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zl_huoyan.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:789e3e1c6ae7175bb14c94ba51fc4c09$</string>
            <key>textureFileName</key>
            <string>effect_zl_huoyan.png</string>
        </dict>
    </dict>
</plist>
