<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_huode_weishengjing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{470,83}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{470,83}}</string>
                <key>sourceSize</key>
                <string>{490,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_huode_weishengjing.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8c79a183c32d1a4f3aee364f4aae245$</string>
            <key>textureFileName</key>
            <string>effect_huode_weishengjing.png</string>
        </dict>
    </dict>
</plist>
