<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_009_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,467},{69,258}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,205},{69,258}}</string>
                <key>sourceSize</key>
                <string>{179,558}</string>
            </dict>
            <key>sp_base_009_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{107,532}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{107,532}}</string>
                <key>sourceSize</key>
                <string>{179,558}</string>
            </dict>
            <key>sp_base_009_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,467},{99,522}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,11},{99,522}}</string>
                <key>sourceSize</key>
                <string>{179,558}</string>
            </dict>
            <key>sp_base_009_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,508}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,6},{97,508}}</string>
                <key>sourceSize</key>
                <string>{179,558}</string>
            </dict>
            <key>sp_base_009_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{97,504}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,3},{97,504}}</string>
                <key>sourceSize</key>
                <string>{179,558}</string>
            </dict>
            <key>sp_base_009_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{95,502}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{95,502}}</string>
                <key>sourceSize</key>
                <string>{179,558}</string>
            </dict>
            <key>sp_base_009_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{91,506}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,0},{91,506}}</string>
                <key>sourceSize</key>
                <string>{179,558}</string>
            </dict>
            <key>sp_base_009_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{75,498}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{75,498}}</string>
                <key>sourceSize</key>
                <string>{179,558}</string>
            </dict>
            <key>sp_base_009_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,538},{57,480}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,15},{57,480}}</string>
                <key>sourceSize</key>
                <string>{179,558}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_009.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1024d4f8a51c9a5ef8ebf14622541c8$</string>
            <key>textureFileName</key>
            <string>sp_base_009.png</string>
        </dict>
    </dict>
</plist>
