<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_daokanshouji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{255,213}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,53},{255,213}}</string>
                <key>sourceSize</key>
                <string>{373,349}</string>
            </dict>
            <key>effect_daokanshouji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,426},{180,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,195}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>effect_daokanshouji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,454},{180,189}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,189}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>effect_daokanshouji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{239,233}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,53},{239,233}}</string>
                <key>sourceSize</key>
                <string>{373,349}</string>
            </dict>
            <key>effect_daokanshouji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{299,305}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{299,305}}</string>
                <key>sourceSize</key>
                <string>{373,349}</string>
            </dict>
            <key>effect_daokanshouji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{299,305}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{299,305}}</string>
                <key>sourceSize</key>
                <string>{373,349}</string>
            </dict>
            <key>effect_daokanshouji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{299,305}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{299,305}}</string>
                <key>sourceSize</key>
                <string>{373,349}</string>
            </dict>
            <key>effect_daokanshouji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,217},{235,207}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,71},{235,207}}</string>
                <key>sourceSize</key>
                <string>{373,349}</string>
            </dict>
            <key>effect_daokanshouji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,221},{233,217}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,69},{233,217}}</string>
                <key>sourceSize</key>
                <string>{373,349}</string>
            </dict>
            <key>effect_daokanshouji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,237},{223,215}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,69},{223,215}}</string>
                <key>sourceSize</key>
                <string>{373,349}</string>
            </dict>
            <key>effect_daokanshouji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,2},{219,217}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,70},{219,217}}</string>
                <key>sourceSize</key>
                <string>{373,349}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_daokanshouji.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf512e2ca18c84f9c68f383b2dc6f027$</string>
            <key>textureFileName</key>
            <string>effect_daokanshouji.png</string>
        </dict>
    </dict>
</plist>
