<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_bsqh_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,649},{156,203}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{156,203}}</string>
                <key>sourceSize</key>
                <string>{178,221}</string>
            </dict>
            <key>effect_bsqh_fire_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,626},{182,191}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{182,191}}</string>
                <key>sourceSize</key>
                <string>{214,221}</string>
            </dict>
            <key>effect_bsqh_fire_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,207},{184,177}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,28},{184,177}}</string>
                <key>sourceSize</key>
                <string>{214,221}</string>
            </dict>
            <key>effect_bsqh_fire_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,430},{194,169}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,31},{194,169}}</string>
                <key>sourceSize</key>
                <string>{214,221}</string>
            </dict>
            <key>effect_bsqh_fire_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,848},{156,173}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{156,173}}</string>
                <key>sourceSize</key>
                <string>{214,221}</string>
            </dict>
            <key>effect_bsqh_fire_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{114,127}}</string>
                <key>offset</key>
                <string>{-14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,63},{114,127}}</string>
                <key>sourceSize</key>
                <string>{214,221}</string>
            </dict>
            <key>effect_bsqh_fire_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{114,127}}</string>
                <key>offset</key>
                <string>{-15,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,62},{114,127}}</string>
                <key>sourceSize</key>
                <string>{214,221}</string>
            </dict>
            <key>effect_bsqh_fire_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,393},{112,107}}</string>
                <key>offset</key>
                <string>{-18,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,81},{112,107}}</string>
                <key>sourceSize</key>
                <string>{214,221}</string>
            </dict>
            <key>effect_bsqh_fire_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,131},{68,105}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,82},{68,105}}</string>
                <key>sourceSize</key>
                <string>{214,221}</string>
            </dict>
            <key>effect_bsqh_fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,219}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{179,219}}</string>
                <key>sourceSize</key>
                <string>{187,221}</string>
            </dict>
            <key>effect_bsqh_fire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,223},{170,205}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,16},{170,205}}</string>
                <key>sourceSize</key>
                <string>{214,221}</string>
            </dict>
            <key>effect_bsqh_fire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{172,209}}</string>
                <key>offset</key>
                <string>{15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,12},{172,209}}</string>
                <key>sourceSize</key>
                <string>{214,221}</string>
            </dict>
            <key>effect_bsqh_fire_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{168,201}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,20},{168,201}}</string>
                <key>sourceSize</key>
                <string>{214,221}</string>
            </dict>
            <key>effect_bsqh_fire_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{158,213}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{158,213}}</string>
                <key>sourceSize</key>
                <string>{214,221}</string>
            </dict>
            <key>effect_bsqh_fire_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,649},{156,197}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{156,197}}</string>
                <key>sourceSize</key>
                <string>{214,221}</string>
            </dict>
            <key>effect_bsqh_fire_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{168,203}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{168,203}}</string>
                <key>sourceSize</key>
                <string>{214,221}</string>
            </dict>
            <key>effect_bsqh_fire_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,819},{178,185}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{178,185}}</string>
                <key>sourceSize</key>
                <string>{214,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_bsqh_fire.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad174e09338c421cf92efe9f9c00414b$</string>
            <key>textureFileName</key>
            <string>effect_bsqh_fire.png</string>
        </dict>
    </dict>
</plist>
