<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_007_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{663,149}}</string>
                <key>offset</key>
                <string>{9,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{663,149}}</string>
                <key>sourceSize</key>
                <string>{681,255}</string>
            </dict>
            <key>sp_base_007_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,373},{465,167}}</string>
                <key>offset</key>
                <string>{66,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,61},{465,167}}</string>
                <key>sourceSize</key>
                <string>{681,255}</string>
            </dict>
            <key>sp_base_007_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,542},{395,153}}</string>
                <key>offset</key>
                <string>{88,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,67},{395,153}}</string>
                <key>sourceSize</key>
                <string>{681,255}</string>
            </dict>
            <key>sp_base_007_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{335,145}}</string>
                <key>offset</key>
                <string>{97,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,71},{335,145}}</string>
                <key>sourceSize</key>
                <string>{681,255}</string>
            </dict>
            <key>sp_base_007_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,149},{245,115}}</string>
                <key>offset</key>
                <string>{79,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,85},{245,115}}</string>
                <key>sourceSize</key>
                <string>{681,255}</string>
            </dict>
            <key>sp_base_007_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,266},{225,105}}</string>
                <key>offset</key>
                <string>{93,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,81},{225,105}}</string>
                <key>sourceSize</key>
                <string>{681,255}</string>
            </dict>
            <key>sp_base_007_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{681,193}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{681,193}}</string>
                <key>sourceSize</key>
                <string>{681,255}</string>
            </dict>
            <key>sp_base_007_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{551,199}}</string>
                <key>offset</key>
                <string>{65,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,31},{551,199}}</string>
                <key>sourceSize</key>
                <string>{681,255}</string>
            </dict>
            <key>sp_base_007_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{523,195}}</string>
                <key>offset</key>
                <string>{79,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,39},{523,195}}</string>
                <key>sourceSize</key>
                <string>{681,255}</string>
            </dict>
            <key>sp_base_007_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{513,191}}</string>
                <key>offset</key>
                <string>{84,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,47},{513,191}}</string>
                <key>sourceSize</key>
                <string>{681,255}</string>
            </dict>
            <key>sp_base_007_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,870},{507,189}}</string>
                <key>offset</key>
                <string>{87,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,49},{507,189}}</string>
                <key>sourceSize</key>
                <string>{681,255}</string>
            </dict>
            <key>sp_base_007_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,939},{511,185}}</string>
                <key>offset</key>
                <string>{85,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,52},{511,185}}</string>
                <key>sourceSize</key>
                <string>{681,255}</string>
            </dict>
            <key>sp_base_007_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1126},{509,173}}</string>
                <key>offset</key>
                <string>{86,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,59},{509,173}}</string>
                <key>sourceSize</key>
                <string>{681,255}</string>
            </dict>
            <key>sp_base_007_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,697},{483,171}}</string>
                <key>offset</key>
                <string>{72,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,60},{483,171}}</string>
                <key>sourceSize</key>
                <string>{681,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_007.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:133da32a2f1219d711c2ab6dfee89474$</string>
            <key>textureFileName</key>
            <string>sp_base_007.png</string>
        </dict>
    </dict>
</plist>
