<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_2group_xhly_hit_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,282},{67,97}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,97}}</string>
                <key>sourceSize</key>
                <string>{67,99}</string>
            </dict>
            <key>sp_2group_xhly_hit_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{88,128}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{88,128}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>sp_2group_xhly_hit_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{92,128}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{92,128}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>sp_2group_xhly_hit_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{96,142}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{96,142}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>sp_2group_xhly_hit_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,144}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{98,144}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>sp_2group_xhly_hit_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,144},{98,136}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{98,136}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>sp_2group_xhly_hit_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{102,140}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{102,140}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_2group_xhly_hit_2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88284fdcfd2489042bb69d4227052cb6$</string>
            <key>textureFileName</key>
            <string>sp_2group_xhly_hit_2.png</string>
        </dict>
    </dict>
</plist>
