<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_4009_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1392,1114}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,36},{1392,1114}}</string>
                <key>sourceSize</key>
                <string>{1492,1234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_4009.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:450603bb474d6c2d6dddbebe2f02a1a5$</string>
            <key>textureFileName</key>
            <string>effect_4009.png</string>
        </dict>
    </dict>
</plist>
