<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_jibu_xin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,73}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{64,73}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_jibu_xin.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cf5594ad3cc48e48f48764b58bcfdac$</string>
            <key>textureFileName</key>
            <string>sp_jibu_xin.png</string>
        </dict>
    </dict>
</plist>
