<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_main2_bird_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{98,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,71}}</string>
                <key>sourceSize</key>
                <string>{98,71}</string>
            </dict>
            <key>effect_main2_bird_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{119,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,59}}</string>
                <key>sourceSize</key>
                <string>{119,59}</string>
            </dict>
            <key>effect_main2_bird_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,36}}</string>
                <key>sourceSize</key>
                <string>{133,36}</string>
            </dict>
            <key>effect_main2_bird_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,142},{95,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,69}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>effect_main2_bird_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,60},{119,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,62}}</string>
                <key>sourceSize</key>
                <string>{119,62}</string>
            </dict>
            <key>effect_main2_bird_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{128,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,39}}</string>
                <key>sourceSize</key>
                <string>{128,39}</string>
            </dict>
            <key>effect_main2_bird_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{102,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,56}}</string>
                <key>sourceSize</key>
                <string>{102,56}</string>
            </dict>
            <key>effect_main2_bird_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,124},{93,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,75}}</string>
                <key>sourceSize</key>
                <string>{93,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_main2_bird.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3986127dbb0cbf6a976f17a79463758a$</string>
            <key>textureFileName</key>
            <string>effect_main2_bird.png</string>
        </dict>
    </dict>
</plist>
