<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_heidong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,240},{150,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,68}}</string>
                <key>sourceSize</key>
                <string>{150,68}</string>
            </dict>
            <key>sp_heidong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{158,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,76}}</string>
                <key>sourceSize</key>
                <string>{158,76}</string>
            </dict>
            <key>sp_heidong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{161,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,72}}</string>
                <key>sourceSize</key>
                <string>{161,72}</string>
            </dict>
            <key>sp_heidong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,82},{162,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,77}}</string>
                <key>sourceSize</key>
                <string>{162,77}</string>
            </dict>
            <key>sp_heidong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{165,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,77}}</string>
                <key>sourceSize</key>
                <string>{165,77}</string>
            </dict>
            <key>sp_heidong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{165,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,78}}</string>
                <key>sourceSize</key>
                <string>{165,78}</string>
            </dict>
            <key>sp_heidong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,81},{163,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,79}}</string>
                <key>sourceSize</key>
                <string>{163,79}</string>
            </dict>
            <key>sp_heidong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,79}}</string>
                <key>sourceSize</key>
                <string>{165,79}</string>
            </dict>
            <key>sp_heidong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,161},{155,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,78}}</string>
                <key>sourceSize</key>
                <string>{155,78}</string>
            </dict>
            <key>sp_heidong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,162},{150,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,76}}</string>
                <key>sourceSize</key>
                <string>{150,76}</string>
            </dict>
            <key>sp_heidong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{154,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,75}}</string>
                <key>sourceSize</key>
                <string>{154,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_heidong.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4d7db7901c3f146f8fc8e54eef8192f$</string>
            <key>textureFileName</key>
            <string>sp_heidong.png</string>
        </dict>
    </dict>
</plist>
