<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_2group_shenshyj_start_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,153}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{109,153}}</string>
                <key>sourceSize</key>
                <string>{129,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_2group_shenshyj_start_4.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0cd8b6b1739fc0fc4beb67977add472$</string>
            <key>textureFileName</key>
            <string>sp_2group_shenshyj_start_4.png</string>
        </dict>
    </dict>
</plist>
