<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_circle_light2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{93,99}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,99}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>effect_circle_light2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{93,97}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,97}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>effect_circle_light2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,101}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,101}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>effect_circle_light2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,380},{93,95}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{93,95}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>effect_circle_light2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{89,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{89,97}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>effect_circle_light2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,97},{93,97}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{93,97}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>effect_circle_light2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{91,99}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,99}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>effect_circle_light2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{89,97}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{89,97}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>effect_circle_light2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,192},{91,97}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>effect_circle_light2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,285},{93,95}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,95}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_circle_light2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e12b4581a0eecfe97babbfa3127e29c$</string>
            <key>textureFileName</key>
            <string>effect_circle_light2.png</string>
        </dict>
    </dict>
</plist>
