<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_2group_shencyfb_hit_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,179},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>sp_2group_shencyfb_hit_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{84,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,64}}</string>
                <key>sourceSize</key>
                <string>{84,64}</string>
            </dict>
            <key>sp_2group_shencyfb_hit_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,182},{88,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,67}}</string>
                <key>sourceSize</key>
                <string>{88,67}</string>
            </dict>
            <key>sp_2group_shencyfb_hit_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,122},{55,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,32}}</string>
                <key>sourceSize</key>
                <string>{55,34}</string>
            </dict>
            <key>sp_2group_shencyfb_hit_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,123}}</string>
                <key>sourceSize</key>
                <string>{45,123}</string>
            </dict>
            <key>sp_2group_shencyfb_hit_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{46,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,120}}</string>
                <key>sourceSize</key>
                <string>{46,120}</string>
            </dict>
            <key>sp_2group_shencyfb_hit_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{52,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,119}}</string>
                <key>sourceSize</key>
                <string>{52,119}</string>
            </dict>
            <key>sp_2group_shencyfb_hit_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,122},{58,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,104}}</string>
                <key>sourceSize</key>
                <string>{58,104}</string>
            </dict>
            <key>sp_2group_shencyfb_hit_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{64,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,106}}</string>
                <key>sourceSize</key>
                <string>{64,106}</string>
            </dict>
            <key>sp_2group_shencyfb_hit_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,50},{70,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,110}}</string>
                <key>sourceSize</key>
                <string>{70,110}</string>
            </dict>
            <key>sp_2group_shencyfb_hit_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{74,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,97}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>sp_2group_shencyfb_hit_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,206},{79,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,63}}</string>
                <key>sourceSize</key>
                <string>{79,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_2group_shencyfb_hit_2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d48e0b9c4422953bfd15975f5ee31912$</string>
            <key>textureFileName</key>
            <string>sp_2group_shencyfb_hit_2.png</string>
        </dict>
    </dict>
</plist>
