<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_skill_lianda_baoguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,282},{143,123}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,46},{143,123}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,613},{81,65}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,70},{81,65}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,282},{59,57}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,72},{59,57}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,341},{57,55}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,73},{57,55}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{23,23}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,83},{23,23}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,514},{55,97}}</string>
                <key>offset</key>
                <string>{20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,52},{55,97}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,398},{55,99}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,50},{55,99}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,499},{83,97}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,52},{83,97}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,502},{113,107}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,41},{113,107}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{123,117}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,31},{123,117}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,371},{139,129}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{139,129}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,125},{155,121}}</string>
                <key>offset</key>
                <string>{10,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,49},{155,121}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{145,119}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,41},{145,119}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{153,125}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,39},{153,125}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{159,121}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,39},{159,121}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,248},{145,121}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,39},{145,121}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{71,109}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,39},{71,109}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{79,103}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,44},{79,103}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,514},{79,101}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,46},{79,101}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,595},{55,89}}</string>
                <key>offset</key>
                <string>{20,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,56},{55,89}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{147,157}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{147,157}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,151}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{161,151}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,151},{151,129}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{151,129}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,407},{119,105}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,44},{119,105}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,584},{87,85}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,59},{87,85}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,611},{75,73}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,64},{75,73}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>sp_skill_lianda_baoguang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,671},{77,69}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,66},{77,69}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_skill_lianda_baoguang.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5e35494a29ad4384c9cfe553cc1c997$</string>
            <key>textureFileName</key>
            <string>sp_skill_lianda_baoguang.png</string>
        </dict>
    </dict>
</plist>
