<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_075_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,683},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>sp_base_075_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,456},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>sp_base_075_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,229},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>sp_base_075_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,2},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>sp_base_075_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>sp_base_075_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>sp_base_075_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>sp_base_075_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>sp_base_075_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>sp_base_075_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_075.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d8a2547747ac01bd7437a607ed93c95$</string>
            <key>textureFileName</key>
            <string>sp_base_075.png</string>
        </dict>
    </dict>
</plist>
