<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_mountain_bg_bgl_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{23,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{23,23}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_mountain_bg_bgl_2.png</string>
            <key>size</key>
            <string>{27,27}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1aa51336775a9951688a29684d5d418$</string>
            <key>textureFileName</key>
            <string>effect_mountain_bg_bgl_2.png</string>
        </dict>
    </dict>
</plist>
