<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jiangling_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,492},{240,241}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{240,241}}</string>
                <key>sourceSize</key>
                <string>{246,253}</string>
            </dict>
            <key>effect_jiangling_11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{238,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,243}}</string>
                <key>sourceSize</key>
                <string>{238,243}</string>
            </dict>
            <key>effect_jiangling_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{237,243}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{237,243}}</string>
                <key>sourceSize</key>
                <string>{245,253}</string>
            </dict>
            <key>effect_jiangling_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,737},{243,199}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{243,199}}</string>
                <key>sourceSize</key>
                <string>{251,209}</string>
            </dict>
            <key>effect_jiangling_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,221},{229,209}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{229,209}}</string>
                <key>sourceSize</key>
                <string>{241,217}</string>
            </dict>
            <key>effect_jiangling_11_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{221,223}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{221,223}}</string>
                <key>sourceSize</key>
                <string>{233,231}</string>
            </dict>
            <key>effect_jiangling_11_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{217,231}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{217,231}}</string>
                <key>sourceSize</key>
                <string>{225,239}</string>
            </dict>
            <key>effect_jiangling_11_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,243}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{239,243}}</string>
                <key>sourceSize</key>
                <string>{247,251}</string>
            </dict>
            <key>effect_jiangling_11_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,735},{241,240}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{241,240}}</string>
                <key>sourceSize</key>
                <string>{249,248}</string>
            </dict>
            <key>effect_jiangling_11_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{243,239}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{243,239}}</string>
                <key>sourceSize</key>
                <string>{253,247}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jiangling_11.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce5662ecfd35ed4764137e9b85eae6a0$</string>
            <key>textureFileName</key>
            <string>effect_jiangling_11.png</string>
        </dict>
    </dict>
</plist>
