<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_107_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{188,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,182}}</string>
                <key>sourceSize</key>
                <string>{188,182}</string>
            </dict>
            <key>sp_base_107_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,175}}</string>
                <key>sourceSize</key>
                <string>{203,175}</string>
            </dict>
            <key>sp_base_107_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{144,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,155}}</string>
                <key>sourceSize</key>
                <string>{144,155}</string>
            </dict>
            <key>sp_base_107_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{76,46}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,46}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_107.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c582967c6871c3fbb7984cae46615bc$</string>
            <key>textureFileName</key>
            <string>sp_base_107.png</string>
        </dict>
    </dict>
</plist>
