<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_321_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,238}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{156,238}}</string>
                <key>sourceSize</key>
                <string>{164,240}</string>
            </dict>
            <key>sp_base_321_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,232},{156,224}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{156,224}}</string>
                <key>sourceSize</key>
                <string>{164,240}</string>
            </dict>
            <key>sp_base_321_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,710},{156,228}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{156,228}}</string>
                <key>sourceSize</key>
                <string>{164,240}</string>
            </dict>
            <key>sp_base_321_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,238},{156,230}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{156,230}}</string>
                <key>sourceSize</key>
                <string>{164,240}</string>
            </dict>
            <key>sp_base_321_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,470},{150,228}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{150,228}}</string>
                <key>sourceSize</key>
                <string>{164,240}</string>
            </dict>
            <key>sp_base_321_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,242},{110,234}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{110,234}}</string>
                <key>sourceSize</key>
                <string>{164,240}</string>
            </dict>
            <key>sp_base_321_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,482},{112,234}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{112,234}}</string>
                <key>sourceSize</key>
                <string>{164,240}</string>
            </dict>
            <key>sp_base_321_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{90,234}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{90,234}}</string>
                <key>sourceSize</key>
                <string>{164,240}</string>
            </dict>
            <key>sp_base_321_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{92,234}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{92,234}}</string>
                <key>sourceSize</key>
                <string>{164,240}</string>
            </dict>
            <key>sp_base_321_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,954},{80,22}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,37},{80,22}}</string>
                <key>sourceSize</key>
                <string>{164,66}</string>
            </dict>
            <key>sp_base_321_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,978},{70,19}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,26},{70,19}}</string>
                <key>sourceSize</key>
                <string>{164,55}</string>
            </dict>
            <key>sp_base_321_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,232},{156,224}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{156,224}}</string>
                <key>sourceSize</key>
                <string>{164,240}</string>
            </dict>
            <key>sp_base_321_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{68,18}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,15},{68,18}}</string>
                <key>sourceSize</key>
                <string>{164,44}</string>
            </dict>
            <key>sp_base_321_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,478},{156,230}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{156,230}}</string>
                <key>sourceSize</key>
                <string>{164,240}</string>
            </dict>
            <key>sp_base_321_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,718},{156,230}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{156,230}}</string>
                <key>sourceSize</key>
                <string>{164,240}</string>
            </dict>
            <key>sp_base_321_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{158,228}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{158,228}}</string>
                <key>sourceSize</key>
                <string>{164,240}</string>
            </dict>
            <key>sp_base_321_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{148,234}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{148,234}}</string>
                <key>sourceSize</key>
                <string>{164,240}</string>
            </dict>
            <key>sp_base_321_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{148,234}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{148,234}}</string>
                <key>sourceSize</key>
                <string>{164,240}</string>
            </dict>
            <key>sp_base_321_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{154,238}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,238}}</string>
                <key>sourceSize</key>
                <string>{164,240}</string>
            </dict>
            <key>sp_base_321_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,238}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{156,238}}</string>
                <key>sourceSize</key>
                <string>{164,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_321.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75d35d6bf9978c125ac59bcb522a7085$</string>
            <key>textureFileName</key>
            <string>sp_base_321.png</string>
        </dict>
    </dict>
</plist>
