<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_attack_lvbu_xuli_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,754}}</string>
                <key>offset</key>
                <string>{28,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,41},{282,754}}</string>
                <key>sourceSize</key>
                <string>{750,850}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_attack_lvbu_xuli_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6804a90b87cbe781a658a1d75de1e59b$</string>
            <key>textureFileName</key>
            <string>sp_attack_lvbu_xuli_1.png</string>
        </dict>
    </dict>
</plist>
