<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_cloud_gs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,121}}</string>
                <key>sourceSize</key>
                <string>{174,121}</string>
            </dict>
            <key>effect_cloud_gs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{263,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,51}}</string>
                <key>sourceSize</key>
                <string>{263,51}</string>
            </dict>
            <key>effect_cloud_gs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{372,69}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,69}}</string>
                <key>sourceSize</key>
                <string>{376,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_cloud_gs.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52568b9a33ea0c7d9f748995fff926b7$</string>
            <key>textureFileName</key>
            <string>effect_cloud_gs.png</string>
        </dict>
    </dict>
</plist>
