<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_zhanchong_feng_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{99,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,57}}</string>
                <key>sourceSize</key>
                <string>{99,57}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,332},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,54}}</string>
                <key>sourceSize</key>
                <string>{37,54}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{29,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,50}}</string>
                <key>sourceSize</key>
                <string>{29,50}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{28,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,397},{26,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,45}}</string>
                <key>sourceSize</key>
                <string>{26,45}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,416},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,429},{23,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,35}}</string>
                <key>sourceSize</key>
                <string>{25,39}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,307},{39,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,55}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,163},{49,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,69}}</string>
                <key>sourceSize</key>
                <string>{49,69}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,385},{29,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,43}}</string>
                <key>sourceSize</key>
                <string>{29,43}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,401},{26,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,49}}</string>
                <key>sourceSize</key>
                <string>{26,49}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,454},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{14,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,36}}</string>
                <key>sourceSize</key>
                <string>{14,36}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,425},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,24}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,437},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,486},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,461},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,353},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,261},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,454},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,307},{44,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,36}}</string>
                <key>sourceSize</key>
                <string>{44,36}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,371},{53,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,30}}</string>
                <key>sourceSize</key>
                <string>{53,30}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{53,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,47}}</string>
                <key>sourceSize</key>
                <string>{53,47}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,349},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,214},{20,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,43}}</string>
                <key>sourceSize</key>
                <string>{20,43}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,290},{56,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,214},{58,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,45}}</string>
                <key>sourceSize</key>
                <string>{58,45}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,403},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,460},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,348},{54,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,23}}</string>
                <key>sourceSize</key>
                <string>{54,23}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,373},{49,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,26}}</string>
                <key>sourceSize</key>
                <string>{49,26}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,259},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,452},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,60},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>sp_zhanchong_feng_attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,40},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,12}</string>
            </dict>
            <key>sp_zhanchong_feng_cont_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{169,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,125}}</string>
                <key>sourceSize</key>
                <string>{169,125}</string>
            </dict>
            <key>sp_zhanchong_feng_cont_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,159}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{236,159}}</string>
                <key>sourceSize</key>
                <string>{246,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_zhanchong_feng.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9c3d9104d6b283fc6b440dcaade21ce$</string>
            <key>textureFileName</key>
            <string>sp_zhanchong_feng.png</string>
        </dict>
    </dict>
</plist>
