<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_zhanchong_long_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,51}</string>
            </dict>
            <key>sp_zhanchong_long_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{96,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,75}}</string>
                <key>sourceSize</key>
                <string>{96,75}</string>
            </dict>
            <key>sp_zhanchong_long_attack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,80},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>sp_zhanchong_long_attack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{96,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,72}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>sp_zhanchong_long_attack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,286},{69,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,36}}</string>
                <key>sourceSize</key>
                <string>{69,36}</string>
            </dict>
            <key>sp_zhanchong_long_attack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,256},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>sp_zhanchong_long_attack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,236},{29,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>sp_zhanchong_long_attack_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,195},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>sp_zhanchong_long_attack_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{77,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,58}}</string>
                <key>sourceSize</key>
                <string>{77,58}</string>
            </dict>
            <key>sp_zhanchong_long_attack_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,236},{95,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,48}}</string>
                <key>sourceSize</key>
                <string>{95,48}</string>
            </dict>
            <key>sp_zhanchong_long_attack_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,309},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>sp_zhanchong_long_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{131,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,91}}</string>
                <key>sourceSize</key>
                <string>{131,91}</string>
            </dict>
            <key>sp_zhanchong_long_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,324},{61,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,56}}</string>
                <key>sourceSize</key>
                <string>{61,56}</string>
            </dict>
            <key>sp_zhanchong_long_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,284},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>sp_zhanchong_long_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{108,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,76}}</string>
                <key>sourceSize</key>
                <string>{108,76}</string>
            </dict>
            <key>sp_zhanchong_long_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,148},{31,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>sp_zhanchong_long_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,226},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>sp_zhanchong_long_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,286},{35,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{37,34}</string>
            </dict>
            <key>sp_zhanchong_long_attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,147},{87,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,97}}</string>
                <key>sourceSize</key>
                <string>{87,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_zhanchong_long.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d90864bb108433fbd5896a137059c18$</string>
            <key>textureFileName</key>
            <string>sp_zhanchong_long.png</string>
        </dict>
    </dict>
</plist>
