<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_zhanchong_niu_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{150,145}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{150,145}}</string>
                <key>sourceSize</key>
                <string>{152,145}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,149},{133,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{133,114}}</string>
                <key>sourceSize</key>
                <string>{137,116}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,149},{18,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{18,14}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,231},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,246},{21,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,16}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,190},{37,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{37,54}}</string>
                <key>sourceSize</key>
                <string>{41,58}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,406},{20,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,47}}</string>
                <key>sourceSize</key>
                <string>{22,49}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,60},{57,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{57,76}}</string>
                <key>sourceSize</key>
                <string>{61,80}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,119},{60,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,71}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,455},{37,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,28}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{46,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{56,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,77}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{40,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{40,53}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{66,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,32}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{108,105}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{108,105}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,406},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,260},{34,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,24}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,265},{28,55}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{28,55}}</string>
                <key>sourceSize</key>
                <string>{34,57}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,181},{48,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,82}}</string>
                <key>sourceSize</key>
                <string>{48,84}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,231},{49,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{49,68}}</string>
                <key>sourceSize</key>
                <string>{53,68}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,190},{36,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,59}}</string>
                <key>sourceSize</key>
                <string>{38,61}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,444},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>sp_zhanchong_niu_attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{29,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{29,48}}</string>
                <key>sourceSize</key>
                <string>{37,52}</string>
            </dict>
            <key>sp_zhanchong_niu_cont_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{275,186}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{275,186}}</string>
                <key>sourceSize</key>
                <string>{317,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_zhanchong_niu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01ce77b96c00be450e28f26a2b8aa3c5$</string>
            <key>textureFileName</key>
            <string>sp_zhanchong_niu.png</string>
        </dict>
    </dict>
</plist>
