<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_taotie_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,142}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,142}}</string>
                <key>sourceSize</key>
                <string>{68,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_taotie_5.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:125cc569a0df9ca2ff55725cfe1b2ef5$</string>
            <key>textureFileName</key>
            <string>sp_taotie_5.png</string>
        </dict>
    </dict>
</plist>
