<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_377_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,108},{187,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{187,102}}</string>
                <key>sourceSize</key>
                <string>{191,104}</string>
            </dict>
            <key>sp_base_377_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{191,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{191,104}}</string>
                <key>sourceSize</key>
                <string>{195,106}</string>
            </dict>
            <key>sp_base_377_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{191,105}}</string>
                <key>sourceSize</key>
                <string>{195,107}</string>
            </dict>
            <key>sp_base_377_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{191,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{191,102}}</string>
                <key>sourceSize</key>
                <string>{195,108}</string>
            </dict>
            <key>sp_base_377_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{187,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{187,101}}</string>
                <key>sourceSize</key>
                <string>{193,105}</string>
            </dict>
            <key>sp_base_377_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,195},{153,89}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{153,89}}</string>
                <key>sourceSize</key>
                <string>{167,93}</string>
            </dict>
            <key>sp_base_377_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{142,81}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{142,81}}</string>
                <key>sourceSize</key>
                <string>{158,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_377.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3ea542bfd052737faf7c32e03b8f723$</string>
            <key>textureFileName</key>
            <string>sp_base_377.png</string>
        </dict>
    </dict>
</plist>
