<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_boss1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,221},{110,159}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{110,159}}</string>
                <key>sourceSize</key>
                <string>{112,159}</string>
            </dict>
            <key>sp_boss1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,515},{71,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,95}}</string>
                <key>sourceSize</key>
                <string>{71,95}</string>
            </dict>
            <key>sp_boss1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,434},{84,142}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{84,142}}</string>
                <key>sourceSize</key>
                <string>{112,152}</string>
            </dict>
            <key>sp_boss1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{272,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,74}}</string>
                <key>sourceSize</key>
                <string>{272,74}</string>
            </dict>
            <key>sp_boss1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,101},{184,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,191}}</string>
                <key>sourceSize</key>
                <string>{184,191}</string>
            </dict>
            <key>sp_boss1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{148,155}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,27},{148,155}}</string>
                <key>sourceSize</key>
                <string>{158,197}</string>
            </dict>
            <key>sp_boss1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{202,97}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,43},{202,97}}</string>
                <key>sourceSize</key>
                <string>{210,151}</string>
            </dict>
            <key>sp_boss1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,287},{82,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,150}}</string>
                <key>sourceSize</key>
                <string>{82,150}</string>
            </dict>
            <key>sp_boss1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,287},{82,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,150}}</string>
                <key>sourceSize</key>
                <string>{82,150}</string>
            </dict>
            <key>sp_boss1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{279,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{279,141}}</string>
                <key>sourceSize</key>
                <string>{281,143}</string>
            </dict>
            <key>sp_boss1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,101},{24,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,54}}</string>
                <key>sourceSize</key>
                <string>{24,54}</string>
            </dict>
            <key>sp_boss1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{110,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{110,159}}</string>
                <key>sourceSize</key>
                <string>{112,159}</string>
            </dict>
            <key>sp_boss1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{109,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,98}}</string>
                <key>sourceSize</key>
                <string>{109,98}</string>
            </dict>
            <key>sp_boss1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,371},{92,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,142}}</string>
                <key>sourceSize</key>
                <string>{92,142}</string>
            </dict>
            <key>sp_boss1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,287},{76,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,145}}</string>
                <key>sourceSize</key>
                <string>{76,145}</string>
            </dict>
            <key>sp_boss1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,382},{110,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,131}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>sp_boss1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,465},{65,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,133}}</string>
                <key>sourceSize</key>
                <string>{65,133}</string>
            </dict>
            <key>sp_boss1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,515},{71,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,95}}</string>
                <key>sourceSize</key>
                <string>{71,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_boss1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c107019f1deb84aff26401f21ddf855b$</string>
            <key>textureFileName</key>
            <string>sp_boss1.png</string>
        </dict>
    </dict>
</plist>
