<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_8885_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,142}}</string>
                <key>offset</key>
                <string>{-14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{190,142}}</string>
                <key>sourceSize</key>
                <string>{240,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_8885.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78b0e1dc9b56219717c1fa5d6beac968$</string>
            <key>textureFileName</key>
            <string>effect_8885.png</string>
        </dict>
    </dict>
</plist>
