<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zjmhy_flag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,175},{16,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,45}}</string>
                <key>sourceSize</key>
                <string>{16,45}</string>
            </dict>
            <key>effect_zjmhy_flag_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,175},{26,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,61}}</string>
                <key>sourceSize</key>
                <string>{26,61}</string>
            </dict>
            <key>effect_zjmhy_flag_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,81},{17,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,59}}</string>
                <key>sourceSize</key>
                <string>{17,59}</string>
            </dict>
            <key>effect_zjmhy_flag_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,58},{7,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,74}}</string>
                <key>sourceSize</key>
                <string>{7,76}</string>
            </dict>
            <key>effect_zjmhy_flag_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,57},{16,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,76}}</string>
                <key>sourceSize</key>
                <string>{16,76}</string>
            </dict>
            <key>effect_zjmhy_flag_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,97},{20,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,68}}</string>
                <key>sourceSize</key>
                <string>{20,70}</string>
            </dict>
            <key>effect_zjmhy_flag_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{25,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,62}}</string>
                <key>sourceSize</key>
                <string>{25,64}</string>
            </dict>
            <key>effect_zjmhy_flag_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,245},{36,56}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>effect_zjmhy_flag_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,142},{34,52}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>effect_zjmhy_flag_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,196},{28,47}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>effect_zjmhy_flag_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,222},{13,41}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{13,41}}</string>
                <key>sourceSize</key>
                <string>{21,43}</string>
            </dict>
            <key>effect_zjmhy_flag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,97},{8,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,34}}</string>
                <key>sourceSize</key>
                <string>{8,34}</string>
            </dict>
            <key>effect_zjmhy_flag_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,203},{15,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,47}}</string>
                <key>sourceSize</key>
                <string>{17,47}</string>
            </dict>
            <key>effect_zjmhy_flag_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{54,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,77}}</string>
                <key>sourceSize</key>
                <string>{54,79}</string>
            </dict>
            <key>effect_zjmhy_flag_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,79}}</string>
                <key>sourceSize</key>
                <string>{54,79}</string>
            </dict>
            <key>effect_zjmhy_flag_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{53,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,78}}</string>
                <key>sourceSize</key>
                <string>{53,78}</string>
            </dict>
            <key>effect_zjmhy_flag_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,75},{53,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,72}}</string>
                <key>sourceSize</key>
                <string>{53,72}</string>
            </dict>
            <key>effect_zjmhy_flag_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,130},{54,63}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{54,63}}</string>
                <key>sourceSize</key>
                <string>{58,63}</string>
            </dict>
            <key>effect_zjmhy_flag_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>effect_zjmhy_flag_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,203},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>effect_zjmhy_flag_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,186},{55,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{55,59}</string>
            </dict>
            <key>effect_zjmhy_flag_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,119},{54,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,65}}</string>
                <key>sourceSize</key>
                <string>{54,65}</string>
            </dict>
            <key>effect_zjmhy_flag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,44},{9,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,35}}</string>
                <key>sourceSize</key>
                <string>{9,35}</string>
            </dict>
            <key>effect_zjmhy_flag_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{53,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,70}}</string>
                <key>sourceSize</key>
                <string>{53,70}</string>
            </dict>
            <key>effect_zjmhy_flag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{12,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,40}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>effect_zjmhy_flag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{17,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,49}}</string>
                <key>sourceSize</key>
                <string>{17,49}</string>
            </dict>
            <key>effect_zjmhy_flag_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,243},{20,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,54}}</string>
                <key>sourceSize</key>
                <string>{20,54}</string>
            </dict>
            <key>effect_zjmhy_flag_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{24,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,63}}</string>
                <key>sourceSize</key>
                <string>{24,63}</string>
            </dict>
            <key>effect_zjmhy_flag_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{27,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,75}}</string>
                <key>sourceSize</key>
                <string>{27,75}</string>
            </dict>
            <key>effect_zjmhy_flag_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,67},{28,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,73}}</string>
                <key>sourceSize</key>
                <string>{28,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zjmhy_flag.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:688acb7202dcedcf51eec8d256c25631$</string>
            <key>textureFileName</key>
            <string>effect_zjmhy_flag.png</string>
        </dict>
    </dict>
</plist>
