<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_441_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{327,231}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{327,231}}</string>
                <key>sourceSize</key>
                <string>{333,239}</string>
            </dict>
            <key>sp_base_441_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{347,329}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{347,329}}</string>
                <key>sourceSize</key>
                <string>{361,343}</string>
            </dict>
            <key>sp_base_441_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{318,290}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{318,290}}</string>
                <key>sourceSize</key>
                <string>{338,308}</string>
            </dict>
            <key>sp_base_441_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,235},{305,264}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{305,264}}</string>
                <key>sourceSize</key>
                <string>{335,284}</string>
            </dict>
            <key>sp_base_441_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{277,261}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{277,261}}</string>
                <key>sourceSize</key>
                <string>{281,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_441.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b856de471ebec9539bcdae44e5851836$</string>
            <key>textureFileName</key>
            <string>sp_base_441.png</string>
        </dict>
    </dict>
</plist>
