<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_daodan_hongzha_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,348},{173,128}}</string>
                <key>offset</key>
                <string>{44,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,88},{173,128}}</string>
                <key>sourceSize</key>
                <string>{275,250}</string>
            </dict>
            <key>sp_daodan_hongzha_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{70,169}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{70,169}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>sp_daodan_hongzha_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{70,169}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{70,169}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>sp_daodan_hongzha_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,198},{231,148}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,49},{231,148}}</string>
                <key>sourceSize</key>
                <string>{275,250}</string>
            </dict>
            <key>sp_daodan_hongzha_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{245,194}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,24},{245,194}}</string>
                <key>sourceSize</key>
                <string>{275,250}</string>
            </dict>
            <key>sp_daodan_hongzha_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{253,182}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{253,182}}</string>
                <key>sourceSize</key>
                <string>{275,250}</string>
            </dict>
            <key>sp_daodan_hongzha_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{261,160}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,54},{261,160}}</string>
                <key>sourceSize</key>
                <string>{275,250}</string>
            </dict>
            <key>sp_daodan_hongzha_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{213,108}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,94},{213,108}}</string>
                <key>sourceSize</key>
                <string>{275,250}</string>
            </dict>
            <key>sp_daodan_hongzha_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,440},{123,98}}</string>
                <key>offset</key>
                <string>{16,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,106},{123,98}}</string>
                <key>sourceSize</key>
                <string>{275,250}</string>
            </dict>
            <key>sp_daodan_hongzha_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,348},{113,90}}</string>
                <key>offset</key>
                <string>{27,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,103},{113,90}}</string>
                <key>sourceSize</key>
                <string>{275,250}</string>
            </dict>
            <key>sp_daodan_hongzha_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{70,169}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{70,169}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_daodan_hongzha_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be734d78de5ca608f2118ecf5e78393b$</string>
            <key>textureFileName</key>
            <string>sp_daodan_hongzha_1.png</string>
        </dict>
    </dict>
</plist>
