<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_firebird_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,154}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,12},{171,154}}</string>
                <key>sourceSize</key>
                <string>{231,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_firebird_6.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:027eaf7cb2ee59a528a4c3a4561755de$</string>
            <key>textureFileName</key>
            <string>sp_firebird_6.png</string>
        </dict>
    </dict>
</plist>
