<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_2007_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{175,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{175,35}}</string>
                <key>sourceSize</key>
                <string>{207,35}</string>
            </dict>
            <key>effect_2007_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{197,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{197,36}}</string>
                <key>sourceSize</key>
                <string>{219,36}</string>
            </dict>
            <key>effect_2007_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{209,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{209,36}}</string>
                <key>sourceSize</key>
                <string>{219,36}</string>
            </dict>
            <key>effect_2007_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{213,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{213,36}}</string>
                <key>sourceSize</key>
                <string>{219,36}</string>
            </dict>
            <key>effect_2007_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{213,36}}</string>
                <key>sourceSize</key>
                <string>{219,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_2007.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d397d33668e40fc0e74f8fd80212de1c$</string>
            <key>textureFileName</key>
            <string>effect_2007.png</string>
        </dict>
    </dict>
</plist>
