<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_392_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>sp_base_392_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{137,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{137,112}}</string>
                <key>sourceSize</key>
                <string>{137,118}</string>
            </dict>
            <key>sp_base_392_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,160},{158,152}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{158,152}}</string>
                <key>sourceSize</key>
                <string>{178,172}</string>
            </dict>
            <key>sp_base_392_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,164}}</string>
                <key>sourceSize</key>
                <string>{166,164}</string>
            </dict>
            <key>sp_base_392_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,163}}</string>
                <key>sourceSize</key>
                <string>{166,163}</string>
            </dict>
            <key>sp_base_392_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{156,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,164}}</string>
                <key>sourceSize</key>
                <string>{156,164}</string>
            </dict>
            <key>sp_base_392_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{132,109}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,109}}</string>
                <key>sourceSize</key>
                <string>{152,109}</string>
            </dict>
            <key>sp_base_392_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,167},{131,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,140}}</string>
                <key>sourceSize</key>
                <string>{133,142}</string>
            </dict>
            <key>sp_base_392_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_392.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de2e8f11659d59bea3895d77cf760681$</string>
            <key>textureFileName</key>
            <string>sp_base_392.png</string>
        </dict>
    </dict>
</plist>
