<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_skill_putongquan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,533},{144,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{144,58}}</string>
                <key>sourceSize</key>
                <string>{148,60}</string>
            </dict>
            <key>sp_skill_putongquan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{142,262}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,262}}</string>
                <key>sourceSize</key>
                <string>{148,262}</string>
            </dict>
            <key>sp_skill_putongquan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{128,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,275}}</string>
                <key>sourceSize</key>
                <string>{128,275}</string>
            </dict>
            <key>sp_skill_putongquan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,273},{94,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,258}}</string>
                <key>sourceSize</key>
                <string>{94,258}</string>
            </dict>
            <key>sp_skill_putongquan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,830},{71,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,199}}</string>
                <key>sourceSize</key>
                <string>{71,199}</string>
            </dict>
            <key>sp_skill_putongquan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,966},{43,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,121}}</string>
                <key>sourceSize</key>
                <string>{43,121}</string>
            </dict>
            <key>sp_skill_putongquan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{36,376}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{36,376}}</string>
                <key>sourceSize</key>
                <string>{42,422}</string>
            </dict>
            <key>sp_skill_putongquan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,903},{189,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{189,61}}</string>
                <key>sourceSize</key>
                <string>{191,65}</string>
            </dict>
            <key>sp_skill_putongquan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,273},{247,67}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{247,67}}</string>
                <key>sourceSize</key>
                <string>{251,71}</string>
            </dict>
            <key>sp_skill_putongquan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{251,60}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,60}}</string>
                <key>sourceSize</key>
                <string>{253,64}</string>
            </dict>
            <key>sp_skill_putongquan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,565}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{176,565}}</string>
                <key>sourceSize</key>
                <string>{176,569}</string>
            </dict>
            <key>sp_skill_putongquan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,960},{58,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,22}}</string>
                <key>sourceSize</key>
                <string>{58,22}</string>
            </dict>
            <key>sp_skill_putongquan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{77,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,326}}</string>
                <key>sourceSize</key>
                <string>{77,326}</string>
            </dict>
            <key>sp_skill_putongquan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{77,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,326}}</string>
                <key>sourceSize</key>
                <string>{77,326}</string>
            </dict>
            <key>sp_skill_putongquan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{138,269}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,269}}</string>
                <key>sourceSize</key>
                <string>{150,269}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_skill_putongquan.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a9e66a4cce99fab92eb2ea921aab5fb$</string>
            <key>textureFileName</key>
            <string>sp_skill_putongquan.png</string>
        </dict>
    </dict>
</plist>
