<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_huashen_hurt_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{124,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,19}}</string>
                <key>sourceSize</key>
                <string>{126,21}</string>
            </dict>
            <key>effect_huashen_hurt_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,128},{122,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{122,19}}</string>
                <key>sourceSize</key>
                <string>{126,21}</string>
            </dict>
            <key>effect_huashen_hurt_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{125,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,19}}</string>
                <key>sourceSize</key>
                <string>{127,21}</string>
            </dict>
            <key>effect_huashen_hurt_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{123,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{123,19}}</string>
                <key>sourceSize</key>
                <string>{127,21}</string>
            </dict>
            <key>effect_huashen_hurt_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,23},{124,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,19}}</string>
                <key>sourceSize</key>
                <string>{126,21}</string>
            </dict>
            <key>effect_huashen_hurt_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{123,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{123,19}}</string>
                <key>sourceSize</key>
                <string>{127,21}</string>
            </dict>
            <key>effect_huashen_hurt_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{124,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,19}}</string>
                <key>sourceSize</key>
                <string>{126,21}</string>
            </dict>
            <key>effect_huashen_hurt_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{125,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,19}}</string>
                <key>sourceSize</key>
                <string>{127,21}</string>
            </dict>
            <key>effect_huashen_hurt_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{123,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{123,19}}</string>
                <key>sourceSize</key>
                <string>{127,21}</string>
            </dict>
            <key>effect_huashen_hurt_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,19}}</string>
                <key>sourceSize</key>
                <string>{126,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_huashen_hurt_2.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abfadfb2b8cf605192e74c91f28bd90e$</string>
            <key>textureFileName</key>
            <string>effect_huashen_hurt_2.png</string>
        </dict>
    </dict>
</plist>
