<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_ui_shengjijiemian_sheng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{103,100}}</string>
                <key>sourceSize</key>
                <string>{109,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_ui_shengjijiemian_sheng.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:957b66372ef86332435fb5b58425fd2d$</string>
            <key>textureFileName</key>
            <string>effect_ui_shengjijiemian_sheng.png</string>
        </dict>
    </dict>
</plist>
