<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>num_battle_heal_+.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,168},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>num_battle_heal_-.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{25,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,18}}</string>
                <key>sourceSize</key>
                <string>{25,18}</string>
            </dict>
            <key>num_battle_heal_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,116},{36,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,43}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>num_battle_heal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,154},{32,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,43}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>num_battle_heal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{36,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,43}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>num_battle_heal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,78},{36,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,43}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>num_battle_heal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{36,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,43}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>num_battle_heal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,123},{34,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>num_battle_heal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,78},{34,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>num_battle_heal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{32,43}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{32,43}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>num_battle_heal_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,40},{36,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,43}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>num_battle_heal_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{36,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,43}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>num_battle_heal_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,43}}</string>
                <key>sourceSize</key>
                <string>{55,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>num_battle_heal.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a8fac70194a5eb37cf36ece43234a10$</string>
            <key>textureFileName</key>
            <string>num_battle_heal.png</string>
        </dict>
    </dict>
</plist>
