<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>num_battle_carom_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{50,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>num_battle_carom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,208},{30,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{30,50}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>num_battle_carom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,106},{50,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>num_battle_carom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{50,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>num_battle_carom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,158},{48,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>num_battle_carom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,54},{50,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>num_battle_carom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{50,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>num_battle_carom_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{44,50}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{44,50}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>num_battle_carom_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>num_battle_carom_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>num_battle_carom.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7799cafebf27d7fe186ff7ec9b77c4e5$</string>
            <key>textureFileName</key>
            <string>num_battle_carom.png</string>
        </dict>
    </dict>
</plist>
