<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_309_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,217},{190,435}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,57},{190,435}}</string>
                <key>sourceSize</key>
                <string>{264,525}</string>
            </dict>
            <key>sp_base_309_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{192,399}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,56},{192,399}}</string>
                <key>sourceSize</key>
                <string>{268,495}</string>
            </dict>
            <key>sp_base_309_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,835},{186,376}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,60},{186,376}}</string>
                <key>sourceSize</key>
                <string>{264,472}</string>
            </dict>
            <key>sp_base_309_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,409},{209,429}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,51},{209,429}}</string>
                <key>sourceSize</key>
                <string>{287,513}</string>
            </dict>
            <key>sp_base_309_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,835},{211,412}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,47},{211,412}}</string>
                <key>sourceSize</key>
                <string>{293,502}</string>
            </dict>
            <key>sp_base_309_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,437}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,52},{217,437}}</string>
                <key>sourceSize</key>
                <string>{295,529}</string>
            </dict>
            <key>sp_base_309_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{202,415}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,59},{202,415}}</string>
                <key>sourceSize</key>
                <string>{286,511}</string>
            </dict>
            <key>sp_base_309_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{199,432}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,58},{199,432}}</string>
                <key>sourceSize</key>
                <string>{273,526}</string>
            </dict>
            <key>sp_base_309_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{209,427}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,51},{209,427}}</string>
                <key>sourceSize</key>
                <string>{285,513}</string>
            </dict>
            <key>sp_base_309_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,620},{213,426}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,54},{213,426}}</string>
                <key>sourceSize</key>
                <string>{295,518}</string>
            </dict>
            <key>sp_base_309_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{213,437}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,47},{213,437}}</string>
                <key>sourceSize</key>
                <string>{289,521}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_309.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be785f5764ff4bf35153697d2ead75d2$</string>
            <key>textureFileName</key>
            <string>sp_base_309.png</string>
        </dict>
    </dict>
</plist>
