<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_shou_shenlian_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{35,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>effect_shou_shenlian_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,38},{34,34}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>effect_shou_shenlian_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{34,34}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>effect_shou_shenlian_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,76},{34,34}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>effect_shou_shenlian_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{34,34}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>effect_shou_shenlian_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_shou_shenlian_2.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ace54d65f0b7131d39d7cdac84e0602$</string>
            <key>textureFileName</key>
            <string>effect_shou_shenlian_2.png</string>
        </dict>
    </dict>
</plist>
