<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_089_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,899},{99,13}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,13}}</string>
                <key>sourceSize</key>
                <string>{105,19}</string>
            </dict>
            <key>sp_base_089_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{204,224}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{204,224}}</string>
                <key>sourceSize</key>
                <string>{230,226}</string>
            </dict>
            <key>sp_base_089_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{210,210}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{210,210}}</string>
                <key>sourceSize</key>
                <string>{230,224}</string>
            </dict>
            <key>sp_base_089_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,674},{212,212}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{212,212}}</string>
                <key>sourceSize</key>
                <string>{230,224}</string>
            </dict>
            <key>sp_base_089_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,214},{208,145}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{208,145}}</string>
                <key>sourceSize</key>
                <string>{230,203}</string>
            </dict>
            <key>sp_base_089_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,214},{149,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{149,142}}</string>
                <key>sourceSize</key>
                <string>{153,150}</string>
            </dict>
            <key>sp_base_089_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,424},{200,171}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,36},{200,171}}</string>
                <key>sourceSize</key>
                <string>{230,209}</string>
            </dict>
            <key>sp_base_089_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{200,218}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{200,218}}</string>
                <key>sourceSize</key>
                <string>{230,220}</string>
            </dict>
            <key>sp_base_089_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{202,221}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{202,221}}</string>
                <key>sourceSize</key>
                <string>{230,225}</string>
            </dict>
            <key>sp_base_089_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,225},{198,216}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{198,216}}</string>
                <key>sourceSize</key>
                <string>{230,222}</string>
            </dict>
            <key>sp_base_089_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{200,221}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{200,221}}</string>
                <key>sourceSize</key>
                <string>{230,225}</string>
            </dict>
            <key>sp_base_089_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,226}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{200,226}}</string>
                <key>sourceSize</key>
                <string>{230,228}</string>
            </dict>
            <key>sp_base_089_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,456},{206,216}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{206,216}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_089.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7afb93b66c7ec0e9932277d2b9e40cf$</string>
            <key>textureFileName</key>
            <string>sp_base_089.png</string>
        </dict>
    </dict>
</plist>
