<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_kaichang_guangxiao_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{392,501}}</string>
                <key>offset</key>
                <string>{-26,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,40},{392,501}}</string>
                <key>sourceSize</key>
                <string>{462,541}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_kaichang_guangxiao_r.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e0f7200c0435a9373afc3ce9e849680$</string>
            <key>textureFileName</key>
            <string>effect_kaichang_guangxiao_r.png</string>
        </dict>
    </dict>
</plist>
