<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_zc_hyd_cont_hit_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{63,113}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{63,113}}</string>
                <key>sourceSize</key>
                <string>{79,131}</string>
            </dict>
            <key>sp_zc_hyd_cont_hit_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,857},{125,112}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{125,112}}</string>
                <key>sourceSize</key>
                <string>{133,114}</string>
            </dict>
            <key>sp_zc_hyd_cont_hit_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{193,128}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{193,128}}</string>
                <key>sourceSize</key>
                <string>{205,136}</string>
            </dict>
            <key>sp_zc_hyd_cont_hit_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,237},{187,136}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{187,136}}</string>
                <key>sourceSize</key>
                <string>{213,136}</string>
            </dict>
            <key>sp_zc_hyd_cont_hit_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,461},{161,135}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{161,135}}</string>
                <key>sourceSize</key>
                <string>{167,139}</string>
            </dict>
            <key>sp_zc_hyd_cont_hit_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,610},{114,163}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{114,163}}</string>
                <key>sourceSize</key>
                <string>{130,179}</string>
            </dict>
            <key>sp_zc_hyd_cont_hit_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,118},{117,192}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{117,192}}</string>
                <key>sourceSize</key>
                <string>{129,200}</string>
            </dict>
            <key>sp_zc_hyd_cont_hit_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,114}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{225,114}}</string>
                <key>sourceSize</key>
                <string>{233,120}</string>
            </dict>
            <key>sp_zc_hyd_cont_hit_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{183,178}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{183,178}}</string>
                <key>sourceSize</key>
                <string>{195,186}</string>
            </dict>
            <key>sp_zc_hyd_cont_hit_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{161,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{161,150}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>sp_zc_hyd_cont_hit_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,722},{110,101}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{110,101}}</string>
                <key>sourceSize</key>
                <string>{130,117}</string>
            </dict>
            <key>sp_zc_hyd_cont_hit_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,726},{103,115}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{103,115}}</string>
                <key>sourceSize</key>
                <string>{103,127}</string>
            </dict>
            <key>sp_zc_hyd_cont_hit_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,462},{164,146}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{164,146}}</string>
                <key>sourceSize</key>
                <string>{174,146}</string>
            </dict>
            <key>sp_zc_hyd_cont_hit_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{168,143}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{168,143}}</string>
                <key>sourceSize</key>
                <string>{174,147}</string>
            </dict>
            <key>sp_zc_hyd_cont_hit_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{214,114}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{214,114}}</string>
                <key>sourceSize</key>
                <string>{224,126}</string>
            </dict>
            <key>sp_zc_hyd_cont_hit_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,118},{189,115}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{189,115}}</string>
                <key>sourceSize</key>
                <string>{215,125}</string>
            </dict>
            <key>sp_zc_hyd_cont_hit_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,624},{114,96}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{114,96}}</string>
                <key>sourceSize</key>
                <string>{126,112}</string>
            </dict>
            <key>sp_zc_hyd_cont_hit_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,309},{150,115}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{150,115}}</string>
                <key>sourceSize</key>
                <string>{178,127}</string>
            </dict>
            <key>sp_zc_hyd_cont_hit_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{163,130}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{163,130}}</string>
                <key>sourceSize</key>
                <string>{171,144}</string>
            </dict>
            <key>sp_zc_hyd_cont_hit_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{153,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{153,99}}</string>
                <key>sourceSize</key>
                <string>{153,105}</string>
            </dict>
            <key>sp_zc_hyd_cont_hit_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,375},{179,85}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,85}}</string>
                <key>sourceSize</key>
                <string>{185,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_zc_hyd_cont_hit_2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8332928687ff6ddba03cd2024974389$</string>
            <key>textureFileName</key>
            <string>sp_zc_hyd_cont_hit_2.png</string>
        </dict>
    </dict>
</plist>
