<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_2011_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{131,129}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{131,129}}</string>
                <key>sourceSize</key>
                <string>{137,133}</string>
            </dict>
            <key>effect_2011_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,365},{84,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{84,75}}</string>
                <key>sourceSize</key>
                <string>{86,75}</string>
            </dict>
            <key>effect_2011_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,196},{159,157}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{159,157}}</string>
                <key>sourceSize</key>
                <string>{161,157}</string>
            </dict>
            <key>effect_2011_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{176,166}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{176,166}}</string>
                <key>sourceSize</key>
                <string>{180,166}</string>
            </dict>
            <key>effect_2011_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{192,172}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{192,172}}</string>
                <key>sourceSize</key>
                <string>{194,172}</string>
            </dict>
            <key>effect_2011_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,173}}</string>
                <key>sourceSize</key>
                <string>{201,173}</string>
            </dict>
            <key>effect_2011_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,196},{167,167}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{167,167}}</string>
                <key>sourceSize</key>
                <string>{167,171}</string>
            </dict>
            <key>effect_2011_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,357},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>effect_2011_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{82,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,85}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>effect_2011_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,89},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_2011.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b95201a0f99488b70fc02538a5b77562$</string>
            <key>textureFileName</key>
            <string>effect_2011.png</string>
        </dict>
    </dict>
</plist>
