<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_butterflysub1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_butterflysub1.png</string>
            <key>size</key>
            <string>{22,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e9aa5dfe16bb7aeb98fb1131979361e$</string>
            <key>textureFileName</key>
            <string>effect_butterflysub1.png</string>
        </dict>
    </dict>
</plist>
