<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_yinlong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,269},{81,39}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,39}}</string>
                <key>sourceSize</key>
                <string>{87,45}</string>
            </dict>
            <key>sp_yinlong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{145,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{145,38}}</string>
                <key>sourceSize</key>
                <string>{147,42}</string>
            </dict>
            <key>sp_yinlong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{164,63}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,63}}</string>
                <key>sourceSize</key>
                <string>{168,65}</string>
            </dict>
            <key>sp_yinlong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,45}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{197,45}}</string>
                <key>sourceSize</key>
                <string>{207,53}</string>
            </dict>
            <key>sp_yinlong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{178,41}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{178,41}}</string>
                <key>sourceSize</key>
                <string>{192,47}</string>
            </dict>
            <key>sp_yinlong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{171,43}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{171,43}}</string>
                <key>sourceSize</key>
                <string>{183,55}</string>
            </dict>
            <key>sp_yinlong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,157},{131,41}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{131,41}}</string>
                <key>sourceSize</key>
                <string>{141,53}</string>
            </dict>
            <key>sp_yinlong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,175},{92,41}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,14},{92,41}}</string>
                <key>sourceSize</key>
                <string>{120,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_yinlong.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d5c14ee00d985ba05398a6c6f51ffb7$</string>
            <key>textureFileName</key>
            <string>sp_yinlong.png</string>
        </dict>
    </dict>
</plist>
