<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_372_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,77}}</string>
                <key>sourceSize</key>
                <string>{214,77}</string>
            </dict>
            <key>sp_base_372_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{213,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,78}}</string>
                <key>sourceSize</key>
                <string>{213,78}</string>
            </dict>
            <key>sp_base_372_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{213,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,77}}</string>
                <key>sourceSize</key>
                <string>{213,77}</string>
            </dict>
            <key>sp_base_372_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{211,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,78}}</string>
                <key>sourceSize</key>
                <string>{211,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_372.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4076d8df309a3654e0c57e39fd6b9c9f$</string>
            <key>textureFileName</key>
            <string>sp_base_372.png</string>
        </dict>
    </dict>
</plist>
