<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_88881_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,243}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{166,243}}</string>
                <key>sourceSize</key>
                <string>{186,259}</string>
            </dict>
            <key>effect_88881_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{153,221}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{153,221}}</string>
                <key>sourceSize</key>
                <string>{173,237}</string>
            </dict>
            <key>effect_88881_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{165,226}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{165,226}}</string>
                <key>sourceSize</key>
                <string>{179,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_88881.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e96c337b9a68a076396aa86fea1a223b$</string>
            <key>textureFileName</key>
            <string>effect_88881.png</string>
        </dict>
    </dict>
</plist>
