<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_57_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1076,1173}}</string>
                <key>offset</key>
                <string>{28,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,115},{1076,1173}}</string>
                <key>sourceSize</key>
                <string>{1304,1477}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_57.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5580d3dd0fb68558827c0acf50ea30c$</string>
            <key>textureFileName</key>
            <string>effect_57.png</string>
        </dict>
    </dict>
</plist>
