<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_julong_lizi1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,32}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{32,32}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_julong_lizi1.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84b0f29d39447d71cecd1ccc1ccdf6a7$</string>
            <key>textureFileName</key>
            <string>effect_julong_lizi1.png</string>
        </dict>
    </dict>
</plist>
