<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_juguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{25,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{25,122}}</string>
                <key>sourceSize</key>
                <string>{31,128}</string>
            </dict>
            <key>sp_juguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,133}}</string>
                <key>sourceSize</key>
                <string>{108,133}</string>
            </dict>
            <key>sp_juguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,111},{109,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,132}}</string>
                <key>sourceSize</key>
                <string>{109,132}</string>
            </dict>
            <key>sp_juguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{107,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,112}}</string>
                <key>sourceSize</key>
                <string>{107,112}</string>
            </dict>
            <key>sp_juguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>sp_juguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>sp_juguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,245},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>sp_juguang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>sp_juguang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,112},{7,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,9}}</string>
                <key>sourceSize</key>
                <string>{7,9}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_juguang.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:528e2b6f31c05058b14b0b4d7ee2288a$</string>
            <key>textureFileName</key>
            <string>sp_juguang.png</string>
        </dict>
    </dict>
</plist>
