<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_52_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{537,116}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{537,116}}</string>
                <key>sourceSize</key>
                <string>{575,128}</string>
            </dict>
            <key>effect_52_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{632,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,218}}</string>
                <key>sourceSize</key>
                <string>{632,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_52.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d368dad27d67b938402552a8c092431a$</string>
            <key>textureFileName</key>
            <string>effect_52.png</string>
        </dict>
    </dict>
</plist>
