<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_297_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{128,121}}</string>
                <key>offset</key>
                <string>{-27,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,33},{128,121}}</string>
                <key>sourceSize</key>
                <string>{220,193}</string>
            </dict>
            <key>sp_base_297_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,139}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{192,139}}</string>
                <key>sourceSize</key>
                <string>{220,193}</string>
            </dict>
            <key>sp_base_297_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{178,139}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,16},{178,139}}</string>
                <key>sourceSize</key>
                <string>{220,193}</string>
            </dict>
            <key>sp_base_297_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{135,105}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,11},{135,105}}</string>
                <key>sourceSize</key>
                <string>{199,139}</string>
            </dict>
            <key>sp_base_297_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{152,135}}</string>
                <key>offset</key>
                <string>{11,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,16},{152,135}}</string>
                <key>sourceSize</key>
                <string>{220,193}</string>
            </dict>
            <key>sp_base_297_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,125},{113,91}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,14},{113,91}}</string>
                <key>sourceSize</key>
                <string>{199,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_297.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a50da664b0a064c07a6cd63e9c0800de$</string>
            <key>textureFileName</key>
            <string>sp_base_297.png</string>
        </dict>
    </dict>
</plist>
