<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_212_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{116,79}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{116,79}}</string>
                <key>sourceSize</key>
                <string>{134,87}</string>
            </dict>
            <key>sp_base_212_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,354},{116,69}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,69}}</string>
                <key>sourceSize</key>
                <string>{122,81}</string>
            </dict>
            <key>sp_base_212_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,147},{130,80}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{130,80}}</string>
                <key>sourceSize</key>
                <string>{138,88}</string>
            </dict>
            <key>sp_base_212_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{150,79}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{150,79}}</string>
                <key>sourceSize</key>
                <string>{154,85}</string>
            </dict>
            <key>sp_base_212_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,84}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{151,84}}</string>
                <key>sourceSize</key>
                <string>{161,96}</string>
            </dict>
            <key>sp_base_212_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{143,82}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{143,82}}</string>
                <key>sourceSize</key>
                <string>{161,104}</string>
            </dict>
            <key>sp_base_212_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{132,79}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{132,79}}</string>
                <key>sourceSize</key>
                <string>{144,91}</string>
            </dict>
            <key>sp_base_212_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,279},{119,73}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{119,73}}</string>
                <key>sourceSize</key>
                <string>{129,83}</string>
            </dict>
            <key>sp_base_212_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{110,78}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{110,78}}</string>
                <key>sourceSize</key>
                <string>{128,84}</string>
            </dict>
            <key>sp_base_212_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{122,71}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,71}}</string>
                <key>sourceSize</key>
                <string>{124,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_212.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5916729192a7ecddc984e88950879f12$</string>
            <key>textureFileName</key>
            <string>sp_base_212.png</string>
        </dict>
    </dict>
</plist>
