<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_2022_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,132},{129,141}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{129,141}}</string>
                <key>sourceSize</key>
                <string>{131,143}</string>
            </dict>
            <key>effect_2022_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,151},{128,145}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{128,145}}</string>
                <key>sourceSize</key>
                <string>{134,149}</string>
            </dict>
            <key>effect_2022_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,320},{129,145}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{129,145}}</string>
                <key>sourceSize</key>
                <string>{135,153}</string>
            </dict>
            <key>effect_2022_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,166}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{128,166}}</string>
                <key>sourceSize</key>
                <string>{132,172}</string>
            </dict>
            <key>effect_2022_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{128,144}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{128,144}}</string>
                <key>sourceSize</key>
                <string>{130,152}</string>
            </dict>
            <key>effect_2022_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{128,147}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{128,147}}</string>
                <key>sourceSize</key>
                <string>{132,155}</string>
            </dict>
            <key>effect_2022_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{129,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{129,147}}</string>
                <key>sourceSize</key>
                <string>{129,149}</string>
            </dict>
            <key>effect_2022_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{129,148}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{129,148}}</string>
                <key>sourceSize</key>
                <string>{129,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_2022.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9c0b52c95030cd3802497cdaee0dbb4$</string>
            <key>textureFileName</key>
            <string>effect_2022.png</string>
        </dict>
    </dict>
</plist>
