<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_426_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{202,96}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{202,96}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>sp_base_426_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,94}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{210,94}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>sp_base_426_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,102},{202,92}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{202,92}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>sp_base_426_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,496},{188,94}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{188,94}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>sp_base_426_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,592},{176,94}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{176,94}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>sp_base_426_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,492},{182,96}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{182,96}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>sp_base_426_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{186,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{186,94}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>sp_base_426_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,302},{190,92}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{190,92}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>sp_base_426_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{170,94}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{170,94}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>sp_base_426_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{188,98}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{188,98}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>sp_base_426_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,396},{188,98}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{188,98}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>sp_base_426_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,298},{192,102}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{192,102}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>sp_base_426_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,196},{198,104}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{198,104}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>sp_base_426_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{196,108}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{196,108}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>sp_base_426_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,102},{194,98}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{194,98}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>sp_base_426_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{200,96}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{200,96}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>sp_base_426_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{208,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{208,98}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_426.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e87b90c3d814ba1c57e93c97f474bf0e$</string>
            <key>textureFileName</key>
            <string>sp_base_426.png</string>
        </dict>
    </dict>
</plist>
