<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_chibi_huoxing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{357,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,280}}</string>
                <key>sourceSize</key>
                <string>{357,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_chibi_huoxing.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8f0560b711462b59f87413330315d51$</string>
            <key>textureFileName</key>
            <string>effect_chibi_huoxing.png</string>
        </dict>
    </dict>
</plist>
