<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_assist_hjsbp_start_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,91},{83,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,47}}</string>
                <key>sourceSize</key>
                <string>{83,47}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,95},{88,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,52}}</string>
                <key>sourceSize</key>
                <string>{88,52}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{91,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,58}}</string>
                <key>sourceSize</key>
                <string>{91,58}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{92,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,61}}</string>
                <key>sourceSize</key>
                <string>{92,61}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,250},{90,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,71}}</string>
                <key>sourceSize</key>
                <string>{90,71}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,383},{88,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,81}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,250},{79,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,89}}</string>
                <key>sourceSize</key>
                <string>{79,89}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,121},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,58}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,180},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,185},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{87,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,84}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,60},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{70,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,56}}</string>
                <key>sourceSize</key>
                <string>{70,56}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,120},{67,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,58}}</string>
                <key>sourceSize</key>
                <string>{67,58}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,75},{65,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,57}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,134},{63,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,54}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,60},{59,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,49}}</string>
                <key>sourceSize</key>
                <string>{59,49}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,383},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{99,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,106}}</string>
                <key>sourceSize</key>
                <string>{99,106}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,133},{109,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,115}}</string>
                <key>sourceSize</key>
                <string>{109,115}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{118,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,121}}</string>
                <key>sourceSize</key>
                <string>{118,121}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{105,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,125}}</string>
                <key>sourceSize</key>
                <string>{105,125}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,129}}</string>
                <key>sourceSize</key>
                <string>{109,129}</string>
            </dict>
            <key>sp_assist_hjsbp_start_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,341},{77,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,40}}</string>
                <key>sourceSize</key>
                <string>{77,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_assist_hjsbp_start_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10a78149bcf857e2a2ff6027c4f903e6$</string>
            <key>textureFileName</key>
            <string>sp_assist_hjsbp_start_1.png</string>
        </dict>
    </dict>
</plist>
