<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_bubble_sub1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,78}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{149,78}}</string>
                <key>sourceSize</key>
                <string>{157,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_bubble_sub1.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40fc8031789b46a97da9f5584910451b$</string>
            <key>textureFileName</key>
            <string>effect_bubble_sub1.png</string>
        </dict>
    </dict>
</plist>
