<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_zuantouci_gongji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,586},{176,134}}</string>
                <key>offset</key>
                <string>{-1,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,107},{176,134}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_zuantouci_gongji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{138,348}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,70},{138,348}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_zuantouci_gongji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,392}}</string>
                <key>offset</key>
                <string>{-15,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,85},{120,392}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_zuantouci_gongji_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{104,330}}</string>
                <key>offset</key>
                <string>{-10,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,165},{104,330}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_zuantouci_gongji_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,548},{96,116}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,212},{96,116}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_zuantouci_gongji_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,334},{72,142}}</string>
                <key>offset</key>
                <string>{-4,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,217},{72,142}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_zuantouci_gongji_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{64,40}}</string>
                <key>offset</key>
                <string>{-3,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,332},{64,40}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_zuantouci_gongji_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,586},{46,34}}</string>
                <key>offset</key>
                <string>{2,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,325},{46,34}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_zuantouci_gongji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,408},{136,176}}</string>
                <key>offset</key>
                <string>{-2,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,82},{136,176}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_zuantouci_gongji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,646},{86,204}}</string>
                <key>offset</key>
                <string>{-4,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,57},{86,204}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_zuantouci_gongji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{38,218}}</string>
                <key>offset</key>
                <string>{-10,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,39},{38,218}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_zuantouci_gongji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{38,218}}</string>
                <key>offset</key>
                <string>{-9,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,31},{38,218}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_zuantouci_gongji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{38,218}}</string>
                <key>offset</key>
                <string>{-9,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,22},{38,218}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_zuantouci_gongji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{38,218}}</string>
                <key>offset</key>
                <string>{-9,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,22},{38,218}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_zuantouci_gongji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{138,372}}</string>
                <key>offset</key>
                <string>{-14,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{138,372}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_zuantouci_gongji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{142,364}}</string>
                <key>offset</key>
                <string>{-15,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,40},{142,364}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_zuantouci_gongji.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e14d88c6fa5c800f938043bda6483b4c$</string>
            <key>textureFileName</key>
            <string>sp_zuantouci_gongji.png</string>
        </dict>
    </dict>
</plist>
