<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shandian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,258}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{328,258}}</string>
                <key>sourceSize</key>
                <string>{338,268}</string>
            </dict>
            <key>shandian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{306,222}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{306,222}}</string>
                <key>sourceSize</key>
                <string>{338,268}</string>
            </dict>
            <key>shandian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{300,222}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,33},{300,222}}</string>
                <key>sourceSize</key>
                <string>{338,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shandian2.plist.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd61ba803d3d6aab9d624586bc5d63b6$</string>
            <key>textureFileName</key>
            <string>shandian2.plist.png</string>
        </dict>
    </dict>
</plist>
