<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sd11.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{214,176}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{214,176}}</string>
                <key>sourceSize</key>
                <string>{214,214}</string>
            </dict>
            <key>sd22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{214,194}}</string>
                <key>sourceSize</key>
                <string>{214,214}</string>
            </dict>
            <key>sd33.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,180},{214,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{214,160}}</string>
                <key>sourceSize</key>
                <string>{214,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shandian4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d53120427056e76cc3426a77ad976885$</string>
            <key>textureFileName</key>
            <string>shandian4.png</string>
        </dict>
    </dict>
</plist>
