<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_base_077_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,452},{36,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{36,41}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>effect_base_077_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{106,176}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,176}}</string>
                <key>sourceSize</key>
                <string>{108,176}</string>
            </dict>
            <key>effect_base_077_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{94,223}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,223}}</string>
                <key>sourceSize</key>
                <string>{98,225}</string>
            </dict>
            <key>effect_base_077_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,227},{102,212}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,212}}</string>
                <key>sourceSize</key>
                <string>{106,212}</string>
            </dict>
            <key>effect_base_077_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,223}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{98,223}}</string>
                <key>sourceSize</key>
                <string>{108,223}</string>
            </dict>
            <key>effect_base_077_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,106},{93,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,105}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>effect_base_077_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,30},{63,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,105}}</string>
                <key>sourceSize</key>
                <string>{65,109}</string>
            </dict>
            <key>effect_base_077_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,441},{66,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,126}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>effect_base_077_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,388},{76,117}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,117}}</string>
                <key>sourceSize</key>
                <string>{76,119}</string>
            </dict>
            <key>effect_base_077_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,106},{83,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{83,152}}</string>
                <key>sourceSize</key>
                <string>{83,154}</string>
            </dict>
            <key>effect_base_077_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,216},{93,170}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{93,170}}</string>
                <key>sourceSize</key>
                <string>{93,172}</string>
            </dict>
            <key>effect_base_077_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,452},{35,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>effect_base_077_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{57,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,50}}</string>
                <key>sourceSize</key>
                <string>{57,50}</string>
            </dict>
            <key>effect_base_077_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,180},{33,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{33,32}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>effect_base_077_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>effect_base_077_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,180},{34,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>effect_base_077_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,180},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>effect_base_077_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,180},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>effect_base_077_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{102,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,158}}</string>
                <key>sourceSize</key>
                <string>{102,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_base_077_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afcc39f04c4907f7fbdf8824a6652ee4$</string>
            <key>textureFileName</key>
            <string>effect_base_077_1.png</string>
        </dict>
    </dict>
</plist>
