<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_maincity_santa_chief_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,177}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{203,177}}</string>
                <key>sourceSize</key>
                <string>{247,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_maincity_santa_chief.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e68fc90d7a4745fe54a00c8b1901bd9f$</string>
            <key>textureFileName</key>
            <string>effect_maincity_santa_chief.png</string>
        </dict>
    </dict>
</plist>
