<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_303_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,425},{53,74}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,74}}</string>
                <key>sourceSize</key>
                <string>{57,84}</string>
            </dict>
            <key>sp_base_303_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{106,116}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{106,116}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>sp_base_303_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,727},{99,106}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{99,106}}</string>
                <key>sourceSize</key>
                <string>{109,114}</string>
            </dict>
            <key>sp_base_303_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,221},{52,39}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{52,39}}</string>
                <key>sourceSize</key>
                <string>{66,59}</string>
            </dict>
            <key>sp_base_303_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{98,117}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,117}}</string>
                <key>sourceSize</key>
                <string>{104,121}</string>
            </dict>
            <key>sp_base_303_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{133,150}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,150}}</string>
                <key>sourceSize</key>
                <string>{137,156}</string>
            </dict>
            <key>sp_base_303_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{152,165}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{152,165}}</string>
                <key>sourceSize</key>
                <string>{156,181}</string>
            </dict>
            <key>sp_base_303_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,425},{193,207}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{193,207}}</string>
                <key>sourceSize</key>
                <string>{197,219}</string>
            </dict>
            <key>sp_base_303_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,221},{202,225}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{202,225}}</string>
                <key>sourceSize</key>
                <string>{206,229}</string>
            </dict>
            <key>sp_base_303_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{217,229}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{217,229}}</string>
                <key>sourceSize</key>
                <string>{221,237}</string>
            </dict>
            <key>sp_base_303_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{217,233}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{217,233}}</string>
                <key>sourceSize</key>
                <string>{229,239}</string>
            </dict>
            <key>sp_base_303_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,235}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{215,235}}</string>
                <key>sourceSize</key>
                <string>{225,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_303.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:412f2b12ea550cd51c77d8560a0026a5$</string>
            <key>textureFileName</key>
            <string>sp_base_303.png</string>
        </dict>
    </dict>
</plist>
