<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_buff_hudun_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{275,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,263}}</string>
                <key>sourceSize</key>
                <string>{275,263}</string>
            </dict>
            <key>sp_buff_hudun_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,138},{62,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sp_buff_hudun_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,136},{64,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sp_buff_hudun_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,70},{64,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sp_buff_hudun_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,70},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sp_buff_hudun_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,70},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sp_buff_hudun_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sp_buff_hudun_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sp_buff_hudun_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_buff_hudun_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94c617d6856f48948c7bd531c86ad4b4$</string>
            <key>textureFileName</key>
            <string>sp_buff_hudun_1.png</string>
        </dict>
    </dict>
</plist>
