<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_jianguang_shan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,393}}</string>
                <key>sourceSize</key>
                <string>{19,393}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_jianguang_shan.png</string>
            <key>size</key>
            <string>{32,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94c58849b52ee2fd214c39562148d8d4$</string>
            <key>textureFileName</key>
            <string>sp_jianguang_shan.png</string>
        </dict>
    </dict>
</plist>
