<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_026_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{364,384}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,6},{364,384}}</string>
                <key>sourceSize</key>
                <string>{464,438}</string>
            </dict>
            <key>sp_base_026_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,376},{348,398}}</string>
                <key>offset</key>
                <string>{27,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,8},{348,398}}</string>
                <key>sourceSize</key>
                <string>{464,438}</string>
            </dict>
            <key>sp_base_026_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{408,372}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{408,372}}</string>
                <key>sourceSize</key>
                <string>{464,438}</string>
            </dict>
            <key>sp_base_026_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{418,362}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{418,362}}</string>
                <key>sourceSize</key>
                <string>{464,438}</string>
            </dict>
            <key>sp_base_026_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{382,392}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,9},{382,392}}</string>
                <key>sourceSize</key>
                <string>{464,438}</string>
            </dict>
            <key>sp_base_026_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{334,408}}</string>
                <key>offset</key>
                <string>{28,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,11},{334,408}}</string>
                <key>sourceSize</key>
                <string>{464,438}</string>
            </dict>
            <key>sp_base_026_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,726},{364,386}}</string>
                <key>offset</key>
                <string>{-25,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,16},{364,386}}</string>
                <key>sourceSize</key>
                <string>{464,438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_026.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb504a6a468103c4195562aa9ce3f5d7$</string>
            <key>textureFileName</key>
            <string>sp_base_026.png</string>
        </dict>
    </dict>
</plist>
