<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_2006_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,143},{164,122}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{164,122}}</string>
                <key>sourceSize</key>
                <string>{184,152}</string>
            </dict>
            <key>effect_2006_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,283},{155,119}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,119}}</string>
                <key>sourceSize</key>
                <string>{167,131}</string>
            </dict>
            <key>effect_2006_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,267},{160,128}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{160,128}}</string>
                <key>sourceSize</key>
                <string>{180,148}</string>
            </dict>
            <key>effect_2006_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,145},{161,136}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{161,136}}</string>
                <key>sourceSize</key>
                <string>{181,158}</string>
            </dict>
            <key>effect_2006_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,138}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{169,138}}</string>
                <key>sourceSize</key>
                <string>{189,156}</string>
            </dict>
            <key>effect_2006_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{166,141}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{166,141}}</string>
                <key>sourceSize</key>
                <string>{186,159}</string>
            </dict>
            <key>effect_2006_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{165,142}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{165,142}}</string>
                <key>sourceSize</key>
                <string>{185,160}</string>
            </dict>
            <key>effect_2006_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{165,139}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,139}}</string>
                <key>sourceSize</key>
                <string>{177,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_2006.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f600c1d7ef0043a43e5b471cf9a7994f$</string>
            <key>textureFileName</key>
            <string>effect_2006.png</string>
        </dict>
    </dict>
</plist>
