<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jvqing2_sub1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>effect_jvqing2_sub1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{452,189}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{452,189}}</string>
                <key>sourceSize</key>
                <string>{454,197}</string>
            </dict>
            <key>effect_jvqing2_sub1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,276},{162,116}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,116}}</string>
                <key>sourceSize</key>
                <string>{166,118}</string>
            </dict>
            <key>effect_jvqing2_sub1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{226,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,353}}</string>
                <key>sourceSize</key>
                <string>{226,353}</string>
            </dict>
            <key>effect_jvqing2_sub1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,276},{170,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,133}}</string>
                <key>sourceSize</key>
                <string>{170,133}</string>
            </dict>
            <key>effect_jvqing2_sub1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{16,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,46}}</string>
                <key>sourceSize</key>
                <string>{16,46}</string>
            </dict>
            <key>effect_jvqing2_sub1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{528,272}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,272}}</string>
                <key>sourceSize</key>
                <string>{530,274}</string>
            </dict>
            <key>effect_jvqing2_sub1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,193},{513,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,429}}</string>
                <key>sourceSize</key>
                <string>{513,429}</string>
            </dict>
            <key>effect_jvqing2_sub1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{209,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,269}}</string>
                <key>sourceSize</key>
                <string>{209,269}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jvqing2_sub1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b090a59f04f3f42ad02a453200bbcc8c$</string>
            <key>textureFileName</key>
            <string>effect_jvqing2_sub1.png</string>
        </dict>
    </dict>
</plist>
