<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_buff_hunyuanzhu_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_buff_hunyuanzhu_down.png</string>
            <key>size</key>
            <string>{23,24}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4a93cba2807a9f4de1807bd71bea0fd$</string>
            <key>textureFileName</key>
            <string>sp_buff_hunyuanzhu_down.png</string>
        </dict>
    </dict>
</plist>
