<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_buff_def_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,204},{111,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{111,99}}</string>
                <key>sourceSize</key>
                <string>{111,101}</string>
            </dict>
            <key>sp_buff_def_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,305},{109,97}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{109,97}}</string>
                <key>sourceSize</key>
                <string>{111,101}</string>
            </dict>
            <key>sp_buff_def_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{111,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,99}}</string>
                <key>sourceSize</key>
                <string>{111,101}</string>
            </dict>
            <key>sp_buff_def_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,416},{111,91}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,91}}</string>
                <key>sourceSize</key>
                <string>{111,101}</string>
            </dict>
            <key>sp_buff_def_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,103},{111,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,99}}</string>
                <key>sourceSize</key>
                <string>{111,101}</string>
            </dict>
            <key>sp_buff_def_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{109,97}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{109,97}}</string>
                <key>sourceSize</key>
                <string>{111,101}</string>
            </dict>
            <key>sp_buff_def_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{111,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{111,99}}</string>
                <key>sourceSize</key>
                <string>{111,101}</string>
            </dict>
            <key>sp_buff_def_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{111,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,99}}</string>
                <key>sourceSize</key>
                <string>{111,101}</string>
            </dict>
            <key>sp_buff_def_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{111,91}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,91}}</string>
                <key>sourceSize</key>
                <string>{111,101}</string>
            </dict>
            <key>sp_buff_def_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,99}}</string>
                <key>sourceSize</key>
                <string>{111,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_buff_def_1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:744ded8ba886ed56ab38f991a588e576$</string>
            <key>textureFileName</key>
            <string>sp_buff_def_1.png</string>
        </dict>
    </dict>
</plist>
