<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_dianshanleiming_dian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,232},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>sp_dianshanleiming_dian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,95},{60,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,89}}</string>
                <key>sourceSize</key>
                <string>{60,89}</string>
            </dict>
            <key>sp_dianshanleiming_dian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{68,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,94}}</string>
                <key>sourceSize</key>
                <string>{68,94}</string>
            </dict>
            <key>sp_dianshanleiming_dian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,95}}</string>
                <key>sourceSize</key>
                <string>{54,95}</string>
            </dict>
            <key>sp_dianshanleiming_dian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,186},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>sp_dianshanleiming_dian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,72},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>sp_dianshanleiming_dian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>sp_dianshanleiming_dian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,140},{48,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,90}}</string>
                <key>sourceSize</key>
                <string>{48,90}</string>
            </dict>
            <key>sp_dianshanleiming_dian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>sp_dianshanleiming_dian_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{44,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,92}}</string>
                <key>sourceSize</key>
                <string>{44,92}</string>
            </dict>
            <key>sp_dianshanleiming_dian_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{44,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,90}}</string>
                <key>sourceSize</key>
                <string>{44,90}</string>
            </dict>
            <key>sp_dianshanleiming_dian_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,190},{45,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,88}}</string>
                <key>sourceSize</key>
                <string>{45,88}</string>
            </dict>
            <key>sp_dianshanleiming_dian_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{57,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,91}}</string>
                <key>sourceSize</key>
                <string>{57,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_dianshanleiming_dian.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88d7504ff37e320ae28dc0adde71baf2$</string>
            <key>textureFileName</key>
            <string>sp_dianshanleiming_dian.png</string>
        </dict>
    </dict>
</plist>
