<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_money_show_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{52,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{52,51}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>effect_money_show_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,110}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{102,110}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>effect_money_show_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{88,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_money_show.png</string>
            <key>size</key>
            <string>{114,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c234edd88f2f4310779cfdd6654a4dce$</string>
            <key>textureFileName</key>
            <string>effect_money_show.png</string>
        </dict>
    </dict>
</plist>
