<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_gxhd_zi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,79}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{73,79}}</string>
                <key>sourceSize</key>
                <string>{75,81}</string>
            </dict>
            <key>effect_gxhd_zi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,81}</string>
            </dict>
            <key>effect_gxhd_zi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,81}</string>
            </dict>
            <key>effect_gxhd_zi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,83},{74,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{74,77}}</string>
                <key>sourceSize</key>
                <string>{74,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_gxhd_zi.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:053a1e6047abbe5793498f8e576d0c01$</string>
            <key>textureFileName</key>
            <string>effect_gxhd_zi.png</string>
        </dict>
    </dict>
</plist>
