<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_dian_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,484},{64,68}}</string>
                <key>offset</key>
                <string>{-55,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,225},{64,68}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>sp_dian_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,358},{124,222}}</string>
                <key>offset</key>
                <string>{-57,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,93},{124,222}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>sp_dian_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{124,226}}</string>
                <key>offset</key>
                <string>{-57,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,88},{124,226}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>sp_dian_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{106,228}}</string>
                <key>offset</key>
                <string>{-48,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,87},{106,228}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>sp_dian_02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{84,38}}</string>
                <key>offset</key>
                <string>{-56,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,264},{84,38}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>sp_dian_02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,88},{76,36}}</string>
                <key>offset</key>
                <string>{-57,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,265},{76,36}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>sp_dian_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,358},{54,54}}</string>
                <key>offset</key>
                <string>{-45,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,228},{54,54}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>sp_dian_02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,484},{72,88}}</string>
                <key>offset</key>
                <string>{-56,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,209},{72,88}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>sp_dian_02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{74,84}}</string>
                <key>offset</key>
                <string>{-58,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,212},{74,84}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>sp_dian_02_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,548},{72,84}}</string>
                <key>offset</key>
                <string>{-57,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,216},{72,84}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>sp_dian_02_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{176,102}}</string>
                <key>offset</key>
                <string>{-61,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,213},{176,102}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>sp_dian_02_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,228}}</string>
                <key>offset</key>
                <string>{-41,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,86},{206,228}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>sp_dian_02_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{190,228}}</string>
                <key>offset</key>
                <string>{-40,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,86},{190,228}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>sp_dian_02_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,194},{162,228}}</string>
                <key>offset</key>
                <string>{-34,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,88},{162,228}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_dian_02.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fb7a5ffe0b81017b00102b132d50799$</string>
            <key>textureFileName</key>
            <string>sp_dian_02.png</string>
        </dict>
    </dict>
</plist>
