<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_base_307_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,197},{224,188}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{224,188}}</string>
                <key>sourceSize</key>
                <string>{228,194}</string>
            </dict>
            <key>effect_base_307_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{139,125}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{139,125}}</string>
                <key>sourceSize</key>
                <string>{147,131}</string>
            </dict>
            <key>effect_base_307_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,862},{130,110}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{130,110}}</string>
                <key>sourceSize</key>
                <string>{144,118}</string>
            </dict>
            <key>effect_base_307_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,197},{81,45}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{81,45}}</string>
                <key>sourceSize</key>
                <string>{89,51}</string>
            </dict>
            <key>effect_base_307_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,190}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{238,190}}</string>
                <key>sourceSize</key>
                <string>{244,196}</string>
            </dict>
            <key>effect_base_307_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{237,193}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,193}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>effect_base_307_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{227,186}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{227,186}}</string>
                <key>sourceSize</key>
                <string>{233,192}</string>
            </dict>
            <key>effect_base_307_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{215,178}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{215,178}}</string>
                <key>sourceSize</key>
                <string>{221,184}</string>
            </dict>
            <key>effect_base_307_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,387},{215,167}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{215,167}}</string>
                <key>sourceSize</key>
                <string>{221,173}</string>
            </dict>
            <key>effect_base_307_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,556},{207,156}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{207,156}}</string>
                <key>sourceSize</key>
                <string>{213,162}</string>
            </dict>
            <key>effect_base_307_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{165,153}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{165,153}}</string>
                <key>sourceSize</key>
                <string>{171,159}</string>
            </dict>
            <key>effect_base_307_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{143,134}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{143,134}}</string>
                <key>sourceSize</key>
                <string>{149,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_base_307.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c492c3cd920a459fafd4ab0b7ba46cc$</string>
            <key>textureFileName</key>
            <string>effect_base_307.png</string>
        </dict>
    </dict>
</plist>
