<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_zc_hyd_start_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,979},{299,306}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,23},{299,306}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>sp_zc_hyd_start_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,339}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{489,339}}</string>
                <key>sourceSize</key>
                <string>{511,343}</string>
            </dict>
            <key>sp_zc_hyd_start_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,773},{378,314}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{378,314}}</string>
                <key>sourceSize</key>
                <string>{392,314}</string>
            </dict>
            <key>sp_zc_hyd_start_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,430},{394,351}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{394,351}}</string>
                <key>sourceSize</key>
                <string>{418,359}</string>
            </dict>
            <key>sp_zc_hyd_start_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,763},{386,331}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{386,331}}</string>
                <key>sourceSize</key>
                <string>{410,331}</string>
            </dict>
            <key>sp_zc_hyd_start_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,2},{411,332}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,332}}</string>
                <key>sourceSize</key>
                <string>{411,338}</string>
            </dict>
            <key>sp_zc_hyd_start_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,434},{388,337}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{388,337}}</string>
                <key>sourceSize</key>
                <string>{404,345}</string>
            </dict>
            <key>sp_zc_hyd_start_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,783},{308,302}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{308,302}}</string>
                <key>sourceSize</key>
                <string>{336,324}</string>
            </dict>
            <key>sp_zc_hyd_start_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,936},{317,301}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{317,301}}</string>
                <key>sourceSize</key>
                <string>{339,321}</string>
            </dict>
            <key>sp_zc_hyd_start_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,648},{286,332}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{286,332}}</string>
                <key>sourceSize</key>
                <string>{316,342}</string>
            </dict>
            <key>sp_zc_hyd_start_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,648},{329,351}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{329,351}}</string>
                <key>sourceSize</key>
                <string>{365,387}</string>
            </dict>
            <key>sp_zc_hyd_start_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,336},{310,399}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{310,399}}</string>
                <key>sourceSize</key>
                <string>{352,429}</string>
            </dict>
            <key>sp_zc_hyd_start_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{428,418}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{428,418}}</string>
                <key>sourceSize</key>
                <string>{456,446}</string>
            </dict>
            <key>sp_zc_hyd_start_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{427,426}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,15},{427,426}}</string>
                <key>sourceSize</key>
                <string>{511,468}</string>
            </dict>
            <key>sp_zc_hyd_start_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{465,430}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{465,430}}</string>
                <key>sourceSize</key>
                <string>{511,468}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_zc_hyd_start_4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cad8f5002763cefee4612c2895f3a690$</string>
            <key>textureFileName</key>
            <string>sp_zc_hyd_start_4.png</string>
        </dict>
    </dict>
</plist>
