<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_330_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{92,76}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{92,76}}</string>
                <key>sourceSize</key>
                <string>{104,86}</string>
            </dict>
            <key>sp_base_330_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,217},{128,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,85}}</string>
                <key>sourceSize</key>
                <string>{128,85}</string>
            </dict>
            <key>sp_base_330_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{141,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,94}}</string>
                <key>sourceSize</key>
                <string>{141,94}</string>
            </dict>
            <key>sp_base_330_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{159,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,105}}</string>
                <key>sourceSize</key>
                <string>{159,105}</string>
            </dict>
            <key>sp_base_330_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{166,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,105}}</string>
                <key>sourceSize</key>
                <string>{166,105}</string>
            </dict>
            <key>sp_base_330_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,106}}</string>
                <key>sourceSize</key>
                <string>{173,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_330.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:864ad196176a4e2deedfd4c5dacd2225$</string>
            <key>textureFileName</key>
            <string>sp_base_330.png</string>
        </dict>
    </dict>
</plist>
