<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_levelup_lilght_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{116,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{116,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_levelup_lilght_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,333}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{210,333}}</string>
                <key>sourceSize</key>
                <string>{228,361}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_levelup_lilght.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9450d33cf1b47bc673854598c17d916e$</string>
            <key>textureFileName</key>
            <string>effect_levelup_lilght.png</string>
        </dict>
    </dict>
</plist>
