<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_char_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,204},{33,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,77}}</string>
                <key>sourceSize</key>
                <string>{33,77}</string>
            </dict>
            <key>sp_char_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,204},{104,87}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{104,87}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>sp_char_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{106,91}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{106,91}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>sp_char_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,109},{106,93}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{106,93}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>sp_char_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{112,105}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{112,105}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>sp_char_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,113}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_char_die.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdb3304f9682f6ecd4290853400e281b$</string>
            <key>textureFileName</key>
            <string>sp_char_die.png</string>
        </dict>
    </dict>
</plist>
