<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_ygbh_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{87,70}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{87,70}}</string>
                <key>sourceSize</key>
                <string>{99,102}</string>
            </dict>
            <key>effect_ygbh_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,43}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{104,43}}</string>
                <key>sourceSize</key>
                <string>{104,49}</string>
            </dict>
            <key>effect_ygbh_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{1,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{1,42}}</string>
                <key>sourceSize</key>
                <string>{1,52}</string>
            </dict>
            <key>effect_ygbh_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{63,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,56}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_ygbh_a.png</string>
            <key>size</key>
            <string>{111,177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b83c9e86e947a7ad4920129366f989b$</string>
            <key>textureFileName</key>
            <string>effect_ygbh_a.png</string>
        </dict>
    </dict>
</plist>
