<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_072_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{284,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,253}}</string>
                <key>sourceSize</key>
                <string>{284,253}</string>
            </dict>
            <key>sp_base_072_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{292,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,273}}</string>
                <key>sourceSize</key>
                <string>{292,273}</string>
            </dict>
            <key>sp_base_072_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{292,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,275}}</string>
                <key>sourceSize</key>
                <string>{292,275}</string>
            </dict>
            <key>sp_base_072_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,277}}</string>
                <key>sourceSize</key>
                <string>{292,277}</string>
            </dict>
            <key>sp_base_072_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,277},{292,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,258}}</string>
                <key>sourceSize</key>
                <string>{292,258}</string>
            </dict>
            <key>sp_base_072_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,279},{291,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,252}}</string>
                <key>sourceSize</key>
                <string>{291,252}</string>
            </dict>
            <key>sp_base_072_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,533},{277,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,244}}</string>
                <key>sourceSize</key>
                <string>{277,244}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_072.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69ef409f5e3dd38cc656f69f6fd2d199$</string>
            <key>textureFileName</key>
            <string>sp_base_072.png</string>
        </dict>
    </dict>
</plist>
