<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_016_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,337},{128,134}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{128,134}}</string>
                <key>sourceSize</key>
                <string>{142,158}</string>
            </dict>
            <key>sp_base_016_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,126},{146,152}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{146,152}}</string>
                <key>sourceSize</key>
                <string>{162,178}</string>
            </dict>
            <key>sp_base_016_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,226}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{141,226}}</string>
                <key>sourceSize</key>
                <string>{157,252}</string>
            </dict>
            <key>sp_base_016_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{147,197}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{147,197}}</string>
                <key>sourceSize</key>
                <string>{169,229}</string>
            </dict>
            <key>sp_base_016_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{141,203}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{141,203}}</string>
                <key>sourceSize</key>
                <string>{163,235}</string>
            </dict>
            <key>sp_base_016_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{122,165}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{122,165}}</string>
                <key>sourceSize</key>
                <string>{136,179}</string>
            </dict>
            <key>sp_base_016_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,151},{92,151}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{92,151}}</string>
                <key>sourceSize</key>
                <string>{104,165}</string>
            </dict>
            <key>sp_base_016_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,245},{90,149}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{90,149}}</string>
                <key>sourceSize</key>
                <string>{104,165}</string>
            </dict>
            <key>sp_base_016_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,337},{88,145}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{88,145}}</string>
                <key>sourceSize</key>
                <string>{104,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_016.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26e3e8c7e278847e2dc8d37446b6cf09$</string>
            <key>textureFileName</key>
            <string>sp_base_016.png</string>
        </dict>
    </dict>
</plist>
