<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_shangdian_yuwu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,64}}</string>
                <key>sourceSize</key>
                <string>{99,64}</string>
            </dict>
            <key>sp_shangdian_yuwu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{99,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,61}}</string>
                <key>sourceSize</key>
                <string>{99,61}</string>
            </dict>
            <key>sp_shangdian_yuwu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,65},{96,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,61}}</string>
                <key>sourceSize</key>
                <string>{96,61}</string>
            </dict>
            <key>sp_shangdian_yuwu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{95,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,60}}</string>
                <key>sourceSize</key>
                <string>{95,60}</string>
            </dict>
            <key>sp_shangdian_yuwu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>sp_shangdian_yuwu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,130},{94,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,58}}</string>
                <key>sourceSize</key>
                <string>{94,58}</string>
            </dict>
            <key>sp_shangdian_yuwu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,128},{94,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,57}}</string>
                <key>sourceSize</key>
                <string>{94,57}</string>
            </dict>
            <key>sp_shangdian_yuwu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,128},{92,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,55}}</string>
                <key>sourceSize</key>
                <string>{92,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_shangdian_yuwu.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bce1df88ae77e2715147914f6263d7b7$</string>
            <key>textureFileName</key>
            <string>sp_shangdian_yuwu.png</string>
        </dict>
    </dict>
</plist>
