<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_boss_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,316},{74,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,115}}</string>
                <key>sourceSize</key>
                <string>{76,115}</string>
            </dict>
            <key>sp_boss_fire_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,157},{80,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,118}}</string>
                <key>sourceSize</key>
                <string>{82,118}</string>
            </dict>
            <key>sp_boss_fire_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{79,122}}</string>
                <key>sourceSize</key>
                <string>{81,124}</string>
            </dict>
            <key>sp_boss_fire_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{78,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,119}}</string>
                <key>sourceSize</key>
                <string>{80,119}</string>
            </dict>
            <key>sp_boss_fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{76,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,122}}</string>
                <key>sourceSize</key>
                <string>{78,122}</string>
            </dict>
            <key>sp_boss_fire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{76,111}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,111}}</string>
                <key>sourceSize</key>
                <string>{78,111}</string>
            </dict>
            <key>sp_boss_fire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{75,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,116}}</string>
                <key>sourceSize</key>
                <string>{75,116}</string>
            </dict>
            <key>sp_boss_fire_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,80},{75,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,120}}</string>
                <key>sourceSize</key>
                <string>{77,120}</string>
            </dict>
            <key>sp_boss_fire_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{77,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{77,113}}</string>
                <key>sourceSize</key>
                <string>{79,113}</string>
            </dict>
            <key>sp_boss_fire_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,392},{78,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,112}}</string>
                <key>sourceSize</key>
                <string>{78,112}</string>
            </dict>
            <key>sp_boss_fire_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,239},{75,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,116}}</string>
                <key>sourceSize</key>
                <string>{75,116}</string>
            </dict>
            <key>sp_boss_fire_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{78,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,117}}</string>
                <key>sourceSize</key>
                <string>{80,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_boss_fire.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:042f1f577692b44b7358a17268afa419$</string>
            <key>textureFileName</key>
            <string>sp_boss_fire.png</string>
        </dict>
    </dict>
</plist>
