<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_259_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{264,94}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,94}}</string>
                <key>sourceSize</key>
                <string>{266,98}</string>
            </dict>
            <key>sp_base_259_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{264,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,156}}</string>
                <key>sourceSize</key>
                <string>{264,156}</string>
            </dict>
            <key>sp_base_259_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{264,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,235}}</string>
                <key>sourceSize</key>
                <string>{264,235}</string>
            </dict>
            <key>sp_base_259_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,502},{242,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,249}}</string>
                <key>sourceSize</key>
                <string>{242,249}</string>
            </dict>
            <key>sp_base_259_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,715},{191,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,245}}</string>
                <key>sourceSize</key>
                <string>{191,245}</string>
            </dict>
            <key>sp_base_259_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,753},{204,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,238}}</string>
                <key>sourceSize</key>
                <string>{204,238}</string>
            </dict>
            <key>sp_base_259_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,268},{232,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,240}}</string>
                <key>sourceSize</key>
                <string>{232,240}</string>
            </dict>
            <key>sp_base_259_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,241}}</string>
                <key>sourceSize</key>
                <string>{269,241}</string>
            </dict>
            <key>sp_base_259_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{265,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,214}}</string>
                <key>sourceSize</key>
                <string>{265,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_259.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9eb3f98ee9511c880110a74f049f4e2$</string>
            <key>textureFileName</key>
            <string>sp_base_259.png</string>
        </dict>
    </dict>
</plist>
