<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_tongyong_yun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,314},{182,88}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,88}}</string>
                <key>sourceSize</key>
                <string>{186,92}</string>
            </dict>
            <key>effect_tongyong_yun_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,87},{154,56}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,56}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>effect_tongyong_yun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{195,87}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,87}}</string>
                <key>sourceSize</key>
                <string>{199,91}</string>
            </dict>
            <key>effect_tongyong_yun_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,314},{201,94}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,94}}</string>
                <key>sourceSize</key>
                <string>{205,98}</string>
            </dict>
            <key>effect_tongyong_yun_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,215},{217,97}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{217,97}}</string>
                <key>sourceSize</key>
                <string>{223,101}</string>
            </dict>
            <key>effect_tongyong_yun_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,87},{221,126}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,126}}</string>
                <key>sourceSize</key>
                <string>{225,130}</string>
            </dict>
            <key>effect_tongyong_yun_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{221,98}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,98}}</string>
                <key>sourceSize</key>
                <string>{227,102}</string>
            </dict>
            <key>effect_tongyong_yun_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{225,83}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,83}}</string>
                <key>sourceSize</key>
                <string>{229,87}</string>
            </dict>
            <key>effect_tongyong_yun_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,69}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{226,69}}</string>
                <key>sourceSize</key>
                <string>{232,73}</string>
            </dict>
            <key>effect_tongyong_yun_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{222,64}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{222,64}}</string>
                <key>sourceSize</key>
                <string>{228,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_tongyong_yun.png</string>
            <key>size</key>
            <string>{507,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f59dc94ece058ed9d57c88d33ba62a42$</string>
            <key>textureFileName</key>
            <string>effect_tongyong_yun.png</string>
        </dict>
    </dict>
</plist>
