<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_038_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,220},{44,40}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,183},{44,40}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,504},{146,164}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,75},{146,164}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,860},{156,168}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,70},{156,168}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{170,172}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,69},{170,172}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1012},{178,184}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,60},{178,184}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,776},{196,188}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,56},{196,188}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,670},{208,188}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,52},{208,188}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{218,196}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,48},{218,196}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,810},{224,200}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,45},{224,200}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{232,200}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,43},{232,200}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,430},{232,204}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,37},{232,204}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,596},{74,90}}</string>
                <key>offset</key>
                <string>{-11,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,177},{74,90}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{248,204}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{248,204}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{260,204}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,31},{260,204}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,392},{270,206}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,27},{270,206}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,216},{286,212}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{286,212}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{294,212}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{294,212}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,174},{292,216}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{292,216}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,216}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{304,216}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{294,170}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,55},{294,170}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,636},{228,172}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,55},{228,172}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,600},{226,174}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,51},{226,174}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,842},{76,170}}</string>
                <key>offset</key>
                <string>{-12,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,94},{76,170}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,860},{64,66}}</string>
                <key>offset</key>
                <string>{-82,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,51},{64,66}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,672},{86,168}}</string>
                <key>offset</key>
                <string>{-8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,91},{86,168}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,430},{92,164}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,88},{92,164}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,170},{104,164}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,87},{104,164}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{108,166}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,83},{108,166}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,336},{124,166}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,80},{124,166}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
            <key>sp_base_038_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,966},{136,166}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,77},{136,166}}</string>
                <key>sourceSize</key>
                <string>{330,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_038.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bba7877077ea0b47bcad99f32aa6958$</string>
            <key>textureFileName</key>
            <string>sp_base_038.png</string>
        </dict>
    </dict>
</plist>
