<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_signinnew_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{369,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,378}}</string>
                <key>sourceSize</key>
                <string>{369,378}</string>
            </dict>
            <key>effect_signinnew_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{264,134}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{264,134}}</string>
                <key>sourceSize</key>
                <string>{266,134}</string>
            </dict>
            <key>effect_signinnew_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,356},{144,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,69}}</string>
                <key>sourceSize</key>
                <string>{144,69}</string>
            </dict>
            <key>effect_signinnew_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,502},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>effect_signinnew_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,502},{142,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,58}}</string>
                <key>sourceSize</key>
                <string>{142,58}</string>
            </dict>
            <key>effect_signinnew_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,637},{145,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,132}}</string>
                <key>sourceSize</key>
                <string>{145,132}</string>
            </dict>
            <key>effect_signinnew_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,481}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{262,481}}</string>
                <key>sourceSize</key>
                <string>{292,481}</string>
            </dict>
            <key>effect_signinnew_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,266},{115,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,88}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>effect_signinnew_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,385},{53,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,37}}</string>
                <key>sourceSize</key>
                <string>{53,37}</string>
            </dict>
            <key>effect_signinnew_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,356},{55,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,27}}</string>
                <key>sourceSize</key>
                <string>{55,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_signinnew_3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f12df19408f2279dbfc073c9afa61e2$</string>
            <key>textureFileName</key>
            <string>effect_signinnew_3.png</string>
        </dict>
    </dict>
</plist>
