<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_base_zhakai4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,758},{136,132}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,46},{136,132}}</string>
                <key>sourceSize</key>
                <string>{216,224}</string>
            </dict>
            <key>effect_base_zhakai4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{190,194}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,20},{190,194}}</string>
                <key>sourceSize</key>
                <string>{216,224}</string>
            </dict>
            <key>effect_base_zhakai4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{156,156}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{156,156}}</string>
                <key>sourceSize</key>
                <string>{216,224}</string>
            </dict>
            <key>effect_base_zhakai4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{170,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{170,168}}</string>
                <key>sourceSize</key>
                <string>{216,224}</string>
            </dict>
            <key>effect_base_zhakai4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,572},{184,186}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,19},{184,186}}</string>
                <key>sourceSize</key>
                <string>{216,224}</string>
            </dict>
            <key>effect_base_zhakai4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,386},{184,194}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{184,194}}</string>
                <key>sourceSize</key>
                <string>{216,224}</string>
            </dict>
            <key>effect_base_zhakai4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,208}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{192,208}}</string>
                <key>sourceSize</key>
                <string>{216,224}</string>
            </dict>
            <key>effect_base_zhakai4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,194},{198,190}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{198,190}}</string>
                <key>sourceSize</key>
                <string>{216,224}</string>
            </dict>
            <key>effect_base_zhakai4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{186,198}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{186,198}}</string>
                <key>sourceSize</key>
                <string>{216,224}</string>
            </dict>
            <key>effect_base_zhakai4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{190,200}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{190,200}}</string>
                <key>sourceSize</key>
                <string>{216,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_base_zhakai4.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b647b259836963f42bf992b31337d795$</string>
            <key>textureFileName</key>
            <string>effect_base_zhakai4.png</string>
        </dict>
    </dict>
</plist>
