<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_025_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1332},{448,412}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{448,412}}</string>
                <key>sourceSize</key>
                <string>{524,524}</string>
            </dict>
            <key>sp_base_025_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,924},{456,420}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{456,420}}</string>
                <key>sourceSize</key>
                <string>{524,524}</string>
            </dict>
            <key>sp_base_025_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{466,414}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{466,414}}</string>
                <key>sourceSize</key>
                <string>{524,524}</string>
            </dict>
            <key>sp_base_025_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{488,432}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,27},{488,432}}</string>
                <key>sourceSize</key>
                <string>{524,524}</string>
            </dict>
            <key>sp_base_025_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,472},{490,450}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,32},{490,450}}</string>
                <key>sourceSize</key>
                <string>{524,524}</string>
            </dict>
            <key>sp_base_025_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{490,468}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,30},{490,468}}</string>
                <key>sourceSize</key>
                <string>{524,524}</string>
            </dict>
            <key>sp_base_025_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{498,478}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,33},{498,478}}</string>
                <key>sourceSize</key>
                <string>{524,524}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_025.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a48953e1439ef44643f43ea2f19c1cf3$</string>
            <key>textureFileName</key>
            <string>sp_base_025.png</string>
        </dict>
    </dict>
</plist>
