<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_flag_cq_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,85},{81,109}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,109}}</string>
                <key>sourceSize</key>
                <string>{81,111}</string>
            </dict>
            <key>effect_flag_cq_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{81,109}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,109}}</string>
                <key>sourceSize</key>
                <string>{81,111}</string>
            </dict>
            <key>effect_flag_cq_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,137}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,137}}</string>
                <key>sourceSize</key>
                <string>{14,139}</string>
            </dict>
            <key>effect_flag_cq_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{81,109}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,109}}</string>
                <key>sourceSize</key>
                <string>{81,111}</string>
            </dict>
            <key>effect_flag_cq_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{81,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,107}}</string>
                <key>sourceSize</key>
                <string>{81,111}</string>
            </dict>
            <key>effect_flag_cq_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{79,107}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,107}}</string>
                <key>sourceSize</key>
                <string>{81,111}</string>
            </dict>
            <key>effect_flag_cq_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,332},{77,107}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{77,107}}</string>
                <key>sourceSize</key>
                <string>{81,111}</string>
            </dict>
            <key>effect_flag_cq_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{75,107}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{75,107}}</string>
                <key>sourceSize</key>
                <string>{81,111}</string>
            </dict>
            <key>effect_flag_cq_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,251},{79,107}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{79,107}}</string>
                <key>sourceSize</key>
                <string>{81,111}</string>
            </dict>
            <key>effect_flag_cq_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,168},{81,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,107}}</string>
                <key>sourceSize</key>
                <string>{81,111}</string>
            </dict>
            <key>effect_flag_cq_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{81,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,107}}</string>
                <key>sourceSize</key>
                <string>{81,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_flag_cq.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4208b432e0f836232869b1ff8765609$</string>
            <key>textureFileName</key>
            <string>effect_flag_cq.png</string>
        </dict>
    </dict>
</plist>
