<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_2008_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,297},{402,269}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{402,269}}</string>
                <key>sourceSize</key>
                <string>{412,283}</string>
            </dict>
            <key>effect_2008_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{416,293}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{416,293}}</string>
                <key>sourceSize</key>
                <string>{416,301}</string>
            </dict>
            <key>effect_2008_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,305}}</string>
                <key>sourceSize</key>
                <string>{448,305}</string>
            </dict>
            <key>effect_2008_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{360,262}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{360,262}}</string>
                <key>sourceSize</key>
                <string>{360,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_2008.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81d88906a8672988f4ab8a3f1a2a945e$</string>
            <key>textureFileName</key>
            <string>effect_2008.png</string>
        </dict>
    </dict>
</plist>
