<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_2020_fuben3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1238},{373,423}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{373,423}}</string>
                <key>sourceSize</key>
                <string>{403,463}</string>
            </dict>
            <key>effect_2020_fuben3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{606,428}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,148},{606,428}}</string>
                <key>sourceSize</key>
                <string>{716,718}</string>
            </dict>
            <key>effect_2020_fuben3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1238},{409,419}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,12},{409,419}}</string>
                <key>sourceSize</key>
                <string>{447,463}</string>
            </dict>
            <key>effect_2020_fuben3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1238},{409,419}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,12},{409,419}}</string>
                <key>sourceSize</key>
                <string>{447,463}</string>
            </dict>
            <key>effect_2020_fuben3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,461},{571,459}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{571,459}}</string>
                <key>sourceSize</key>
                <string>{581,485}</string>
            </dict>
            <key>effect_2020_fuben3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,2},{594,445}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,445}}</string>
                <key>sourceSize</key>
                <string>{596,471}</string>
            </dict>
            <key>effect_2020_fuben3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,449},{588,421}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,421}}</string>
                <key>sourceSize</key>
                <string>{592,435}</string>
            </dict>
            <key>effect_2020_fuben3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{596,425}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{596,425}}</string>
                <key>sourceSize</key>
                <string>{598,437}</string>
            </dict>
            <key>effect_2020_fuben3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{601,457}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{601,457}}</string>
                <key>sourceSize</key>
                <string>{607,481}</string>
            </dict>
            <key>effect_2020_fuben3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,859},{568,377}}</string>
                <key>offset</key>
                <string>{-14,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{568,377}}</string>
                <key>sourceSize</key>
                <string>{596,419}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_2020_fuben3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e661b1068d08a0570ff09f9d6d01e0d3$</string>
            <key>textureFileName</key>
            <string>effect_2020_fuben3.png</string>
        </dict>
    </dict>
</plist>
