<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_324_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{77,55}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{77,55}}</string>
                <key>sourceSize</key>
                <string>{85,69}</string>
            </dict>
            <key>sp_base_324_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,292},{125,84}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{125,84}}</string>
                <key>sourceSize</key>
                <string>{131,104}</string>
            </dict>
            <key>sp_base_324_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{171,130}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{171,130}}</string>
                <key>sourceSize</key>
                <string>{187,146}</string>
            </dict>
            <key>sp_base_324_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{183,143}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{183,143}}</string>
                <key>sourceSize</key>
                <string>{195,151}</string>
            </dict>
            <key>sp_base_324_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,143}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{185,143}}</string>
                <key>sourceSize</key>
                <string>{195,151}</string>
            </dict>
            <key>sp_base_324_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,81},{105,36}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,28},{105,36}}</string>
                <key>sourceSize</key>
                <string>{179,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_324.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adb1e7e62b41b52c20eb9f9276c1baa9$</string>
            <key>textureFileName</key>
            <string>sp_base_324.png</string>
        </dict>
    </dict>
</plist>
