<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_base_zhakai2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,589},{192,148}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{192,148}}</string>
                <key>sourceSize</key>
                <string>{202,148}</string>
            </dict>
            <key>effect_base_zhakai2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{279,242}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{279,242}}</string>
                <key>sourceSize</key>
                <string>{307,274}</string>
            </dict>
            <key>effect_base_zhakai2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{283,238}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{283,238}}</string>
                <key>sourceSize</key>
                <string>{307,274}</string>
            </dict>
            <key>effect_base_zhakai2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,719},{192,153}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{192,153}}</string>
                <key>sourceSize</key>
                <string>{212,189}</string>
            </dict>
            <key>effect_base_zhakai2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,533},{289,184}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{289,184}}</string>
                <key>sourceSize</key>
                <string>{297,198}</string>
            </dict>
            <key>effect_base_zhakai2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,283},{350,248}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{350,248}}</string>
                <key>sourceSize</key>
                <string>{364,258}</string>
            </dict>
            <key>effect_base_zhakai2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,282}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{354,282}}</string>
                <key>sourceSize</key>
                <string>{366,286}</string>
            </dict>
            <key>effect_base_zhakai2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{351,279}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{351,279}}</string>
                <key>sourceSize</key>
                <string>{357,317}</string>
            </dict>
            <key>effect_base_zhakai2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{325,305}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,4},{325,305}}</string>
                <key>sourceSize</key>
                <string>{357,317}</string>
            </dict>
            <key>effect_base_zhakai2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,329},{304,258}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{304,258}}</string>
                <key>sourceSize</key>
                <string>{334,278}</string>
            </dict>
            <key>effect_base_zhakai2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{297,252}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{297,252}}</string>
                <key>sourceSize</key>
                <string>{307,274}</string>
            </dict>
            <key>effect_base_zhakai2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,719},{281,248}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{281,248}}</string>
                <key>sourceSize</key>
                <string>{307,274}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_base_zhakai2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6d2024830516b84e5fa175cbc59f285$</string>
            <key>textureFileName</key>
            <string>effect_base_zhakai2.png</string>
        </dict>
    </dict>
</plist>
