<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhenzhan_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{41,83}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{41,83}}</string>
                <key>sourceSize</key>
                <string>{49,87}</string>
            </dict>
            <key>effect_zhenzhan_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{35,82}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,82}}</string>
                <key>sourceSize</key>
                <string>{41,86}</string>
            </dict>
            <key>effect_zhenzhan_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{29,82}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,82}}</string>
                <key>sourceSize</key>
                <string>{35,86}</string>
            </dict>
            <key>effect_zhenzhan_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{20,82}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,82}}</string>
                <key>sourceSize</key>
                <string>{26,88}</string>
            </dict>
            <key>effect_zhenzhan_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{23,83}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,83}}</string>
                <key>sourceSize</key>
                <string>{29,87}</string>
            </dict>
            <key>effect_zhenzhan_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,86},{30,83}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,83}}</string>
                <key>sourceSize</key>
                <string>{38,87}</string>
            </dict>
            <key>effect_zhenzhan_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,84}}</string>
                <key>sourceSize</key>
                <string>{48,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhenzhan_2.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50d3f1d9ee0611c38f74f029a9b02241$</string>
            <key>textureFileName</key>
            <string>effect_zhenzhan_2.png</string>
        </dict>
    </dict>
</plist>
