<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_range_qylw_start_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,416},{105,74}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{105,74}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>sp_range_qylw_start_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,125},{117,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{119,116}</string>
            </dict>
            <key>sp_range_qylw_start_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,168},{113,123}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{113,123}}</string>
                <key>sourceSize</key>
                <string>{117,127}</string>
            </dict>
            <key>sp_range_qylw_start_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{115,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>sp_range_qylw_start_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,293},{121,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,96}}</string>
                <key>sourceSize</key>
                <string>{121,98}</string>
            </dict>
            <key>sp_range_qylw_start_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{121,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,100}}</string>
                <key>sourceSize</key>
                <string>{121,100}</string>
            </dict>
            <key>sp_range_qylw_start_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,293},{118,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,114}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>sp_range_qylw_start_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{121,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{121,133}}</string>
                <key>sourceSize</key>
                <string>{121,135}</string>
            </dict>
            <key>sp_range_qylw_start_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{116,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,136}}</string>
                <key>sourceSize</key>
                <string>{118,136}</string>
            </dict>
            <key>sp_range_qylw_start_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,164}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{163,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_range_qylw_start_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9387d945840bbf479bf357f3d9d1dae3$</string>
            <key>textureFileName</key>
            <string>sp_range_qylw_start_1.png</string>
        </dict>
    </dict>
</plist>
