<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_kuang_flash_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,188},{184,176}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,176}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_kuang_flash_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,188},{184,184}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,184}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_kuang_flash_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{184,184}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,184}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_kuang_flash_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{184,184}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,184}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_kuang_flash_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{184,184}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,184}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_kuang_flash_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,374},{184,182}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{184,182}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_kuang_flash_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,746},{184,182}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{184,182}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_kuang_flash_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,188},{184,178}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,178}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_kuang_flash_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,560},{184,182}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{184,182}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_kuang_flash_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,374},{184,182}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{184,182}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_kuang_flash_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,184}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,184}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_kuang_flash_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{184,184}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,184}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_kuang_flash_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{184,184}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,184}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_kuang_flash_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{184,184}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,184}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_kuang_flash_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{184,184}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,184}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_kuang_flash_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,184}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,184}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_kuang_flash.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5db58bf077fcc895a6fd3e3194dc2477$</string>
            <key>textureFileName</key>
            <string>effect_kuang_flash.png</string>
        </dict>
    </dict>
</plist>
