<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_322_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,130},{117,92}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{117,92}}</string>
                <key>sourceSize</key>
                <string>{131,116}</string>
            </dict>
            <key>sp_base_322_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{163,93}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,15},{163,93}}</string>
                <key>sourceSize</key>
                <string>{179,125}</string>
            </dict>
            <key>sp_base_322_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{156,123}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{156,123}}</string>
                <key>sourceSize</key>
                <string>{190,149}</string>
            </dict>
            <key>sp_base_322_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{196,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{196,126}}</string>
                <key>sourceSize</key>
                <string>{238,184}</string>
            </dict>
            <key>sp_base_322_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,130},{150,110}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{150,110}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>sp_base_322_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,104}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,34},{207,104}}</string>
                <key>sourceSize</key>
                <string>{223,170}</string>
            </dict>
            <key>sp_base_322_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{149,106}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{149,106}}</string>
                <key>sourceSize</key>
                <string>{231,120}</string>
            </dict>
            <key>sp_base_322_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,242},{145,67}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,27},{145,67}}</string>
                <key>sourceSize</key>
                <string>{169,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_322.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03a622b8c0aeedcb83aede1d2957a573$</string>
            <key>textureFileName</key>
            <string>sp_base_322.png</string>
        </dict>
    </dict>
</plist>
