<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_choujiang_star_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,223}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{227,223}}</string>
                <key>sourceSize</key>
                <string>{235,231}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_choujiang_star_3.png</string>
            <key>size</key>
            <string>{231,227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5acb8dd39f9524720d5de7b686a8bc2b$</string>
            <key>textureFileName</key>
            <string>effect_choujiang_star_3.png</string>
        </dict>
    </dict>
</plist>
