<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_2group_wslw_start_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,64},{56,58}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{56,58}}</string>
                <key>sourceSize</key>
                <string>{90,78}</string>
            </dict>
            <key>sp_2group_wslw_start_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{76,60}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{76,60}}</string>
                <key>sourceSize</key>
                <string>{90,78}</string>
            </dict>
            <key>sp_2group_wslw_start_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{78,58}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{78,58}}</string>
                <key>sourceSize</key>
                <string>{90,78}</string>
            </dict>
            <key>sp_2group_wslw_start_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,72}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{82,72}}</string>
                <key>sourceSize</key>
                <string>{90,78}</string>
            </dict>
            <key>sp_2group_wslw_start_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,62},{70,64}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{70,64}}</string>
                <key>sourceSize</key>
                <string>{90,78}</string>
            </dict>
            <key>sp_2group_wslw_start_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{56,56}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{56,56}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>sp_2group_wslw_start_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,122},{56,56}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{56,56}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>sp_2group_wslw_start_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{58,56}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{58,56}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_2group_wslw_start_2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:527895fe295f32032a251d1a17f35358$</string>
            <key>textureFileName</key>
            <string>sp_2group_wslw_start_2.png</string>
        </dict>
    </dict>
</plist>
