<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_ui_dian2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{146,116}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,116}}</string>
                <key>sourceSize</key>
                <string>{150,118}</string>
            </dict>
            <key>effect_ui_dian2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,256},{137,117}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,117}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>effect_ui_dian2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,134}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,134}}</string>
                <key>sourceSize</key>
                <string>{162,136}</string>
            </dict>
            <key>effect_ui_dian2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{159,134}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,134}}</string>
                <key>sourceSize</key>
                <string>{161,136}</string>
            </dict>
            <key>effect_ui_dian2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,127},{151,127}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,127}}</string>
                <key>sourceSize</key>
                <string>{153,129}</string>
            </dict>
            <key>effect_ui_dian2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{153,123}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,123}}</string>
                <key>sourceSize</key>
                <string>{155,125}</string>
            </dict>
            <key>effect_ui_dian2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,138},{144,114}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,114}}</string>
                <key>sourceSize</key>
                <string>{148,116}</string>
            </dict>
            <key>effect_ui_dian2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,254},{139,129}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,129}}</string>
                <key>sourceSize</key>
                <string>{143,131}</string>
            </dict>
            <key>effect_ui_dian2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{138,121}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,121}}</string>
                <key>sourceSize</key>
                <string>{142,123}</string>
            </dict>
            <key>effect_ui_dian2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{138,123}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,123}}</string>
                <key>sourceSize</key>
                <string>{142,125}</string>
            </dict>
            <key>effect_ui_dian2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,375},{133,116}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,116}}</string>
                <key>sourceSize</key>
                <string>{137,118}</string>
            </dict>
            <key>effect_ui_dian2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,511},{126,113}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,113}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>effect_ui_dian2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,385},{124,132}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,132}}</string>
                <key>sourceSize</key>
                <string>{126,134}</string>
            </dict>
            <key>effect_ui_dian2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{121,131}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,131}}</string>
                <key>sourceSize</key>
                <string>{123,133}</string>
            </dict>
            <key>effect_ui_dian2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,493},{120,127}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,127}}</string>
                <key>sourceSize</key>
                <string>{124,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_ui_dian2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3770aad4dfe7fa7691a34a7c8c60b276$</string>
            <key>textureFileName</key>
            <string>effect_ui_dian2.png</string>
        </dict>
    </dict>
</plist>
