<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_chibi_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,140},{92,128}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{92,128}}</string>
                <key>sourceSize</key>
                <string>{112,150}</string>
            </dict>
            <key>effect_chibi_fire_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,128},{98,123}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{98,123}}</string>
                <key>sourceSize</key>
                <string>{112,149}</string>
            </dict>
            <key>effect_chibi_fire_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,121},{98,116}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{98,116}}</string>
                <key>sourceSize</key>
                <string>{112,150}</string>
            </dict>
            <key>effect_chibi_fire_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{100,117}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,27},{100,117}}</string>
                <key>sourceSize</key>
                <string>{112,147}</string>
            </dict>
            <key>effect_chibi_fire_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{100,117}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,27},{100,117}}</string>
                <key>sourceSize</key>
                <string>{112,149}</string>
            </dict>
            <key>effect_chibi_fire_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,239},{96,116}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,27},{96,116}}</string>
                <key>sourceSize</key>
                <string>{112,146}</string>
            </dict>
            <key>effect_chibi_fire_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,396},{98,114}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{98,114}}</string>
                <key>sourceSize</key>
                <string>{112,138}</string>
            </dict>
            <key>effect_chibi_fire_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{92,120}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{92,120}}</string>
                <key>sourceSize</key>
                <string>{112,142}</string>
            </dict>
            <key>effect_chibi_fire_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,249},{78,93}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,93}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>effect_chibi_fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{96,134}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{96,134}}</string>
                <key>sourceSize</key>
                <string>{112,150}</string>
            </dict>
            <key>effect_chibi_fire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,136}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{98,136}}</string>
                <key>sourceSize</key>
                <string>{112,150}</string>
            </dict>
            <key>effect_chibi_fire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{96,132}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{96,132}}</string>
                <key>sourceSize</key>
                <string>{112,150}</string>
            </dict>
            <key>effect_chibi_fire_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{102,124}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{102,124}}</string>
                <key>sourceSize</key>
                <string>{112,150}</string>
            </dict>
            <key>effect_chibi_fire_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,253},{104,121}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{104,121}}</string>
                <key>sourceSize</key>
                <string>{112,149}</string>
            </dict>
            <key>effect_chibi_fire_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{106,122}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{106,122}}</string>
                <key>sourceSize</key>
                <string>{112,150}</string>
            </dict>
            <key>effect_chibi_fire_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,126},{102,121}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{102,121}}</string>
                <key>sourceSize</key>
                <string>{112,147}</string>
            </dict>
            <key>effect_chibi_fire_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,270},{96,124}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{96,124}}</string>
                <key>sourceSize</key>
                <string>{112,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_chibi_fire.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:809efd8cd6b2e601cab84149c2c81519$</string>
            <key>textureFileName</key>
            <string>effect_chibi_fire.png</string>
        </dict>
    </dict>
</plist>
