<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_dunpai_shan2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,199}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{178,199}}</string>
                <key>sourceSize</key>
                <string>{224,243}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_dunpai_shan2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbad7024cc2cb4f954c7ca053c0cba28$</string>
            <key>textureFileName</key>
            <string>sp_dunpai_shan2.png</string>
        </dict>
    </dict>
</plist>
