<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_maincity_wsj_nangua2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,125}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,46},{143,125}}</string>
                <key>sourceSize</key>
                <string>{249,235}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_maincity_wsj_nangua2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e09fa89c195e0abccacc195aacfd409$</string>
            <key>textureFileName</key>
            <string>effect_maincity_wsj_nangua2.png</string>
        </dict>
    </dict>
</plist>
