<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jiangling_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{159,133}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,133}}</string>
                <key>sourceSize</key>
                <string>{163,135}</string>
            </dict>
            <key>effect_jiangling_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,276},{140,135}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,135}}</string>
                <key>sourceSize</key>
                <string>{144,137}</string>
            </dict>
            <key>effect_jiangling_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,276},{159,135}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,135}}</string>
                <key>sourceSize</key>
                <string>{163,137}</string>
            </dict>
            <key>effect_jiangling_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,136}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,136}}</string>
                <key>sourceSize</key>
                <string>{164,138}</string>
            </dict>
            <key>effect_jiangling_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{161,135}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,135}}</string>
                <key>sourceSize</key>
                <string>{163,137}</string>
            </dict>
            <key>effect_jiangling_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{160,135}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,135}}</string>
                <key>sourceSize</key>
                <string>{162,137}</string>
            </dict>
            <key>effect_jiangling_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,139},{159,135}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,135}}</string>
                <key>sourceSize</key>
                <string>{163,137}</string>
            </dict>
            <key>effect_jiangling_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{159,135}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,135}}</string>
                <key>sourceSize</key>
                <string>{163,137}</string>
            </dict>
            <key>effect_jiangling_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,139},{159,135}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,135}}</string>
                <key>sourceSize</key>
                <string>{163,137}</string>
            </dict>
            <key>effect_jiangling_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{142,135}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,135}}</string>
                <key>sourceSize</key>
                <string>{144,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jiangling_3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:118a21201fc429a433a406bb4953f3fa$</string>
            <key>textureFileName</key>
            <string>effect_jiangling_3.png</string>
        </dict>
    </dict>
</plist>
