<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zc_fz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,159},{149,61}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{149,61}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
            <key>effect_zc_fz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{43,135}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,135}}</string>
                <key>sourceSize</key>
                <string>{43,141}</string>
            </dict>
            <key>effect_zc_fz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{155,63}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{155,63}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
            <key>effect_zc_fz_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,63}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{161,63}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
            <key>effect_zc_fz_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{161,61}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{161,61}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
            <key>effect_zc_fz_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{159,61}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
            <key>effect_zc_fz_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{157,59}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{157,59}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
            <key>effect_zc_fz_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{155,59}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{155,59}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
            <key>effect_zc_fz_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,310},{153,55}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{153,55}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
            <key>effect_zc_fz_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{151,55}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{151,55}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zc_fz.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cad19dfff9bfb816c347762f9153a32$</string>
            <key>textureFileName</key>
            <string>effect_zc_fz.png</string>
        </dict>
    </dict>
</plist>
