<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_qhzb_xing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{73,113}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{73,113}}</string>
                <key>sourceSize</key>
                <string>{109,159}</string>
            </dict>
            <key>effect_qhzb_xing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,227},{73,113}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,32},{73,113}}</string>
                <key>sourceSize</key>
                <string>{109,159}</string>
            </dict>
            <key>effect_qhzb_xing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{73,113}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,32},{73,113}}</string>
                <key>sourceSize</key>
                <string>{109,159}</string>
            </dict>
            <key>effect_qhzb_xing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,152},{73,113}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,32},{73,113}}</string>
                <key>sourceSize</key>
                <string>{109,159}</string>
            </dict>
            <key>effect_qhzb_xing_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{73,113}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,32},{73,113}}</string>
                <key>sourceSize</key>
                <string>{109,159}</string>
            </dict>
            <key>effect_qhzb_xing_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,77},{73,113}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,32},{73,113}}</string>
                <key>sourceSize</key>
                <string>{109,159}</string>
            </dict>
            <key>effect_qhzb_xing_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{73,113}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,32},{73,113}}</string>
                <key>sourceSize</key>
                <string>{109,159}</string>
            </dict>
            <key>effect_qhzb_xing_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{73,113}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,32},{73,113}}</string>
                <key>sourceSize</key>
                <string>{109,159}</string>
            </dict>
            <key>effect_qhzb_xing_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,113}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,32},{73,113}}</string>
                <key>sourceSize</key>
                <string>{109,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_qhzb_xing.png</string>
            <key>size</key>
            <string>{232,417}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:213eb4fdeafb60c8ebe718cbbc5d2fc9$</string>
            <key>textureFileName</key>
            <string>effect_qhzb_xing.png</string>
        </dict>
    </dict>
</plist>
