<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_shoulan_shengji_xian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,73}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{159,73}}</string>
                <key>sourceSize</key>
                <string>{181,95}</string>
            </dict>
            <key>effect_shoulan_shengji_xian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{15,159}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{15,159}}</string>
                <key>sourceSize</key>
                <string>{25,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_shoulan_shengji_xian.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d3cf5e44d6a6bdb7af62697500d3a6d$</string>
            <key>textureFileName</key>
            <string>effect_shoulan_shengji_xian.png</string>
        </dict>
    </dict>
</plist>
