<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jxb_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,576},{84,233}}</string>
                <key>offset</key>
                <string>{-2,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,238},{84,233}}</string>
                <key>sourceSize</key>
                <string>{92,501}</string>
            </dict>
            <key>effect_jxb_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{116,444}}</string>
                <key>offset</key>
                <string>{40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,126},{116,444}}</string>
                <key>sourceSize</key>
                <string>{208,586}</string>
            </dict>
            <key>effect_jxb_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,413},{116,404}}</string>
                <key>offset</key>
                <string>{40,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,138},{116,404}}</string>
                <key>sourceSize</key>
                <string>{210,562}</string>
            </dict>
            <key>effect_jxb_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,907},{103,390}}</string>
                <key>offset</key>
                <string>{51,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,143},{103,390}}</string>
                <key>sourceSize</key>
                <string>{217,562}</string>
            </dict>
            <key>effect_jxb_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,405},{95,398}}</string>
                <key>offset</key>
                <string>{54,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,121},{95,398}}</string>
                <key>sourceSize</key>
                <string>{217,544}</string>
            </dict>
            <key>effect_jxb_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,819},{86,401}}</string>
                <key>offset</key>
                <string>{59,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,121},{86,401}}</string>
                <key>sourceSize</key>
                <string>{218,543}</string>
            </dict>
            <key>effect_jxb_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{131,360}}</string>
                <key>offset</key>
                <string>{37,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,135},{131,360}}</string>
                <key>sourceSize</key>
                <string>{217,516}</string>
            </dict>
            <key>effect_jxb_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{130,309}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{130,309}}</string>
                <key>sourceSize</key>
                <string>{138,341}</string>
            </dict>
            <key>effect_jxb_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,313},{127,261}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{127,261}}</string>
                <key>sourceSize</key>
                <string>{137,325}</string>
            </dict>
            <key>effect_jxb_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,237},{80,175}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,175}}</string>
                <key>sourceSize</key>
                <string>{90,235}</string>
            </dict>
            <key>effect_jxb_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,872},{31,88}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{31,88}}</string>
                <key>sourceSize</key>
                <string>{39,138}</string>
            </dict>
            <key>effect_jxb_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,237},{177,280}}</string>
                <key>offset</key>
                <string>{25,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,279},{177,280}}</string>
                <key>sourceSize</key>
                <string>{239,566}</string>
            </dict>
            <key>effect_jxb_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,135},{100,341}}</string>
                <key>offset</key>
                <string>{41,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,259},{100,341}}</string>
                <key>sourceSize</key>
                <string>{198,619}</string>
            </dict>
            <key>effect_jxb_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,909},{107,402}}</string>
                <key>offset</key>
                <string>{42,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,176},{107,402}}</string>
                <key>sourceSize</key>
                <string>{207,614}</string>
            </dict>
            <key>effect_jxb_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,454}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,119},{108,454}}</string>
                <key>sourceSize</key>
                <string>{118,590}</string>
            </dict>
            <key>effect_jxb_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{115,449}}</string>
                <key>offset</key>
                <string>{42,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,131},{115,449}}</string>
                <key>sourceSize</key>
                <string>{211,595}</string>
            </dict>
            <key>effect_jxb_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,448},{117,422}}</string>
                <key>offset</key>
                <string>{41,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,142},{117,422}}</string>
                <key>sourceSize</key>
                <string>{211,580}</string>
            </dict>
            <key>effect_jxb_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{117,401}}</string>
                <key>offset</key>
                <string>{41,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,151},{117,401}}</string>
                <key>sourceSize</key>
                <string>{209,567}</string>
            </dict>
            <key>effect_jxb_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{115,409}}</string>
                <key>offset</key>
                <string>{39,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,129},{115,409}}</string>
                <key>sourceSize</key>
                <string>{207,565}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jxb_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0eda06faa0e5dc884266ee832fc1c06$</string>
            <key>textureFileName</key>
            <string>effect_jxb_1.png</string>
        </dict>
    </dict>
</plist>
