<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fieldscene_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,73},{15,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,45}}</string>
                <key>sourceSize</key>
                <string>{15,45}</string>
            </dict>
            <key>effect_fieldscene_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{16,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,66}}</string>
                <key>sourceSize</key>
                <string>{16,66}</string>
            </dict>
            <key>effect_fieldscene_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,73},{13,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,29}}</string>
                <key>sourceSize</key>
                <string>{13,29}</string>
            </dict>
            <key>effect_fieldscene_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{18,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,47}}</string>
                <key>sourceSize</key>
                <string>{18,47}</string>
            </dict>
            <key>effect_fieldscene_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,58}}</string>
                <key>sourceSize</key>
                <string>{16,58}</string>
            </dict>
            <key>effect_fieldscene_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{17,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,47}}</string>
                <key>sourceSize</key>
                <string>{17,49}</string>
            </dict>
            <key>effect_fieldscene_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,59},{12,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,34}}</string>
                <key>sourceSize</key>
                <string>{12,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fieldscene.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f812ab5060410b03b891b27680e6419$</string>
            <key>textureFileName</key>
            <string>effect_fieldscene.png</string>
        </dict>
    </dict>
</plist>
