<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>num_berlin_total_red_+.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{40,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>num_berlin_total_red_-.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,176},{40,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{40,20}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>num_berlin_total_red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,134},{40,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>num_berlin_total_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{30,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{30,50}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>num_berlin_total_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>num_berlin_total_red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>num_berlin_total_red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{42,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,50}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>num_berlin_total_red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,90},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>num_berlin_total_red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{42,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>num_berlin_total_red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,176},{38,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{38,50}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>num_berlin_total_red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,46},{42,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>num_berlin_total_red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>num_berlin_total_red.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53b0a36fa3ed8ebc9c7ce61c10927296$</string>
            <key>textureFileName</key>
            <string>num_berlin_total_red.png</string>
        </dict>
    </dict>
</plist>
