<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_yxt_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{58,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,33}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>effect_yxt_fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{60,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,33}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>effect_yxt_fire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,31}}</string>
                <key>sourceSize</key>
                <string>{61,31}</string>
            </dict>
            <key>effect_yxt_fire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{60,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>effect_yxt_fire_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,40},{59,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,38}}</string>
                <key>sourceSize</key>
                <string>{59,40}</string>
            </dict>
            <key>effect_yxt_fire_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,80},{57,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,29}}</string>
                <key>sourceSize</key>
                <string>{57,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_yxt_fire.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5deec2c9cf0ed10d61118a856110093$</string>
            <key>textureFileName</key>
            <string>effect_yxt_fire.png</string>
        </dict>
    </dict>
</plist>
