<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_413_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,132}}</string>
                <key>sourceSize</key>
                <string>{325,132}</string>
            </dict>
            <key>sp_base_413_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{319,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,130}}</string>
                <key>sourceSize</key>
                <string>{319,130}</string>
            </dict>
            <key>sp_base_413_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,317},{311,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,133}}</string>
                <key>sourceSize</key>
                <string>{311,133}</string>
            </dict>
            <key>sp_base_413_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{309,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,128}}</string>
                <key>sourceSize</key>
                <string>{309,128}</string>
            </dict>
            <key>sp_base_413_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,659},{305,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,127}}</string>
                <key>sourceSize</key>
                <string>{305,127}</string>
            </dict>
            <key>sp_base_413_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{314,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,129}}</string>
                <key>sourceSize</key>
                <string>{314,129}</string>
            </dict>
            <key>sp_base_413_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{308,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,128}}</string>
                <key>sourceSize</key>
                <string>{308,128}</string>
            </dict>
            <key>sp_base_413_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{313,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,133}}</string>
                <key>sourceSize</key>
                <string>{313,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_413.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1eafa30c935bf51a320450739b81e216$</string>
            <key>textureFileName</key>
            <string>sp_base_413.png</string>
        </dict>
    </dict>
</plist>
