<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_zc_hyd_start_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,68},{64,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{64,130}}</string>
                <key>sourceSize</key>
                <string>{72,140}</string>
            </dict>
            <key>sp_zc_hyd_start_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{64,132}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{64,132}}</string>
                <key>sourceSize</key>
                <string>{72,140}</string>
            </dict>
            <key>sp_zc_hyd_start_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,128},{62,124}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{62,124}}</string>
                <key>sourceSize</key>
                <string>{72,140}</string>
            </dict>
            <key>sp_zc_hyd_start_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{64,124}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{64,124}}</string>
                <key>sourceSize</key>
                <string>{72,136}</string>
            </dict>
            <key>sp_zc_hyd_start_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{62,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{62,126}}</string>
                <key>sourceSize</key>
                <string>{72,138}</string>
            </dict>
            <key>sp_zc_hyd_start_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{66,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{66,128}}</string>
                <key>sourceSize</key>
                <string>{72,140}</string>
            </dict>
            <key>sp_zc_hyd_start_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,134},{62,126}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{62,126}}</string>
                <key>sourceSize</key>
                <string>{72,140}</string>
            </dict>
            <key>sp_zc_hyd_start_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,406},{66,126}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{66,126}}</string>
                <key>sourceSize</key>
                <string>{72,140}</string>
            </dict>
            <key>sp_zc_hyd_start_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{64,130}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,130}}</string>
                <key>sourceSize</key>
                <string>{72,140}</string>
            </dict>
            <key>sp_zc_hyd_start_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,272},{64,132}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,132}}</string>
                <key>sourceSize</key>
                <string>{72,140}</string>
            </dict>
            <key>sp_zc_hyd_start_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{66,132}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,132}}</string>
                <key>sourceSize</key>
                <string>{72,140}</string>
            </dict>
            <key>sp_zc_hyd_start_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{68,132}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,132}}</string>
                <key>sourceSize</key>
                <string>{72,140}</string>
            </dict>
            <key>sp_zc_hyd_start_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,134}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{68,134}}</string>
                <key>sourceSize</key>
                <string>{72,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_zc_hyd_start_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a6fc0e52f4b776746449a6889930621$</string>
            <key>textureFileName</key>
            <string>sp_zc_hyd_start_2.png</string>
        </dict>
    </dict>
</plist>
