<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_largefire_sub1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{86,44}</string>
            </dict>
            <key>effect_largefire_sub1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,48},{133,81}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{133,81}}</string>
                <key>sourceSize</key>
                <string>{135,85}</string>
            </dict>
            <key>effect_largefire_sub1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,48},{151,224}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{151,224}}</string>
                <key>sourceSize</key>
                <string>{165,224}</string>
            </dict>
            <key>effect_largefire_sub1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,307}}</string>
                <key>sourceSize</key>
                <string>{165,307}</string>
            </dict>
            <key>effect_largefire_sub1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,311},{157,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,244}}</string>
                <key>sourceSize</key>
                <string>{157,244}</string>
            </dict>
            <key>effect_largefire_sub1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{136,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,177}}</string>
                <key>sourceSize</key>
                <string>{136,177}</string>
            </dict>
            <key>effect_largefire_sub1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{48,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,150}}</string>
                <key>sourceSize</key>
                <string>{48,150}</string>
            </dict>
            <key>effect_largefire_sub1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,131},{48,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{48,80}}</string>
                <key>sourceSize</key>
                <string>{52,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_largefire_sub1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fefb2d15d01b87587ddf8ff4fe19c5d$</string>
            <key>textureFileName</key>
            <string>effect_largefire_sub1.png</string>
        </dict>
    </dict>
</plist>
