<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fjtx_long_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,159},{149,61}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{149,61}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
            <key>effect_fjtx_long_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,222},{149,59}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{149,59}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
            <key>effect_fjtx_long_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,283},{43,135}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,135}}</string>
                <key>sourceSize</key>
                <string>{43,141}</string>
            </dict>
            <key>effect_fjtx_long_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{155,63}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{155,63}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
            <key>effect_fjtx_long_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,63}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{161,63}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
            <key>effect_fjtx_long_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{161,61}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{161,61}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
            <key>effect_fjtx_long_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{159,61}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
            <key>effect_fjtx_long_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{157,59}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{157,59}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
            <key>effect_fjtx_long_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{155,59}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{155,59}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
            <key>effect_fjtx_long_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{153,55}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{153,55}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
            <key>effect_fjtx_long_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{151,55}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{151,55}}</string>
                <key>sourceSize</key>
                <string>{173,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fjtx_long.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb0c1fcd8478c8cccc1772c523c21522$</string>
            <key>textureFileName</key>
            <string>effect_fjtx_long.png</string>
        </dict>
    </dict>
</plist>
