<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhanchongguang_xmao_ready_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{378,368}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,51},{378,368}}</string>
                <key>sourceSize</key>
                <string>{416,456}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhanchongguang_xmao_ready.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2148187eaf0d66052c88386422ba2ddd$</string>
            <key>textureFileName</key>
            <string>effect_zhanchongguang_xmao_ready.png</string>
        </dict>
    </dict>
</plist>
