<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_zhanchong_qqf_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,335},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,310},{72,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,53}}</string>
                <key>sourceSize</key>
                <string>{72,53}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{91,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,74}}</string>
                <key>sourceSize</key>
                <string>{91,74}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,365},{71,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,66}}</string>
                <key>sourceSize</key>
                <string>{71,66}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{110,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,54}}</string>
                <key>sourceSize</key>
                <string>{110,54}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,399},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,154},{21,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,61}}</string>
                <key>sourceSize</key>
                <string>{21,61}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,310},{28,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,444},{55,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,36}}</string>
                <key>sourceSize</key>
                <string>{55,36}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,381},{22,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,45}}</string>
                <key>sourceSize</key>
                <string>{22,45}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,471},{35,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,52}}</string>
                <key>sourceSize</key>
                <string>{35,52}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{36,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,55}}</string>
                <key>sourceSize</key>
                <string>{36,55}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,444},{40,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,54}}</string>
                <key>sourceSize</key>
                <string>{40,54}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,405},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,349},{27,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,54}}</string>
                <key>sourceSize</key>
                <string>{27,54}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,276},{48,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,29}}</string>
                <key>sourceSize</key>
                <string>{48,29}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,433},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{59,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,93}}</string>
                <key>sourceSize</key>
                <string>{59,93}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,217},{31,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,57}}</string>
                <key>sourceSize</key>
                <string>{31,57}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,117},{105,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,70}}</string>
                <key>sourceSize</key>
                <string>{105,70}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{144,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,40}}</string>
                <key>sourceSize</key>
                <string>{144,40}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,405},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,440},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>sp_zhanchong_qqf_attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,307},{26,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,47}}</string>
                <key>sourceSize</key>
                <string>{26,47}</string>
            </dict>
            <key>sp_zhanchong_qqf_cont_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,108}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{162,108}}</string>
                <key>sourceSize</key>
                <string>{168,108}</string>
            </dict>
            <key>sp_zhanchong_qqf_cont_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{113,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,84}}</string>
                <key>sourceSize</key>
                <string>{113,84}</string>
            </dict>
            <key>sp_zhanchong_qqf_cont_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,189},{98,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,62}}</string>
                <key>sourceSize</key>
                <string>{98,62}</string>
            </dict>
            <key>sp_zhanchong_qqf_cont_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,253},{95,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,55}}</string>
                <key>sourceSize</key>
                <string>{95,55}</string>
            </dict>
            <key>sp_zhanchong_qqf_cont_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{121,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,50}}</string>
                <key>sourceSize</key>
                <string>{121,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_zhanchong_qqf.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3697a5fbdf330e6d8fa6a8de5c7ed44$</string>
            <key>textureFileName</key>
            <string>sp_zhanchong_qqf.png</string>
        </dict>
    </dict>
</plist>
