<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_zhanchong_hu_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{73,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,69}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{74,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,122}}</string>
                <key>sourceSize</key>
                <string>{74,122}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,192},{16,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,36}}</string>
                <key>sourceSize</key>
                <string>{16,36}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,294},{24,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,69}}</string>
                <key>sourceSize</key>
                <string>{24,69}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,163},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,191},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,320},{25,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,54}}</string>
                <key>sourceSize</key>
                <string>{25,54}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,127},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,230},{14,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,27}}</string>
                <key>sourceSize</key>
                <string>{14,27}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,177},{12,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,34}}</string>
                <key>sourceSize</key>
                <string>{12,34}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,216},{60,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,69},{108,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,56}}</string>
                <key>sourceSize</key>
                <string>{108,56}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,233},{70,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,59}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{82,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,55}}</string>
                <key>sourceSize</key>
                <string>{82,55}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,59}}</string>
                <key>sourceSize</key>
                <string>{133,59}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,127},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{65,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,109}}</string>
                <key>sourceSize</key>
                <string>{65,109}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,259},{67,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,54}}</string>
                <key>sourceSize</key>
                <string>{67,54}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{73,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,60}}</string>
                <key>sourceSize</key>
                <string>{73,60}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,278},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,67}}</string>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,139},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,233},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,63},{9,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,12}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{9,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,6}}</string>
                <key>sourceSize</key>
                <string>{9,6}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,77},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,347},{43,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{43,49}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,328},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>sp_zhanchong_hu_attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,178},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_zhanchong_hu.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a4c60604c789505b339975ff07e5712$</string>
            <key>textureFileName</key>
            <string>sp_zhanchong_hu.png</string>
        </dict>
    </dict>
</plist>
