<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_choujiang_guang_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,359}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,41},{191,359}}</string>
                <key>sourceSize</key>
                <string>{221,411}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_choujiang_guang_1.png</string>
            <key>size</key>
            <string>{195,363}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb3f9955634e047f3edaa4e91e9b000b$</string>
            <key>textureFileName</key>
            <string>effect_choujiang_guang_1.png</string>
        </dict>
    </dict>
</plist>
