<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_2001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,143},{164,122}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{164,122}}</string>
                <key>sourceSize</key>
                <string>{178,146}</string>
            </dict>
            <key>effect_2001_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,283},{155,119}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,119}}</string>
                <key>sourceSize</key>
                <string>{161,125}</string>
            </dict>
            <key>effect_2001_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,267},{160,128}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{160,128}}</string>
                <key>sourceSize</key>
                <string>{174,142}</string>
            </dict>
            <key>effect_2001_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,145},{161,136}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{161,136}}</string>
                <key>sourceSize</key>
                <string>{175,152}</string>
            </dict>
            <key>effect_2001_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,138}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{169,138}}</string>
                <key>sourceSize</key>
                <string>{183,150}</string>
            </dict>
            <key>effect_2001_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{166,141}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{166,141}}</string>
                <key>sourceSize</key>
                <string>{180,153}</string>
            </dict>
            <key>effect_2001_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{165,142}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{165,142}}</string>
                <key>sourceSize</key>
                <string>{179,154}</string>
            </dict>
            <key>effect_2001_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{165,139}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,139}}</string>
                <key>sourceSize</key>
                <string>{171,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_2001.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7dfe82bdc2a5561ba9ad1b4af268d29$</string>
            <key>textureFileName</key>
            <string>effect_2001.png</string>
        </dict>
    </dict>
</plist>
