<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_279_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,135},{240,191}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{240,191}}</string>
                <key>sourceSize</key>
                <string>{244,199}</string>
            </dict>
            <key>sp_base_279_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{222,209}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{222,209}}</string>
                <key>sourceSize</key>
                <string>{230,213}</string>
            </dict>
            <key>sp_base_279_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,466},{142,137}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{142,137}}</string>
                <key>sourceSize</key>
                <string>{152,143}</string>
            </dict>
            <key>sp_base_279_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{130,121}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,121}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>sp_base_279_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{162,113}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{162,113}}</string>
                <key>sourceSize</key>
                <string>{174,119}</string>
            </dict>
            <key>sp_base_279_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,328},{193,136}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{193,136}}</string>
                <key>sourceSize</key>
                <string>{197,144}</string>
            </dict>
            <key>sp_base_279_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{252,131}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,131}}</string>
                <key>sourceSize</key>
                <string>{254,137}</string>
            </dict>
            <key>sp_base_279_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,211}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,211}}</string>
                <key>sourceSize</key>
                <string>{254,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_279.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ba51d226abca0f4439ef9fc365e24e8$</string>
            <key>textureFileName</key>
            <string>sp_base_279.png</string>
        </dict>
    </dict>
</plist>
