<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_shoulan_shenlian_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{130,128}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{130,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>effect_shoulan_shenlian_a_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,132},{283,283}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{283,283}}</string>
                <key>sourceSize</key>
                <string>{301,301}</string>
            </dict>
            <key>effect_shoulan_shenlian_a_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,600},{301,193}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{301,193}}</string>
                <key>sourceSize</key>
                <string>{323,197}</string>
            </dict>
            <key>effect_shoulan_shenlian_a_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,2},{285,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{285,128}}</string>
                <key>sourceSize</key>
                <string>{293,140}</string>
            </dict>
            <key>effect_shoulan_shenlian_a_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,134},{146,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{146,66}}</string>
                <key>sourceSize</key>
                <string>{166,76}</string>
            </dict>
            <key>effect_shoulan_shenlian_a_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,921},{98,172}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,20},{98,172}}</string>
                <key>sourceSize</key>
                <string>{136,220}</string>
            </dict>
            <key>effect_shoulan_shenlian_a_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,921},{278,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,20},{278,70}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>effect_shoulan_shenlian_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,596}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{596,596}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>effect_shoulan_shenlian_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,844},{165,165}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{165,165}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>effect_shoulan_shenlian_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,417},{178,57}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{178,57}}</string>
                <key>sourceSize</key>
                <string>{180,89}</string>
            </dict>
            <key>effect_shoulan_shenlian_a_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,904},{216,107}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{216,107}}</string>
                <key>sourceSize</key>
                <string>{220,127}</string>
            </dict>
            <key>effect_shoulan_shenlian_a_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,417},{255,167}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{255,167}}</string>
                <key>sourceSize</key>
                <string>{257,181}</string>
            </dict>
            <key>effect_shoulan_shenlian_a_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,586},{266,256}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{266,256}}</string>
                <key>sourceSize</key>
                <string>{270,266}</string>
            </dict>
            <key>effect_shoulan_shenlian_a_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,600},{273,302}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{273,302}}</string>
                <key>sourceSize</key>
                <string>{283,320}</string>
            </dict>
            <key>effect_shoulan_shenlian_a_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{257,319}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{257,319}}</string>
                <key>sourceSize</key>
                <string>{259,327}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_shoulan_shenlian_a.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31bcb75062bc0057d164aa2b6fda6174$</string>
            <key>textureFileName</key>
            <string>effect_shoulan_shenlian_a.png</string>
        </dict>
    </dict>
</plist>
