<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_assist_qnjs_start_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,372},{62,54}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,137},{62,54}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>sp_assist_qnjs_start_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{128,150}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,30},{128,150}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>sp_assist_qnjs_start_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,138},{128,150}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,30},{128,150}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>sp_assist_qnjs_start_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{134,150}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,30},{134,150}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>sp_assist_qnjs_start_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{134,150}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,30},{134,150}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>sp_assist_qnjs_start_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,150}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,29},{138,150}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>sp_assist_qnjs_start_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{130,148}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,30},{130,148}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>sp_assist_qnjs_start_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,372},{118,146}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,31},{118,146}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>sp_assist_qnjs_start_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,474},{108,142}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,34},{108,142}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>sp_assist_qnjs_start_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,492},{96,82}}</string>
                <key>offset</key>
                <string>{10,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,84},{96,82}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>sp_assist_qnjs_start_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,558},{78,62}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,89},{78,62}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>sp_assist_qnjs_start_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,492},{64,118}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,74},{64,118}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>sp_assist_qnjs_start_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{76,130}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,62},{76,130}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>sp_assist_qnjs_start_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{82,138}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,52},{82,138}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>sp_assist_qnjs_start_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{92,150}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,36},{92,150}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>sp_assist_qnjs_start_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,372},{100,148}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,32},{100,148}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>sp_assist_qnjs_start_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,268},{102,150}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,30},{102,150}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>sp_assist_qnjs_start_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,260},{110,150}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,30},{110,150}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>sp_assist_qnjs_start_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,138},{120,150}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,30},{120,150}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_assist_qnjs_start_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:859f74e990832f658c6157248d76bb67$</string>
            <key>textureFileName</key>
            <string>sp_assist_qnjs_start_1.png</string>
        </dict>
    </dict>
</plist>
