<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_char_skillstart_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,423},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{71,69}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>sp_char_skillstart_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,300},{52,141}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{52,141}}</string>
                <key>sourceSize</key>
                <string>{66,167}</string>
            </dict>
            <key>sp_char_skillstart_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,151}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{60,151}}</string>
                <key>sourceSize</key>
                <string>{66,167}</string>
            </dict>
            <key>sp_char_skillstart_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{46,125}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,42},{46,125}}</string>
                <key>sourceSize</key>
                <string>{66,167}</string>
            </dict>
            <key>sp_char_skillstart_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,151},{48,129}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,35},{48,129}}</string>
                <key>sourceSize</key>
                <string>{66,167}</string>
            </dict>
            <key>sp_char_skillstart_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{50,97}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,58},{50,97}}</string>
                <key>sourceSize</key>
                <string>{66,167}</string>
            </dict>
            <key>sp_char_skillstart_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,252},{28,89}}</string>
                <key>offset</key>
                <string>{19,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,63},{28,89}}</string>
                <key>sourceSize</key>
                <string>{66,167}</string>
            </dict>
            <key>sp_char_skillstart_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{147,77}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{147,77}}</string>
                <key>sourceSize</key>
                <string>{161,87}</string>
            </dict>
            <key>sp_char_skillstart_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,151},{147,77}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{147,77}}</string>
                <key>sourceSize</key>
                <string>{161,87}</string>
            </dict>
            <key>sp_char_skillstart_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{147,77}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{147,77}}</string>
                <key>sourceSize</key>
                <string>{161,87}</string>
            </dict>
            <key>sp_char_skillstart_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{147,77}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{147,77}}</string>
                <key>sourceSize</key>
                <string>{161,87}</string>
            </dict>
            <key>sp_char_skillstart_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,423},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{19,19}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>sp_char_skillstart_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{147,77}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{147,77}}</string>
                <key>sourceSize</key>
                <string>{161,87}</string>
            </dict>
            <key>sp_char_skillstart_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,300},{145,75}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{145,75}}</string>
                <key>sourceSize</key>
                <string>{161,87}</string>
            </dict>
            <key>sp_char_skillstart_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,292},{129,67}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{129,67}}</string>
                <key>sourceSize</key>
                <string>{161,87}</string>
            </dict>
            <key>sp_char_skillstart_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{113,53}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{113,53}}</string>
                <key>sourceSize</key>
                <string>{161,87}</string>
            </dict>
            <key>sp_char_skillstart_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{59,53}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>sp_char_skillstart_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{57,53}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>sp_char_skillstart_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,453},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{55,53}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>sp_char_skillstart_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,117},{66,97}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{66,97}}</string>
                <key>sourceSize</key>
                <string>{66,167}</string>
            </dict>
            <key>sp_char_skillstart_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,129},{54,121}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,34},{54,121}}</string>
                <key>sourceSize</key>
                <string>{66,167}</string>
            </dict>
            <key>sp_char_skillstart_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,151},{52,139}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{52,139}}</string>
                <key>sourceSize</key>
                <string>{66,167}</string>
            </dict>
            <key>sp_char_skillstart_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,447},{60,143}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{60,143}}</string>
                <key>sourceSize</key>
                <string>{66,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_char_skillstart.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71f6a2eee2173e13e07db92515cd21a8$</string>
            <key>textureFileName</key>
            <string>sp_char_skillstart.png</string>
        </dict>
    </dict>
</plist>
