<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_bsqh_quan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{479,485}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{479,485}}</string>
                <key>sourceSize</key>
                <string>{499,503}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_bsqh_quan.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0b295fb4c35bc5428ea586680c867fb$</string>
            <key>textureFileName</key>
            <string>effect_bsqh_quan.png</string>
        </dict>
    </dict>
</plist>
