<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_2group_xhly_start_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,62},{56,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>sp_2group_xhly_start_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,194},{53,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>sp_2group_xhly_start_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{55,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{55,58}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>sp_2group_xhly_start_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{60,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>sp_2group_xhly_start_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,128},{64,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{64,54}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>sp_2group_xhly_start_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{64,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{70,64}</string>
            </dict>
            <key>sp_2group_xhly_start_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,56}}</string>
                <key>sourceSize</key>
                <string>{69,56}</string>
            </dict>
            <key>sp_2group_xhly_start_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{65,60}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{65,60}}</string>
                <key>sourceSize</key>
                <string>{69,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_2group_xhly_start_5.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a135a00a7e48ea3394c2224ebe307b62$</string>
            <key>textureFileName</key>
            <string>sp_2group_xhly_start_5.png</string>
        </dict>
    </dict>
</plist>
