<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_ui_ball_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,100}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{100,100}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>effect_ui_ball_blue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{82,83}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{82,83}}</string>
                <key>sourceSize</key>
                <string>{94,99}</string>
            </dict>
            <key>effect_ui_ball_blue_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,104},{77,78}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{77,78}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_ui_ball_blue.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d20965956e8477d7515c910b3b2c4479$</string>
            <key>textureFileName</key>
            <string>effect_ui_ball_blue.png</string>
        </dict>
    </dict>
</plist>
