<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_spear_hit_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,117}}</string>
                <key>sourceSize</key>
                <string>{40,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_spear_hit_3.png</string>
            <key>size</key>
            <string>{32,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52dfb33346224cd5a9fb5a41b8a87916$</string>
            <key>textureFileName</key>
            <string>sp_spear_hit_3.png</string>
        </dict>
    </dict>
</plist>
