<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_baozha_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,104},{98,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,60}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>sp_baozha_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{101,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,134}}</string>
                <key>sourceSize</key>
                <string>{101,134}</string>
            </dict>
            <key>sp_baozha_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{101,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,132}}</string>
                <key>sourceSize</key>
                <string>{101,132}</string>
            </dict>
            <key>sp_baozha_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{100,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,131}}</string>
                <key>sourceSize</key>
                <string>{100,131}</string>
            </dict>
            <key>sp_baozha_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{100,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,130}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>sp_baozha_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,104},{99,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,85}}</string>
                <key>sourceSize</key>
                <string>{99,85}</string>
            </dict>
            <key>sp_baozha_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,166},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>sp_baozha_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{97,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,107}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>sp_baozha_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,104},{100,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>sp_baozha_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,232},{101,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,127}}</string>
                <key>sourceSize</key>
                <string>{101,127}</string>
            </dict>
            <key>sp_baozha_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,101},{101,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,129}}</string>
                <key>sourceSize</key>
                <string>{101,129}</string>
            </dict>
            <key>sp_baozha_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{101,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,131}}</string>
                <key>sourceSize</key>
                <string>{101,131}</string>
            </dict>
            <key>sp_baozha_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,134}}</string>
                <key>sourceSize</key>
                <string>{101,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_baozha.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b872357e58ed72cc5226cfb8151a220$</string>
            <key>textureFileName</key>
            <string>sp_baozha.png</string>
        </dict>
    </dict>
</plist>
