<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base222_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,271}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{224,271}}</string>
                <key>sourceSize</key>
                <string>{272,299}</string>
            </dict>
            <key>sp_base222_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{188,255}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{188,255}}</string>
                <key>sourceSize</key>
                <string>{272,299}</string>
            </dict>
            <key>sp_base222_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,378},{196,253}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,18},{196,253}}</string>
                <key>sourceSize</key>
                <string>{272,299}</string>
            </dict>
            <key>sp_base222_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{220,257}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{220,257}}</string>
                <key>sourceSize</key>
                <string>{272,299}</string>
            </dict>
            <key>sp_base222_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{224,257}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{224,257}}</string>
                <key>sourceSize</key>
                <string>{272,299}</string>
            </dict>
            <key>sp_base222_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,198},{232,253}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,23},{232,253}}</string>
                <key>sourceSize</key>
                <string>{272,299}</string>
            </dict>
            <key>sp_base222_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,534},{236,255}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{236,255}}</string>
                <key>sourceSize</key>
                <string>{272,299}</string>
            </dict>
            <key>sp_base222_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,192},{184,255}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,18},{184,255}}</string>
                <key>sourceSize</key>
                <string>{272,299}</string>
            </dict>
            <key>sp_base222_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{194,255}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,18},{194,255}}</string>
                <key>sourceSize</key>
                <string>{272,299}</string>
            </dict>
            <key>sp_base222_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,791},{214,249}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{214,249}}</string>
                <key>sourceSize</key>
                <string>{272,299}</string>
            </dict>
            <key>sp_base222_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,793},{220,249}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{220,249}}</string>
                <key>sourceSize</key>
                <string>{272,299}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base222_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8a769b4699f82697a223ebb2bf79c09$</string>
            <key>textureFileName</key>
            <string>sp_base222_2.png</string>
        </dict>
    </dict>
</plist>
