<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_feng_zycj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{119,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,88}}</string>
                <key>sourceSize</key>
                <string>{119,88}</string>
            </dict>
            <key>sp_feng_zycj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{111,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,95}}</string>
                <key>sourceSize</key>
                <string>{111,95}</string>
            </dict>
            <key>sp_feng_zycj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,202},{102,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,111}}</string>
                <key>sourceSize</key>
                <string>{102,111}</string>
            </dict>
            <key>sp_feng_zycj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{96,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,119}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>sp_feng_zycj_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,100},{100,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,112}}</string>
                <key>sourceSize</key>
                <string>{100,112}</string>
            </dict>
            <key>sp_feng_zycj_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,130}}</string>
                <key>sourceSize</key>
                <string>{83,130}</string>
            </dict>
            <key>sp_feng_zycj_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{48,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,112}}</string>
                <key>sourceSize</key>
                <string>{48,112}</string>
            </dict>
            <key>sp_feng_zycj_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,306},{46,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,89}}</string>
                <key>sourceSize</key>
                <string>{46,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_feng_zycj.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51bc26f49f9d2bfe4450219246b7617c$</string>
            <key>textureFileName</key>
            <string>sp_feng_zycj.png</string>
        </dict>
    </dict>
</plist>
