<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_2group_shennztx_start_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,107}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{101,107}}</string>
                <key>sourceSize</key>
                <string>{107,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_2group_shennztx_start_7.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e47423a98bc740f11efcad57ccc687df$</string>
            <key>textureFileName</key>
            <string>sp_2group_shennztx_start_7.png</string>
        </dict>
    </dict>
</plist>
