<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_buff_luopuzhong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,108},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>sp_buff_luopuzhong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,165},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>sp_buff_luopuzhong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,108},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>sp_buff_luopuzhong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,55},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>sp_buff_luopuzhong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,55},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>sp_buff_luopuzhong_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,169},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>sp_buff_luopuzhong_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,112},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>sp_buff_luopuzhong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,55},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>sp_buff_luopuzhong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>sp_buff_luopuzhong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>sp_buff_luopuzhong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>sp_buff_luopuzhong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>sp_buff_luopuzhong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>sp_buff_luopuzhong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>sp_buff_luopuzhong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_buff_luopuzhong.png</string>
            <key>size</key>
            <string>{226,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b00d52c39cee1ccae3a592daa55fc045$</string>
            <key>textureFileName</key>
            <string>sp_buff_luopuzhong.png</string>
        </dict>
    </dict>
</plist>
