<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zrhy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{640,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,97}}</string>
                <key>sourceSize</key>
                <string>{640,97}</string>
            </dict>
            <key>effect_zrhy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{175,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,284}}</string>
                <key>sourceSize</key>
                <string>{175,284}</string>
            </dict>
            <key>effect_zrhy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,284}}</string>
                <key>sourceSize</key>
                <string>{178,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zrhy.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ede9c2fb634dcd714f3c2a8c5c8704af$</string>
            <key>textureFileName</key>
            <string>effect_zrhy.png</string>
        </dict>
    </dict>
</plist>
