<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_77_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{293,51}}</string>
                <key>offset</key>
                <string>{-138,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{293,51}}</string>
                <key>sourceSize</key>
                <string>{581,65}</string>
            </dict>
            <key>effect_77_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{610,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,172}}</string>
                <key>sourceSize</key>
                <string>{610,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_77.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0617130cc1f33eba0fa226da846ba29$</string>
            <key>textureFileName</key>
            <string>effect_77.png</string>
        </dict>
    </dict>
</plist>
