<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_chongjibo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{236,159}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{236,159}}</string>
                <key>sourceSize</key>
                <string>{246,159}</string>
            </dict>
            <key>sp_chongjibo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,164},{242,161}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{242,161}}</string>
                <key>sourceSize</key>
                <string>{246,161}</string>
            </dict>
            <key>sp_chongjibo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{244,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{244,160}}</string>
                <key>sourceSize</key>
                <string>{246,160}</string>
            </dict>
            <key>sp_chongjibo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{244,160}}</string>
                <key>sourceSize</key>
                <string>{246,160}</string>
            </dict>
            <key>sp_chongjibo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{244,158}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{244,158}}</string>
                <key>sourceSize</key>
                <string>{246,160}</string>
            </dict>
            <key>sp_chongjibo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,327},{233,157}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{233,157}}</string>
                <key>sourceSize</key>
                <string>{235,159}</string>
            </dict>
            <key>sp_chongjibo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{229,159}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{229,159}}</string>
                <key>sourceSize</key>
                <string>{233,159}</string>
            </dict>
            <key>sp_chongjibo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,486},{216,158}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{216,158}}</string>
                <key>sourceSize</key>
                <string>{230,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_chongjibo.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93d5ebe088119b23fff694bc25f1177a$</string>
            <key>textureFileName</key>
            <string>sp_chongjibo.png</string>
        </dict>
    </dict>
</plist>
