<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_choujiang_skycolor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{11,363}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{11,363}}</string>
                <key>sourceSize</key>
                <string>{11,365}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_choujiang_skycolor.png</string>
            <key>size</key>
            <string>{16,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ee1c521ac328905a5a359ec07ac5b03$</string>
            <key>textureFileName</key>
            <string>effect_choujiang_skycolor.png</string>
        </dict>
    </dict>
</plist>
