<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_skill_diyulan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{151,144}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,144}}</string>
                <key>sourceSize</key>
                <string>{153,170}</string>
            </dict>
            <key>sp_skill_diyulan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{164,153}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,153}}</string>
                <key>sourceSize</key>
                <string>{164,171}</string>
            </dict>
            <key>sp_skill_diyulan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{136,136}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{136,136}}</string>
                <key>sourceSize</key>
                <string>{146,144}</string>
            </dict>
            <key>sp_skill_diyulan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,280},{134,134}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{134,134}}</string>
                <key>sourceSize</key>
                <string>{146,144}</string>
            </dict>
            <key>sp_skill_diyulan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,157},{135,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,138}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>sp_skill_diyulan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,171}}</string>
                <key>sourceSize</key>
                <string>{173,171}</string>
            </dict>
            <key>sp_skill_diyulan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,148},{130,142}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{130,142}}</string>
                <key>sourceSize</key>
                <string>{134,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_skill_diyulan.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff6840ad0b149a0b0f5d7dd9db89cb65$</string>
            <key>textureFileName</key>
            <string>sp_skill_diyulan.png</string>
        </dict>
    </dict>
</plist>
