<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_kuang_shan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,184},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,93},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,275},{77,77}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,69},{65,65}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,136},{53,53}}</string>
                <key>offset</key>
                <string>{18,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,242},{41,41}}</string>
                <key>offset</key>
                <string>{24,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,285},{29,29}}</string>
                <key>offset</key>
                <string>{30,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,210},{17,17}}</string>
                <key>offset</key>
                <string>{36,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,136},{5,5}}</string>
                <key>offset</key>
                <string>{42,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,191},{17,17}}</string>
                <key>offset</key>
                <string>{-36,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{17,17}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,285},{33,33}}</string>
                <key>offset</key>
                <string>{-28,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{33,33}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,191},{49,49}}</string>
                <key>offset</key>
                <string>{-20,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{49,49}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{65,65}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{65,65}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{81,81}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{81,81}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_kuang_shan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_kuang_shan.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d66c8750ff28ad72fb956248056a3fb$</string>
            <key>textureFileName</key>
            <string>effect_kuang_shan.png</string>
        </dict>
    </dict>
</plist>
