<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_079_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{152,99}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{152,99}}</string>
                <key>sourceSize</key>
                <string>{164,111}</string>
            </dict>
            <key>sp_base_079_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,103}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{160,103}}</string>
                <key>sourceSize</key>
                <string>{172,115}</string>
            </dict>
            <key>sp_base_079_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,104}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{160,104}}</string>
                <key>sourceSize</key>
                <string>{172,116}</string>
            </dict>
            <key>sp_base_079_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,203},{143,99}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{143,99}}</string>
                <key>sourceSize</key>
                <string>{157,111}</string>
            </dict>
            <key>sp_base_079_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,180},{149,100}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{149,100}}</string>
                <key>sourceSize</key>
                <string>{163,112}</string>
            </dict>
            <key>sp_base_079_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,88},{155,90}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{155,90}}</string>
                <key>sourceSize</key>
                <string>{167,102}</string>
            </dict>
            <key>sp_base_079_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{159,84}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{159,84}}</string>
                <key>sourceSize</key>
                <string>{173,96}</string>
            </dict>
            <key>sp_base_079_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,107},{154,94}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{154,94}}</string>
                <key>sourceSize</key>
                <string>{166,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_079.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdbd990893e5e0f3bd43ceb03bd6c4b9$</string>
            <key>textureFileName</key>
            <string>sp_base_079.png</string>
        </dict>
    </dict>
</plist>
