<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_shyj_shuigui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,315},{58,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,35}}</string>
                <key>sourceSize</key>
                <string>{58,35}</string>
            </dict>
            <key>sp_shyj_shuigui_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,165},{86,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,108}}</string>
                <key>sourceSize</key>
                <string>{86,108}</string>
            </dict>
            <key>sp_shyj_shuigui_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{88,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>sp_shyj_shuigui_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,253},{89,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,61}}</string>
                <key>sourceSize</key>
                <string>{89,61}</string>
            </dict>
            <key>sp_shyj_shuigui_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,375},{79,30}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,30}}</string>
                <key>sourceSize</key>
                <string>{79,44}</string>
            </dict>
            <key>sp_shyj_shuigui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,253},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>sp_shyj_shuigui_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,316},{61,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,86}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>sp_shyj_shuigui_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{63,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>sp_shyj_shuigui_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,125}}</string>
                <key>sourceSize</key>
                <string>{68,125}</string>
            </dict>
            <key>sp_shyj_shuigui_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{72,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,123}}</string>
                <key>sourceSize</key>
                <string>{72,123}</string>
            </dict>
            <key>sp_shyj_shuigui_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{78,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,123}}</string>
                <key>sourceSize</key>
                <string>{78,123}</string>
            </dict>
            <key>sp_shyj_shuigui_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,82},{81,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,121}}</string>
                <key>sourceSize</key>
                <string>{81,121}</string>
            </dict>
            <key>sp_shyj_shuigui_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{83,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,118}}</string>
                <key>sourceSize</key>
                <string>{83,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_shyj_shuigui.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f56acee690c7c5a2b76971aa8602f30$</string>
            <key>textureFileName</key>
            <string>sp_shyj_shuigui.png</string>
        </dict>
    </dict>
</plist>
