<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_bgqm_light_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{126,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{126,127}}</string>
                <key>sourceSize</key>
                <string>{136,135}</string>
            </dict>
            <key>effect_bgqm_light_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,178}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{186,178}}</string>
                <key>sourceSize</key>
                <string>{202,200}</string>
            </dict>
            <key>effect_bgqm_light_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{164,156}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{164,156}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>effect_bgqm_light_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{166,158}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{166,158}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>effect_bgqm_light_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{170,160}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,14},{170,160}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>effect_bgqm_light_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{174,162}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{174,162}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>effect_bgqm_light_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,350},{176,164}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{176,164}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>effect_bgqm_light_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{180,168}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{180,168}}</string>
                <key>sourceSize</key>
                <string>{202,200}</string>
            </dict>
            <key>effect_bgqm_light_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,178},{182,170}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{182,170}}</string>
                <key>sourceSize</key>
                <string>{202,200}</string>
            </dict>
            <key>effect_bgqm_light_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{184,174}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{184,174}}</string>
                <key>sourceSize</key>
                <string>{202,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_bgqm_light_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9df9f0d6bfff319a83e9492e57f25a44$</string>
            <key>textureFileName</key>
            <string>effect_bgqm_light_1.png</string>
        </dict>
    </dict>
</plist>
