<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_dian_skill_heji_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1829},{52,82}}</string>
                <key>offset</key>
                <string>{8,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,310},{52,82}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_dian_skill_heji_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1502},{98,498}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,1},{98,498}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_dian_skill_heji_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2002},{30,498}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,1},{30,498}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_dian_skill_heji_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2034},{9,10}}</string>
                <key>offset</key>
                <string>{-11,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,192},{9,10}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1829},{193,158}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,82},{193,158}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1310},{181,178}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,61},{181,178}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1829},{187,194}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,44},{187,194}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,252},{231,242}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,39},{231,242}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{251,248}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,36},{251,248}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1310},{325,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,300}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,983},{325,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,300}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1310},{146,106}}</string>
                <key>offset</key>
                <string>{2,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,295},{146,106}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_dian_skill_heji_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,656},{325,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,300}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,329},{325,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,300}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{325,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,300}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1493},{325,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,300}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,983},{325,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,300}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,656},{325,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,300}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,329},{325,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,300}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{325,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,300}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1502},{325,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,300}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1637},{279,288}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{279,288}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1310},{144,122}}</string>
                <key>offset</key>
                <string>{3,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,279},{144,122}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_dian_skill_heji_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,2},{269,252}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,33},{269,252}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1820},{271,220}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,32},{271,220}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1883},{63,68}}</string>
                <key>offset</key>
                <string>{96,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,31},{63,68}}</string>
                <key>sourceSize</key>
                <string>{325,300}</string>
            </dict>
            <key>sp_dian_skill_heji_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1310},{136,188}}</string>
                <key>offset</key>
                <string>{7,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,208},{136,188}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_dian_skill_heji_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1002},{96,498}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,1},{96,498}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_dian_skill_heji_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1502},{100,498}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,1},{100,498}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_dian_skill_heji_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{136,498}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{136,498}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_dian_skill_heji_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{144,498}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{144,498}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_dian_skill_heji_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,498}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{144,498}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_dian_skill_heji_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a347a04518175fdf11d321789a37daeb$</string>
            <key>textureFileName</key>
            <string>sp_dian_skill_heji_1.png</string>
        </dict>
    </dict>
</plist>
