<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_dilie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,305},{117,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,102}}</string>
                <key>sourceSize</key>
                <string>{117,102}</string>
            </dict>
            <key>sp_dilie_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{146,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,216}}</string>
                <key>sourceSize</key>
                <string>{146,216}</string>
            </dict>
            <key>sp_dilie_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,227}}</string>
                <key>sourceSize</key>
                <string>{145,227}</string>
            </dict>
            <key>sp_dilie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,608},{142,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,150}}</string>
                <key>sourceSize</key>
                <string>{142,150}</string>
            </dict>
            <key>sp_dilie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,464},{142,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,155}}</string>
                <key>sourceSize</key>
                <string>{142,155}</string>
            </dict>
            <key>sp_dilie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,464},{144,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,160}}</string>
                <key>sourceSize</key>
                <string>{144,160}</string>
            </dict>
            <key>sp_dilie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{158,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,172}}</string>
                <key>sourceSize</key>
                <string>{158,172}</string>
            </dict>
            <key>sp_dilie_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,305},{157,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,189}}</string>
                <key>sourceSize</key>
                <string>{157,189}</string>
            </dict>
            <key>sp_dilie_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{156,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,196}}</string>
                <key>sourceSize</key>
                <string>{156,196}</string>
            </dict>
            <key>sp_dilie_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,150},{153,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,200}}</string>
                <key>sourceSize</key>
                <string>{153,200}</string>
            </dict>
            <key>sp_dilie_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{150,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,203}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_dilie.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e19ddef2344ce61d3dfa7745536919a0$</string>
            <key>textureFileName</key>
            <string>sp_dilie.png</string>
        </dict>
    </dict>
</plist>
