<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_daoguang2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,747},{285,235}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,116},{285,235}}</string>
                <key>sourceSize</key>
                <string>{335,469}</string>
            </dict>
            <key>sp_daoguang2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1191},{280,227}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,128},{280,227}}</string>
                <key>sourceSize</key>
                <string>{328,469}</string>
            </dict>
            <key>sp_daoguang2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1401},{272,240}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,11},{272,240}}</string>
                <key>sourceSize</key>
                <string>{520,262}</string>
            </dict>
            <key>sp_daoguang2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,968},{280,228}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,89},{280,228}}</string>
                <key>sourceSize</key>
                <string>{340,418}</string>
            </dict>
            <key>sp_daoguang2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,731},{284,235}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,40},{284,235}}</string>
                <key>sourceSize</key>
                <string>{434,321}</string>
            </dict>
            <key>sp_daoguang2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,721},{286,235}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,83},{286,235}}</string>
                <key>sourceSize</key>
                <string>{520,363}</string>
            </dict>
            <key>sp_daoguang2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,485},{298,234}}</string>
                <key>offset</key>
                <string>{-28,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,114},{298,234}}</string>
                <key>sourceSize</key>
                <string>{442,426}</string>
            </dict>
            <key>sp_daoguang2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{307,238}}</string>
                <key>offset</key>
                <string>{-26,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,72},{307,238}}</string>
                <key>sourceSize</key>
                <string>{549,366}</string>
            </dict>
            <key>sp_daoguang2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{282,217}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,128},{282,217}}</string>
                <key>sourceSize</key>
                <string>{396,477}</string>
            </dict>
            <key>sp_daoguang2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1420},{261,222}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,47},{261,222}}</string>
                <key>sourceSize</key>
                <string>{579,292}</string>
            </dict>
            <key>sp_daoguang2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,260},{303,223}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,116},{303,223}}</string>
                <key>sourceSize</key>
                <string>{359,469}</string>
            </dict>
            <key>sp_daoguang2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{292,228}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,13},{292,228}}</string>
                <key>sourceSize</key>
                <string>{520,260}</string>
            </dict>
            <key>sp_daoguang2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1198},{274,201}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,30},{274,201}}</string>
                <key>sourceSize</key>
                <string>{630,259}</string>
            </dict>
            <key>sp_daoguang2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1203},{274,218}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,100},{274,218}}</string>
                <key>sourceSize</key>
                <string>{340,418}</string>
            </dict>
            <key>sp_daoguang2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,958},{284,231}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,40},{284,231}}</string>
                <key>sourceSize</key>
                <string>{434,321}</string>
            </dict>
            <key>sp_daoguang2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,242},{306,223}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,83},{306,223}}</string>
                <key>sourceSize</key>
                <string>{520,363}</string>
            </dict>
            <key>sp_daoguang2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{300,244}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,100},{300,244}}</string>
                <key>sourceSize</key>
                <string>{442,426}</string>
            </dict>
            <key>sp_daoguang2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,467},{299,262}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,52},{299,262}}</string>
                <key>sourceSize</key>
                <string>{549,366}</string>
            </dict>
            <key>sp_daoguang2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,267}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,108},{310,267}}</string>
                <key>sourceSize</key>
                <string>{396,477}</string>
            </dict>
            <key>sp_daoguang2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{309,256}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,26},{309,256}}</string>
                <key>sourceSize</key>
                <string>{579,294}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_daoguang2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dad974be1f572adc2744a7440ad1230c$</string>
            <key>textureFileName</key>
            <string>sp_daoguang2.png</string>
        </dict>
    </dict>
</plist>
