<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhanchongguang_yuan_ready_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{418,400}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{418,400}}</string>
                <key>sourceSize</key>
                <string>{424,456}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhanchongguang_yuan_ready.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a9ce66fa8e5b3b7b4d515a6a2251ecc$</string>
            <key>textureFileName</key>
            <string>effect_zhanchongguang_yuan_ready.png</string>
        </dict>
    </dict>
</plist>
