<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_huo_skill_heji_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1508},{58,500}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{58,500}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_huo_skill_heji_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1952},{86,270}}</string>
                <key>offset</key>
                <string>{7,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,221},{86,270}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_huo_skill_heji_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2010},{16,14}}</string>
                <key>offset</key>
                <string>{33,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,378},{16,14}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_huo_skill_heji_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{340,204}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{340,204}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>sp_huo_skill_heji_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1952},{88,72}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,143},{88,72}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>sp_huo_skill_heji_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1612},{112,126}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,90},{112,126}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>sp_huo_skill_heji_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,1858},{118,164}}</string>
                <key>offset</key>
                <string>{13,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,81},{118,164}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>sp_huo_skill_heji_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1860},{114,176}}</string>
                <key>offset</key>
                <string>{10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,70},{114,176}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>sp_huo_skill_heji_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1612},{110,192}}</string>
                <key>offset</key>
                <string>{9,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,59},{110,192}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>sp_huo_skill_heji_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,648},{140,206}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,45},{140,206}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>sp_huo_skill_heji_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1390},{158,220}}</string>
                <key>offset</key>
                <string>{11,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,40},{158,220}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>sp_huo_skill_heji_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1508},{60,500}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{60,500}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_huo_skill_heji_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,528},{144,234}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{144,234}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>sp_huo_skill_heji_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,2},{162,248}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{162,248}}</string>
                <key>sourceSize</key>
                <string>{200,260}</string>
            </dict>
            <key>sp_huo_skill_heji_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,504},{162,474}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{162,474}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_huo_skill_heji_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1006},{162,484}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{162,484}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_huo_skill_heji_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{162,458}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,41},{162,458}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_huo_skill_heji_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{140,436}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,62},{140,436}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_huo_skill_heji_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1430},{174,428}}</string>
                <key>offset</key>
                <string>{9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,72},{174,428}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_huo_skill_heji_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1417},{124,424}}</string>
                <key>offset</key>
                <string>{-15,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,59},{124,424}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_huo_skill_heji_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,902},{112,426}}</string>
                <key>offset</key>
                <string>{-10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,56},{112,426}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_huo_skill_heji_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,440},{118,414}}</string>
                <key>offset</key>
                <string>{-11,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,67},{118,414}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_huo_skill_heji_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{114,500}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{114,500}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_huo_skill_heji_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,566},{104,268}}</string>
                <key>offset</key>
                <string>{-2,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,59},{104,268}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_huo_skill_heji_1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2028},{14,14}}</string>
                <key>offset</key>
                <string>{-32,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,156},{14,14}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>sp_huo_skill_heji_1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1330},{188,85}}</string>
                <key>offset</key>
                <string>{-7,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,117},{188,85}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_huo_skill_heji_1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,854},{270,113}}</string>
                <key>offset</key>
                <string>{6,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,100},{270,113}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_huo_skill_heji_1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,854},{270,119}}</string>
                <key>offset</key>
                <string>{6,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,94},{270,119}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_huo_skill_heji_1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{270,133}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,92},{270,133}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_huo_skill_heji_1_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,836},{262,133}}</string>
                <key>offset</key>
                <string>{10,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,92},{262,133}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_huo_skill_heji_1_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1126},{262,199}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,14},{262,199}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_huo_skill_heji_1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,274},{252,219}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{252,219}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_huo_skill_heji_1_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,588},{264,219}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{264,219}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_huo_skill_heji_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{130,500}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{130,500}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_huo_skill_heji_1_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1190},{286,225}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{286,225}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_huo_skill_heji_1_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,298},{288,153}}</string>
                <key>offset</key>
                <string>{1,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,70},{288,153}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_huo_skill_heji_1_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,290},{274,127}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,94},{274,127}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_huo_skill_heji_1_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{286,135}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,90},{286,135}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_huo_skill_heji_1_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{294,137}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,88},{294,137}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_huo_skill_heji_1_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1729},{298,129}}</string>
                <key>offset</key>
                <string>{5,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,96},{298,129}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_huo_skill_heji_1_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,344},{302,133}}</string>
                <key>offset</key>
                <string>{10,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,92},{302,133}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_huo_skill_heji_1_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1417},{308,135}}</string>
                <key>offset</key>
                <string>{10,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,89},{308,135}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_huo_skill_heji_1_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1417},{310,137}}</string>
                <key>offset</key>
                <string>{10,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,88},{310,137}}</string>
                <key>sourceSize</key>
                <string>{340,225}</string>
            </dict>
            <key>sp_huo_skill_heji_1_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1726},{130,190}}</string>
                <key>offset</key>
                <string>{-4,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,160},{130,190}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>sp_huo_skill_heji_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{132,500}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_huo_skill_heji_1_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1858},{130,188}}</string>
                <key>offset</key>
                <string>{-1,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,151},{130,188}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>sp_huo_skill_heji_1_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1724},{142,214}}</string>
                <key>offset</key>
                <string>{-3,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,133},{142,214}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>sp_huo_skill_heji_1_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1860},{262,184}}</string>
                <key>offset</key>
                <string>{-1,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,155},{262,184}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>sp_huo_skill_heji_1_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,764},{146,204}}</string>
                <key>offset</key>
                <string>{6,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,130},{146,204}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>sp_huo_skill_heji_1_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,970},{138,194}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,95},{138,194}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>sp_huo_skill_heji_1_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1860},{166,184}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,61},{166,184}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>sp_huo_skill_heji_1_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,856},{332,188}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,37},{332,188}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>sp_huo_skill_heji_1_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{340,204}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{340,204}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>sp_huo_skill_heji_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,462},{134,438}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{134,438}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_huo_skill_heji_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1492},{136,458}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,35},{136,458}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_huo_skill_heji_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1492},{118,458}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,36},{118,458}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
            <key>sp_huo_skill_heji_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,980},{120,448}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,35},{120,448}}</string>
                <key>sourceSize</key>
                <string>{150,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_huo_skill_heji_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68d1b67729ab99efa79759cb660fde70$</string>
            <key>textureFileName</key>
            <string>sp_huo_skill_heji_1.png</string>
        </dict>
    </dict>
</plist>
