<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_347_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,385},{125,160}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,36},{125,160}}</string>
                <key>sourceSize</key>
                <string>{243,232}</string>
            </dict>
            <key>sp_base_347_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,220},{163,194}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,23},{163,194}}</string>
                <key>sourceSize</key>
                <string>{243,232}</string>
            </dict>
            <key>sp_base_347_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{203,216}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{203,216}}</string>
                <key>sourceSize</key>
                <string>{243,232}</string>
            </dict>
            <key>sp_base_347_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{225,226}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{225,226}}</string>
                <key>sourceSize</key>
                <string>{243,232}</string>
            </dict>
            <key>sp_base_347_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,228}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{223,228}}</string>
                <key>sourceSize</key>
                <string>{243,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_347.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:605a44c82848f7d002f0c321faba5c21$</string>
            <key>textureFileName</key>
            <string>sp_base_347.png</string>
        </dict>
    </dict>
</plist>
