<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_281_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,148},{137,64}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{137,64}}</string>
                <key>sourceSize</key>
                <string>{141,68}</string>
            </dict>
            <key>sp_base_281_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{144,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,64}}</string>
                <key>sourceSize</key>
                <string>{148,68}</string>
            </dict>
            <key>sp_base_281_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{150,62}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,62}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>sp_base_281_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{153,62}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,62}}</string>
                <key>sourceSize</key>
                <string>{157,66}</string>
            </dict>
            <key>sp_base_281_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{152,54}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{152,54}}</string>
                <key>sourceSize</key>
                <string>{156,58}</string>
            </dict>
            <key>sp_base_281_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,49}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,49}}</string>
                <key>sourceSize</key>
                <string>{158,53}</string>
            </dict>
            <key>sp_base_281_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{153,46}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,46}}</string>
                <key>sourceSize</key>
                <string>{157,50}</string>
            </dict>
            <key>sp_base_281_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{147,53}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,53}}</string>
                <key>sourceSize</key>
                <string>{151,57}</string>
            </dict>
            <key>sp_base_281_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{135,63}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{135,63}}</string>
                <key>sourceSize</key>
                <string>{141,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_281.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de5acaa3249bc57d1575d2aae5752fbe$</string>
            <key>textureFileName</key>
            <string>sp_base_281.png</string>
        </dict>
    </dict>
</plist>
