<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_bangzhan_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,65}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{39,65}}</string>
                <key>sourceSize</key>
                <string>{49,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_bangzhan_1.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:735bbeb5c76d2820e7085b4699c32fc8$</string>
            <key>textureFileName</key>
            <string>effect_bangzhan_1.png</string>
        </dict>
    </dict>
</plist>
