<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_buff_hudun_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,68},{54,35}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{54,35}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sp_buff_hudun_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,201},{58,39}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{58,39}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sp_buff_hudun_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{60,45}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{60,45}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sp_buff_hudun_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,105},{62,51}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{62,51}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sp_buff_hudun_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{64,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{64,55}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sp_buff_hudun_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{66,61}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{66,61}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sp_buff_hudun_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>sp_buff_hudun_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_buff_hudun_0.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f29e323dbd615057c910870674a8fe44$</string>
            <key>textureFileName</key>
            <string>sp_buff_hudun_0.png</string>
        </dict>
    </dict>
</plist>
