<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_largefire_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,2},{102,52}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{102,52}}</string>
                <key>sourceSize</key>
                <string>{112,80}</string>
            </dict>
            <key>effect_largefire_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{274,109}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,3},{274,109}}</string>
                <key>sourceSize</key>
                <string>{326,119}</string>
            </dict>
            <key>effect_largefire_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{274,107}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{274,107}}</string>
                <key>sourceSize</key>
                <string>{326,119}</string>
            </dict>
            <key>effect_largefire_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,97},{254,99}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{254,99}}</string>
                <key>sourceSize</key>
                <string>{326,109}</string>
            </dict>
            <key>effect_largefire_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,550},{256,92}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,3},{256,92}}</string>
                <key>sourceSize</key>
                <string>{326,100}</string>
            </dict>
            <key>effect_largefire_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{252,87}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{252,87}}</string>
                <key>sourceSize</key>
                <string>{326,103}</string>
            </dict>
            <key>effect_largefire_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,56},{101,39}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,36},{101,39}}</string>
                <key>sourceSize</key>
                <string>{215,87}</string>
            </dict>
            <key>effect_largefire_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,278},{270,97}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{270,97}}</string>
                <key>sourceSize</key>
                <string>{284,109}</string>
            </dict>
            <key>effect_largefire_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,353},{260,93}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{260,93}}</string>
                <key>sourceSize</key>
                <string>{282,103}</string>
            </dict>
            <key>effect_largefire_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{276,90}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{276,90}}</string>
                <key>sourceSize</key>
                <string>{326,100}</string>
            </dict>
            <key>effect_largefire_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,87}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{280,87}}</string>
                <key>sourceSize</key>
                <string>{326,93}</string>
            </dict>
            <key>effect_largefire_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{274,85}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{274,85}}</string>
                <key>sourceSize</key>
                <string>{326,93}</string>
            </dict>
            <key>effect_largefire_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{274,87}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{274,87}}</string>
                <key>sourceSize</key>
                <string>{326,99}</string>
            </dict>
            <key>effect_largefire_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{274,88}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{274,88}}</string>
                <key>sourceSize</key>
                <string>{326,114}</string>
            </dict>
            <key>effect_largefire_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{274,93}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{274,93}}</string>
                <key>sourceSize</key>
                <string>{326,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_largefire_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5955946e96af08fd28ff182a52588b29$</string>
            <key>textureFileName</key>
            <string>effect_largefire_1.png</string>
        </dict>
    </dict>
</plist>
