<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_hit_daoguang_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,282}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{300,282}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sp_hit_daoguang_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,202}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,97},{300,202}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sp_hit_daoguang_01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{298,178}}</string>
                <key>offset</key>
                <string>{-1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,120},{298,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sp_hit_daoguang_01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,304},{298,172}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,99},{298,172}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sp_hit_daoguang_01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{292,172}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,96},{292,172}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_hit_daoguang_01.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70a3b48506bea01326b51e4f3b2a3f80$</string>
            <key>textureFileName</key>
            <string>sp_hit_daoguang_01.png</string>
        </dict>
    </dict>
</plist>
