<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_faguang2_sub1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,220}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{117,220}}</string>
                <key>sourceSize</key>
                <string>{133,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_faguang2_sub1.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c816b85e102267a4a6156be958748672$</string>
            <key>textureFileName</key>
            <string>effect_faguang2_sub1.png</string>
        </dict>
    </dict>
</plist>
