<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_116_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{250,648}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,19},{250,648}}</string>
                <key>sourceSize</key>
                <string>{302,694}</string>
            </dict>
            <key>sp_base_116_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{250,656}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,19},{250,656}}</string>
                <key>sourceSize</key>
                <string>{302,694}</string>
            </dict>
            <key>sp_base_116_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,709}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,18},{250,709}}</string>
                <key>sourceSize</key>
                <string>{302,771}</string>
            </dict>
            <key>sp_base_116_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{250,703}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,18},{250,703}}</string>
                <key>sourceSize</key>
                <string>{302,771}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_116.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45569b149593245867965696c12b5706$</string>
            <key>textureFileName</key>
            <string>sp_base_116.png</string>
        </dict>
    </dict>
</plist>
