<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_2020_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,541},{173,214}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{173,214}}</string>
                <key>sourceSize</key>
                <string>{183,230}</string>
            </dict>
            <key>effect_2020_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,716},{189,212}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{189,212}}</string>
                <key>sourceSize</key>
                <string>{203,230}</string>
            </dict>
            <key>effect_2020_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{264,231}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,231}}</string>
                <key>sourceSize</key>
                <string>{264,241}</string>
            </dict>
            <key>effect_2020_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,268},{271,222}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,222}}</string>
                <key>sourceSize</key>
                <string>{271,234}</string>
            </dict>
            <key>effect_2020_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{269,210}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,210}}</string>
                <key>sourceSize</key>
                <string>{269,216}</string>
            </dict>
            <key>effect_2020_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{272,213}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{272,213}}</string>
                <key>sourceSize</key>
                <string>{272,217}</string>
            </dict>
            <key>effect_2020_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,229}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,229}}</string>
                <key>sourceSize</key>
                <string>{276,239}</string>
            </dict>
            <key>effect_2020_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{259,190}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{259,190}}</string>
                <key>sourceSize</key>
                <string>{271,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_2020.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:263ad353d319928bb5246133ed09ec45$</string>
            <key>textureFileName</key>
            <string>effect_2020.png</string>
        </dict>
    </dict>
</plist>
