<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_329_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,245},{18,51}}</string>
                <key>offset</key>
                <string>{-386,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,158},{18,51}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,1513},{294,227}}</string>
                <key>offset</key>
                <string>{-248,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,112},{294,227}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1213},{334,243}}</string>
                <key>offset</key>
                <string>{-228,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,97},{334,243}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1755},{380,257}}</string>
                <key>offset</key>
                <string>{-205,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,85},{380,257}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1219},{420,251}}</string>
                <key>offset</key>
                <string>{-185,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,89},{420,251}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,229},{462,241}}</string>
                <key>offset</key>
                <string>{-164,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,99},{462,241}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,472},{460,221}}</string>
                <key>offset</key>
                <string>{-165,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,118},{460,221}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,2},{494,225}}</string>
                <key>offset</key>
                <string>{-148,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,114},{494,225}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1219},{534,235}}</string>
                <key>offset</key>
                <string>{-128,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,105},{534,235}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,974},{588,237}}</string>
                <key>offset</key>
                <string>{-101,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,105},{588,237}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,695},{648,245}}</string>
                <key>offset</key>
                <string>{-71,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,97},{648,245}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,472},{50,161}}</string>
                <key>offset</key>
                <string>{-370,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,134},{50,161}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{702,251}}</string>
                <key>offset</key>
                <string>{-44,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,91},{702,251}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{752,249}}</string>
                <key>offset</key>
                <string>{-19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{752,249}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{752,247}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,94},{752,247}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{780,241}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,99},{780,241}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,253},{752,241}}</string>
                <key>offset</key>
                <string>{19,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,100},{752,241}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,496},{664,235}}</string>
                <key>offset</key>
                <string>{63,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,107},{664,235}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,733},{632,239}}</string>
                <key>offset</key>
                <string>{79,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,104},{632,239}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,747},{612,245}}</string>
                <key>offset</key>
                <string>{89,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,98},{612,245}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,942},{610,231}}</string>
                <key>offset</key>
                <string>{90,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,113},{610,231}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{554,223}}</string>
                <key>offset</key>
                <string>{118,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,121},{554,223}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,747},{88,183}}</string>
                <key>offset</key>
                <string>{-351,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,126},{88,183}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1219},{370,221}}</string>
                <key>offset</key>
                <string>{210,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,120},{370,221}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1591},{364,221}}</string>
                <key>offset</key>
                <string>{213,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,119},{364,221}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1549},{316,215}}</string>
                <key>offset</key>
                <string>{237,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{474,125},{316,215}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1213},{298,211}}</string>
                <key>offset</key>
                <string>{246,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{492,129},{298,211}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,1809},{224,197}}</string>
                <key>offset</key>
                <string>{283,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{566,143},{224,197}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,496},{128,197}}</string>
                <key>offset</key>
                <string>{-331,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,131},{128,197}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1867},{168,227}}</string>
                <key>offset</key>
                <string>{-311,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,113},{168,227}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,1465},{206,243}}</string>
                <key>offset</key>
                <string>{-292,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,99},{206,243}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1809},{244,209}}</string>
                <key>offset</key>
                <string>{-273,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,131},{244,209}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,1213},{250,207}}</string>
                <key>offset</key>
                <string>{-270,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,130},{250,207}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
            <key>sp_base_329_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1755},{258,211}}</string>
                <key>offset</key>
                <string>{-266,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,125},{258,211}}</string>
                <key>sourceSize</key>
                <string>{790,445}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_329.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44e1557edfb2a778bdbfbca669457101$</string>
            <key>textureFileName</key>
            <string>sp_base_329.png</string>
        </dict>
    </dict>
</plist>
