<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_largefire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,383},{102,52}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{102,52}}</string>
                <key>sourceSize</key>
                <string>{112,80}</string>
            </dict>
            <key>effect_largefire_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{274,109}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{274,109}}</string>
                <key>sourceSize</key>
                <string>{326,119}</string>
            </dict>
            <key>effect_largefire_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{274,107}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{274,107}}</string>
                <key>sourceSize</key>
                <string>{326,119}</string>
            </dict>
            <key>effect_largefire_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,300},{254,99}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{254,99}}</string>
                <key>sourceSize</key>
                <string>{326,109}</string>
            </dict>
            <key>effect_largefire_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{256,92}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{256,92}}</string>
                <key>sourceSize</key>
                <string>{326,100}</string>
            </dict>
            <key>effect_largefire_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,373},{252,87}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{252,87}}</string>
                <key>sourceSize</key>
                <string>{326,103}</string>
            </dict>
            <key>effect_largefire_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,535},{101,39}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,36},{101,39}}</string>
                <key>sourceSize</key>
                <string>{215,87}</string>
            </dict>
            <key>effect_largefire_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{171,124}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{171,124}}</string>
                <key>sourceSize</key>
                <string>{181,156}</string>
            </dict>
            <key>effect_largefire_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,411},{164,122}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{164,122}}</string>
                <key>sourceSize</key>
                <string>{172,140}</string>
            </dict>
            <key>effect_largefire_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,462},{155,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,119}}</string>
                <key>sourceSize</key>
                <string>{155,119}</string>
            </dict>
            <key>effect_largefire_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,535},{160,128}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{160,128}}</string>
                <key>sourceSize</key>
                <string>{168,136}</string>
            </dict>
            <key>effect_largefire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,201},{270,97}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{270,97}}</string>
                <key>sourceSize</key>
                <string>{284,109}</string>
            </dict>
            <key>effect_largefire_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,401},{161,136}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{161,136}}</string>
                <key>sourceSize</key>
                <string>{169,146}</string>
            </dict>
            <key>effect_largefire_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,128},{169,138}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{169,138}}</string>
                <key>sourceSize</key>
                <string>{177,144}</string>
            </dict>
            <key>effect_largefire_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,268},{166,141}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{166,141}}</string>
                <key>sourceSize</key>
                <string>{174,147}</string>
            </dict>
            <key>effect_largefire_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{165,142}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{165,142}}</string>
                <key>sourceSize</key>
                <string>{173,148}</string>
            </dict>
            <key>effect_largefire_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,401},{165,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,139}}</string>
                <key>sourceSize</key>
                <string>{165,139}</string>
            </dict>
            <key>effect_largefire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,278},{260,93}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{260,93}}</string>
                <key>sourceSize</key>
                <string>{282,103}</string>
            </dict>
            <key>effect_largefire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{276,90}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{276,90}}</string>
                <key>sourceSize</key>
                <string>{326,100}</string>
            </dict>
            <key>effect_largefire_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,87}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{280,87}}</string>
                <key>sourceSize</key>
                <string>{326,93}</string>
            </dict>
            <key>effect_largefire_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{274,85}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{274,85}}</string>
                <key>sourceSize</key>
                <string>{326,93}</string>
            </dict>
            <key>effect_largefire_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,189},{274,87}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{274,87}}</string>
                <key>sourceSize</key>
                <string>{326,99}</string>
            </dict>
            <key>effect_largefire_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,111},{274,88}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{274,88}}</string>
                <key>sourceSize</key>
                <string>{326,114}</string>
            </dict>
            <key>effect_largefire_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,94},{274,93}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{274,93}}</string>
                <key>sourceSize</key>
                <string>{326,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_largefire.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:220069c0ffb17f854c8aa407998f6ca1$</string>
            <key>textureFileName</key>
            <string>effect_largefire.png</string>
        </dict>
    </dict>
</plist>
