<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_skill_yixingjudahua_gongji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{248,136}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{248,136}}</string>
                <key>sourceSize</key>
                <string>{248,142}</string>
            </dict>
            <key>sp_skill_yixingjudahua_gongji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{246,132}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{246,132}}</string>
                <key>sourceSize</key>
                <string>{248,142}</string>
            </dict>
            <key>sp_skill_yixingjudahua_gongji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,410},{248,130}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{248,130}}</string>
                <key>sourceSize</key>
                <string>{248,142}</string>
            </dict>
            <key>sp_skill_yixingjudahua_gongji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{248,132}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{248,132}}</string>
                <key>sourceSize</key>
                <string>{248,142}</string>
            </dict>
            <key>sp_skill_yixingjudahua_gongji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{248,140}}</string>
                <key>sourceSize</key>
                <string>{248,142}</string>
            </dict>
            <key>sp_skill_yixingjudahua_gongji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{242,132}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{242,132}}</string>
                <key>sourceSize</key>
                <string>{248,142}</string>
            </dict>
            <key>sp_skill_yixingjudahua_gongji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{248,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{248,134}}</string>
                <key>sourceSize</key>
                <string>{248,142}</string>
            </dict>
            <key>sp_skill_yixingjudahua_gongji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,276},{248,132}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{248,132}}</string>
                <key>sourceSize</key>
                <string>{248,142}</string>
            </dict>
            <key>sp_skill_yixingjudahua_gongji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,140},{248,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{248,134}}</string>
                <key>sourceSize</key>
                <string>{248,142}</string>
            </dict>
            <key>sp_skill_yixingjudahua_gongji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,542},{244,140}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{244,140}}</string>
                <key>sourceSize</key>
                <string>{248,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_skill_yixingjudahua_gongji.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bc9a3e69476f2d4a0ed2a09aabb8bcf$</string>
            <key>textureFileName</key>
            <string>sp_skill_yixingjudahua_gongji.png</string>
        </dict>
    </dict>
</plist>
