<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_3004_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{834,872}}</string>
                <key>offset</key>
                <string>{-37,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,120},{834,872}}</string>
                <key>sourceSize</key>
                <string>{1218,1150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_3004.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6405160be911d802d8545bd81818abf8$</string>
            <key>textureFileName</key>
            <string>effect_3004.png</string>
        </dict>
    </dict>
</plist>
