<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_cao_pt_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{6,42}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,97},{6,42}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{136,162}}</string>
                <key>offset</key>
                <string>{-11,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,31},{136,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{136,162}}</string>
                <key>offset</key>
                <string>{-11,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,31},{136,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{144,156}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,34},{144,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,392},{144,126}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,58},{144,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{112,144}}</string>
                <key>offset</key>
                <string>{-16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,69},{112,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,508},{90,110}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,67},{90,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,508},{88,30}}</string>
                <key>offset</key>
                <string>{-5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,147},{88,30}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,388},{22,24}}</string>
                <key>offset</key>
                <string>{-38,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,153},{22,24}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,540},{60,70}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,79},{60,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,388},{118,156}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,34},{118,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,268},{122,162}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,31},{122,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,264},{122,162}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,31},{122,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,140},{122,162}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,31},{122,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,140},{126,162}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,31},{126,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{136,162}}</string>
                <key>offset</key>
                <string>{-11,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,31},{136,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sp_cao_pt_01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,162}}</string>
                <key>offset</key>
                <string>{-11,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,31},{136,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_cao_pt_01.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d3dcce751ea6e9e678601d4f50db7b4$</string>
            <key>textureFileName</key>
            <string>sp_cao_pt_01.png</string>
        </dict>
    </dict>
</plist>
