<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jinglian_xiaoshi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,115}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{112,115}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jinglian_xiaoshi.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be962d57aceda05df1dae1ca22e070dd$</string>
            <key>textureFileName</key>
            <string>effect_jinglian_xiaoshi.png</string>
        </dict>
    </dict>
</plist>
