<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_055_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{548,338}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{548,338}}</string>
                <key>sourceSize</key>
                <string>{548,436}</string>
            </dict>
            <key>sp_base_055_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{548,338}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{548,338}}</string>
                <key>sourceSize</key>
                <string>{548,436}</string>
            </dict>
            <key>sp_base_055_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,852},{360,390}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,32},{360,390}}</string>
                <key>sourceSize</key>
                <string>{548,436}</string>
            </dict>
            <key>sp_base_055_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1060},{376,376}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,47},{376,376}}</string>
                <key>sourceSize</key>
                <string>{548,436}</string>
            </dict>
            <key>sp_base_055_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{394,376}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,47},{394,376}}</string>
                <key>sourceSize</key>
                <string>{548,436}</string>
            </dict>
            <key>sp_base_055_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,652},{412,198}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,159},{412,198}}</string>
                <key>sourceSize</key>
                <string>{548,436}</string>
            </dict>
            <key>sp_base_055_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,442},{432,208}}</string>
                <key>offset</key>
                <string>{6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,148},{432,208}}</string>
                <key>sourceSize</key>
                <string>{548,436}</string>
            </dict>
            <key>sp_base_055_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{454,214}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,140},{454,214}}</string>
                <key>sourceSize</key>
                <string>{548,436}</string>
            </dict>
            <key>sp_base_055_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,218},{450,222}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,130},{450,222}}</string>
                <key>sourceSize</key>
                <string>{548,436}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_055.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8da55ca7f6b6564652c4d470bf7aecb1$</string>
            <key>textureFileName</key>
            <string>sp_base_055.png</string>
        </dict>
    </dict>
</plist>
