<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_liuxingbaofa_faguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,920},{176,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,27},{176,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,190},{180,214}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,22},{180,214}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,196},{178,210}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,22},{178,210}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{178,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,21},{178,208}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,190},{178,204}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,22},{178,204}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,754},{180,200}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,22},{180,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,734},{180,200}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{180,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{180,200}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{180,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,558},{180,200}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{180,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,554},{180,200}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{180,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,552},{180,200}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{180,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,936},{180,192}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,25},{180,192}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,552},{180,200}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{180,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{180,200}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{180,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,376},{180,200}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{180,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,372},{180,200}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{180,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,740},{178,200}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,21},{178,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,916},{172,200}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,21},{172,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,916},{172,200}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,21},{172,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{172,192}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,25},{172,192}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{172,188}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,27},{172,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{172,126}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,76},{172,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,370},{180,200}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{180,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,736},{178,200}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,21},{178,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{176,200}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,21},{176,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{186,214}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,22},{186,214}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,218}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,22},{194,218}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{192,218}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,22},{192,218}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>sp_liuxingbaofa_faguang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{186,216}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,21},{186,216}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_liuxingbaofa_faguang.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8529d9a3428f5853802a1487460bde26$</string>
            <key>textureFileName</key>
            <string>sp_liuxingbaofa_faguang.png</string>
        </dict>
    </dict>
</plist>
