<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_levelup_firework_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{22,25}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>effect_levelup_firework_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,596},{126,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,130}}</string>
                <key>sourceSize</key>
                <string>{126,130}</string>
            </dict>
            <key>effect_levelup_firework_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,596},{176,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,179}}</string>
                <key>sourceSize</key>
                <string>{176,179}</string>
            </dict>
            <key>effect_levelup_firework_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{192,191}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,191}}</string>
                <key>sourceSize</key>
                <string>{194,191}</string>
            </dict>
            <key>effect_levelup_firework_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,398},{197,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>effect_levelup_firework_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,199},{197,203}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,203}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>effect_levelup_firework_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,202}}</string>
                <key>sourceSize</key>
                <string>{206,204}</string>
            </dict>
            <key>effect_levelup_firework_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{195,205}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{195,205}}</string>
                <key>sourceSize</key>
                <string>{195,207}</string>
            </dict>
            <key>effect_levelup_firework_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{202,202}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{202,202}}</string>
                <key>sourceSize</key>
                <string>{204,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_levelup_firework.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baaa9844bf58afaaa46abb9509b72cca$</string>
            <key>textureFileName</key>
            <string>effect_levelup_firework.png</string>
        </dict>
    </dict>
</plist>
