<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_base_215_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{209,171}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,171}}</string>
                <key>sourceSize</key>
                <string>{211,173}</string>
            </dict>
            <key>sp_base_215_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,193},{77,60}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,60}}</string>
                <key>sourceSize</key>
                <string>{79,64}</string>
            </dict>
            <key>sp_base_215_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,368},{178,121}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,121}}</string>
                <key>sourceSize</key>
                <string>{182,125}</string>
            </dict>
            <key>sp_base_215_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{238,128}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,128}}</string>
                <key>sourceSize</key>
                <string>{240,132}</string>
            </dict>
            <key>sp_base_215_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,491},{124,235}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,235}}</string>
                <key>sourceSize</key>
                <string>{126,239}</string>
            </dict>
            <key>sp_base_215_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{328,104}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,104}}</string>
                <key>sourceSize</key>
                <string>{330,108}</string>
            </dict>
            <key>sp_base_215_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,189}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,189}}</string>
                <key>sourceSize</key>
                <string>{418,191}</string>
            </dict>
            <key>sp_base_215_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{364,81}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,81}}</string>
                <key>sourceSize</key>
                <string>{366,85}</string>
            </dict>
            <key>sp_base_215_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{329,74}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,74}}</string>
                <key>sourceSize</key>
                <string>{333,76}</string>
            </dict>
            <key>sp_base_215_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,617},{185,112}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,112}}</string>
                <key>sourceSize</key>
                <string>{189,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_base_215.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f97639a0d0f66cf0d69139984429d4b7$</string>
            <key>textureFileName</key>
            <string>sp_base_215.png</string>
        </dict>
    </dict>
</plist>
