<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_jfyx_start_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,453},{52,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,76}}</string>
                <key>sourceSize</key>
                <string>{52,76}</string>
            </dict>
            <key>sp_jfyx_start_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,274},{170,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,275}}</string>
                <key>sourceSize</key>
                <string>{170,275}</string>
            </dict>
            <key>sp_jfyx_start_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,125},{21,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,154}}</string>
                <key>sourceSize</key>
                <string>{21,154}</string>
            </dict>
            <key>sp_jfyx_start_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,531},{48,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,96}}</string>
                <key>sourceSize</key>
                <string>{50,96}</string>
            </dict>
            <key>sp_jfyx_start_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{58,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,91}}</string>
                <key>sourceSize</key>
                <string>{58,91}</string>
            </dict>
            <key>sp_jfyx_start_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,548},{74,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,106}}</string>
                <key>sourceSize</key>
                <string>{74,106}</string>
            </dict>
            <key>sp_jfyx_start_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,453},{93,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,111}}</string>
                <key>sourceSize</key>
                <string>{93,111}</string>
            </dict>
            <key>sp_jfyx_start_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{109,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,129}}</string>
                <key>sourceSize</key>
                <string>{109,129}</string>
            </dict>
            <key>sp_jfyx_start_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,320}}</string>
                <key>sourceSize</key>
                <string>{121,320}</string>
            </dict>
            <key>sp_jfyx_start_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{129,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,275}}</string>
                <key>sourceSize</key>
                <string>{129,275}</string>
            </dict>
            <key>sp_jfyx_start_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{174,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,270}}</string>
                <key>sourceSize</key>
                <string>{174,270}</string>
            </dict>
            <key>sp_jfyx_start_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{195,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,276}}</string>
                <key>sourceSize</key>
                <string>{195,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_jfyx_start_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79ce549f7235055bdd03c278bf10aaff$</string>
            <key>textureFileName</key>
            <string>sp_jfyx_start_1.png</string>
        </dict>
    </dict>
</plist>
