<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_dian_pt_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{120,188}}</string>
                <key>offset</key>
                <string>{-40,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,136},{120,188}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>sp_dian_pt_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{172,198}}</string>
                <key>offset</key>
                <string>{-46,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,134},{172,198}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>sp_dian_pt_02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,170}}</string>
                <key>offset</key>
                <string>{-27,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,162},{200,170}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>sp_dian_pt_02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,176},{186,122}}</string>
                <key>offset</key>
                <string>{-26,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,205},{186,122}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>sp_dian_pt_02_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,98},{150,100}}</string>
                <key>offset</key>
                <string>{-15,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,218},{150,100}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
            <key>sp_dian_pt_02_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{106,94}}</string>
                <key>offset</key>
                <string>{-35,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,220},{106,94}}</string>
                <key>sourceSize</key>
                <string>{350,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_dian_pt_02.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30bcbad40f76962c3b1d0e9556314468$</string>
            <key>textureFileName</key>
            <string>sp_dian_pt_02.png</string>
        </dict>
    </dict>
</plist>
