<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_cao_skill_heji_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,260},{74,56}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,61},{74,56}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,994},{124,128}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,13},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{118,128}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,13},{118,128}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1098},{124,128}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,13},{124,128}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1055},{128,124}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{128,124}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,966},{130,112}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{130,112}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{106,106}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,27},{106,106}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,870},{114,94}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,37},{114,94}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,774},{114,94}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,39},{114,94}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,776},{82,94}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,38},{82,94}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,680},{82,94}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,39},{82,94}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,698},{86,98}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{86,98}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,907},{88,92}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,41},{88,92}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,336},{52,82}}</string>
                <key>offset</key>
                <string>{-30,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,51},{52,82}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,132},{18,16}}</string>
                <key>offset</key>
                <string>{-12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,48},{18,16}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,506},{30,30}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,87},{30,30}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,914},{108,142}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,8},{108,142}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,676},{116,148}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,2},{116,148}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{116,148}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,2},{116,148}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{120,150}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{120,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,744},{126,150}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{126,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,676},{132,150}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{132,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1120},{108,100}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{108,100}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{134,150}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{134,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,608},{134,150}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{134,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,540},{134,150}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{134,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,400},{138,150}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{138,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,260},{138,150}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{138,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,872},{120,148}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{120,148}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,794},{118,144}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,6},{118,144}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,676},{122,116}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,24},{122,116}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1066},{122,104}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,36},{122,104}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1101},{118,108}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,32},{118,108}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,997},{124,102}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,37},{124,102}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,420},{116,76}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,64},{116,76}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,538},{94,76}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,63},{94,76}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,872},{92,76}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,63},{92,76}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,608},{88,87}}</string>
                <key>offset</key>
                <string>{-20,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,212},{88,87}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,798},{88,107}}</string>
                <key>offset</key>
                <string>{-21,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,192},{88,107}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,794},{126,127}}</string>
                <key>offset</key>
                <string>{-2,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,173},{126,127}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,132},{126,177}}</string>
                <key>offset</key>
                <string>{-2,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,123},{126,177}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,2},{128,195}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,105},{128,195}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,390},{130,253}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,47},{130,253}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{128,269}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{128,269}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,634},{138,114}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{138,114}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,269}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,31},{130,269}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,132},{126,269}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{126,269}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,130},{126,269}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{126,269}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{126,269}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{126,269}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{126,269}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{126,269}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{126,269}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{126,269}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{126,269}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{126,269}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{126,269}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{126,269}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,258},{126,267}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,32},{126,267}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{132,267}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,31},{132,267}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,810},{142,128}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{142,128}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,260},{128,263}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{128,263}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{112,263}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,31},{112,263}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,386},{118,255}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,32},{118,255}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{124,257}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,31},{124,257}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,522},{84,237}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{84,237}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,506},{84,237}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{84,237}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{84,237}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{84,237}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{84,235}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,32},{84,235}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,592},{82,233}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,33},{82,233}}</string>
                <key>sourceSize</key>
                <string>{150,325}</string>
            </dict>
            <key>sp_cao_skill_heji_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,940},{124,132}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,18},{124,132}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1024},{128,124}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,19},{128,124}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>sp_cao_skill_heji_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,923},{136,130}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,11},{136,130}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_cao_skill_heji_1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b284fb19480d829804f1fa131fbb9d10$</string>
            <key>textureFileName</key>
            <string>sp_cao_skill_heji_1.png</string>
        </dict>
    </dict>
</plist>
